[2020-04-08 18:40] leodido commented on #1130
So I'll call it a day and close this issue, thanks for reporting `falcosecurity/falco:master` is working!

In ~2 weeks we'll release a stable version (0.22.0) from the master, too.

@degilq feel free to file new issues if you have other problems. Thanks :)

/close

[2020-04-08 18:40] #1130 closed

[2020-04-08 18:40] poiana commented on #1130
@leodido: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/1130#issuecomment-611124359):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2020-04-08 18:41] leodido commented on #1134
Ok @amye :)

Moving this issue to https://github.com/falcosecurity/falco-website repo, thanks.

[2020-04-08 19:00] robsonke commented on #1130
I faced the same issue, I can confirm that master works, but only the full version, the minimal one doesn't.

[2020-04-08 20:44] Donald-Sysdig opened #1135 "Document Filters/Conditions"
The `rules` section of the documentation has a `Conditions` subsection that links to the following location for information on `filter` expressions:

https://github.com/draios/sysdig/wiki/sysdig-user-guide#filtering

Filter expressions have diverged enough that conditions `startswith` , `pmatch`, and likely others can only be found in release notes. The conditions section of the documentation shou

[2020-04-08 20:44] poiana commented on #1135
@Donald-Sysdig: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against th

[2020-04-08 20:46] Donald-Sysdig commented on #1135
/kind documentation

[2020-04-09 04:01] sagar-kolli commented on #938
falco pod is failing on centos 7 Machine. Below is the error

* Setting up /usr/src links from host
* Mounting debugfs
Found kernel config at /host/boot/config-3.10.0-1062.9.1.el7.x86_64
* Trying to compile BPF probe falco-probe-bpf (falco-probe-bpf-0.18.0-x86_64-3.10.0-1062.9.1.el7.x86_64-e4e61daedccb9abf8c44b1e3c643c5dc.o)
In file included from /usr/src/falco-0.18.0/bpf/probe.c:9:
/usr/src/falco

[2020-04-10 09:42] fntlnz opened #1139 "NA in container values while using system libcurl"
**Describe the bug**

I noticed that when I compile Falco against the system libraries in debug mode it fails to execute `curl_multi_wait`.

**How to reproduce it**

After cloning falco

[code]

**Expected behaviour**

**Screenshots**

**Environment**

**Additional context**

[2020-04-10 16:04] #1139 closed

[2020-04-10 17:03] #986 closed

[2020-04-11 11:12] bzurkowski commented on #1029
Newer releases of Kubernetes emit audit objects of kind [EventList](https://github.com/kubernetes/kubernetes/blob/v1.16.8/staging/src/k8s.io/apiserver/pkg/apis/audit/v1alpha1/types.go#L153) instead of [Event](https://github.com/kubernetes/kubernetes/blob/v1.16.8/staging/src/k8s.io/apiserver/pkg/apis/audit/v1alpha1/types.go#L79). Events are sent in batches instead of one by one.

[code]

I'm curiou

[2020-04-11 12:51] bzurkowski commented on #1029
Batching options didn't work.

Now, I discovered Falco actually handles `EventList` objects:
https://github.com/falcosecurity/falco/blob/e46641d24d74fbe7921039834fdf5b01c4715009/userspace/engine/falco_engine.cpp#L397

[2020-04-11 18:08] bzurkowski commented on #1029
This is strange. Now, I am unable to reproduce the issue. Output fields are nicely filled up:
[code]
I re-checked on both Falco `0.18.0` and `0.20.0` without problems.

Perhaps, I accidentally changed something in my environment which caused Falco trouble.

[2020-04-11 18:26] leodido commented on #1029
Which Falco are you using now?

I'm asking because, recently, Lorenzo (@fntlnz) and I made some fixes about
NA values. So, this could actually be a good news :)
L.

On Sat, Apr 11, 2020 at 8:08 PM Bartosz Żurkowski <notifications@github.com>
wrote:

[2020-04-12 07:23] bzurkowski commented on #1029
I observed the issue when using `0.18.0`. Recently, I switched to `0.20.0` and the issue didn't occur. I rechecked again on `0.18.0` and there is no issue.

It is non-deterministic or it must have been caused by some temporal misconfiguration in my environment.

[2020-04-12 17:39] #1038 closed

[2020-04-13 18:48] a0145 commented on #935
I am also hitting this, with falco <= 0.22
`Mon Apr 13 17:59:07 2020: Runtime error: Socket handler (k8s_namespace_handler_event), error 5 (Success) while connecting to apiserver:443. Exiting.`

[2020-04-13 19:02] amye commented on #983
Hey @kris-nova! I know we're past the early April timeline, here's updated:
1. Announce that we're moving to the CNCF channel week of April 13th?
2. Cutoff of April 24th for move?
3. April 30th read only

[2020-04-14 01:39] sporkmonger opened #1141 "The root_dir macro matches /root123abc"
The `root_dir` macro is currently defined as:

[code]

Unfortunately, this matches on any `fd.name` beginning with the word "root", even if that's not a sensitive location. This is triggering a number of alerts for containers that place files in locations like `/rootDir` and similar, causing them to be misclassified as sensitive.

To reproduce, create a container with a directory named `/rootDir`

[2020-04-14 02:32] sporkmonger opened #1142 "Typo in rule tags: mitre_defense_evasion vs mitre_defense_evation"
A number of rules currently use `mitre_defense_evation` tags instead of `mitre_defense_evasion`.

[2020-04-14 10:20] leodido opened #1144 "Document the release process"
**What to document**

We need to document the new release process.

During the release of the 0.21.0 version, made during a live call, I listed the steps that need to be done to release a new Falco version.

I remember that @kris-nova took notes.

I'd like those notes to be put in a `RELEASE.md` file

/assign @kris-nova

[2020-04-14 10:54] #1142 closed

[2020-04-14 11:05] poiana commented on #1043
@rashmi43: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2020-04-14 11:07] leodido commented on #1127
Hello @EppO thanks for reporting this.

Anyway, this issue should have been fixed by https://github.com/falcosecurity/falco/pull/1111

Would you please try using `falcosecurity/falco:master` image?

Otherwise, you can wait the end of this week in Falco 0.22.0 that will contain that fix.

[2020-04-14 11:13] fntlnz commented on #1132
Hi @smijolovic thanks for opening this - I believe that our documentation contains what you are asking for:

**Documentation to use eBPF support in Falco (no need to be OS specific)**

- https://falco.org/docs/installation/#enabling-ebpf-support

**Documentation on how to build the eBPF driver from source, it also have a specific section for CentOS**

- https://falco.org/docs/source/#build-ebfp-dr

[2020-04-14 11:19] #1121 closed

[2020-04-14 11:25] fntlnz commented on #1129
Can you try again against the current master @smijolovic ?
Remember to delete the build folder because it is stateful when you update the driver version and might lead to problems.

[2020-04-14 11:39] smijolovic commented on #1132
Thank you for the clarity!
'FALCO_BPF_PROBE="/location/of/probe.o" falco' did the trick.

[2020-04-14 12:27] leodido commented on #1132
Perfect :)

/close

On Tue, 14 Apr 2020 at 13:39, smijolovic <notifications@github.com> wrote:

--
L.

[2020-04-14 12:27] #1132 closed

[2020-04-14 12:27] poiana commented on #1132
@leodido: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/1132#issuecomment-613413084):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2020-04-15 04:58] smijolovic commented on #896
This bug also present in CentOS 8.1 (4.18.0-147.8.1).

This fix appears to work for that as well...running overnight on k8s 1.18.0 node.

[2020-04-15 05:30] smijolovic commented on #1129
I'll try that tomorrow for sure.

I bumped into this issue on 0.21.0 which was holding me up - https://github.com/falcosecurity/falco/issues/896 - that seems to be addressed for the next release as well (I hope)

[2020-04-15 08:04] leodido commented on #896
@smijolovic thabks for reporting it.

Could you provide a log for that kernel version? I’m curious :)

[2020-04-15 08:14] fntlnz commented on #896
Interesting! @smijolovic I didn’t  expect this to be on a 4.18 - probably some backport on the kernel.

For The log @leodido is asking, please do a `dmesg -w` in a new terminal while Falco (The one without the fix) is running and keep it until it crashes because of this, it should produce a stack trace.

[2020-04-15 15:57] smijolovic commented on #896
Fix ran overnight and no issues so far. Seeing a few "Falco internal: syscall event drop. 1 system calls dropped in last second" and looking to tweak the syscall_event_drops rate.  I also built a systemd service file for falco vs an init script for service control.

As requested:

[42328.030993] watchdog: BUG: soft lockup - CPU#31 stuck for 23s! [sh:6839]
[42328.031185] Modules linked in: binfmt_m

[2020-04-15 16:11] smijolovic commented on #896
This looks like a second issue identified in the 4.18.0-147 backport.

This is the one you pinged me on yesterday:
https://github.com/falcosecurity/falco/issues/1129

[2020-04-15 16:53] leogr opened #1145 "Move "integrations" to another repo"
**Motivation**

As discussed during the 2020-04-15 community call, we agreed that [integrations](https://github.com/falcosecurity/falco/tree/master/integrations) should be community maintained so not officially supported for every release.

**Feature**

~~First, ensure all related PRs are merged: #1044 #1136 #1140~~ DONE

~~Finally, when the new repo has been created,~~ Move [integrations](https:/

[2020-04-15 17:39] leodido commented on #1042
Keep this open. Needs investigation

On Wed, 15 Apr 2020 at 18:32, stale[bot] <notifications@github.com> wrote:

--
L.

[2020-04-15 18:05] smijolovic commented on #1129
Same issue on master:

Scanning dependencies of target bpf
make[3]: Leaving directory '/home/rpmbuild/nimbus8/falco-build/falco-src/falco/build'
make -f driver/bpf/CMakeFiles/bpf.dir/build.make driver/bpf/CMakeFiles/bpf.dir/build
make[3]: Entering directory '/home/rpmbuild/nimbus8/falco-build/falco-src/falco/build'
cd /home/rpmbuild/nimbus8/falco-build/falco-src/falco/build/sysdig-repo/sysdig-pref

[2020-04-15 21:33] kris-nova commented on #983
With the recent security concerns with zoom - can we revisit this for open source comms?

We have mentioned possibly adopting a tool like matrix. Let's bring this up on the next weekly call (which I am leading).

[2020-04-15 21:48] smijolovic opened #1146 "falco.yaml priority value incorrect for info logs"
falco.yaml documentation and file present various priority levels. Info and error are the two most widely used for production, but when set to info, starting the daemon fails complaining about incorrect priority setting.  Apparently, "informational" is the required setting for this as described in the error log, and setting it to that starts the daemon successfully.

For uniformity, I'd recommend

[2020-04-15 22:09] leodido commented on #1146
Thanks for reporting this.

Reviewing the way Falco logs out is on our list of TODOs. Thanks :)

[2020-04-16 10:50] #1043 closed

[2020-04-16 11:18] #1064 closed

[2020-04-16 21:27] smijolovic commented on #1146
Count me in for working with the team on the logging to rsyslog. It's a core area for me....and I have a laundry list for meeting high governance requirements.

Trying to injest falco logs to SIEM now...and it's not exactly seamless. I'm also puzzled trying to address the large number of dropped syscalls.

[2020-04-17 09:34] fntlnz commented on #1042
@Thyrst - Falco 0.22.0 is going to be released today and will have the fix for #1021 so you can test it on GKE.

Could you test again then? Thank you

[2020-04-17 10:45] leodido commented on #349
Keep

On Fri, 17 Apr 2020 at 12:08, stale[bot] <notifications@github.com> wrote:

--
L.

[2020-04-17 11:03] saiharshitachava commented on #1065
@fntlnz  Do we have precomplied modules for SLES 12 at all?

[2020-04-17 11:08] leodido commented on #1079
/close

[2020-04-17 11:08] #1079 closed

[2020-04-17 11:08] poiana commented on #1079
@leodido: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/1079#issuecomment-615186598):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2020-04-17 11:08] fntlnz commented on #1079
@vanneback @saiharshitachava   0.22.0 was just released containing the fix for this issue

[2020-04-17 12:59] leodido commented on #884
Keep

On Fri, 17 Apr 2020 at 12:08, stale[bot] <notifications@github.com> wrote:

--
L.

[2020-04-17 13:00] leodido commented on #926
Keep

On Fri, 17 Apr 2020 at 12:08, stale[bot] <notifications@github.com> wrote:

--
L.

[2020-04-18 19:51] leodido commented on #857
Keep

On Sat, 18 Apr 2020 at 21:25, stale[bot] <notifications@github.com> wrote:

--
L.

[2020-04-20 16:38] heydonovan opened #1155 "Update k8s_binaries list to include kubelet/kubectl"
https://github.com/falcosecurity/falco/blob/master/rules/falco_rules.yaml#L163

Any reason we don't have kubelet or kubectl in this list?

[2020-04-21 05:11] cw-sakamoto commented on #1078
`0.22.1`(helm chart `1.1.1`) doesn't work on eks 1.15

[2020-04-21 08:20] leogr commented on #1089
Almost ready for the move :point_right: https://github.com/falcosecurity/event-generator/milestone/1

[2020-04-21 17:50] loetn commented on #1078
Getting also 404 not found when deploying as a normal daemonset, or installing via the helm chart on a kubeadm cluster 1.18.2. Tried 0.22.0, 0.22.1, latest, master. Using 0.18.0 works.

[2020-04-21 20:19] chriskobpin commented on #669
open, same issue with falco master or 0.21.0 on gke with ebpf true

[2020-04-21 21:58] EppO commented on #1127
fixed in 0.22.0!!! thanks :)

[2020-04-21 21:58] #1127 closed

[2020-04-22 00:47] cw-sakamoto commented on #1078
`0.18.0` dose not work with eks 1.15 (eksctl 0.17.0).

[code]

[2020-04-22 16:11] amye commented on #983
New timeline as promised in April 22nd Falco call

Steps:
- Which channels are being actively used that need to be created in CNCF Slack?
-- Finalize by EOD April 27
- Announce that we're moving to the CNCF channel week of April 27th
- Cutoff of May 8th for move
- May 11th for read-only date with topics pointing to where discussion is happening

[2020-04-22 18:10] jaychan-q commented on #669
I see it as well. falco master on GKE COS. It shows up every hour
`Falco internal: syscall event drop. 1 system calls dropped in last second.`

[2020-04-23 09:15] leodido commented on #1047
Keep

On Thu, 23 Apr 2020 at 06:01, stale[bot] <notifications@github.com> wrote:

--
L.

[2020-04-23 12:51] JPLachance commented on #640
Hello @mfdii,

Did we progress on this issue? Or is it just that bot again? :)

Thanks!

[2020-04-23 13:43] leogr opened #1159 "falco-driver-loader also as separate artifact"
**Motivation**

As we discussed several times it would be useful to distribute the `falco-driver-loader` separately, mainly to satisfy the following use cases:

- easy integration by other tools (ie. `falcoctl`) ( see also #1125 )
- one-liner installation (something like `wget URL/falco-driver/loader | bash && docker run .. falco` as proposed by @leodido during the yesterday's community call)

Cur

[2020-04-24 09:28] #1125 closed

[2020-04-24 11:12] leodido commented on #1083
Done by #1158

/close

[2020-04-24 11:12] poiana commented on #1083
@leodido: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/1083#issuecomment-618949603):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2020-04-24 11:12] #1083 closed

[2020-04-24 13:40] #1089 closed

[2020-04-24 15:09] leodido commented on #1159
After refactoring and revisiting the use cases for `falco-driver-loader` I think publishing it separately is not needed anymore probably, as told this morning to you @leogr

I mean if someone wants to do I have nothing against it. It's just a very low priority thing since the use cases we have are already covered by the current build/release workflow.

[2020-04-24 16:17] leogr commented on #1159
And I agree as I told this morning :)

/close

On Fri, Apr 24, 2020 at 5:10 PM Leo Di Donato <notifications@github.com>
wrote:

[2020-04-24 16:17] #1159 closed

[2020-04-24 16:17] poiana commented on #1159
@leogr: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/1159#issuecomment-619108960):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2020-04-24 16:39] bzurkowski commented on #1026
@leogr I retested using Helm chart with Falco 0.21.0 release. The same problem occurs. I guess, the issue might be solved by a newer Kubernetes version? Kubernetes 1.16 vs. 1.17.

[2020-04-24 17:30] kris-nova opened #1162 "Falco with Systemd"
**What to document**

Can we please document a proposal for running Falco with Systemd? I will be talking about it live today on setns and need to remember to document my thinking.

[2020-04-24 17:32] kris-nova commented on #1162
See [kournalctl](github.com/kris-nova/kournalctl) for an example of how to view systemd logs in a Kubernetes native way.

[2020-04-24 19:08] chan-maddanna opened #1163 "404 on pre~compiled kernel probes"
**Describe the bug**

with the recent divorce of falco team with sysdig, all the hosted pre~compiled probes are now gone. This is an existing bug, that has been reported multiple times more or less, for different probes (ex: https://github.com/falcosecurity/falco/issues/1019 ).

Unfortunately We cannot compile these probes in this particular environment, as we are in a very restrictive/secure setu

[2020-04-24 20:03] smijolovic commented on #1129
Bump

Seeing the same exact issue on 0.22.1 as well.

Same fix (sed -i "s/KERNEL_VERSION.*/KERNEL_VERSION(4, 18, 0)/g" fillers.h)  works.

[2020-04-24 20:14] smijolovic commented on #896
No longer an issue on 0.22.1

[2020-04-24 21:15] leodido commented on #896
Thanks for confirming :)

/close

On Fri, 24 Apr 2020 at 22:14, smijolovic <notifications@github.com> wrote:

--
L.

[2020-04-26 05:30] kris-nova commented on #520
/assign

[2020-04-26 05:31] kris-nova commented on #520
I am working on this now - I believe the problem is with the lua dependencies

I will report back once I get it building

[2020-04-26 09:36] #1053 closed

[2020-04-27 09:44] poiana commented on #1060
@ykcilborw: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [k

[2020-04-27 09:44] fntlnz commented on #1060
We still want this, thanks stale bot

Thanks for opening @ykcilborw - this is something that can be improved.

[2020-04-27 09:46] #705 closed

[2020-04-27 09:48] fntlnz commented on #1045
Since the community made a decision on having this type of setup as community supported in the contrib repo I'm moving this issue there.

[2020-04-27 09:48] poiana commented on #1045
@robotica72: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2020-04-27 09:52] fntlnz commented on #897
@JPLachance - we have the pre-built ubuntu driver now. Can you check by installing Falco from master?

The downloadable `.ko` files are here https://dl.bintray.com/falcosecurity/driver/a259b4bf49c3330d9ad6c3eed9eb1a31954259a6/

[2020-04-27 09:59] leodido commented on #1163
Hello @chan-maddanna we implemented our own open **drivers build grid** in https://github.com/falcosecurity/test-infra repository.

And started providing again a set of prebuilt kernel modules. They are located at https://dl.bintray.com/falcosecurity/driver/

The `falco-driver-loader script` (entrypoint of the docker images) has already been updated to look for modules and probes at the new locati

[2020-04-27 10:01] leodido commented on #1163
Closing this since I think it is resolved.

Feel free to continue the discussion anyway

/close

[2020-04-27 10:01] #1163 closed

[2020-04-27 10:01] poiana commented on #1163
@leodido: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/1163#issuecomment-619874838):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2020-04-27 10:06] leodido commented on #1065
The kernel module not found in the issue corpus is now available at https://dl.bintray.com/falcosecurity/driver/a259b4bf49c3330d9ad6c3eed9eb1a31954259a6/:falco_amazonlinux2_4.14.154-128.181.amzn2.x86_64_1.ko

Using the latest `falcosecurity/falco:master`, which contains the updated `falco-driver-loader`, it should download it from the **drivers build grid** (located [here](https://dl.bintray.com/f

[2020-04-27 10:08] fntlnz commented on #1009
@Guru-Prasad96 - we finally have the new mechanism for pre-built kernel modules and BPF probes in place. However, from your issue here you reported `linux` as os, being Falco a software that runs on OSes built on the Linux kernel, we expect `Debian` or `CentOS` or `Ubuntu` or any distro as response to `OS` here.

I'm closing this because of the new context here and also because this went a bit off

[2020-04-27 10:08] #1009 closed

[2020-04-27 10:08] leodido commented on #1065
@saiharshitachava no we don't build drivers for SLES 12.

Feel free to submit a PR implementing a builder for it, in https://github.com/falcosecurity/driverkit for that.

[2020-04-27 10:08] fntlnz commented on #978
Thanks stalebot but no thanks

[2020-04-27 10:14] leodido commented on #1065
@natalysheinin we don't provide yet prebuild drivers for GKE COS but it's in the plan (https://github.com/falcosecurity/driverkit/issues/60, also a good task for a contribution!)

[2020-04-27 10:15] #1065 closed

[2020-04-27 10:31] leodido commented on #1066
This is now done (into `driverkit` directory of https://github.com/falcosecurity/test-infra).

Although it **only** ships prebuilt drivers for debian, amazonlinux2, ubuntu-aws, ubuntu-generic

/close

[2020-04-27 10:31] #1066 closed

[2020-04-27 10:31] poiana commented on #1066
@leodido: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/1066#issuecomment-619890537):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2020-04-27 10:38] leogr commented on #833
keep

[2020-04-27 10:38] #833 closed

[2020-04-27 10:43] leodido commented on #1078
@cw-sakamoto we now have a new set of prebuilt modules at https://dl.bintray.com/falcosecurity/driver/a259b4bf49c3330d9ad6c3eed9eb1a31954259a6/

For example, the module for amzn2 4.14.173 you are looking for is [here](https://dl.bintray.com/falcosecurity/driver/a259b4bf49c3330d9ad6c3eed9eb1a31954259a6/:falco_amazonlinux2_4.14.173-137.229.amzn2.x86_64_1.ko).

[2020-04-27 10:49] leodido commented on #1078
@djsly we do not ship (neither support) drivers for AKS at the moment.

I opened an issue as reference/request [here](https://github.com/falcosecurity/driverkit/issues/61). It sounds like a good first contribution to do!

[2020-04-27 10:51] leodido commented on #1078
@rabidsloth the Falco driver your environment is looking for is now at https://dl.bintray.com/falcosecurity/driver/a259b4bf49c3330d9ad6c3eed9eb1a31954259a6/:falco_amazonlinux2_4.14.165-133.209.amzn2.x86_64_1.ko

[2020-04-27 10:54] leodido commented on #1078
Using the latest `falcosecurity/falco:master` image, which contains the new `falco-driver-loader` script (#1160), should solve the majority of the 404 here reported.

For this reason, I'm closing this issue. But feel free to open new ones and continue the discussion in case new errors of this kind happen.

/close

[2020-04-27 10:54] #1078 closed

[2020-04-27 10:54] poiana commented on #1078
@leodido: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/1078#issuecomment-619903701):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2020-04-27 13:41] leodido commented on #1129
/milestone 0.23.0

[2020-04-27 13:41] leodido commented on #1129
/assign @leodido

/assign @fntlnz

[2020-04-27 14:15] chan-maddanna commented on #1163
Thanks Leo

[2020-04-27 16:51] djsly commented on #1078
@leodido thanks, while there might not be any official support for AKS yet, Falco was usable and runnable. Are we saying that the support for AKS is no longer possible until a new driver kit gets created ?

[2020-04-27 17:03] leodido commented on #1078
No @djsly, I was saying that we do not support prebuilt drivers for AKS.

Clearly the `postinst` scripts of the packages (same does the `falco-driver-loader` script) will always try to build the driver after the Falco installation. And that can succeed :)

[2020-04-28 14:36] gaurav16694 commented on #961
is there any fix for this

[2020-04-28 16:16] #1144 closed

[2020-04-28 18:22] amye commented on #983
Hey all, checking in on this timeline again from the April 22nd call: @kris-nova
What channels need to be created in the CNCF Slack to make this seamless?

[2020-04-28 18:34] palmerabollo commented on #985
Not stale. I no longer use aks-engine so I guess this issue will eventually be closed by the stale bot.

[2020-04-28 20:36] JPLachance commented on #897
Hello @fntlnz,

Do we have an up-to-date version of the [Falco DaemonSet that uses the probeloader init container](https://github.com/falcosecurity/falco/blob/master/integrations/k8s-using-daemonset/k8s-with-rbac/falco-daemonset-configmap-slim.yaml#L21) somewhere?

I tried it, but I still get the following errors:
[code]

Also, by looking at [tags in Docker hub for the probeloader image](https://h

[2020-04-29 04:07] kris-nova commented on #520
So I have Falco working on aarch64. The issue was that the version of `luajit` that was being bundled into the build isn't compatible with arm aarch64 architecture.

There is more detail on the official luajit website, but I tried to compile with both lua 5.1.5 and luajit 2.0.0 as the documentation for ARM suggests.

Both of those failed. Lua failed the check for being a valid lua interpretor, and

[2020-04-29 07:46] keycloak-nti opened #1166 "Fail to download falco-probe module for falco v_0.22.1"
As I install the Falco using DaemonSet (DS) on OCP cluster (platform RHCOS), DS creates the pods at each node, but state of Pods are CrashLoopBackOff.
When I check the logs for pod I got the below logs:

Your kernel headers for kernel 3.10.0-1127.el7.x86_64 cannot be found at
/lib/modules/3.10.0-1127.el7.x86_64/build or /lib/modules/3.10.0-1127.el7.x86_64/source.
* Running dkms build failed, could

[2020-04-29 11:11] leodido commented on #1166
The **drivers build grid** has been moved to https://dl.bintray.com/falcosecurity/driver

Anyway, there is something I am not getting: why the probe the old script is looking for 3.10.0-1127.el7.x86_64 while you report uname -r is 4.18.0-147.5.1.el8_1.x86_64

Which is the kernel you are on?

[2020-04-29 11:22] keycloak-nti commented on #1166
I am using kernel 4.18.0-147.5.1.el8_1.x86_64.

When I installed this on minikube, it installed smoothly.

[2020-04-29 11:54] fntlnz commented on #1166
Pre-compiled modules are a best-effort service that the Falco
maintainers provide to the OSS community.

As @leodido mentioned, for technical reasons, the build of pre-compiled
modules was stopped between 0.18.0 and 0.22.1 - we are planning on
getting that feature back with the next release.

Last but not least, we had a
[survey](https://fs.fntlnz.wtf/falco/driverkit-survey-results.png) to ask our

[2020-04-29 11:55] fntlnz commented on #1166
Pre-compiled modules are a best-effort service that the Falco
maintainers provide to the OSS community.

As @leodido mentioned, for technical reasons, the build of pre-compiled
modules was stopped between 0.18.0 and 0.22.1 - we are planning on
getting that feature back with the next release.

Last but not least, we had a
[survey](https://fs.fntlnz.wtf/falco/driverkit-survey-results.png) to ask our

[2020-04-29 12:03] fntlnz commented on #520
@kris-nova why is this closed? Am I missing something?

[2020-04-29 12:09] fntlnz commented on #897
I can find both the module and bpf probe for your kernel on the new bucket.
- https://dl.bintray.com/falcosecurity/driver/a259b4bf49c3330d9ad6c3eed9eb1a31954259a6/falco_ubuntu-aws_4.15.0-1063-aws_67.ko
- https://dl.bintray.com/falcosecurity/driver/a259b4bf49c3330d9ad6c3eed9eb1a31954259a6/falco_ubuntu-aws_4.15.0-1063-aws_67.o
So it looks like the probe loader still needs to be updated to follow the

[2020-04-29 12:11] fntlnz commented on #856
Oh no please keep!

[2020-04-29 12:11] fntlnz commented on #855
Please keep stalebot!

[2020-04-29 12:22] fntlnz commented on #961
There have been many major changes since 0.17.1 I encourage everyone coming here to update to the latest Falco version and open their own issues.

[2020-04-29 12:43] leodido commented on #858
Keep this open

/cc @kris-nova
L.

On Tue, Apr 28, 2020 at 7:49 PM stale[bot] <notifications@github.com> wrote:

[2020-04-29 13:57] leogr commented on #897
Note that the probeloader is not supported anymore :point_right: https://github.com/falcosecurity/contrib/issues/5

[2020-04-29 15:50] leodido opened #1169 "ADOPTERS improvements"
**What to document**

Why already have ADOPTERS documented as a markdown document in [https://github.com/falcosecurity/falco/blob/master/ADOPTERS.md](ADOPTERS.md).

We need to document:
- what classifies someone as an ADOPTER
- what classifies someone as a VENDOR (maybe?)

So, the todo list is:
- [ ] documentation about being list as an ADOPTER here (and, consequently, on the falco.org)
- [ ] tran

[2020-04-29 15:50] leodido commented on #1169
/assign @kris-nova

[2020-04-29 16:25] leodido opened #1171 "falcosecurity/driverloader docker image"
**Motivation**

As discussed during the today community call, on docker hub we still have the `falcosecurity/probeloader` docker image, while we removed its source from the repo.

This was done during the review process of docker images (#1019) and artifacts (#1114).

Since we want to install and use Falco in a security-oriented way we don't want its `falcosecurity/falco` docker container to run w

[2020-04-29 17:15] leogr commented on #1171
Note that `falcosecurity/probeloader` was not building the driver IIRC, and IMHO it should be removed in any case.

That being said, my vote goes for option 1, and I would love to work on that!

[2020-04-29 17:38] leodido commented on #1171
Yeah, I know, reason why we removed it :)

Anyways, /assign @leogr

Have fun! :)

[2020-04-29 17:39] leodido commented on #1171
/milestone 0.23.0

/priority high

(since we need this to unblock the documentation updates too)

[2020-04-29 17:39] leogr commented on #1171
I'm working on it already! :smiley:

[2020-04-29 20:28] amye commented on #983
A better update from the Slack team: https://slack.com/help/articles/217872578-Import-data-from-one-workspace-to-another is possible!

[2020-04-30 03:44] kris-nova commented on #520
Ah sorry I must have hit the wrong button. I have Falco compiling on armv7 and am going to have a blog out by the end of the week and demo on setns this Friday.

Stay tuned for links and documentation on how to do this.

![Screenshot from 2020-04-29 19-43-12](https://user-images.githubusercontent.com/13757818/80669836-38089e00-8a5a-11ea-8769-7e4d4d279bbc.png)

[2020-04-30 03:48] kris-nova commented on #586
Reopening - I am going to release a blog this week on how to do this. Please stay tuned.

[2020-04-30 03:48] poiana commented on #586
@vpetersson: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2020-04-30 03:48] kris-nova commented on #586
/kind feature

[2020-04-30 13:08] fntlnz commented on #1169
Yay! More YAML

[2020-04-30 14:07] leodido opened #1173 "Falco drivers does not support Linux kernel 5.6.y"
**Describe the bug**

The Falco driver does not build on Linux kernel 5.6.y due to the fact it no longer includes the old 32-bit `timeval` structures.

**How to reproduce it**

Try to build it on a kernel 5.6.y

**Expected behaviour**

To build and to run ok.

[2020-04-30 18:11] #1173 closed

[2020-04-30 20:01] kris-nova commented on #586
See documentation in #1176 if you would like to do this now. Once it is merged I will do my best to continually test recent version of Falco to ensure we have basic arm support.

We can bring up creating arm packages on the next call.

[2020-04-30 21:34] djsly commented on #294
Came here after trying to see what was wrong with my configuration... missing a `falco-probe.ko` file sounds problematic.

the least that could be done, augment the logs with

"this is normal, ignore this error if you system is readonly, or you are running in a container"

[2020-04-30 21:40] kris-nova commented on #1169
we also need an issue so this will be reflected on the website

[2020-05-01 13:14] loetn commented on #935
Same here, using latest Falco:
`Runtime error: Error during connection attempt to https://10.96.0.1 (socket=8, error=110): Connection timed out. Exiting.`

[2020-05-01 17:05] AlexDHoffer opened #1177 "False positives in Azure Kubernetes Service"
**Describe the bug**

Spinning up Falco on AKS yields this alert:
[code]
**How to reproduce it**

Install Falco 0.21.0 in a AKS 1.16.7 cluster. Check the daemonset logs.

**Expected behaviour**

To not fire an alert for this behavior.

**Environment**

Azure AKS, Kubernetes 1.16.7

- Falco version:
0.21.0

- Installation method:
Helm

**Additional context**

This is really similar to this issue: h

[2020-05-01 21:43] jessebye commented on #1078
@leodido I'm running `falcosecurity/falco:master` but still receiving an error about unsupported driver. This is on EKS 1.15.

[code]

Is there a way to point the `falco-driver-loader` script at the right URL? How can I tell what URL it is trying to use? It doesn't echo it in the logs...

[2020-05-02 12:37] #1052 closed

[2020-05-02 13:32] fntlnz commented on #1078
@jessebye I know what's happening here. The master image is being used but we (on Thursday) changed the driver version in master without instructing test-infra to build for that version.
Infact we do have the module version for `dev` for your kernel here https://dl.bintray.com/falcosecurity/driver/dev/:falco_amazonlinux2_4.14.165-133.209.amzn2.x86_64_1.ko

As a workardound, you can open the falco-

[2020-05-02 13:37] fntlnz opened #1178 "DRIVER_VERSION for the master docker image"
**Describe the bug**

When we merge a change to the Falco master branch that updates the driver version we are in a situation that until the test-infra yaml files are updated we don't provide pre-built kernel modules. This can create a problem to all those who want to try the latest features or checkout if Falco works after some bugfixes.

To avoid this we can take two roads:

- Always set `dev` t

[2020-05-02 13:46] fntlnz commented on #1177
@AlexDHoffer can you please update to Falco 0.22.0 and maybe post here the flags you start Falco with? We need to understand why that False positive happens in the first place and the output line is filled with NAs which is a thing we put a lot of effort to solve in 0.22.0 with both Falco and configuration changes.

[2020-05-02 14:01] leodido commented on #1178
Honestly, I don't think this can be classified as a bug.

In the log reported at comment https://github.com/falcosecurity/falco/issues/1078#issuecomment-622580309 infact the `falco-driver-loader` first of all tries to build the driver locally ([here](https://github.com/falcosecurity/falco/blob/master/scripts/falco-driver-loader#L184)).

Since it is not able to build it locally, it outputs `Running

[2020-05-02 14:05] leodido commented on #1078
Imho the error @jessebye is encountering does not depend on the driver version.

I mean, the root cause is not the driver version. The root cause is the fact that `falco-driver-loader` is not able to build the driver locally on the EKS 1.15 of @jessebye.

The lookup on prebuilt drivers index is just a fallback.

[2020-05-02 14:17] fntlnz commented on #1078
I think that it might be due to errors while doing the symlinks. @jessebye are you running the latest Falco 0.22.0 ? And if so, is this an upgrade from an older version or a fresh new installation?

We still need to fix the pre-built stuff.

[2020-05-02 14:18] fntlnz commented on #1178
Please feel free to find a better label.
I wasn't able to recognize one.

[2020-05-02 20:58] jessebye commented on #1078
We are running Falco 0.22.0. Fresh new installation.
On May 2, 2020, 7:17 AM -0700, Lorenzo Fontana <notifications@github.com>, wrote:

[2020-05-03 16:38] kris-nova opened #1179 "Unable to curl or wget binary tarballs"
**Describe the bug**

Unable to download Falco binaries from bintray using curl or wget

**How to reproduce it**

Going to the falcosecurity org in bintray I navigated to [X86_64 Falco 0.22.1 binary download page](https://dl.bintray.com/falcosecurity/bin/x86_64/).

Find the version of Falco you wish to download and copy the link

[code]

Then try to pull down on a server.

[code]

**Expected behav

[2020-05-03 16:39] kris-nova commented on #1179
You can adjust the URL by removing the colon in the path.

Change
[code]

to

[code]

[2020-05-03 16:40] kris-nova commented on #1179
Reopining - wondering if this can be fixed in the build process.

[2020-05-03 17:17] kris-nova opened #1180 "Falco Binary Downloads Improvements"
**Describe the bug**

After downloading the `tar.gz` I was unable to successfully load a Falco driver and start the Falco daemon.

**How to reproduce it**

Download the latest binary package for `0.22.1`.

_See #1179 for detail on how I discovered this URL_

[code]

**Expected behaviour**

So as an arch Linux user I come to expect certain things from tarballs for packages being downloaded from a p

[2020-05-03 17:18] kris-nova commented on #1180
Success:

Clear documentation, error messages, and always providing the user a next-step when building form the binary packages.

Right now even as a Falco maintainer I was a bit confused with what was next.

[2020-05-03 17:19] kris-nova commented on #1180
/kind user-exerpience

[2020-05-03 20:33] leodido commented on #1179
This is probably a bug in that bintray UI. Or a change they introduced in the past few days because the colon (:) was not there until two days ago.

Thanks for reporting this.

Anyway, the page for manual downloads is at https://bintray.com/falcosecurity/bin/falco/0.22.1

There you can click on "Files" and on the file and it downloads correctly. Or you can curl/wget https://bintray.com/falcosecuri

[2020-05-03 20:36] leodido commented on #1179
Proposed fix:

if the download of the driver from `https://dl.bintray.com/falcosecurity/bin/x86_64/:falco-${FALCO_VERSION}-x86_64.tar.gz` fails, fallback to

`https://bintray.com/falcosecurity/bin/download_file?file_path=x86_64%2Ffalco-${FALCO_VERSION}-x86_64.tar.gz`

[2020-05-03 20:38] leodido commented on #1179
/traige needs-investigation

[2020-05-03 20:38] leodido commented on #1179
/triage needs-investigation

[2020-05-03 20:40] leodido commented on #1179
At the moment, it seems a bintray bug to me because a colon is present before the filename for all the repositories type (deb, rpm, generic, etc.).

[2020-05-03 20:46] leodido commented on #1180
The S3 link has been fixed and the fix will be released in 0.23.0

The fix is already present on _development_ releases (the `falco-driver-loader` shipped into `falcosecurity/falco:master` already have this fix, for example).

Totally agree that `falco-driver-loader` should give more clear messages and steps to the users.

Also, it should check in advance the presence of `dkms`.

What do you mean

[2020-05-03 20:49] poiana commented on #1178
@fntlnz: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kube

[2020-05-03 21:06] leodido commented on #1072
/keep

We are still investigating this.
L.

On Sat, May 2, 2020 at 9:37 PM stale[bot] <notifications@github.com> wrote:

[2020-05-04 00:32] kris-nova opened #1181 "Unix Domain Socket for gRPC outputs"
**Motivation**

**Feature**

Right now gRPC outputs has support for a `bind_address` in the `grpc:` block of the config.

[code]

I would like to expose the Falco output stream over a Unix Domain Socket (file) instead of over a bind address and port (network).

Can we add support for Unix Domain Sockets for outputs?

**Alternatives**

**Additional context**

This will help with out Kubernetes inte

[2020-05-04 01:02] kris-nova commented on #1180
We should validate the md5 or sha just like we do with all of our downloads. Just to ensure it's what we expect it to be.

Check out this tarball I just made that shows what I am thinking for user experience for downloading the `tar.gz`'s from bintray

http://nivenly.com/falco/falco-0.22.1-suggest.tar.gz

[2020-05-04 01:03] kris-nova commented on #1180
Basically - it should be very clear and obvious that the user needs to make a choice to either build something or download it or try to download it from the internet.

I think we should remove any assumptions or "magic".

Do you want to download a kernel module from the internet or build it? Pick one.

[2020-05-04 01:05] kris-nova commented on #1180
I would suggest downloading the ZFS 8.0.3 release and check out the user experience here with loading the module and configuring systemd.

https://github.com/openzfs/zfs/releases/tag/zfs-0.8.3

The architecture of ZFS is almost identical to that of Falco - and their tarballs are very nice :nerd_face:

[2020-05-04 01:08] kris-nova commented on #1180
If someone can show me where I could make changes to the build to make a PR I will open one up.

[2020-05-04 09:09] fntlnz commented on #1181
Duplicated of https://github.com/falcosecurity/falco/issues/858

[2020-05-04 09:11] #1181 closed

[2020-05-04 09:11] fntlnz commented on #1179
This is out of our control.

[2020-05-04 09:12] poiana commented on #1179
@kris-nova: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [k

[2020-05-04 09:13] leodido commented on #1179
/close

[2020-05-04 09:13] #1179 closed

[2020-05-04 09:13] poiana commented on #1179
@leodido: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/1179#issuecomment-623350452):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2020-05-04 09:14] fntlnz commented on #936
No stalebot! We want to keep this

[2020-05-04 09:27] #1171 closed

[2020-05-04 09:28] leodido commented on #1171
This is done, please update the work about the new documentation https://github.com/falcosecurity/falco-website/pull/184

[2020-05-04 14:17] leogr commented on #1180
I believe there are distinct issues here. I try to summarize my thoughts:

1. `falco-driver-loader`
   - does not give clear messages to the user, UX issue that should be fixed
   - should verify downloads prior to using them, I can't disagree, although the best solution might be [this](https://github.com/falcosecurity/driverkit/issues/1)?
   - should allow the users to skip the build or the downl

[2020-05-04 14:49] yinynick commented on #998
Hi, this looks like not working by default on version 0.22.1, can you have a check?

[2020-05-04 15:09] bzurkowski commented on #998
@yinynick Please, check https://github.com/falcosecurity/falco/issues/1026#issuecomment-619121081.

[2020-05-04 15:52] leogr opened #1183 "When installing the driver from a container the dkms build fails"
**Describe the bug**

`falco-driver-loader` is able to install the driver from the host but the dkms build fails when it runs within a container.

**How to reproduce it**

When I try to install the driver from a container:
[code]
**Note**: same result with `falcosecurity/falco:master`

Although, if I install `falco-driver-loader` using the BIN package:
[code]

It works:
[code]
**Note**: all requir

[2020-05-04 17:27] joshkurz commented on #1065
@leodido thank you for the response. I see that the module is present at the link you sent, however, when I try to startup falco from master, it still tries to download the wrong DRIVER_VERSION, which causes it to 404.

[code]

I am running :master so not sure what other values I need to change to be able to use the DRIVER_VERSION a259b4bf49c3330d9ad6c3eed9eb1a31954259a6, which is where these are

[2020-05-04 19:05] kris-nova commented on #1114
Closing in favor of #1184

[2020-05-04 19:06] #1114 closed

[2020-05-04 19:20] jessebye commented on #1078
@leodido from what I can see, there _is_ a prebuilt driver for my Amazon Linux kernel, but it still fails to use it. So not only does it fail to build the driver (root cause) but then it fails to find the prebuilt image that it should be able to find. Does that make sense?

Also, not sure how to use that workaround... I guess we'd have to fork the repo and build our own custom docker image? I've b

[2020-05-04 22:05] AlexDHoffer commented on #1177
@fntlnz upgrading to 0.22.0 seemed to help.

[2020-05-05 07:33] yinynick opened #1186 "Rule not working: Create/Modify Configmap With Private Credentials"
Rule - Create/Modify Configmap With Private Credentials seems not working by default following https://falco.org/docs/event-sources/kubernetes-audit/ on version 0.22.1.

Other k8s audit rules would flag without problems.

Command in use to create configmap:
kubectl create -f configmap.yaml

Audit log output:
{
  "kind": "Event",
  "apiVersion": "audit.k8s.io/v1",
  "level": "RequestResponse",
  "a

[2020-05-05 08:00] yinynick commented on #1186
Update: this rule is not working when the "user" is not in allowed_k8s_users, in my case "kubernetes-admin"

1. When user "kubernetes-admin" is not in list allowed_k8s_users:

Alerts flagged:
May  5 15:57:18 k8s-controlplane1 falco: 15:57:04.389830912: Warning K8s Operation performed by user not in allowed list of users (user=kubernetes-admin target=nickconfig/configmaps verb=create uri=/api/v1/na

[2020-05-05 09:00] plasticine opened #1187 "Incorrect event values for container.image.* when using image digests"
Hey there — thanks very much for Falco, it’s an amazing bit of software! 👋

So, we almost exclusively deploy all our images by sha256 digest, as opposed to by tag, and when attempting to update Falco from `0.17.0` to `0.22.1` on a bunch of our k8s clusters we’ve observed that events all seem to have the following `container.image.repository`, and `container.image.tag` values;

[code]

**How to rep

[2020-05-05 14:14] ianhundere commented on #1078
same issue here, but this was after updating to EKS 1.16 from EKS 1.15.

we were using `0.19.0` before this without issue.

using the latest `falcosecurity/falco:master` image did not resolve the issue.

[code]

[2020-05-05 14:15] ianhundere commented on #1178
same issue here, but this was after updating to EKS 1.16 from EKS 1.15.

we were using 0.19.0 before this without issue.

using the latest falcosecurity/falco:master image did not resolve the issue.

Your kernel headers for kernel 4.14.173-137.229.amzn2.x86_64 cannot be found at
/lib/modules/4.14.173-137.229.amzn2.x86_64/build or /lib/modules/4.14.173-137.229.amzn2.x86_64/source.
* Running dkms bu

[2020-05-05 16:47] ianhundere opened #1188 "Helm install for falco not working on EKS 1.16 -- Unable to download precompiled falco-probe module for 4.14.173-137.229.amzn2.x86_64"
**Describe the bug**
We recently updated from EKS 1.15 to 1.16. We were using `0.19.0` of Falco before this without issue.
We tried using the latest `falcosecurity/falco:master` image, but that did not resolve the issue.

[code]

**How to reproduce it**

`helm install falcohelm stable/falco` in the EKS 1.16 env.

**Expected behaviour**

No errors when Falco pods spin up.

- Falco version:

`0.18.0

[2020-05-06 04:50] #1051 closed

[2020-05-06 10:35] leodido opened #1189 "Fix the driver build on kernels < 3.17"
**Motivation**

During recent refactorings, some pieces of the driver  were left behind

**Feature**

Update the driver version in the Cmake variable when this is merged in https://github.com/draios/sysdig/pull/1624

/assign @leodido
/assign @fntlnz

[2020-05-06 13:57] yinynick commented on #998
@bzurkowski Different issue, I can receive audit events without issue, but the rule is not working. Can you check https://github.com/falcosecurity/falco/issues/1186#issuecomment-623913801

[2020-05-06 16:13] leogr commented on #1046
I believe we want to keep this

[2020-05-06 18:26] kris-nova opened #1193 "Break apart logic in `falco-driver-loader` or rename the script"
**Motivation**

Right now our documentation and our calls use the term `loader` to define the behavior of [this script](https://github.com/falcosecurity/falco/blob/master/scripts/falco-driver-loader).

I think that the name could be improved to clarify exactly what the script is doing.

I also believe that the script should be dynamic and configurable to perform single tasks without making assumpt

[2020-05-06 18:31] leodido commented on #1193
I think I like this proposal Kreees. :))

BTW, that script already has the `bpf` argument (ie., - `./falco-driver-loader bpf` already exists and works).

[2020-05-06 18:34] kris-nova commented on #1193
Thank you for reading it! I was thinking about this on the call but didn't want to pollute the conversation with yet another thing to talk about. So I wrote it down instead for us.

[2020-05-06 18:35] #1189 closed

[2020-05-06 20:07] robotica72 opened #1194 "Falco JSON logs and forwarding - not working?"
**Describe the bug**
Im not sure this has anything to do with Falco, but I have the same issue with two different log forwarding systems - so I wanted to start here for any ideas.

I can forward Falco events without any issues if I do not enable JSON output - but once JSON output is enabled, the events fail to forward to the logging system(s).  The output in the Falco pod looks fine, which is why

[2020-05-07 06:25] bzurkowski commented on #1186
@yinynick I had the exact same issue with `Create/Modify Configmap With Private Credentials` rule. Solved it by adding `kubernetes-admin` to the list of allowed users.

[2020-05-07 07:12] bzurkowski commented on #1029
Pod field seems to be filled correctly. Verified on several rules. Closing.
[code]

[code]

[code]

[2020-05-07 07:12] #1029 closed

[2020-05-07 07:37] leogr commented on #1193
I like the proposal to modularize the script, as already said [here](https://github.com/falcosecurity/falco/issues/1125). :partying_face:

Just a thought: I don't see the need for renaming it because loading the driver should still be the primary responsibility of the script. Skipping the loading seems to me like a "dry-run", or is there a specific use case for that? I would be okay with the curre

[2020-05-07 08:59] smeeklai opened #1197 "Nodes is forbidden falco service account to list resource "nodes" in API group "" at the cluster scope"
**Describe the bug**

I followed the installation instruction [here](https://github.com/falcosecurity/falco/tree/0.22.1/integrations/k8s-using-daemonset) but got below error when deployed Falco. I already confirmed that `clusterole` and clusterolebinding` are created.

**How to reproduce it**

1. Running GKE version `1.14.10-gke.27`
2. Installing Falco version `0.22.1` by following the installatio

[2020-05-07 09:49] smeeklai commented on #1197
Found out the cause. `clusterrolebinding` is subject to a service account in `default` namespace
[code]

[2020-05-07 09:49] #1197 closed

[2020-05-07 10:57] smeeklai opened #1198 "Falco took so long to write a JSON output log to stdout"
**Describe the bug**

I know that Falco would take sometime to evaluate and output a log when a certain condition met. For example, I tried to `exec` into a container and found that Falco took 2-3 mins to output that log to `stdout`. However, after I've added several custom rules, now Falco took so long to output the logs, or sometime doesn't output the logs at all until I or K8S master delete the

[2020-05-07 12:45] leogr commented on #1198
Not sure... but might it be related to the [throttling configuration](https://github.com/falcosecurity/falco/blob/3991552553d1cb2a290ba76db432630a13061be9/falco.yaml#L90)?

[2020-05-07 13:09] leogr commented on #1194
Hi @robotica72

Not sure I understood your issue.
Could you attach more details pls?
Steps to reproduce the bug, pod logs, OS versions, etc..

Thanks in advance!

[2020-05-07 13:19] leogr commented on #1188
Hi @ianhundere

the driver loader in the current `master` branch should download drivers from `https://dl.bintray.com/falcosecurity/driver`.

Since in your description I see `Trying to download precompiled module from https://s3.amazonaws.com/download.draios...`, I'm not sure which Falco version produced the log that you have attached.

Could you also attach the log you get when using `falcosecuri

[2020-05-07 13:30] ianhundere commented on #1188
Sure thing.

[code]

[2020-05-07 13:59] smeeklai commented on #1198
It could be related. I did some experiments and found that the outputs seem the get buffered although the `buffered_outputs` option is set to `false`. With the default throttling configuration, Falco writes outputs to `stdout` whenever the number of outputs reaches `5`. Regardless of how long I waited. For example, I've to issue `apk add ....` command 5 times and then the outputs are written insta

[2020-05-07 14:07] smeeklai commented on #1198
`buffered_outputs`: `true` or `false` results in the same behaviour I explained above

[2020-05-07 14:43] leogr commented on #1188
Tnx!
I believe the driver for that has not built by the [driverkit build grid](https://github.com/falcosecurity/test-infra/tree/master/driverkit).
@leodido @fntlnz should we move this issue to [test-infra](https://github.com/falcosecurity/test-infra) ?

[2020-05-07 19:02] caniszczyk commented on #983
Let us know when you want to do the export/import dance, we've submitted a PR to fix Slack references on the website, I don't know if there are others in .md files but couldn't find any.

https://github.com/falcosecurity/falco-website/pull/193

[2020-05-07 19:22] robotica72 commented on #1194
Hi @leogr - Sorry about that, didnt want to send too much if it wasnt something that shouldnt be in the Falco issues.

Ok - Running a plain K8s install on 1.18.2, Running on Ubuntu 18.04 - 4.15.0-99-generic.

Falco.yaml is set to output JSON, rest of the file is the source from Git.

Falco does output events as expected:

Thu May  7 19:13:13 2020: Loading rules from file /etc/falco/k8s_audit_rules

[2020-05-08 01:48] fntlnz commented on #1187
Thanks for reporting @plasticine ! I'll try to investigate this.

[2020-05-08 01:52] fntlnz commented on #1187
Looking here :eyes: https://github.com/draios/sysdig/blob/a2567ad80eeae8afb347b16b6580398f669c9ea2/userspace/libsinsp/filterchecks.cpp#L6154-L6198

[2020-05-08 12:03] fntlnz commented on #1029
It was likely a configuration issue on how Falco talks to the CRI socket.

Glad it's working for you now @bzurkowski

[2020-05-08 12:05] fntlnz commented on #1193
This LGTM

[2020-05-08 12:13] leogr commented on #1193
I can work on that
/assign

[2020-05-08 16:15] leodido commented on #1129
@smijolovic we investigated the issue you have reported and made some changes to the driver code about vpid (look [here](https://github.com/draios/sysdig/compare/fix/filler_procstartupdate3_bpf_functions)).

That code builds now, but we need some time to investigate it also works correctly at runtime!

It would be awesome if you could try it, debug it a bit and tell us what you discovered. It'd he

[2020-05-08 16:23] kris-nova commented on #983
Hey thanks for reaching out. In a perfect world we could get this done ASAP - I think we are all ready to have this knocked out at this point.

During the call @amye mentioned that projects like Kubernetes and OPA were able to get a dedicated slack org, that was under the cncf umbrella.

I went ahead and created falcosecurity.slack.com and made a handful of Falco maintainers, @caniszczyk, @amye, a

[2020-05-08 16:32] smijolovic commented on #1129
I can pull from master and run it later today, assuming it's checked in.

[2020-05-08 16:35] caniszczyk commented on #983
@kris-nova we have enterprise accounts for Kubernetes and CNCF which retain all message history, CNCF won't cover the costs for new Slack enterprise given our contract with Slack, this is why we encourage folks to move to either the Kubernetes slack (like KEDA) or CNCF (most other projects).

For projects like OPA we still have to migrate them somewhere.

[2020-05-08 16:41] kris-nova commented on #983
So we have never had any issues with slack content history in the past. This is the first anyone has ever brought it up to my knowledge.

Can we just use the free plan and have the CNCF be owners/admins with as well as the Falco community? I believe the enterprise slack plans let you do an export of public/private channels as well as DMs https://slack.com/help/articles/201658943-Export-your-worksp

[2020-05-08 16:55] caniszczyk commented on #983
@kris-nova we don't prefer that route as what eventually happens is communities want to upgrade to a pro plan to retain history and make it searchable, this has happened with multiple CNCF projects in the past along with Kubernetes.  We also have slack admins staffed in both the Kubernetes and CNCF Slacks to deal with any major issues.

[2020-05-08 17:17] kris-nova commented on #983
Is there a path forward where we can retain the community's sense of privacy while still satisfying the concerns of having a slack under the CNCF umbrella?

If that is not an option - and this is a mandate - I would still like to be very clear about the privacy concern here for our community members. Having a safe place to work/collaborate is very important in driving adoption and creating a sense

[2020-05-08 17:26] caniszczyk commented on #983
We require everyone to abide by the LF/CNCF Privacy Policy which has I think has stronger guarantees than what is currently offered by Sysdig or most companies for that matter (couldn't find your privacy policy online):
https://www.linuxfoundation.org/privacy/

There's also a track record of the Kubernetes and CNCF Slacks over the last 5 or so years to consider with nearly 100,000 users in slack.

[2020-05-08 17:31] kris-nova commented on #983
Okay so path forward:

 - Update the documentation on falco.org with the new slack workspace.
 - Add a warning to falco.org website that references the LF privacy policy. Specifically this bit:

 - Do the import/export dance once the website changes go live.

---

Sound like a plan to everyone?

[2020-05-08 17:36] kris-nova commented on #983
Also regarding the import/export - should we offer the community time to opt-out before we add users to a new workspace with a presumed privacy policy? I have never done this before so I am learning as I go here. I am just asking myself -- what would I want as a user.

I think I would want to understand what is happening - and how that would impact me - and have an easy way to opt-out.

[2020-05-08 17:40] caniszczyk commented on #983
The plan sounds great, when Amye is back from vacation next week she can
take the lead to work on this with you.

re: user opting out timeframe sounds like an awesome idea, we should make
that as part of the announcement and say that here is the timeline, when
the transition will happen and if you want to opt you, do it before this
date (and here is how to do it).

On Fri, May 8, 2020 at 12:36 PM

[2020-05-08 20:56] kris-nova commented on #983
Sounds great - I think I speak for all of us when I say how excited we are to have support for Falco from the CNCF like this.

I will bring this thread up during out next community call and as soon as we have everything in place we can merge the changes to the website.

[2020-05-09 20:20] leodido commented on #1120
Link this to #628

[2020-05-09 20:25] leodido commented on #1120
Also, I think this is a high priority task because it could clarify a lot of concerns about the security of a security tool :)

/priority high

[2020-05-11 00:11] fntlnz commented on #1085
Stalebot please keep

[2020-05-11 06:51] leogr commented on #1085
/kind documentation

[2020-05-11 12:27] loetn opened #1201 "Helm Chart; Auditing not working. "the server could not find the requested resource""
**Describe the bug**

When installing Falco through the helm chart, this issue #1026, that relates to a wrong setting in the Auditsink, still persists. After setting this to the correct format, as described in this issue, my Kubernetes API log file is full with `Error in audit plugin 'dynamic_webhook' affecting 1 audit events: the server could not find the requested resource` errors. Tried generat

[2020-05-11 12:36] leogr commented on #1072
Hey @kommulu

Could you try to run `falco-driver-loader` manually, then attach the output here?

Thanks in advance

[2020-05-11 15:05] leodido commented on #1193
/honk

[2020-05-11 15:07] poiana commented on #1193
@leodido: Unable to find goose. Have you checked the garden?

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/1193#issuecomment-626761816):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue ag

[2020-05-12 09:21] fntlnz commented on #976
Stalebot please keep!

[2020-05-12 09:39] leodido commented on #1188
These two lines

[code]

make me think there's a problem in the [`get_target_id`](https://github.com/falcosecurity/falco/blob/master/scripts/falco-driver-loader#L104) function of the `falco-driver-loader` script.

Given the kernel `4.14.173-137.229.amzn2.x86_64`, first of all it'd have detected the target is `amazonlinux2`.

[2020-05-12 12:30] leogr commented on #1188
Or just the [helm chart is not mounting `/host/etc`](https://github.com/helm/charts/blob/11465c8be7ad5bee3b08553038aa5695d444cafd/stable/falco/templates/daemonset.yaml#L118) (see the "if" condition)?

[2020-05-12 13:30] leodido commented on #1188
Yes, definitely

[2020-05-12 16:15] fntlnz commented on #669
Anyone experiencing this issue, please test again with Falco master and report your findings. Your help is very needed here!

[2020-05-12 17:07] leogr opened #1203 "falco-driver-loader and stable docker images need `/etc` to be mounted"
**What to document**

Since [`falco-driver-loader` from current master tries to infer the driver target from various files in `/etc`](https://github.com/falcosecurity/falco/blob/a520a9b666528bd889bcec2666362c0920bbdc9f/scripts/falco-driver-loader#L104), `falcosecurity/falco:lastest` and `falcosecurity/falco-driver-loader` images need the host `/etc` to be mounted to `/host/etc` inside the containe

[2020-05-12 17:46] jaychan-q commented on #669
can we use image: falcosecurity/falco:latest or should it be image: falcosecurity/falco:master for pulling the images

[2020-05-13 04:49] victortrac commented on #669
@fntlnz I just tried the `master` tag. The dropped events still pretty much start immediately:
[code]

[2020-05-13 10:50] fntlnz opened #1204 "FPRO: Falco profiler"
# Motivation

Performance-wise, Falco has two main major areas of improvement:

## Rules parsing/matching

Since the Falco engine is only useful when you load rules into it, many users load as many rules as they want into the Falco engine, however, this can degrade performances in some cases. Understanding what rules/filters create performances problem is a top priority for the Falco project.

Mor

[2020-05-13 10:53] fntlnz commented on #669
@jaychan-q it's `falcosecurity/falco:master` to run from the latest git commit, and it's `falcosecurity/falco:latest` to run the latest tagged version.

@victortrac Thanks for testing - I just opened an issue regarding this and how we are working on tooling to help you help us tackling this problem https://github.com/falcosecurity/falco/issues/1204 - @shane-lawrence and @natalysheinin might be int

[2020-05-13 11:05] fntlnz commented on #1204
This is the file layout of a simple profile snapshot, [image courtesy](https://twitter.com/leodido/status/1260526021369004033) of @leodido
![image](https://user-images.githubusercontent.com/3083633/81805004-65ede800-951a-11ea-9e7f-48168b5530f0.png)

[2020-05-13 13:15] #1145 closed

[2020-05-13 15:52] itaimirin commented on #935
Same here. Also using the latest:

`Runtime error: Socket handler (k8s_replicaset_handler_event) an error occurred while connecting to https://10.15.240.1: Connection timed out.`

[2020-05-13 19:11] victortrac commented on #1204
@fntlnz Just to help me understand the issue - is this a performance issue with the instance size, shared buffer, falco resource limits, or ...?  Are there any levers we, as users, can tweak to reduce the likelihood of dropped events?

[2020-05-13 19:18] amye commented on #983
Hey @kris-nova, what do you think about this timeline?

Which channels are being actively used that need to be created in CNCF Slack?
- Finalize by EOD May 15
Announce that we're moving to the CNCF channel with user-opt out
- May 18
Cutoff of May 22nd for move
May 26th for read-only date with topics pointing to where discussion is happening (accounts for US Holiday)

[2020-05-14 08:17] loetn opened #1206 "Helm Chart; Auditing not working. "the server could not find the requested resource""
**Describe the bug**

When installing Falco through the helm chart, this issue falcosecurity/falco#1026, that relates to a wrong setting in the Auditsink, still persists. After setting this to the correct format, as described in this issue, my Kubernetes API log file is full with `Error in audit plugin 'dynamic_webhook' affecting 1 audit events: the server could not find the requested resource` er

[2020-05-14 08:38] leogr commented on #1206
Since [this proposal](https://github.com/falcosecurity/falco/blob/master/proposals/20200506-artifacts-scope-part-1.md) the helm chart has no the "official support" status, so it will be adopted by the [contrib](https://github.com/falcosecurity/contrib).

Please, unless you're sure that this issue relates to Falco and not to the helm chart, close this and reopen the discussion on https://github.com

[2020-05-14 11:03] loetn commented on #1206
Will try without the Helm chart, and report back!

[2020-05-14 11:05] maxgio92 commented on #1203
Thanks @leogr. For the `contrib`, I think the manifests are already up to date (except for the driver loader image which must be updated).

Details [here](https://github.com/falcosecurity/contrib/blob/master/integrations/k8s-using-daemonset/falco-daemonset-configmap-slim.yaml).

[2020-05-14 11:05] leodido commented on #1206
Thanks @loetn let us know

[2020-05-14 11:42] loetn commented on #1206
Well, I just wanted to try to install Falco without the helm chart by following the [documentation site](https://falco.org/docs/installation/) describing the 'DaemonSet Manifests", but there is no Integration folder anymore. It also appears, that the "k8s-using-daemonset.yaml" is no longer on the master branch. Is this placed somewhere else now?

In response to @leogr answer, that the helm chart h

[2020-05-14 12:43] leogr commented on #1206
Thanks @loetn

Although the proposal mentioned above has been approved, we're still in the migration phase and the documentation needs to be updated. I agree with you that the current state may be confusing, sorry :(

Btw the `/integrations` directory was moved to the `contrib` repo too, you can find it here :point_right: https://github.com/falcosecurity/contrib/tree/master/integrations

Anyhow, I

[2020-05-14 13:35] usamaahmadkhan opened #1210 "Kernel headers not found for 4.18.0-147.8.1.el8_1.x86_64 For OpenShift 4.4"
**Describe the bug**
I'm trying to deploy Falco in Openshift 4.4 with Falco version 0.18.0,  and facing the follwing error:

[code]

**How to reproduce it**

[Falco Chart](https://github.com/helm/charts/blob/master/stable/falco/Chart.yaml) 1.17
Image: 0.18.0

**Expected behaviour**
Normal execution of Faclo modules

**Screenshots**

**Environment**

- Falco version: `0.18.0`, `0.19.0`, `0.20.0`,`0

[2020-05-14 14:04] loetn commented on #1206
Hi @leogr
Thank you for the clarification! We'll use a host-based installation then, and yes correct, the auditing worked here.

Also thank you for pointing out the integration folder. I found it, cloned it, and deployed the daemonset manually. Also deployed the auditsink as described in the README.md.
Everything worked! No errors in the Kubernetes API log file, and the Falco daemonset was receivi

[2020-05-14 17:09] smijolovic commented on #1129
Sorry for the delay.

Still seeing errors on the build of the driver:

Scanning dependencies of target bpf
make[3]: Leaving directory '/home/rpmbuild/nimbus8/falco-build/falco-src/falco/build'
make -f driver/bpf/CMakeFiles/bpf.dir/build.make driver/bpf/CMakeFiles/bpf.dir/build
make[3]: Entering directory '/home/rpmbuild/nimbus8/falco-build/falco-src/falco/build'
cd /home/rpmbuild/nimbus8/falco-bui

[2020-05-14 19:59] shane-lawrence commented on #669
I tried this with master today. It's using this version:
[code]

We're still dropping syscalls:
[code]

Does this output indicate that 27379 syscalls were detected, and of those 23 were dropped?

[2020-05-15 00:29] jaychan-q commented on #669
i am seeing the drops as well from the master image.
`{"output":"Falco internal: syscall event drop. 1 system calls dropped in last second.","output_fields":{"ebpf_enabled":"1","n_drops":"1","n_drops_buffer":"0","n_drops_bug":"0","n_drops_pf":"1","n_evts":"16858"},"priority":"Critical","rule":"Falco internal: syscall event drop","time":"2020-05-15T00:24:23.033865841Z"} `

[2020-05-15 15:33] moserke commented on #1188
I can confirm that when I mount `/host/etc` falco starts for `4.14.173-137.229.amzn2.x86_64`.

[2020-05-15 17:34] leogr commented on #1210
Have you tried to mount `/etc` to `/host/etc` as explained in https://github.com/falcosecurity/falco/issues/1203 ?

[2020-05-15 17:35] leogr commented on #1188
See also https://github.com/falcosecurity/falco/issues/1203

[2020-05-15 17:38] leogr commented on #1203
I believe the current helm chart is really affected by this issue, see referenced issues above.

[2020-05-16 07:56] pauldotknopf commented on #1096
Bump

[2020-05-16 15:33] nlamirault opened #1214 "Invalid link : https://falco.org/docs/installation/#daemonset-manifests"
According to the documentation :
Clone the Falco repo and change to the directory with the manifests.

[code]

But directory only exists on tag. We must checkout tags and not the master branch.

[2020-05-16 15:34] poiana commented on #1214
@nlamirault: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2020-05-16 15:50] leodido commented on #1214
/kind documentation
L.

On Sat, May 16, 2020 at 5:35 PM poiana <notifications@github.com> wrote:

[2020-05-16 16:31] leogr commented on #1214
IIRC that page will be removed by https://github.com/falcosecurity/falco-website/pull/184

Anyhow, I believe we should add some reference to https://github.com/falcosecurity/contrib

[2020-05-17 13:45] kommulu commented on #1072
Hi @leogr ,
I got a mail, saying you commented on this issue, but the comment is not here. Weird.
Anyways, thanks for investigating this.
The mail said you wanted me to run `falco-driver-loader`.

I fired up a testing system, which has the described problem and ran the command.
Here is the output:
[code]
This is a completely fresh installed system. Falco was installed using this role:
https://gith

[2020-05-17 14:02] leogr commented on #1072
Hi @kommulu

I deleted the comment after I had realized that the installation method was RPM - so I thought that `falco-driver-loader` could not help. My fault, I should have just edited it.

Anyway, thanks to your comment I've noticed right now this:
[code]
cc @leodido Maybe does RPM installation not work because of `make` is missing?

@kommulu thanks again for reporting this

[2020-05-17 17:18] kris-nova opened #1215 "Consume ECS Metadata with Falco"
**Motivation**

Falco can run in ECS Fargate now, can we look at improving our integration?

**Feature**

With the new workaround `pdig` and running falco in ECS Fargate, can we start exploring consuming ECS and Fargate metadata into Falco in the same way we consume container and Kubernetes metadata?

This is relevant because this can be used as our first input plugin that can be built outside of

[2020-05-18 06:21] usamaahmadkhan commented on #1203
@leogr yes the `/etc` is mounted on `/etc/host` with helm value `Values.ebpf.settings.mountEtcVolume` = true  and i'm still seeing this error

[2020-05-18 07:25] leogr commented on #1203
Note that `ebpf.settings.mountEtcVolume` is not enough. Both `.Values.ebpf.enabled` and  `.Values.ebpf.settings.mountEtcVolume` have to be enabled (see https://github.com/helm/charts/blob/11465c8be7ad5bee3b08553038aa5695d444cafd/stable/falco/templates/daemonset.yaml#L118). But by doing so, `falco-driver-loader will load the eBPF probe instead of the kernel module.
Have you tried with both enabled?

[2020-05-18 07:29] leogr commented on #1210
See [this comment](https://github.com/falcosecurity/falco/issues/1203#issuecomment-629996501).
Could you also attach the logs with and without eBPF enabled of the latest version (ie. `master`)?

Thanks in advance.

[2020-05-18 07:43] usamaahmadkhan commented on #1203
yes both enabled.

[2020-05-18 08:43] fntlnz commented on #1126
Thanks for reporting @scaloppboat – I did some analysis on this and I found that the major bottleneck we have here is the try_pop method on the queue we use to get Falco outputs to the gRPC server ( output::queue )

I don’t see any problems in the push counterpart here and from what I can see by profiling it looks like we call it an enormous amount of time for each iteration. We need to refine the

[2020-05-18 13:17] #1193 closed

[2020-05-18 14:46] leodido commented on #1146
Yeah @smijolovic, the Syslog output should definitely get a revamp.

I've done some work in this field in the past (take a look at [go-syslog](https://github.com/influxdata/go-syslog)), thus I agree.

The Falco's Syslog output should:
- support BSD-Syslog (RFC3164)
- support RFC5424 Syslog messages

Additionally,
- stream Syslog messages
     - over TLS (RFC5425)
     - over TCP with non-transpare

[2020-05-18 18:53] scallopboat commented on #1126
@fntlnz thanks for pinpointing the issue.  If everyone is cool with it, I'd like to take a stab at fixing this bug.

[2020-05-19 01:37] plasticine commented on #1187
Hey there @fntlnz — just wanted to check in and see if you managed to uncover anything here? We’re still seeing this issue, though I’ll try with the recently released `0.23.X`.

[2020-05-19 08:18] fntlnz commented on #1129
Still working on this, got a bit delayed but it's a priority.

[2020-05-19 08:51] leodido commented on #1214
@nlamirault I think what you're looking for is now at https://github.com/falcosecurity/contrib/tree/master/deploy/kubernetes

[2020-05-19 09:42] leogr commented on #1214
Yes, exactly. Btw, we may want to change the repository name (see https://github.com/falcosecurity/contrib/issues/14 ), thus I would wait until that.

Moreover, I'm transferring this issue to https://github.com/falcosecurity/falco-website

[2020-05-19 13:05] leodido commented on #1096
We've verified the build (with system dependencies) of Falco on an Ubuntu Bionic, and we confirm the bug exists.

It depends on the version of gRPC that Ubuntu Bionic ships (1.3.x). At least gRPC 1.8.1 required.

Nevertheless, it should be possible to build Falco on Ubuntu Bionic with (most of) the dependencies statically bundled. To do so use

[code]

[2020-05-19 13:15] fntlnz commented on #1096
I would not call this a bug, it's just that the grpc dependencies on Ubuntu 18.04 are too old. There's really nothing we can do, if people want to build Falco on 18.04 they are going to need to build with the flag @leodido was mentioning, otherwise they will need to install a newer gRPC version of their system in an unofficial way.

I'm closing this since there's really nothing we as a project can

[2020-05-19 13:15] #1096 closed

[2020-05-19 14:46] webbdog28 commented on #935
Same error as well. Are there plans to address?

[2020-05-19 17:51] kris-nova commented on #983
Yeah this looks good - We are announcing the changes this week and will have updates to the website and github repositories to work in concert with them as they go live

We should see a warm cutover before next week's community call next wednesday, and a deprecation model put in place before permanently archiving our current slack

I will post updates here as they happen, and will not close the is

[2020-05-19 17:53] amye commented on #983
oh this is excellent news! Thank you!

On Tue, May 19, 2020 at 10:51 AM Kris Nova <notifications@github.com> wrote:

--
Amye Scavarda Perrin | Program Manager | amye@linuxfoundation.org

[2020-05-19 19:16] smijolovic commented on #1129
no worries - the workaround is still addressing the short term issue.

[2020-05-19 22:12] leodido commented on #676
/keep
L.

On Tue, May 19, 2020 at 10:20 PM stale[bot] <notifications@github.com>
wrote:

[2020-05-20 03:43] kris-nova commented on #1180
This is coming along nicely with the recent changes.

Thanks for your help @leogr

Is `binary` still the best name for this?

[2020-05-20 07:21] leogr commented on #1180
As per [this proposal](https://github.com/falcosecurity/falco/blob/master/proposals/20200506-artifacts-scope-part-2.md#targz), I think `binary` is the best name because it is NOT intended to build Falco from source.

Also note that:
 - although it's a binary package, it includes driver sources that are just used by the script to build it on-the-fly (consider this as special case, that we need for

[2020-05-20 09:01] brant-ruan opened #1226 "Add Configuration in falco.yaml for the `-A` Command Line Option"
**Motivation**

These days I need to monitor some system calls like `madvise` and `accept`. However, system calls like those are ignored by default and if you want to enable monitor for those, you need to add `-A` option when you run Falco from the command line.

That's OK, but maybe it's better if we can set a configuration option (e.g. `all_system_all_included: true`) in the `falco.yaml` file so

[2020-05-20 10:18] operatorequals commented on #669
Hello guys.
I am using falco in `kops` provisioned AWS EC2 instances, of 3 workers - 1 master, without `k8saudit` integration.
I have exactly the same issue, here is a Kibana screenshot to show the volume:
<img width="1556" alt="εικόνα" src="https://user-images.githubusercontent.com/6146328/82434884-0ac07600-9a83-11ea-9c81-a3abe388a9a9.png">

I'm writing this to raise the issue that it probably is

[2020-05-20 10:52] leodido commented on #669
Thanks for the report Jhon.

Would you mind sharing info also about the other setup?

In case it needs to stay private you can share such info on slack with us.

On Wed, 20 May 2020 at 12:18, John Torakis <notifications@github.com> wrote:

--
L.

[2020-05-20 11:18] leodido opened #1227 "API to expose ring-buffer metrics"
**Motivation**

As proposed on Slack by AJ Christensen, some users can find useful to have an API that shows metrics about the ring-buffer.

I also think that this is needed to help us and our users better understand the drops and Falco in general.

This would be a different API w.r.t. the one streaming the drop alerts (proposed [here](https://github.com/falcosecurity/falco/issues/884)).

**Featur

[2020-05-20 12:16] fntlnz commented on #1126
We are discussing this issue at the community call today if you'd like to join @scallopboat - you can find zoom link and time [here](https://hackmd.io/6sEAlInlSaGnLz2FnFz21A)

[2020-05-20 16:16] leogr commented on #1188
Hi @ianhundere

as temporary workaround, you can clone the helm chart locally and modify it to always mount `/host/etc`. Basically you have to remove both the "if"s [here](https://github.com/helm/charts/blob/11465c8be7ad5bee3b08553038aa5695d444cafd/stable/falco/templates/daemonset.yaml#L118) and [here](https://github.com/helm/charts/blob/11465c8be7ad5bee3b08553038aa5695d444cafd/stable/falco/templa

[2020-05-20 17:06] kris-nova commented on #983
Following up on the weekly call that just happened.

The community seems to agree that we would like to move to the Kubernetes slack officially.

Some links and resources to share the good news:

 - [Pull Request to Falco.org](https://github.com/falcosecurity/falco-website/pull/204)
 - [Pull Request to Kubernetes community](https://github.com/kubernetes/community/pull/4792)
 - [Notes from the call

[2020-05-20 17:11] leodido commented on #983
Community call notes (+ YT video) for today call are here: https://github.com/falcosecurity/community/blob/master/meeting-notes/2020-05-20.md

[2020-05-20 17:13] leodido commented on #983
Also, this PR updates the slack URL in the organization-wide CONTRIBUTING.md file (so that all the other Falco projects will have it into their inherited CONTRIBUTING.md file).

PR: https://github.com/falcosecurity/.github/pull/9

[2020-05-20 19:59] farshad-hobsons opened #1229 "falco-0.23.0 gets SIGINT after running for a minute on 4.14.171-136.231.amzn2.x86_64"
**Describe the bug**

The image `falcosecurity/falco:0.23.0` when run with the following white-lists.yaml rules returns SIGINT:
Error log:
[code]
white-lists.yaml (this rule files runs fine with `falco:0.22.1`
[code]

**How to reproduce it**

1. On amazon EKS VM( amazon-eks-node-1.15-v20200312 (ami-0dc7713312a7ec987)) load falco-kernel module https://dl.bintray.com/falcosecurity/driver/96bd9bc560f

[2020-05-20 21:00] coderanger commented on #983
@kris-nova @leodido Could you please fill in some blanks as to why between yesterday and today this appears to have pivoted from CNCF Slack and Kubernetes Slack? I think there may have been some discussion on your side that is not recorded here so the reasoning is not obvious :)

[2020-05-20 23:11] fujin opened #1231 "Syscall events dropped exceed number of syscall events"
**Describe the bug**

Falco emits `syscall event drop` messages to report dropped syscalls. In some cases, the output fields payload contain values that doesn't quite make sense to me. Specifically, the `n_drops` field is significantly more than `n_evts`. I would have assumed can only be `n_drops <= n_evts` typically (up to 100% events dropped- more than 100% dropped events seems improbable)

Exam

[2020-05-21 07:37] operatorequals commented on #669
Hello @leodido!

Sure, it's a 3 worker - 1 master cluster of k8s on EC2s provisioned through `kops`.
Kubernetes version:
[code]

Falco version:
[code]
Default [helm chart `syscallEventDrops` options](https://github.com/helm/charts/tree/master/stable/falco#falco).
Falco pod usage is:
[code]

If you need specific information, I can provide!

[2020-05-21 08:08] leogr commented on #1229
Hi @farshad-hobsons

Thanks for reporting this.

Just two question to help me understand better:
- Does the problem occur without `white-lists.yaml` ?
- Could you share with us the exact helm installation command you used?
   I guess it should be something like `helm install falco --set image.tag=0.23.0,daemonset.env.SKIP_DRIVER_LOADER=true,daemonset.env.SKIP_MODULE_LOAD=true ...`, but having the

[2020-05-21 09:40] fujin opened #1232 "Falco segmentation fault `double free or corruption (!prev)`"
**Describe the bug**

Falco process crashes with segmentation fault and emits these messages:
[code]

Frequently it does not emit any message and silently crashes at the same position (seemingly, no syscall events are emitted to the log, as well)

Here is the current count of restarts from my staging environment.
[code]

**How to reproduce it**

I don't really have minimal/precise steps. The stagi

[2020-05-21 10:32] fntlnz commented on #1187
Hi @plasticine  Thanks for the detailed issue! - @leodido and I debugged this for quite some time on GKE `1.16.8-gke.15` and the `cos_containerd` node image - We're deploying Falco as described here https://github.com/falcosecurity/contrib/tree/master/deploy/kubernetes/kernel-and-k8s-audit with the `FALCO_BPF_PROBE` variable enabled.

After Falco is deployed and running, we deployed the event gene

[2020-05-21 10:34] leodido commented on #1187
Also, in our debugging session, we have containerd version:

[code]

Could you report the version you have in you setup?

[2020-05-21 10:58] leogr commented on #1203
Hey @usamaahmadkhan
at this point I'm not sure [your issue](https://github.com/falcosecurity/charts/issues/8) is related to this. I will investigate more.

[2020-05-21 13:01] leogr opened #1233 ""BPF doesn't have JIT enabled" reported incorrectly when using docker"
**Describe the bug**

Even if JIT is enabled for BPF, both `falcosecurity/falco` and `facosecurity/falco-driver-loader` are reporting the following message when run with `-e FALCO_BPF_PROBE=""`:
[code]

**How to reproduce it**

In a system with a kernel >= 4.15  with CONFIG_BPF_JIT on and docker installed, run:
[code]

**Expected behaviour**

No "BPF doesn't have JIT enabled, performance might be

[2020-05-21 14:52] farshad-hobsons commented on #1229
Hi @leogr , thanks for a quick response. Below are the answers to your questions.

The problem does not occur without the `white-lists.yaml` in `falco:0.23.0`. Also  on `falco:0.22.1`, the `white-lists.yaml` worked fine and I did not encounter the SIGINT

I am using the helmoperator which uses the helmRelease custom resource to deploy the helm chart. Not sure how much it helps but the `helmRelease

[2020-05-21 16:15] #858 closed

[2020-05-21 18:08] kris-nova commented on #983
What blanks are you missing?

Following this thread above :point_up: there was a strong encouragement to move to a slack under "the CNCF umbrella". @caniszczyk let us know that there would not be funding available in the case a newly created slack wanted to move from the free version to enterprise.

This left the Falco community with 3 options.

 - Migrate to our newly created workspace https://fa

[2020-05-21 18:08] #983 closed

[2020-05-22 11:48] kris-nova commented on #669
So with the helm chart being used threw me for a loop.

I opened https://github.com/helm/charts/pull/22481 to remove the falco stable chart in favor of https://github.com/falcosecurity/charts/pull/12 which updates the container image from `0.21.0` to `0.23.0`.

This update was required for me to deploy to GKE.

I was getting the following error with `0.21.0`

[code]
[nova@nova stable]$ k logs -l a

[2020-05-22 12:40] kris-nova commented on #669
After the pods were successfully running without any drops in the logs for ~60 minutes I decided to try to run a small workload.

[code]

I was now able to replicate the bug.

---
[nova@nova event-generator]$ k run events --image  krisnova/falco-event-generator:latest
pod/events created
[nova@nova event-generator]$ k get po
NAME          READY   STATUS              RESTARTS   AGE
events        0/1

[2020-05-22 14:22] farshad-hobsons commented on #1229
@leogr , thanks for providing feedback on how to debug this issue. Appreciate it!

I was able to use the following helm cli command to deploy falco with `white-lists.yaml`
[code]
/tmp/falco-values.yaml
[code]

It is almost certain that this is not an issue with falco:0.23.0 and rather some issue with helm-operator since I am only able to reproduce it via HelmRelease custom resource.

[2020-05-22 14:22] #1229 closed

[2020-05-23 09:59] fntlnz commented on #1204
@victortrac this is exactly why we are working on this, to be able to answer that kind of questions.

[2020-05-24 04:20] kris-nova commented on #669
So following up here.

Let's look at

[code]

The logic here is a [double-negative](https://github.com/falcosecurity/falco/blob/master/userspace/falco/falco.cpp#L637-L639) and can be a bit confusing.

---

If you would like to **optimize for performance** at the risk of dropping a syscall (note: a dropped syscall does not necessarily mean that the system is missing any data).

please leave the sys

[2020-05-24 06:54] #1103 closed

[2020-05-25 08:41] leodido commented on #1008
Keep

[2020-05-26 14:57] leogr commented on #1203
It seems to me all TODOs have been done :point_right:

[2020-05-26 14:57] #1203 closed

[2020-05-26 21:16] fntlnz commented on #926
We don’t use s3 anymore! The falco installation files are now on bintray - which unfortunately doesn’t look to have AAA records

[2020-05-27 08:57] shotu commented on #486
I am also facing same problem.

[2020-05-27 15:20] kris-nova commented on #669
Right now the course of action to help us identify where in the stack this issue is coming from if to use the work in https://github.com/falcosecurity/falco/issues/1204 to capture metrics about the stack experience the issue and share with us.

[2020-05-28 01:12] brant-ruan commented on #1226
OK, maybe this is not so necessary for the community. If you want to add this option, you can modify the K8s DaemonSet yaml file :)

[2020-05-28 01:12] #1226 closed

[2020-05-28 01:46] kris-nova opened #1236 "Consider OPA Rego"
**Motivation**

We know there are several concerns with encapsulating rules in Lua, and even more concerns at runtime with how the Lua libraries perform internally to the Falco engine.

In the name of exploring other options, and driving adoption and integration with Falco - should we explore using Rego as a rule encapsulation mechanism with Falco?

**Feature**

One to one parity with the current

[2020-05-28 08:05] fntlnz commented on #1236
The fact that the parser we use is written in lua is a separate problem then using a completely different language.

In fact, we can rewrite the parser in C++ and use the same language, in that way we remove lua and still offer the same experience to our users.

For this reason, I'm a no on this. I don't think that rego fits our use case better than our rules language and I would dedicate the time

[2020-05-28 11:17] xUnholy commented on #520
@kris-nova I'm also a user trying to get ARM(64) falco working, you were going to release a blog of sorts, did you ever manage to release it? OR document somewhere your process to follow?

[2020-05-28 17:06] leodido commented on #669
We (me @fntlnz and @leogr) just spent some time to perform tests while perturbing some parameters (keeping the CPU load conditions and the frequency of rules triggered as steady as possible):

- ring buffer dimension (8MiB vs 16MiB)
- eBPF buf size dimension (16MiB vs 32MiB)
- stdout output plugin (true vs false)

Then running Falco with `-v` to have detailed statistics at the end and `-A` to incl

[2020-05-28 18:18] kris-nova commented on #1236
So I agree that Lua is another concern and out of scope for this issue -- which is why I changed the name. This is NOT suggesting that we replace Lua, but rather that we consider Rego for rules.

After a few hours of reading about Rego/trying it out/trying to understand it - I can safely say that I do not enjoy using it, and most of the conventions are unnatural.

Bottom line, there is a high barr

[2020-05-28 19:01] airadier commented on #1236
My 2 cents.

About rego, I hated it, but after fighting several hours with it for the Sysdig [OPA image scanner](https://github.com/sysdiglabs/opa-image-scanner/), I must admit I don’t hate it that much now… Even I can appreciate some beauty on it, once you change your mindset.

I still prefer the simpler Falco rules syntax, but probably the declarative rego language can define much more complex r

[2020-05-28 20:43] kris-nova commented on #1236
Related: https://github.com/falcosecurity/falco/issues/607

[2020-05-28 21:37] marcossv9 commented on #587
Hi all,

I was wondering if there is a documentation or plans to release this early announced "kind of" compatibility to run Falco in AWS Fargate as mentioned in this [post](https://sysdig.com/blog/falco-support-on-aws-fargate/)

We are really excited about running falco as sidecar container in AWS Fargate.

Thanks in advance!
Marcos.

[2020-05-28 21:37] omer-sd commented on #1236
On top of Detect vs Prevent as Kris mentioned, while there is some overlap between the tools, Falco is still runtime behavior oriented vs config changes focused that I believe most folks are using OPA for.

For the overlapped use cases, we can implement the detect (falco) -> prevent (opa), but it won't be comprehensive without adding things like selinux and apparmor to complete the story, where OP

[2020-05-28 21:44] kris-nova commented on #1236
Right, most folks hear OPA and think gatekeeper.

But regardless of the misnomer - OPA aims to be a policy standard - so as the usecases start to span multiple concepts and multiple tools - having a standard set of config would be useful in my mind.

[2020-05-28 22:36] omer-sd commented on #1236
Good point about OPA != Gatekeeper. I want to add that there is no good alternative for gatekeeper right now, which might explain the wide adoption.
So another approach to explore is having a Falco Admission Controller connector, and using the Falco language to address the same use cases.

[2020-05-29 00:10] kris-nova commented on #1236
Honestly I have been dying to write an admissions controller for security purposes. The world needs this so bad. As far as I can tell Gatekeeper was just a port of pod security policy and doesn't do anything more than that. Which is where seccomp and selinux get exciting.

As far as the falco language itself is concerned - I have weak opinions - but regardless of gatekeeper vs a new admissions con

[2020-05-29 01:45] patrick-east commented on #1236
Just to add a tiny bit more context on that point. The PSP policies shown in the gatekeeper library are just _one_ example of what you can do with it. I'd even go so far as to say they are simple policies to implement, and there is considerable room for users to write much more sophisticated checks.

That tangent aside.. I would agree that some sort of pluggable rule engine seems like it makes the

[2020-05-29 05:56] kbojjireddy commented on #920
I'm facing the same issue

[2020-05-29 06:09] kbojjireddy opened #1238 "falco deployment failing in GKE"
**Describe the bug**
Installed Falco on GKE from the Google Cloud Market place. Container crashed with error while trying to compile BPF probe falco-probe-bpyf

**How to reproduce it**
Install Falco on a GKE cluster from the Marketplace

**Expected behaviour**
Falco pod running successfully

**Screenshots**
<img width="1280" alt="image" src="https://user-images.githubusercontent.com/22991586/83227

[2020-05-29 09:34] fntlnz commented on #1238
Hi @kbojjireddy - thanks for bringing this to our attention, your contribution is very valuable.
If we are talking about [this one](https://console.cloud.google.com/marketplace/details/sysdig/falco-security)
I think that what you are trying to install is an old artifact (Falco 0.7) from when Falco was a Sysdig and not a CNCF project. Said that, I will need to bring this to our [community call](htt

[2020-05-29 11:15] rahul-kr4604 opened #1239 "Falco fails to load prebuilt falco kernel module"
**Describe the bug**
I built the Falco kernel module for kernel 4.18.0-147.8.1.el8_1.x86_64 and I inserted it using 'insmod' command.
But after creation of pod at the node, it removes the falco kernel module as per the 'falco-driver-loader', this is ok. Then after I placed the kernel module at '/root/.falco' with name "falco_rhcos_4.18.0-147.8.1.el8_1.x86_64_1.ko". As per the "falco-driver-loader"

[2020-05-29 11:34] chattarajoy commented on #920
I changed the instance types to ubuntu based instead of containerd ones and it worked

[2020-05-29 12:37] dpittner commented on #1187
Maybe this helps to pin-point things further, I'm seeing the same as @plasticine  without BPF enabled on my env (falco 0.23.0):
{
  "machine": "x86_64",
  "nodename": "falco-2jd7j",
  "release": "4.4.0-177-generic",
  "sysname": "Linux",
  "version": "#207-Ubuntu SMP Mon Mar 16 01:16:10 UTC 2020"
}
it's an IBM Cloud IKS 1.15

[2020-05-29 12:44] fntlnz opened #1240 "Bidirectional request/response streaming for the outputs"
**Motivation**

As discussed in the past two community calls, the bug reported in https://github.com/falcosecurity/falco/issues/1126 is related to the wrong usage that our gRPC server is making for the `output:subscribe` call where it receives a single request to stream an infinite number of responses.

While that approach is nice on paper, having an infinite loop reading our output queue (which i

[2020-05-29 12:45] leodido commented on #1240
/assign @leodido
/assign @fntlnz

[2020-05-29 13:34] plasticine commented on #1187
Hrm! 🤔 Hoping to get some time to circle back on this next week and see if I can get a more detailed repo

[2020-05-29 15:58] #982 closed

[2020-05-29 16:36] DannyPat44 commented on #1126
I am running into what I think is this issue on our deployments and I was wondering if someone could help me confirm that this issue is the root cause. We run a Falco Deployment on our GKE cluster (1.14.10-gke.36) in both our Production and Stage Environments. I recently added the Falco Exporter to our Production cluster and have enabled the GRPC server to support it. I am running into an issue wh

[2020-05-29 17:36] tkumark opened #1242 "error opening device /host/dev/falco0 for aws ECS"
I am trying to run the falco container in ECS and it fails below

command : `docker run -i -t --name falco --privileged -v /var/run/docker.sock:/host/var/run/docker.sock -v /dev:/host/dev -v /proc:/host/proc:ro -v /boot:/host/boot:ro -v /lib/modules:/host/lib/modules:ro -v /usr:/host/usr:ro  falcosecurity/falco:latest`

**Error Message:**
[code]

**OS Detail:**
[code]

[2020-05-31 09:55] axsc commented on #1242
Seems to be them same issue: https://github.com/falcosecurity/falco/issues/1239

[2020-05-31 14:08] tkumark commented on #1242
figured it out it look like it failed becasued I did not add -v /etc:/host/etc:ro. Once this was added it started running

[2020-05-31 14:08] #1242 closed

[2020-05-31 14:12] tkumark opened #1243 "what does -pc used for could not find documentation for this"
in one of the sample in other websit i see this what is -pc. I do not see any reference to it in
https://falco.org/docs/configuration/

Command | ["/usr/bin/falco","-pc","-o","json_output=true"]

[2020-05-31 17:52] #1243 closed

[2020-05-31 18:42] tkumark opened #1244 "vulnerable event not firing for my docker container but does for metasploit-vulnerability-emulator container"
In my Ubuntu 18.04 desktop I have 3 container running

**vulnerables/metasploit-vulnerability-emulator** (docker run --rm -it -p 3001:80 vulnerables/metasploit-vulnerability-emulator)

**tk-testrepo3:latest** (docker run -p 3000:3000 tk-testrepo3:latest) _This is created by me a node:8-alpine helloworld app._

**falcosecurity/falco:latest** (docker run --rm -i -t --privileged -v /var/run/docker.so

[2020-06-01 14:13] tkumark commented on #1244
It has started work again for some reason closing

[2020-06-01 14:13] #1244 closed

[2020-06-01 16:35] tkumark opened #1246 "Falco Events not sending to Cloudwatch"
I am running Falco in ECS. I have configured it to send the event to cloudwatch. For testing purpose I have another nodejs container in the same ECS. Just to simulate I log into the container and run `touch /dev/rootkit.
`
but none fo the event showup in the in CloudWatch. The only time it does send the event to the CloudWatch is when I delete the Falco server in ECS. If you look at the log below

[2020-06-01 17:43] robsonke commented on #935
In what way can we help to solve this issue. Our Falco instances restart roughly once an hour due to this issue, which isn't an operational problem but does pollute our monitoring. With over 80 instances running, we get quite some restarts.

Silly thought, but can't we just catch such a connection issue, retry a few times and then just ignore instead of crash?

Info: Kubernetes 1.13 and 1.14 both

[2020-06-01 17:46] robotica72 commented on #669
Im running into this as well - Was showing off Falco to my CyberSecurity team but I have more syscall drops than events that I was trying to show...   I have another Demo on Wed - is there any potential fix or workaround for the short-term?

Im running on GKE on-prem, which for now is running on K8s 1.13.7 (One GKE version behind on this cluster).

[2020-06-03 12:37] wojciesze opened #1247 "No support for latest EKS 1.15 and 1.16 Amazon Linux 2 Kernel version (4.14.177-139.253.amzn2.x86_64)"
**Describe the bug**

No falco support for latest EKS 1.15 and 1.16 kernel versions:
[code]

**How to reproduce it**

[code]

[code]

**Expected behaviour**

No `CrashLoopBackOff` for falco pods

**Screenshots**
**Environment**
- Falco version:
* falco version: 0.23.0
* System info: AWS EKS Amazon Linux 2: amazon-eks-node-1.15-v20200507
* Cloud provider or hardware configuration: AWS EKS
* OS: Ama

[2020-06-03 15:38] tkumark commented on #1246
If anybody has setup Falco in aws ECS with logs going to cloudwatch could you please.

[2020-06-03 17:04] omer-sd opened #1248 "Container executables drift detection"
**Motivation**

Container drift means changes that break the immutability of images. A subset of such changes are executables created in a container during runtime. Detecting such behavior can help flag  critical security issues related to RCEs.

**Feature**

There are a limited set of options to create an executable in a system. By adding Falco rules to detect this behavior, we can alert users ab

[2020-06-04 02:01] tkumark commented on #1246
Couple more observations :
when I run the docker script in interactive mode it works. In the below docker scirpt runs in interactive mode and I have added the awslogs configuration so the logs go into cloudwatch. [docker awslogs configuration](https://docs.docker.com/config/containers/logging/awslogs/)

[code]
when I run falco with the above script I do get the logs in aws logs. But once I remove

[2020-06-04 18:21] roysjosh opened #1251 "eBPF module fails to load on Fedora 32"
**Describe the bug**
falco fails to start when configured to use the BPF module with a verifier exception.

**How to reproduce it**
[code]

**Expected behaviour**
Successful start of falco with eBPF functionality.

**Environment**

- Falco version:
[code]
- System info:
[code]
- Cloud provider or hardware configuration: KVM VM
- OS:
[code]
- Kernel:
```Linux falco.example.com 5.6.15-300.fc32.x86_6

[2020-06-05 10:29] dnwe commented on #1236
This would be excellent. As mentioned above, there's a lot of crossover between Falco rules for detecting/alerting and PSP / NetworkPolicy et al. for preventing. Currently to permit a new action we have to typically add the action in multiple disparate places. It would be great if we could instead have a high-level set of rego rules that could be used to apply the necessary falco+PSP+NetworkPolicy

[2020-06-05 12:48] fntlnz commented on #935
Investigated this a bit more and after talking with @leodido we agreed that the problem here is that the library we use to enrich events with kubernetes metadata (libsinsp) does not have an extensive exception hierarchy to allow us to understand when an exception is thrown because of a connection error or something else.

Connection errors to kubernetes can happen (network can fail) but we should

[2020-06-05 13:34] dnwe commented on #813
@fntlnz did anything happen with this in the end? Currently we're still just maintaining our patch and building falco from source, but it'd be cool if we could just use the official docker image and provide the ringbuffer size as a parameter for the userspace app and as a module parameter for the kernel module

[2020-06-05 14:53] leogr commented on #676
I have found another missing syscall:
- `openat2` (might be needed by [several macros](https://github.com/falcosecurity/falco/blob/3bfd94fefd1cf7bb3a5c01cb38c27d8bb3402ea6/rules/falco_rules.yaml#L36) and [this rule](https://github.com/falcosecurity/falco/blob/master/rules/falco_rules.yaml#L2228))

Also added a [todo here](https://github.com/falcosecurity/falco/pull/1250/files#diff-6acd8aa2e534d1ed

[2020-06-07 17:10] #807 closed

[2020-06-07 17:33] victorrodriguez1984 commented on #1078
Hello Team, same erro on version 0.21.0 at IKS

image:
  registry: docker.io
  repository: falcosecurity/falco
  tag: 0.21.0
  pullPolicy: IfNotPresent

[code]

[2020-06-08 03:29] smijolovic commented on #1146
If possible, also consider RELP. TLS log loss is always possible. We exclusively use RELP over TLS.

[2020-06-08 12:10] leogr commented on #614
keep

[2020-06-08 12:20] leogr commented on #1247
Actually, the URL is:
https://dl.bintray.com/falcosecurity/driver/96bd9bc560f67742738eb7255aeb4d03046b8045/:falco_amazonlinux2_4.14.177-139.253.amzn2.x86_64_1.ko

and the driver is present, but for some reason the script says:
[code]
We have to investigate.
/cc @leodido
/cc @fntlnz

[2020-06-08 12:33] leogr commented on #1247
Hi @wojciesze

we also need some further info to debug this problem:

- Which Falco chart version are you using?
- Is the env var `HOST_ROOT` set to `/host` inside the container?
- Is `/etc` mounted to `/host/etc` (see [this fix](https://github.com/falcosecurity/charts/commit/29434f67fbf7813834a9f53c720ee56033772448)) ?

Note: the [latest chart](https://github.com/falcosecurity/charts/tree/master/

[2020-06-08 12:47] wojciesze commented on #1247
Latest available chart visible via: `helm search -l stable/falco` is 0.21.0, however when I used one which you pointed out, my problem is solved!

Thanks!

[2020-06-08 12:54] leogr commented on #1247
Great!

The `stable/falco` chart has been deprecated and replaced by `falcosecurity/falco` (the helm repository changed, instruction for the new :point_right: https://github.com/falcosecurity/charts/tree/master/falco#adding-falcosecurity-repository ).

If our documentation was not clear enough I apologize for that, also feel free to submit a new issue or a PR if you think it could be improved.

Fi

[2020-06-08 16:15] fntlnz commented on #1126
Hi @DannyPat44 @scallopboat - there's a set of changes to fix this issue, anyone minds testing it?

Here is the PR: https://github.com/falcosecurity/falco/pull/1241

Here are the artifacts (rpm,deb,tar.gz) p
[ackages/falco-0.23.0-44+cd858c0-x86_64.deb](https://2566-49986046-gh.circle-artifacts.com/0/packages/falco-0.23.0-44%2Bcd858c0-x86_64.deb)
[packages/falco-0.23.0-44+cd858c0-x86_64.rpm](https:

[2020-06-09 14:51] leodido commented on #669
Hey @robotica72 can you try disabling the `stdout` if it continues to drop or not?

[2020-06-09 16:00] jaychan-q commented on #669
@leodido  I have stdout set to false and i still see the drops.
[code]

[2020-06-09 17:35] fntlnz commented on #669
I have some cycles to investigate this.

On GKE `1.16.8-gke.15`.

This is what happens freshly created cluster.

After doing some activity in a container to generate some events, I notice the first drop after ~40min of no activity besides the default services.

This is exactly what I see in the comment from @kris-nova and others here.

[code]

It does not not seem related to CPU/memory usage in th

[2020-06-09 17:47] fntlnz commented on #669
I just noticed that the drop in my comment is related to invalid memory access `n_drops_pf=1`.

- The report from @caquino has full buffer drops `n_drops_buffer=4`
- The one from @victortrac is also in the buffer `"n_drops_buffer":"11",`
- The one from @shane-lawrence is also in the buffer `n_drops_buffer: 23`

While,

- the one by @jaychan-q is for memory corruption `"n_drops_pf":"1",`
- same goe

[2020-06-09 18:05] victortrac commented on #669
@fntlnz I've got JSON output and HTTP output enabled, sending to falcosidekick, being deployed from the the standard falco helm chart, which includes a lot of rules.  I do have some additional rules like:
[code]
This triggers a warning on falco start about performance.

Otherwise, I've tried giving the falco pod more resources (2 CPUs and 2 GB RAM), but that didn't seem to have an effect.  The clu

[2020-06-09 21:33] fntlnz commented on #1251
Thanks a lot for bringing this to our attention! Can you post the clang version ? @roysjosh

[2020-06-09 21:35] fntlnz commented on #1248
I like the idea behind this, thanks @omer-sd

[2020-06-10 00:00] robotica72 commented on #669
Hi - This may be a dumb question, but if Im only using FluentD in a default configuration, if I turn off stdout, I wont get any logs?   Or should I disable stdout and log to a file?

[2020-06-10 01:14] Srinivas11789 commented on #683
/no-stale

[2020-06-10 10:13] DrkDigglr opened #1253 "Running `falco-no-driver` container with least privilege after `falco-driver-loader` fails to create process list"
Receive the following when running `falco-no-driver` container on Ubuntu 18.04 LTS host:
[code]

After running the `falco-driver-loader` image as described in the Falco documentation under "Least Privilege" I get the following which indicates the kernel driver successfully installed:

[code]
I then run the no-driver variant and get the error described at the top of this post.

**In short I followe

[2020-06-10 11:44] fntlnz commented on #669
My GKE cluster is still up and interestingly it's reporting a drop every hour of type invalid memory access.

[code]

Wasn't able to reproduce the buffer drop yet, will try what @victortrac reported as reproducer.

[2020-06-10 20:49] timothy-spencer opened #1255 "pre-built eBPF probe seems to be halfway missing for amazonlinux"
**Describe the bug**

When I try to run falco on an EKS cluster, it tries to download `https://dl.bintray.com/falcosecurity/driver/96bd9bc560f67742738eb7255aeb4d03046b8045/falco_amazonlinux2_4.14.177-139.254.amzn2.x86_64_1.o`, which does not exist.  However, `https://dl.bintray.com/falcosecurity/driver/96bd9bc560f67742738eb7255aeb4d03046b8045/falco_amazonlinux2_4.14.177-139.254.amzn2.x86_64_1.ko`

[2020-06-11 03:20] shane-lawrence opened #1256 "No separator between some console log messages."
**Describe the bug**
Log messages written to the console should always have a newline at the end, but some (such as "token bucket depleted") do not. This leads to large blocks of messages that are difficult to read.

**How to reproduce it**
Run falco in GKE and monitor the pod's output.

**Expected behaviour**
Each log message should be on its own line.

**Screenshots**
This is a single line from

[2020-06-11 04:16] kris-nova commented on #1255
So if you look at the various objects for the drivers we have 2

### eBPF

which uses the `.o` syntax and is just a good ol' fashioned ELF object that we have all grown to love.

### Kernel Modules

which use the `.ko` syntax (short for kernel object) which is slightly different.

In your example you have

[code]

Probably the quickest fix is to flip that to false.

If for some reason we need the

[2020-06-11 04:16] #1255 closed

[2020-06-11 04:20] kris-nova commented on #1255
PS: please let us know what happens if you have time. I closed the issue to spare the other maintainers, but you can reopen at any time. :v:

[2020-06-11 05:21] kris-nova commented on #1246
Hey thanks for reaching out, and we hope you are as excited about Falco with ECS as we are!

So there are many integrations with Falco, and all of them have to start somewhere. Most of the ECS work (that I know of) lives in this repo of mine https://github.com/kris-nova/falco-trace#aws-ecsfargate

I am unsure how you set up Falco with ECS, and I am no ECS expert but what I can tell you is that Fal

[2020-06-11 05:35] kris-nova commented on #1246
Here is a video I did on this a few weeks ago: https://youtu.be/AT6JcJQBO4U?t=4176

---

As far as the commentary here https://github.com/falcosecurity/falco/issues/1246#issuecomment-638556072

I don't think it's going to be very relevant to the ECS discussion.

Falco isn't a very traditional "application" as it is tightly coupled with the kernel on the host of the machine. Getting this working in

[2020-06-11 05:41] kris-nova commented on #1246
Honestly - if you aren't using my work - I am extremely curious how you were able to even get Falco to start. Please share!

[2020-06-11 05:41] scallopboat commented on #1126
@fntlnz I downloaded the .deb file and some ad hoc tests against the feat/grpc-unix-socket branch of falco-exporter.  I'm seeing about ~5% cpu usage on my machine, and was able to see rule violations coming through the exporter so it looks like a winner from my perspective.

[2020-06-11 06:01] tkumark commented on #1246
I have got it working in ECS (I am currently not working on fargate now will try it out later) so if you use  -it with -d then it does start sending logs to the cloudwatch
this is the task definition I have used
https://github.com/tkumark/falco-aws-firelens-integration/blob/master/ecs/falco/task-definition.json to deploy to ECS
the main thing to add was "pseudoTerminal":true,

docker run --rm -d -

[2020-06-11 06:08] kris-nova opened #1259 "Missing build/release directory when running builder"
**Describe the bug**

It looks like the `docker/builder` container image is designed to be used for CI for building and compiling Falco.

If you make a code change to Falco locally, build and push the container, and try to run in Kubernetes you can get the following errors

[code]

**How to reproduce it**

[code]

After looking in the container it looks like this container is used for a lot more t

[2020-06-11 06:10] kris-nova commented on #1259
Please close this if we have another way of doing this - I am going to get some sleep tonight, but I will probably create a side project with some hacky bash scripts to demonstrate what I would like to do which is basically:

 - make a code change in C++
 - reflect that code in a GKE kubernetes cluster quickly
 - control the driver
 - possibly build the driver
 - scp the driver to the node

I know

[2020-06-11 07:15] leodido commented on #1126
Thanks for try it out and confirming Chris :)

PR #1241 is going to be merged soon! Great work everyone

On Thu, 11 Jun 2020 at 07:42, Chris Meyer <notifications@github.com> wrote:

--
L.

[2020-06-11 08:31] leodido commented on #1255
Thanks @kris-nova for replying to @timothy-spencer :)

Let me just add that the place for this kind of issues is https://github.com/falcosecurity/test-infra where we have the system that prebuilds drivers (best-effort).

[2020-06-11 10:32] leodido commented on #1259
The builder help and docs tell the user to run it passing the `cmake` command so to be able then to build/test it.

https://github.com/falcosecurity/falco/blob/master/docker/builder/root/usr/bin/usage#L26

[2020-06-11 10:40] fntlnz commented on #669
Everyone another important information to help understanding the drops here is to run Falco with the stats options by appending the two needed arguments:

[code]

Then, Falco, will give a detailed report in `/tmp/stats.txt` showing the number of syscalls occuring during the drops. This is very helpful to understand the conditions of the system while Falco is experiencing the drops.

[2020-06-11 19:20] jaychan-q commented on #669
@fntlnz  I am running falco as k8s daemonset and i updated the args to include the above commands. the yaml looks like this now.

[code]
Restarted the daemonset.
I saw the syscall drop notification on slack. But I did not see any file under /tmp directory on falco pod.

[2020-06-12 13:51] leogr commented on #1259
Also :point_right: [here](https://github.com/falcosecurity/falco/blob/578ef7f64d94408fb2e07d30dd3f7131a054643c/docker/builder/Dockerfile#L4)

[2020-06-12 16:07] leodido commented on #1259
/close

[2020-06-12 16:09] #1259 closed

[2020-06-12 16:09] poiana commented on #1259
@leodido: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/1259#issuecomment-643354747):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2020-06-14 07:38] leogr commented on #628
Keep pls

[2020-06-14 21:24] #1135 closed

[2020-06-15 12:44] tkumark opened #1262 "falco_amazonlinux_4.9.75-25.55.amzn1.x86_64_1.ko not dowloading"
when trying to setup falco it is not able to download
https://dl.bintray.com/falcosecurity/driver/96bd9bc560f67742738eb7255aeb4d03046b8045/falco_amazonlinux_4.9.75-25.55.amzn1.x86_64_1.ko
can this be fixed?

[2020-06-15 12:46] #1246 closed

[2020-06-15 13:46] rahul-kr4604 opened #1263 "Fail to build Falco eBPF module from source."
**Describe the bug**
I am building the Falco eBPF module from source, in this when executing 'make bpf' getting the below error:

[code]

**How to reproduce it**
Follow the steps of official documents, on the below environment.

**Expected behaviour**
In the execution of 'make bpf', it should get the Makefile and should be executed successfully, which results the successful creation of Falco eBPF

[2020-06-15 15:17] leogr commented on #1262
/cc @leodido
/cc @fntlnz

[2020-06-15 16:21] kris-nova commented on #1263
You need to add the ` -DBUILD_BPF=ON` flag when you run `cmake`.

From a fresh repository here are the steps you can do to get Falco compiling the BPF probe. Note that the flags are configurable, but this is what I use on my system which has 32 CPU cores and why I use `-j32`

[code]
If adding the flag works for you please let us know and close the issue.

[2020-06-16 06:02] rahul-kr4604 commented on #1263
Thank you kris-nova for your reply!

I had already added this flag with 'cmake', as it was mentioned in official documents.

I tried this approach, but still getting the same error.

[2020-06-16 07:44] leogr commented on #1253
/cc @fntlnz

[2020-06-16 14:19] leogr commented on #349
Keep

[2020-06-16 15:22] leogr commented on #884
Keeeeeep :)

[2020-06-17 03:40] brant-ruan commented on #1096
In my envrionment commands above do not make effect, the same floating point exception occurs. So could you please give a recommended developing&building envrionment?

[2020-06-17 10:33] kempy007 commented on #1047
Yeah a rule counter would be an excellent idea!

[2020-06-17 13:12] kempy007 opened #1264 "Event Generator is not triggering all rules to create those log events."
**Describe the bug**

Event Generator is not triggering all rules to create those log events.

Only these events are logged:
Error Directory below known binary directory created
Error File below /etc opened for writing
Error File below a known binary directory opened for writing
Error File below known binary directory renamed/removed
Error File created below /dev by untrusted program
Error Package

[2020-06-17 15:27] fbongiovanni29 commented on #961
Changing:
[code]
to just "log"
[code]
Was a viable workaround from me, slack notifications stopped spamming

[2020-06-17 17:36] leogr commented on #640
Hey @JPLachance

re-opening this as discussed

[2020-06-17 17:38] leogr commented on #640
/kind bug

[2020-06-17 17:38] poiana commented on #640
@JPLachance: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2020-06-17 17:54] leogr commented on #1264
Hey @kempy007

`falcosecurity/falco-event-generator` is the old generator, it's not supported anymore.

The new one is here: https://github.com/falcosecurity/event-generator

You can find the list of all supported events in the README, and you can add your own events as explained [here](https://github.com/falcosecurity/event-generator/tree/master/events).

AFAIK all of the `syscall` events should

[2020-06-17 18:38] kris-nova opened #1265 "Migrate Debian packages to Systemd"
**Motivation**

Currently the Falco debian package use an outdated feature to manage the service on Debian systems called `init`. This currently hasn't caused any concern because the new feature `systemd` is smart enough to manage the older `init` style configurations.

Most `systemd` users aren't even aware that `systemd` is actually referencing the old falco `init` scripts.

In issue https://git

[2020-06-17 18:46] kris-nova commented on #1265
We could potentially use this library to auto-configure the Falco pods to find and connect to the domain socket on the underlying host https://github.com/coreos/go-systemd

[2020-06-17 22:02] kris-nova commented on #1180
Related to #1265 if we are making changes to the packages

[2020-06-18 07:33] leogr commented on #857
I believe we still need this
@leodido @fntlnz

[2020-06-18 10:05] kempy007 commented on #1264
Hi @leogr

Thanks for your help.

I normally try to trigger 'Terminal shell in container' but this no longer fires, and with chart 1.1.1 & image .19. it worked Early April, but not any more, so feel like something has regressed but having a hell of a time trying to pinpoint it. Is there a known issue causing rules to not work? The only moving target is the AKS kernel.

[2020-06-18 10:29] leogr commented on #1264
Not sure about that, but since you are using chart v1.1.7 with image v0.23.0 the issue might be in the chart and not in Falco.
Could you try with the [new helm chart](https://github.com/falcosecurity/charts/tree/master/falco)?

I have tried to trigger it manually in my env and it worked:
[code]

[2020-06-18 11:09] kempy007 commented on #1264
Hi @leogr

I'm afraid I have the same result with chart 1.1.9 and image .23.
What was the kernel in your working env?
It's the only factor I cannot rollback as picking oldest AKS 1.14.7 still gets same version of kernel
[code]

[2020-06-18 14:00] leogr commented on #1264
My env is `5.7.2-arch1-1` (my local machine),  anyhow I don't believe the kernel version has any effect on this.

How are you triggering the event?

Also, have you checked if the event shows up after a while?  We are noticing a possible log throttling bug, see https://github.com/falcosecurity/falco/issues/1198

In my case, the event showed up in the log after a while, only when a few of other even

[2020-06-18 14:13] fcastello commented on #1198
Any updated about this bug?
I have a similar issue and it's probably related. `buffered_outputs` doesn't seem to have any impact no matter what value I use. However I start falco as a container, if I start the container as interactive container works OK, events show up in stdout as I generate them, but when I start the container as a daemon mode events show up after a generate a few, which I am su

[2020-06-18 14:24] leogr commented on #1198
`m_buffered(true)` is just the default value.

Anyway, I'm experiencing the same issue. We need to investigate.
/cc @leodido
/cc @fntlnz

[2020-06-18 14:54] fcastello commented on #1198
Is there any config that will make the buffered output flush faster? at least to workaround the issue.
This is a problem specially for systems that have little events generated

[2020-06-18 15:40] leogr commented on #1198
I have also tried:
[code]

But the problem persists.

Since it happens only when Falco runs inside a container, that lets me think that the problem persists even without the buffered output.

We need some time to dig more into it.

[2020-06-18 16:39] kempy007 commented on #1264
I ran
[code]

I have confirmed #1198 is the behaviour i'm seeing!

[2020-06-18 17:48] poiana commented on #1264
@kempy007: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2020-06-18 17:52] leogr commented on #1264
@kempy007 Thank you!

I have marked this issue as dup of #1198

If you can confirm there're no other bugs related to the event generator, I will close this.

[2020-06-19 10:29] kempy007 commented on #1264
I confirm there are no bugs I am reporting in the event generator and this is a dup and can be closed.

[2020-06-19 10:29] #1264 closed

[2020-06-19 13:28] #1256 closed

[2020-06-19 18:18] bgarber opened #1268 "Several restarts of a client makes Falco daemon unresponsive"
**Describe the bug**

I'm writing a simple client to capture and handle alerts from Falco, using the falcosecurity/client-go library and configuring the Falco daemon to open a gRPC port. I noticed that, after restarting several times my client, the Falco daemon starts denying the subscription, with the error "transport: authentication handshake failed: context deadline exceeded". I am able to subs

[2020-06-22 06:24] fntlnz commented on #1256
Thanks Shane for working on this!

[2020-06-22 06:25] fntlnz commented on #920
It should work now with COS, if anyone else is wondering.

[2020-06-22 09:31] leodido opened #1269 "Expose the Falco Engine version through the gRPC Version API"
**Motivation**

Rules depend on the Falco Engine version (and the fields a specific version supports) in order to work.

It can be useful to know this version value (and also the fields and rules a version supports) in order to create external tooling (eg., test harness) aware of such knowledge and behaving accordingly.

**Feature**

Expose the Falco Engine version through the existing gRPC Versio

[2020-06-22 09:32] leodido commented on #1269
The need for this emerged while reviewing [this](https://github.com/falcosecurity/event-generator/pull/31#pullrequestreview-434756749).

[2020-06-22 09:33] poiana commented on #1155
@heydonovan: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2020-06-22 10:22] leodido opened #1270 "Publish the docker images to GitHub Packages too"
**Motivation**

Lately, GitHub introduced the Packages feature that supports, among other things, a Docker registry.

I propose to mirror the existing Falco docker images also on the GitHub Packages registry for three main reasons:

- task easy to do and to integrate into our current build/release workflow
- the community will have access to those images directly from GitHub
- the registry auth mo

[2020-06-22 10:28] leodido commented on #1262
At the moment, the Falco Drivers Build Grid is not building drivers for AmazonLinux 1 (`amzn1`).

This something in the backlog of the `test-infra` repository, thus moving this issue there to keep track of it.

[2020-06-22 10:35] leodido commented on #1248
/close

[2020-06-22 10:38] #1248 closed

[2020-06-22 10:39] poiana commented on #1248
@leodido: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/1248#issuecomment-647433587):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2020-06-22 18:16] mstemm opened #1272 "Falco rules file should have `required_engine_version: 6`"
**Describe the bug**

Hi, I noticed that https://github.com/falcosecurity/falco/commit/70b9bfe1d6bf4d44e7ad000d726603418ad37342#diff-6acd8aa2e534d1ed83e275bf658d936b added a new rule Container Drift Detected (open+create) that requries falco engine version 6. However, the rules file itself doesn’t have any required_engine_version block. There’s a commented out version here: https://github.com/falc

[2020-06-22 18:18] mstemm commented on #1272
Btw, here are our docs on falco engine and rules file compatibility: https://falco.org/docs/rules/#versioning.

[2020-06-22 19:27] fbongiovanni29 commented on #1078
Same error on GKE (ebpf enabled) version 0.23.0.

Note: It worked for me once, but I uninstalled/re-installed it to debug some issues and now I'm getting this:

[code]

[2020-06-23 08:58] fntlnz commented on #1272
I think that it's the time to remove that comment honestly.

[2020-06-23 09:11] fntlnz commented on #1272
I proposed a change in #1273 - however, as an alternative thing we can do is to create a rules file for every `required_engine_version` depending on what are the supported fields. I don't like this idea however, probably being able to scope the specific rule is a better idea in my opinion.

[2020-06-23 09:42] leodido commented on #1272
The `required_engine_version` already works at the rule level (we just tested it).

Thus, the best approach is to define it for the Container Drift rule, IMHO. We'll do it into #1273 right now.

[2020-06-23 11:39] leogr opened #1275 "Container Drift Detected: N/A and possible false positives"
**Describe the bug**

I noticed two possible false positives for the `Container Drift Detected` rules:

1. When running `go build` inside a container, the log is flooded by the rule:
[code]

2. The following happens randomly:
[code]

**How to reproduce it**

**Expected behaviour**

Not sure what's the expected behavior here.

**Screenshots**

**Environment**

- Falco version: `0.23.0-44+cd858c0`
-

[2020-06-23 12:32] #1042 closed

[2020-06-23 12:55] anxolerd opened #1276 "Cannot run falco in Minikube"
**Describe the bug**

Falco fails to run in minikube. I have followed the guide https://falco.org/blog/minikube-falco-kernel-module/ and expected to have falco up and running in my minikube VM. However, while `helm install` command worked fine (at least without any errors), daemonset pod is failing to use prebuilt kernel module.

**How to reproduce it**

Follow steps from guide: https://falco.org/

[2020-06-23 14:51] leogr commented on #669
The same issues have been reported by another user in the slack channel:
https://kubernetes.slack.com/archives/CMWH3EH32/p1592904527372800

[2020-06-23 15:20] fcastello commented on #1198
Any news on this? I have deployed it with apt in me regular vms and baremetal, but I want to deploy to GKE and it's an issue as it need to run in a container there.
Is there anything I can help with?

[2020-06-23 15:26] MrVentzi commented on #669
For visibility, I am adding my comments and env here (from Slack channel link above):

Running in GKE
Deployed with Helm chart (mainly default values) version `1.1.9`
Deployed image `0.23.0`
OS: COS
Kernel: 4.14.138+

[code]

Getting a variety of <NA> alerts:
[code]

[2020-06-23 18:35] leogr commented on #1026
Keep pls

On Tue, Jun 23, 2020, 20:32 stale[bot] <notifications@github.com> wrote:

[2020-06-24 06:55] fntlnz opened #1277 "Fields by engine version"
**What to document**

While working on #1273 I noticed that the `required_engine_version` field can be a bit confusing to users due to the fact that we don't two key things:

- We don't know how an engine version is correlated to a Falco version (unless you dig into git)
- We don't have a list of what fields are in what engine version

I'd like to have them documented.

[2020-06-24 08:54] leodido commented on #1277
Agree.

Just for completeness, about the first bullet point, I opened https://github.com/falcosecurity/falco/issues/1269 2 days ago.

Basically, the Falco Engine version behave like the driver version w.r.t. the Falco version. And we need to expose it in an easier way for users.

About point 2: I also agree. In the comment [here](https://github.com/falcosecurity/event-generator/pull/31#pullrequest

[2020-06-24 09:03] leodido commented on #1276
Hey @afbjorklund, I saw your commits ([here](https://github.com/kubernetes/minikube/commit/d1ea9f96fdadbc8b88d2fff017fd279d63f257ab#diff-6a05e0d9b89e3aef833752438f8db228)) in the minikube repo (thanks, btw) to make it support Falco 0.23 and its driver.

Any hints why minikube v1.11 is not able to find a "system" Falco driver?

[2020-06-24 09:10] zhaocheng173 opened #1278 "Runtime error: error opening device /dev/falco0. Make sure you have root credentials and that the falco-probe module is loaded.. Exiting."
Ask the gods a question. When deploying Falco, the POD logs show what the problem is. I installed the corresponding Kernel-Devel kernel file during the test, but the following logs still appear as this problem

[2020-06-24 09:13] poiana commented on #1278
@zhaocheng173: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the

[2020-06-24 09:16] leodido commented on #1278
Hello @zhaocheng173 could you please use the issue template? Or at least give us more info about the environment you're trying to run Falco into?

Thanks

/triage support
/area kernel-module
/kind bug

[2020-06-24 09:52] zhaocheng173 commented on #1278
OK ，
In this case, I deployed a set of falco samples using Helm to detect the abnormal security state of the container at runtime, installed Falco, and found a number of problems
1. For example, if I install Falco on Centos7, It will depend on Sysdig, relevant dependency files for S3, and kernel-devel, but the logs of the pod state that I continue to run after installation are as follows

[code]

[2020-06-24 12:43] leodido commented on #1278
Which version of Falco did you use?

Looking at the logs it does not sound like Falco 0.23

On Wed, 24 Jun 2020 at 11:52, zhaocheng173 <notifications@github.com> wrote:

--
L.

[2020-06-24 13:47] leogr commented on #1141
I've made a PR to fix this issue :point_right: #1279
/assign
/milestone 0.24.0

[2020-06-24 14:16] leogr commented on #704
keep keep keep

[2020-06-24 16:39] afbjorklund commented on #1276
Not really, seemed to work here:

[code]

[2020-06-24 16:41] afbjorklund commented on #1276
Probably due to 762ef015b80552267013e9988e3f5dd888ffbab0 ?

[2020-06-24 18:28] afbjorklund commented on #1276
I think I understand what happened.

Minikube v1.11.0 is still using falco-probe 0.21.0, and then it was called "falco-probe.ko"

Minikube v1.12.0 (out next week or so) will use falco 0.23.0, and now it is called "falco.ko".

[2020-06-24 19:43] bgarber commented on #1268
Have anyone had the chance to check this issue?

[2020-06-24 21:11] fntlnz commented on #1268
Hi @bgarber - thanks for taking time to write such detailed report. We had several issues with the current gRPC implementation and there’s a branch scheduled to be merged for 0.24.0 - would you mind checking if that solves your issue ?
Please read at: https://github.com/falcosecurity/falco/pull/1241

[2020-06-24 21:43] anxolerd commented on #1276
@afbjorklund, thanks!

Shell snippet from https://github.com/falcosecurity/falco/issues/1276#issuecomment-648932330 helped to get out of CrashLoopBackoff. I'll proceed evaluating falco then)

[2020-06-25 06:34] zhaocheng173 commented on #1278
Use the 0.21.0，Must this version use 0.23

[2020-06-25 10:13] leodido commented on #1278
Please try out Falco version 0.23.0

[2020-06-25 13:48] fntlnz commented on #845
I just tested this on GKE @nuala33

I have Falco deployed using the latest version from the Helm chart and when I `kubectl exec` into any container with a shell it just gives me the expected output.

[code]

Would you mind checking again after updating everything and report here?

We had lots of recent fixes into this direction.

I'm on GKE 1.16.8-gke.15

[2020-06-25 17:01] giordyb commented on #1278
Hi, I just tried Falco on Minikube 1.10 on MacOS with helm, it looks like the falco version is 0.23

[code]
confirmed by the image version in the pod
`Image:         docker.io/falcosecurity/falco:0.23.0'`

unfortunately it looks like it's trying to download the kernel module via this url but it's not there, https://dl.bintray.com/falcosecurity/driver/96bd9bc560f67742738eb7255aeb4d03046b8045/falco_

[2020-06-25 17:29] Owen-Cummings opened #1280 "Failure when configuring stats"
**Describe the bug**

When configuring stats to gather more information the -s option causes falco to fail on startup with `Runtime error: Could not set up periodic timer: Invalid argument. Exiting.` unless a `--stats_interval` below 1000 is set.

**How to reproduce it**

Start Falco with the -s flag without specifying a stats_interval (defaults to 5000), or specify a stats_interval over 999.

**E

[2020-06-25 17:56] kris-nova opened #1281 "Install and manage Falco via operator in Kubernetes"
Currently we have the [falco operator](https://github.com/falcosecurity/falco-operator). This operator does NOT install Falco in Kubernetes, but rather manages Falco rules based on CRDs. Debatably this repository could be renamed something like `falco-rules-operator`.

We have outlined various ways to [Install Falco with Kubernetes](https://falco.org/docs/third-party/) in the official documentatio

[2020-06-25 17:59] bgarber commented on #1268
Hi @fntlnz! Thank you for your reply. I will try the new branch and see if it fixes the problem. Thanks!

[2020-06-25 20:15] airadier commented on #1281
My 2 cents:

I never tried Flux, I only know Helm operator (a wrapper for Helm charts but using an operator) and Operator SDK.

If the target is just having an Operator (so Falco is available in Operator Hub, for example), then just wrapping the existing helm charts using Helm operator can be a fast option.

I think it would also be interesting exploring Application CRDs from the [Application SIG

[2020-06-26 11:00] leogr commented on #1060
keep, pls

[2020-06-26 11:01] leogr commented on #691
keep, pls

[2020-06-26 17:37] leodido commented on #978
Keep it open. We need to revamp the discussion about this.
L.

On Fri, Jun 26, 2020 at 1:03 PM stale[bot] <notifications@github.com> wrote:

[2020-06-26 17:57] #1141 closed

[2020-06-29 12:33] palmerabollo commented on #985
@fntlnz I won't be able to test it in the short term because we have migrated from aks-engine to AKS (as a service, where the master nodes are part of the control plane managed by Azure).

[2020-06-29 13:02] leodido commented on #856
In https://github.com/falcosecurity/falco/pull/1241/files we have setup the dispatching of gRPC engine logs to `falco_logger`.

This should be sufficient for now.

[2020-06-29 13:04] leodido commented on #855
Keep

[2020-06-29 13:07] leodido commented on #897
Now we have a new infrastructure to provide prebuilt Falco kernel modules and Falco eBPF probes (see https://github.com/falcosecurity/test-infra, `driverkit` folder).

It turns out that we are providing both the Falco kernel module ([link](https://dl.bintray.com/falcosecurity/driver/422ab408c5706fbdd45432646cc197eb79459169/:falco_ubuntu-aws_4.15.0-1044-aws_46.ko)) and the Falco eBPF probe ([link](

[2020-06-29 13:08] #897 closed

[2020-06-29 13:08] poiana commented on #897
@leodido: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/897#issuecomment-651108892):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2020-06-29 16:28] antoinedeschenes opened #1285 "False positive in a kops 1.17 cluster"
**Describe the bug**

Falco keeps logging the following line in a basic kops 1.17 cluster (default debian stretch image used). Seems like the protokube image periodically calls `systemctl status --no-block kubelet`

[code]

**How to reproduce it**

Run falco chart 1.1.9 on a kops 1.17.0 (k8s 1.17) cluster

**Expected behaviour**

Stop logging the false positive

**Environment**

- Falco version:
0

[2020-06-29 18:29] antoinedeschenes commented on #1285
Should be fixed in 0.24.0 https://github.com/falcosecurity/falco/pull/1222

[2020-06-29 18:29] #1285 closed

[2020-06-29 18:42] #856 closed

[2020-06-29 18:42] #1126 closed

[2020-06-29 18:42] #1240 closed

[2020-06-29 18:52] leodido commented on #1183
Hey, @leogr any updates on this?

[2020-06-30 01:42] danpopSD opened #1291 "GKE - Falco Logs not appearing for up to 10 minutes"
**Describe the bug**

GKE - Falco Logs not appearing for up to 10 minutes

**How to reproduce it**

1) deploy a gke cluster
2) use the helm chart to install falco. (helm install falco --set ebpf.enabled=true falcosecurity/falco)
3) tail one of the falco logs (kubectl logs -f *falco-podname*
3) in another terminal try to exec into the pod. or do another falco rule violation.
4) await logs to show u

[2020-06-30 05:29] kris-nova commented on #1291
Thanks for the report

Can you share the following

### The exact helm chart and associated commands

Recently the community ported to this resource https://github.com/falcosecurity/charts/tree/master/falco#installing-the-chart

Can you confirm you are using the must recent version here?

### How are you viewing the logs?

Are you viewing the logs on all nodes in the cluster? Something like

[code

[2020-06-30 05:55] kris-nova commented on #1291
So I looked into the Helm chart (It looks like that is what you are using) and I think you are trying to pull logs on the same pod you are trying to trigger a rule with

Which means I bet changing the values [here](https://github.com/falcosecurity/charts/blob/master/falco/values.yaml#L162-L175) or triggering more alerts could help get you closer to the state you are looking for.

[code]

[2020-06-30 09:11] jnach commented on #942
Fundamentally, to offer an eBPF agent _to a system/kernel you do not yourself control_, I would imagine you inevitably have to solve this problem to drive eBPF adoption. I started down this path as well after an analysis of BCC optimizations, bravo and consider this an upvote.

[2020-06-30 11:00] danpopSD commented on #1291
seeing the same thing. when attempting to do a simple write to bin/

after using the helm values listed above:  ```helm install falco --set ebpf.enabled=true,outputs.rate=.03333,outputs.maxRate=10 falcosecurity/falco```

![image](https://user-images.githubusercontent.com/22457772/86118669-29ad2180-ba9f-11ea-99a1-28396ed2c846.png)

i also attempted:

touch /usr/bin/1
touch /usr/bin/2
touch /usr/bin

[2020-06-30 11:07] danpopSD commented on #1291
going to revert to using /usr/bin for my demo.  it came up after about 20 or so seconds. /etc/shadow also worked repeatedly.

feel free to close.

[2020-06-30 16:34] MrVentzi commented on #669
Is there a way to silence the syscall dropped alerts until this is fixed?

[2020-06-30 16:54] fntlnz commented on #942
Thanks @jnach - I'd also love some help here in case you are up to!

[2020-06-30 17:16] jaychan-q commented on #669
@MrVentzi  yes . you can silence it by modifying falco.yaml file

[code]

[2020-06-30 17:20] kbrown commented on #669
auditors won't like that!  (not that they would know to ask)

On Tue, Jun 30, 2020 at 1:16 PM jaychan-q <notifications@github.com> wrote:

[2020-06-30 20:17] lundbird commented on #1026
I can confirm that on Kube 15.12 I encounter the same issue which is fixed by manually setting auditLog.dynamicBackend.url

[2020-07-01 08:44] fntlnz commented on #1026
This was recently fixed https://github.com/falcosecurity/charts/blob/master/falco/README.md#enabling-k8s-audit-event-support

I suggest everyone here to use the latest helm chart from here https://github.com/falcosecurity/charts
Or the k8s manifests from here https://github.com/falcosecurity/evolution/tree/master/deploy/kubernetes/kernel-and-k8s-audit

[2020-07-01 08:46] fntlnz commented on #669
@MrVentzi can you take a look at your kubernetes audit log to look for permission errors coming from the Falco service account? We did a fix recently to the kube manifests and the helm chart.

I suggest everyone here to use the latest helm chart from here https://github.com/falcosecurity/charts
Or the k8s manifests from here https://github.com/falcosecurity/evolution/tree/master/deploy/kubernetes/

[2020-07-01 08:56] leodido commented on #854
Partially fixed by #1245

[2020-07-01 10:21] leogr commented on #857
keep

[2020-07-01 11:09] leogr commented on #1183
Hey @leodido

this issue is not yet fixed. I have discovered it's related to those OS which have some `gcc-plugins` that are built using a specific version of gcc (in my case: arch with `structleak_plugin.so`).

I can confirm the problem refers to the gcc version (and plugin sources). Indeed, I tried to mount the following (as an experiment):

- `/usr/lib/gcc`
- `/usr/include/c++`
- `/usr/bin/gcc`

[2020-07-01 12:39] fntlnz commented on #704
/label roadmap
adding the roadmap label so that stalebot doesn't deal with this

[2020-07-01 12:39] poiana commented on #704
@fntlnz: The label(s) `/label roadmap
` cannot be applied. These labels are supported: `kind/sandbox, kind/incubation, kind/officialsupport`

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/704#issuecomment-652394113):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If yo

[2020-07-01 13:37] leogr commented on #1291
It seems to me that this issue duplicates:
- https://github.com/falcosecurity/falco/issues/1198
- https://github.com/falcosecurity/falco/issues/1264

Could you confirm that's the same problem?

Basically, the output log is delayed when Falco runs in a container in a non-interactive mode (ie. no TTY) and the activity is low (very few events per second). As soon as other events arrive, previous even

[2020-07-01 13:37] poiana commented on #1291
@danpopSD: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2020-07-01 13:51] leodido commented on #1183
I know :)

I was hoping for some magic findings by you.

But it turns out that, as verified by me during the creation of driverkit builder for linuxkit (more context [here](https://github.com/falcosecurity/driverkit/issues/22#issuecomment-605667418)), that the cleanest approach to support such distro/kernel-release combinations (the ones that require GCC structleak plugin or similar) is to prebuil

[2020-07-01 14:08] fntlnz commented on #1291
@danpopSD Investigated this with @leodido

This happens because GKE distinguishes between a TTY and plain stdout while flushing logs.

I achieved real time logs by doing this:

1. Install Falco
[code]

2. wait for falco to be installed..

3. Add the `tty: true` to Falco pods containers (you can quickly apply the patch below)

[code]

4. Enjoy realtime logs

## Nota bene

Related issues on kubernet

[2020-07-01 14:18] leogr commented on #1183
I agree. In fact, as I said, my finding is not a solution :)

I would like to keep this open, just for tracking any relevant issue about this topic.

[2020-07-01 14:25] leogr commented on #1291
Note that this issue is not GKE specific. I was able to reproduce it with docker (as explained in [this comment](https://github.com/falcosecurity/falco/issues/1198#issuecomment-646111094)) and others k8s installations as well.

If we decided to enable TTY by default, we will need to update the docs regarding the docker usage too.

[2020-07-01 16:49] bgarber commented on #1268
Hi @fntlnz! After several tests using the branch of the PR #1241 and the master (after the PR was approved and merged), I see that this issue is not happening anymore. Thank you very much!

[2020-07-01 17:16] bgarber commented on #1268
Question: the version 0.24.0 of Falco is scheduled to be released when?

[2020-07-01 18:49] danpopSD commented on #1291
this https://github.com/falcosecurity/falco/issues/1291#issuecomment-652440564  addressed my issue..

[2020-07-01 18:58] fntlnz commented on #1268
@bgarber glad to know this is working in your environment :) thanks for taking time to try and report back! It is scheduled to be released on July 16th

[2020-07-01 20:05] dinvlad commented on #1239
Same issue for us on
OS: Debian 10
Kernel: 4.19.0-9-cloud-amd64

[2020-07-01 20:20] bgarber commented on #1268
@fntlnz Thank you!

[2020-07-01 20:20] #1268 closed

[2020-07-01 20:30] dinvlad commented on #1253
Same problem for us:
`falco --version`: 0.20.0+d77080a
`uname -a`: Linux 4.19.0-9-cloud-amd64 #1 SMP Debian 4.19.118-2+deb10u1 (2020-06-07) x86_64 GNU/Linux
[code]

[2020-07-02 00:15] jnach commented on #942
Interested...

[2020-07-02 04:25] rahul-kr4604 commented on #1239
Hi dinvlad,

Have you already built the kernel module?

If yes, then make sure you have placed the kernel module at "$HOME/.falco/". Name of kernel module must be same as script "falco-driver-loader" is looking for. To know that what should be the name of kernel module, please look into the logs.
After this, please mount this directory "$HOME/.falco/" to the container using 'Hostpath'. So that it

[2020-07-02 05:37] dinvlad commented on #1239
Hi @rahul-kr4604,

This error only occurs when we try to build the module through Docker, using the command from the [docs](https://falco.org/docs/running/#docker):
[code]

Perhaps this deserves a separate issue, but the error is the same is yours, which indicates it's unable to even download the kernel module. Do you still experience it too?

Thanks

[2020-07-02 05:44] rahul-kr4604 commented on #1239
I think, it is better to build the driver from source. I was getting the issue initially then I built it from source.

[2020-07-02 09:21] fntlnz opened #1295 "Usage of CONFIG_IKHEADERS to make Falco drivers easier to install"
**Motivation**

Right now Falco provides two ways of getting your hands into one of our main drivers, the kernel module and the eBPF probe:

- Compile it yourself
- Download a prebuilt one

Looks like the compile it yourself one is a bit hard on some systems where the users don't or can't install kernel headers.

We need something easier.

**Feature**

Fortunately, the Linux Kernel comes again to

[2020-07-02 10:11] leogr commented on #1253
IIRC, `falco-no-driver` was introduced since 0.23.0, so I'm not sure how you installed the driver to work with `0.20.0+d77080a`. Could you share more details?

[2020-07-02 13:36] leogr commented on #1198
Hi @fcastello and @smeeklai

I believe I found the root cause of this problem, PTAL :point_right: https://github.com/falcosecurity/falco/pull/1296
N.B.: my fix is intended to solve the problem only when `buffered_outputs` is false since the buffered output is the expected behavior when that option is true, IMHO.

[2020-07-02 13:41] rubensayshi commented on #1078
we were running 0.23.0 on GKE without issues as well, but I just did a reinstall (and we bumped GKE to latest; `1.16.10-gke.8`) and now we get more or less the same;

[code]

[2020-07-02 13:54] MrVentzi commented on #669
@fntlnz I am using the latest chart with the rbac fixes already.
Can't find any indication of permission errors.

Regarding the stats arguments, can't get it to work even with passing a lower number. Getting this error on bootup:

`/usr/bin/falco: unrecognized option '--stats_interval 990'`

Thanks

[2020-07-02 14:08] jnach commented on #942
Also _doing containerized builds to minimize the host dependencies_ - doesn't matter with eBPF, you can try an init container to make sure kernel-devel packages are there (which tends to break on update) _or_ you can crack the code on CORE. The second one is particularly scalable.

[2020-07-02 14:16] leogr commented on #669
It seems to me a quoting issue.
If you're using this parameter with the helm chart with `extraArgs`, try in this way: `--set extraArgs={--stats_interval, 990}`

[2020-07-02 14:29] jnach commented on #1281
I'm used to doing these from scratch, but more recently there's been a nice Ansible wrapper to make things a lot more simple (in the way of actually creating an operator), thoughts on requirements below:

- _Detecting the constraints of the environment which is running the software_ This is really only limited by the imagination and privilege level. More on the second part below..
- _Making a deci

[2020-07-02 15:11] MrVentzi commented on #669
@leogr

[code]

This is how i have it.

[2020-07-02 15:14] leogr commented on #669
If so, try in this way:
[code]

[2020-07-02 15:46] MrVentzi commented on #669
For anyone wanting to use the `extraArgs`

[code]

wrap the number in double quotes as it needs to be a string.

[2020-07-02 19:14] dinvlad commented on #1253
@leogr Thanks for pointing that out - indeed, we had to install Falco through the official installation script on Debian, which resulted in this version being installed.

We had to that because at first, we tried to load it through `falco-driver-loader` image, but that's failing for another reason (https://github.com/falcosecurity/falco/issues/1239).

So I'm not sure how we can proceed with `falco

[2020-07-02 19:48] dinvlad commented on #1239
Further looking at this error, I do see a file that exists on that host:
[code]
However, it seems that the installation script incorrectly constructs the URL as follows:
[code]
(noticed the extra `-cloud` suffix). I think if we fix that, this should finally succeed.

[2020-07-02 19:52] dinvlad commented on #1239
And in your case @rahul-kr4604, there's no pre-compiled module at all, it seems.

[2020-07-02 20:34] dinvlad opened #1299 "Unable to run in eBPF least-privileged mode on COS"
**Describe the bug**

When we attempt to run Falco in least-privileged mode on COS with `eBPF` enabled according to the official instructions (https://falco.org/docs/running/#docker-least-privileged), it fails.

**How to reproduce it**

1. Load the driver:
[code]
This step succeeds, with the build log as follows:
[code]

2. Run Falco:
[code]
This step fails:
[code]

It error says something about `

[2020-07-02 20:46] dinvlad commented on #1078
We hit the same issue on COS-81 (unable to download `falco_cos_4.19.112%2B_1.ko`). It only works when run in privileged mode with ePBF enabled (https://github.com/falcosecurity/falco/issues/1299)

[2020-07-03 09:25] fntlnz commented on #1299
I see we are lacking some documentation on how to use the eBPF probe in the [running](https://falco.org/docs/running/)  section of the docs , thanks for calling that out @dinvlad

I think that the best thing we can do here is to use `--privileged`

[code]

Please note that:
- I'm sharing `-v $HOME/.falco:/root/.falco`
- I added `--privileged`
- I removed the  `$(ls /dev/falco* | xargs -I {} echo -

[2020-07-03 09:45] #1198 closed

[2020-07-03 09:45] #1291 closed

[2020-07-03 10:02] leogr commented on #1198
Hey @fcastello and @smeeklai

Since https://github.com/falcosecurity/falco/issues/1296 got merged, you can try it using the following docker image `falcosecurity/falco:master`

Let me know if that solved your problem!

Thanks in advance.

[2020-07-03 10:19] leogr commented on #1253
Hi @dinvlad

You need both `falco-driver-loader` and `falco-no-driver` to be the version 0.23.0 (IIRC the driver version changed from 0.20.0 to 0.23.0). You can find the `.deb` of the 0.23.0 :point_right:  [here](https://falco.org/docs/download/#packages) (it's the official package).

Regarding the need of `--pid=host`, AFAIK it may depend on the system, so in your case might be correct to remove

[2020-07-03 11:58] fntlnz commented on #1253
@DrkDigglr that error usually happens when Falco can't traverse and read the proc filesystem mounted at `/proc/`.

That is why we need to do `--cap-add SYS_PTRACE` in the least privileged scenario.

I think that there's something going wrong with the command or we need to figure out if there is anything specific in your system preventing this.

First things first, can you try this command?

[code]

[2020-07-03 12:36] fntlnz commented on #1253
Interestingly, the command I posted above does not work for me on Ubuntu 18.04

[code]

[2020-07-03 12:50] fntlnz commented on #1253
First suspect, apparmor:

[code]

[2020-07-03 12:53] fntlnz commented on #1253
Yes it is apparmor

[code]

[2020-07-03 12:58] fntlnz commented on #1253
So in the case of Ubuntu, there are two ways:

- We write a specific apparmor profile to allow the read of `/proc` and then pass it to the Falco least privileged container
- We suggest to use `--security-opt apparmor:unconfined`

I confirm that by using apparmor unconfined I can get the least privileged Falco to work without giving full privileges.

[code]

[2020-07-03 14:05] MrVentzi commented on #669
I got you a stats extract. Hope it's useful.
[stats.txt](https://github.com/falcosecurity/falco/files/4870105/stats.txt)

[2020-07-07 09:34] leodido commented on #1299
So the summary is that you need a kernel with CAP_BPF to make it work in the least-privileged mode.

Thanks to @fntlnz for clarifying it and sending updates to the docs.

/close

[2020-07-07 09:34] poiana commented on #1299
@leodido: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/1299#issuecomment-654727595):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2020-07-07 09:34] #1299 closed

[2020-07-07 09:49] leogr commented on #1194
Please, keep

[2020-07-07 09:55] leogr commented on #1046
@fntlnz Do we need to add a label for this so the stale bot will not touch this anymore?

[2020-07-07 09:59] fntlnz commented on #1129
We just pushed a fix for this https://github.com/draios/sysdig/pull/1650

Once it's merged there we can include it in Falco.

[2020-07-07 10:14] leodido commented on #1046
Yes, done.

[2020-07-07 10:14] poiana commented on #1046
@rbytheway: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [k

[2020-07-07 10:16] leodido commented on #1194
/help

(this adds "help wanted" label that keeps the stale bot away)

[2020-07-07 10:16] poiana commented on #1194
@leodido:
	This request has been marked as needing help from a contributor.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-help` command.

<details>

In response to [this](https://github.com/falcosecurity/fal

[2020-07-07 10:22] leodido commented on #1046
/help

[2020-07-07 10:22] poiana commented on #1046
@leodido:
	This request has been marked as needing help from a contributor.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-help` command.

<details>

In response to [this](https://github.com/falcosecurity/fal

[2020-07-07 10:22] fntlnz commented on #936
/help

labeling as help needed, we need someone to look at why this does not work.

[2020-07-07 10:22] poiana commented on #936
@fntlnz:
	This request has been marked as needing help from a contributor.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-help` command.

<details>

In response to [this](https://github.com/falcosecurity/falc

[2020-07-07 10:24] fntlnz commented on #1177
I think we can close this, we are on 0.23.0 now and 0.24.0 will contain even more fixes on NAs.

Thanks for your help @AlexDHoffer

/close

[2020-07-07 10:24] #1177 closed

[2020-07-07 10:24] poiana commented on #1177
@fntlnz: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/1177#issuecomment-654756644):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2020-07-07 10:28] fntlnz commented on #1251
Just noticed again the same again with Clang 10 on Arch Linux.

[code]

[code]

[2020-07-07 13:19] leogr opened #1302 "Add the Falco version at the very beginning of the log"
**Motivation**

Since there's no way to match logs reported by the users with the corresponding Falco version, I'd like Falco to print its version out at the beginning of the log.

It can be advantageous when debugging issues. The version reported by the user might be wrong for several reasons (by mistake, wrong copy/paste, cached container image, etc.)

**Feature**

Print the Falco and driver ver

[2020-07-07 14:22] Champ-Goblem opened #1304 "Consice pod security policy template"
I am deploying falco on a set of clusters that all have PSPs enabled, we use a default fairly restrictive PSP across the whole cluster which causes this deployment to fail. For the time being I have created an exclusive pod security policy for the falco components to use which allows me to install them without the deployments being invalidated. What I would prefer is a tailored PSP that only allow

[2020-07-07 16:41] #1129 closed

[2020-07-07 19:44] fcastello commented on #1198
@leogr I can't test it yet as the master image has errors.
I am getting this when it starts
`/docker-entrypoint.sh: line 20: syntax error in conditional expression: unexpected token ;'
/docker-entrypoint.sh: line 20: syntax error near ;'
/docker-entrypoint.sh: line 20: if [[ ! -z "${SKIP_MODULE_LOAD}"]]; then'`

So I will need to wait until someone else fixed that in master image

[2020-07-07 22:46] jessebye opened #1306 ""Terminal shell in container" producing duplicate events"
**Describe the bug**

Using the default rule "Terminal shell in container":
[code]

Whenever this rule is triggered, I see the Falco agent log it multiple times with very slightly different timestamps:

[code]

**How to reproduce it**

1. Install Falco in a Kubernetes cluster. (We are using EKS 1.16 and installed it with the latest helm chart).
2. Attach/exec to a container.
3. Observe the Falco a

[2020-07-08 06:22] #586 closed

[2020-07-08 07:59] leogr commented on #1198
My fault, I will fix it shortly.

On Tue, Jul 7, 2020, 21:45 Francisco Castello <notifications@github.com>
wrote:

[2020-07-08 10:58] leodido commented on #1304
Hello @Champ-Goblem, I really like this idea and I'd love you to contribute this to our community!

I think the correct place to provide PSP for Falco and Falco components would be the helm chart (https://github.com/falcosecurity/charts), as a starting point.

Then, since not everyone uses Helm to install Falco, I think that a documentation section on the website (https://github.com/falcosecurity/

[2020-07-08 11:07] leogr commented on #1198
Hey @fcastello

I have fixed that problem by #1307 (already merged into master).
Could you try again now, please?

And sorry for the inconvenience :angel:

[2020-07-08 13:39] leodido commented on #1169
/help

[2020-07-08 15:55] #1280 closed

[2020-07-08 20:32] nvanheuverzwijn commented on #813
@dnwe Is it an option to increase the frequency of reading the buffer as to avoid having it full in the first place ? Just wondering because we are having this issue as well and we would really like to avoid having to recompile everything and spin our own version of the container!

[2020-07-08 20:36] nvanheuverzwijn commented on #813
Is it expected behavior to have dropped syscal in the log ? We consistently have 1 to 4 syscall dropped every now and then. Should we ignore there message if it's a low amount of dropped syscall ? I wonder what kind of log someone exploiting cve-2019-8339 would generate. If it would generate hundreds of syscall drop, maybe it's an OK solution to just ignore low syscall drop log message.

[2020-07-08 23:26] a0145 commented on #778
I ran into this today with a large cluster - is it possible to make this limit configurable?

[2020-07-09 13:51] leogr opened #1309 "`n_drops_pf=1` about every hour on GKE"
**Describe the bug**

[code]

**How to reproduce it**

Just install Falco on a GKE cluster

**Expected behaviour**

No `n_drops_pf` drops.

**Screenshots**

**Environment**

- Falco version: 0.23.0
- System info:
[code]
- Cloud provider or hardware configuration: GKE
- OS:
[code]
- Kernel:
`Linux gke-leogr-debug-default-pool-2f35d8bf-4w3z 4.14.138+ #1 SMP Tue Sep 3 02:58:08 PDT 2019 x86_64 GNU/Lin

[2020-07-09 14:15] leogr commented on #1309
I've found a possible correlation.

Looking into `journalctl` of the COS system I found:

[code]

[code]

[code]

...and so on, the timing perfectly matches with `n_drops_pf=1` drops.

The crashing process might explain the `pf` drop (ie. page fault, AFAIK it's related to invalid memory access).

[2020-07-09 14:21] leogr commented on #669
I might found the possible cause of `n_drops_pf=1` that happens about every hour on GKE :point_right: https://github.com/falcosecurity/falco/issues/1309

[2020-07-10 07:34] leodido commented on #1034
/help

[2020-07-10 07:35] poiana commented on #1034
@leodido:
	This request has been marked as needing help from a contributor.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-help` command.

<details>

In response to [this](https://github.com/falcosecurity/fal

[2020-07-10 07:39] leodido commented on #1120
Recently, we updated the docs about this matter.

See https://falco.org/docs/running

[2020-07-10 08:48] fntlnz commented on #1120
Should we close?

[2020-07-10 09:04] fntlnz commented on #1309
This looks like a leftover from ChromeOS.

Have you been able to reproduce the problem manually? If you do we can get a clue why this crash it's causing the invalid memory access. Hint, it shouldn't.

[2020-07-10 15:37] leodido commented on #1251
I was about to call it a day when I randomly encountered an LLVM BPF backend bug that somehow seems to be possibly related to this issue (the fix is available into LLVM 11 trunk). I'm especially referring to the CORE_MEM pseudo op.

Leave the link here for next week:
https://reviews.llvm.org/D78466

[2020-07-10 21:49] fcastello commented on #1198
Thank you @leogr I already pulled the image and started using it. The original issue is fixed for me, thank you very much!

[2020-07-10 22:32] Champ-Goblem commented on #1304
@leodido here is the PSP that I found that works with falco, is there anything you think I may be missing?
[code]

What do you think would be the best to apply this via the helm chart, I think we should create a new role and role binding that binds the PSP to the falco service account? Something like:
[code]

[2020-07-10 22:44] leodido commented on #1198
/close

On Fri, 10 Jul 2020 at 23:50, Francisco Castello <notifications@github.com>
wrote:

--
L.

[2020-07-12 10:11] danmx commented on #1120
It would be great if you could narrow the capabilities instead going for `--privileged`. Not many people will use kernels `>= 5.8` any time soon.

[2020-07-12 22:52] juju4 opened #1310 "Rules exclusions for squid, snap-confine, lxc"
**Describe the bug**

Normal behavior should be excluded for most softwares and are generating alert here.

Tried following rule in falco_rules.local.yaml but does not help
[code]

**How to reproduce it**

falco and squid setup
[code]

falco and lxc setup
[code]

falco, ubuntu with canonical livepatch configured
[code]

**Expected behaviour**

No alert as those are normal behaviors

**Environment*

[2020-07-13 06:08] rahul-kr4604 opened #1311 "Does Falco provide debugging and tracing facilities?"
**Motivation**
As we know Falco provides runtime detection mechanism. But apart from this, is it possible to debug the containers with the help of Falco?

**Feature**
Debugging and Tracing

[2020-07-13 08:22] fntlnz commented on #1251
@leodido when you got some time, can you dump here a bit more information on why you think this is related? It's the generated code? I'd love to see a diff of what the two revisions of the backend generate.

Maybe there's a visualization tool like bpftool for this phase? We can't use bpftool because the program doesn't even get loaded. :/

[2020-07-13 08:37] fntlnz commented on #1311
@rahul-kr4604 can you elaborate a bit more? What kind of debugging are you trying to do?

[2020-07-13 08:37] fntlnz commented on #1311
Hi @rahul-kr4604 - thanks for reaching out. Can you elaborate a bit more? What kind of debugging are you trying to do?

[2020-07-13 09:24] rahul-kr4604 commented on #1311
Hello @fntlnz,

In this feature we are looking for debugging and tracing options of Falco. As far as I know Falco is a "Runtime" detection tool, but is it possible to trace/debug the system call which triggered the events in Falco when used with eBPF?

Apart from above suppose an event occurs in the container, and I want information like:
How and when event is triggered?
Who triggered the event?
W

[2020-07-13 09:52] leogr commented on #1186
Please, keep open.

I have had the same issue.

[2020-07-13 09:55] leogr commented on #1304
I also believe we should have this under the `deploy` folder in the https://github.com/falcosecurity/evolution repository.
cc @maxgio92 WDYT

[2020-07-13 10:03] leogr commented on #936
I think this has been solved here :point_right: https://github.com/falcosecurity/evolution/tree/master/deploy/kubernetes/k8s-audit-only

The above "k8s-audit-only" example works with 0.23.0, without `--privileged` and with syscall event source disabled :point_down:
https://github.com/falcosecurity/evolution/blob/master/deploy/kubernetes/k8s-audit-only/deployment.yaml

Btw, it works because is usin

[2020-07-13 12:38] poiana commented on #1186
@yinynick: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2020-07-13 12:41] fntlnz commented on #1311
@rahul-kr4604 - When you use the eBPF driver Falco uses the same libraries that are used by sysdig OSS to do its detection magic. However, everything that Falco does is security related. If you want to see the syscalls happening, their parameters and the timestamp I think you should check out [sysdig](https://github.com/draios/sysdig) directly.

[2020-07-13 15:35] leogr opened #1312 "small adjustments to the integration test readme"
**What to document**

The [integration test readme](https://github.com/falcosecurity/falco/tree/master/test) may need some small adjustments.
I have opened this issue just to keep track of those.

- The link to `falco_traces.yaml` is broken, because the file does not exist (it's [gitignored](https://github.com/falcosecurity/falco/blob/master/test/.gitignore)). The `falco_traces.yaml.in` is present

[2020-07-13 16:50] leodido commented on #1312
/assign

[2020-07-14 01:39] balpreet-telnyx opened #1314 "Drift detected (open+create) priority does not change"
**Describe the bug**
I have been testing falco-master(containerized) in our environment. "Drift detected (open+create)" rule is causing a lot of False positives and sending messages to our logging systems which I want to avoid. My falco_rules.yaml does not have this rule anywhere - https://github.com/falcosecurity/falco/blob/32bae35de229bee2452fa945513f5e5c1134dde8/rules/falco_rules.yaml#L2939 so

[2020-07-14 08:36] leogr opened #1315 "`required_engine_version` is not working for source k8s_audit"
**Describe the bug**

When `required_engine_version` is set at rule level in any with `source: k8s_audit` then the rule is not detected anymore.

**How to reproduce it**

I have used the `Create Disallowed Pod` to test this behavior, and run the following command (similar to the integration test one):
[code]

Without the `required_engine_version` it works as expected:
[code]

On the other hand, ad

[2020-07-14 14:04] leogr commented on #1315
I can confirm that when the `required_engine_version` is present on a rule with `source: k8s_audit` then the rule is simply not loaded:

[code]

I still don't get why :)

[2020-07-14 14:08] leodido commented on #1096
@brant-ruan you're right

the command is:

[code]

[2020-07-14 16:14] balpreet-telnyx commented on #1314
Modifying the falco_rules.yaml inside the container as a temporary fix. I see this rule exists in falco:master(updates 4 days ago but not in falco:latest(updated 2 months ago)

[2020-07-14 18:51] balpreet-telnyx commented on #1275
Similar case #1314

[2020-07-15 01:20] brant-ruan commented on #1096
Thanks :)

[2020-07-15 09:44] leogr commented on #1275
/milestone 0.25.0

[2020-07-15 09:44] leogr commented on #1314
/milestone 0.25.0

[2020-07-15 13:40] #1311 closed

[2020-07-15 16:42] leodido commented on #1304
https://github.com/falcosecurity/evolution will work too!

[2020-07-15 17:45] maxgio92 commented on #1304
@leogr I agree. I think that `evolution` should contain also the PSP+RBAC resources.
Anyway, also the Helm `chart` should integrate this, in my opinion, as in a scenario where PSP are already hardened it becomes necessary.

[2020-07-16 20:35] #1302 closed

[2020-07-18 05:19] #1085 closed

[2020-07-20 07:50] leogr commented on #1072
I believe that the missing `make` is the only problem here.
Recently, we added a note to the [CentOS installation instructions](https://falco.org/docs/installation/#centos-rhel) regarding `make`. So, it should be fixed.

Awaiting confirmation.

[2020-07-20 08:31] poiana commented on #1227
@leodido:
	This request has been marked as needing help from a contributor.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-help` command.

<details>

In response to [this](https://github.com/falcosecurity/fal

[2020-07-20 13:05] marcossv9 commented on #1215
Hi, any update on this thread?

Thanks,

[2020-07-20 13:19] poiana commented on #1232
@fujin: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuber

[2020-07-20 13:34] leodido commented on #1233
/help

[2020-07-20 13:34] poiana commented on #1233
@leodido:
	This request has been marked as needing help from a contributor.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-help` command.

<details>

In response to [this](https://github.com/falcosecurity/fal

[2020-07-20 17:36] MrAta opened #1320 "Invalid type when using aliases"
Consider this query:

[code]

When we parse this query, the tokens are as follows:

[code]

Where the token type for `SUM(userID)` is identified as a `Function` correctly. However, if use an alias in the query like this:

[code]

The tokens are as follows:

[code]

As can be seen, the entire `Sum(userID) as Ids` is identified as an `Identifier` so we miss the function itself.

Is this a bug, or th

[2020-07-20 20:44] #1320 closed

[2020-07-20 20:48] #1312 closed

[2020-07-21 10:53] danmx opened #1322 "Configurable Authorization HTTP Header for HTTP outputs"
**Motivation**

Current HTTP Output doesn't allow almost any [customization](https://falco.org/docs/configuration/) apart from enabling it and configuring the destination url. Some log aggregators' HTTP endpoints, e.g. [Splunk's HEC](https://docs.splunk.com/Documentation/Splunk/8.0.5/Data/HECExamples), require `Authorization` HTTP header which currently can't be added. It could be useful for gRPC

[2020-07-22 10:04] tlaukkan opened #1324 "Deploying falco to AWS EKS managed node group nodes causes - detected an unsupported target system"
**Describe the bug**

Deploying falco to AWS EKS managed node group nodes causes Detected an unsupported target system, please get in touch with the Falco community.

* Running falco-driver-loader with: driver=module, compile=yes, download=yes
* Unloading falco module, if present
* Trying to dkms install falco module
* Running dkms build failed, couldn't find /var/lib/dkms/falco/85c88952b018fdbce2

[2020-07-22 11:56] ianhundere commented on #310
Checking in to see if this has been resolved or not.

[2020-07-22 14:11] fntlnz commented on #1324
Hey @tlaukkan - can you share the actual log that you are getting when trying to download the module?
It should show us what is the link used.

The kernel you are reporting is correctly available from here:

https://dl.bintray.com/falcosecurity/driver/85c88952b018fdbce2464222c3303229f5bfcfad/falco_amazonlinux2_4.14.181-140.257.amzn2.x86_64_1.ko

While we find a solution, you can download that file

[2020-07-22 14:28] vitt-bagal opened #1325 "Build Failure on Ubuntu 18.04"
**Describe the bug**

Build failure observed while building falco(v0.24.0) [from source](https://falco.org/docs/source/) on ubuntu 18.04.

**How to reproduce it**
[code]

**Expected behaviour**

Build should pass successfully.

**Environment**
- Falco version:
v0.24.0
- OS:
NAME="Ubuntu"
VERSION="18.04.3 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.3 LTS"
VERSION_ID="18.

[2020-07-22 17:44] tlaukkan commented on #1324
Hi and thank you

I am running the docker container: docker.io/falcosecurity/falco:0.24.0 for which the console log is:

    Running falco-driver-loader with: driver=module, compile=yes, download=yes
    Unloading falco module, if present
    Trying to dkms install falco module
    Running dkms build failed, couldn't find /var/lib/dkms/falco/85c88952b018fdbce2464222c3303229f5bfcfad/build/make.log

[2020-07-23 04:32] tlaukkan commented on #1324
Perhaps related to this: https://github.com/falcosecurity/charts/issues/9

[2020-07-23 04:44] tlaukkan commented on #1324
I added the etc mounts and this fixed the issue. The root cause was that I copied the kubernetes yaml files from minikube helm deployment and attempted to use them on AWS. I guess do to this the etc mount was not there.

[2020-07-23 04:44] #1324 closed

[2020-07-23 20:10] smijolovic commented on #1325
Same here with CentOS 8.2....

My educated guess the link is OpenSSL.  Both 18.04 and 8.2 are using OpenSSL 1.1.1 library...clue to the issue:

[100%] Linking CXX executable falco
cd /home/rpmbuild/nimbus8/falco-build/falco-src/falco-0.24.0/build/userspace/falco && /usr/bin/cmake -E cmake_link_script CMakeFiles/falco.dir/link.t
xt --verbose=1
/usr/bin/c++  --std=c++0x -Wall -ggdb  -Wno-class-memac

[2020-07-23 20:21] smijolovic commented on #1325
The linker is most likely pointing to the wrong version of SSL.

https://stackoverflow.com/questions/46768071/openssl-linking-undefined-reference-evp-md-ctx-new-and-fre

[2020-07-23 21:56] smijolovic commented on #1325
Yep...

OpenSSL.cmake for build deps pulls openSSL 1.0.2.

To test, prior to cmake, added to test automation:

sed -i 's/URL.*/URL "https:\/\/github.com\/openssl\/openssl\/archive\/OpenSSL_1_1_1c.tar.gz"/g' $FALCO_SRC_DIR/cmake/modules/OpenSSL.cmake
sed -i '/URL_HASH/d' $FALCO_SRC_DIR/cmake/modules/OpenSSL.cmake

To pull 1.1.1c matching my backported SSL from CentOS8. Builds clean.

Good news to r

[2020-07-24 10:33] vitt-bagal commented on #1325
@smijolovic Though my error logs are different than yours I tried your fix But it did not work.
Error logs
[code]

[2020-07-24 14:37] smijolovic commented on #1325
Sorry that it didn't work.  I'll create a new issue and remove from here to get focus on this one.

[2020-07-24 14:42] smijolovic opened #1328 "Falco 0.24.0 build failure on CentOS 8.x using 1.1.x OpenSSL"
CentOS 8.2 build of falco fails with the following error:

[100%] Linking CXX executable falco
cd /home/rpmbuild/nimbus8/falco-build/falco-src/falco-0.24.0/build/userspace/falco && /usr/bin/cmake -E cmake_link_script CMakeFiles/falco.dir/link.t
xt --verbose=1
/usr/bin/c++ --std=c++0x -Wall -ggdb -Wno-class-memaccess -O3 -fno-strict-aliasing -DNDEBUG CMakeFiles/falco.dir/configuration.cpp.o CMakeFi

[2020-07-24 15:20] brantcolemanthis opened #1329 "curl: (22) The requested URL returned error: 404 Not Found"
Hi! I was needed to update falco in kubernetes cluster and i get error due to the url link to download prebuilt module is not found. How i can workaround/fix this issue? I deployed falco from yaml and tried several version include latest, 0.17.0, 0.24.0 and etc.
Log output

[2020-07-24 18:29] tdickman commented on #920
@fntlnz I'm still running into this with COS.

[2020-07-25 06:51] #1186 closed

[2020-07-26 10:56] kommulu commented on #1072
Hi @leogr ,
I am not sure about that.
My machine for testing was still running, so I installed `make` and updated falco, which went great. No errors, upgrade worked.
But after a reboot the module for falco was not loaded, which of course caused falco to crash.
Running `falco-driver-loader` fixes will successfuly load the module and falco can start. After that.

To check if a reinstall fixes the pr

[2020-07-27 07:39] leogr commented on #1072
Hi @kommulu

I'm not sure if there was any problem with the `falco-0.20.0+d77080a-1.x86_64` that you reported. I guessed about `make` because of this:
[code]

Anyhow, with the latest version `0.24.0`, it should work out of the box. The RPM installs the kernel module using `dkms` and also installs the `init.d` unit (that should work with `systemd` too, see [here](https://falco.org/docs/running/)).

[2020-07-27 11:15] #1231 closed

[2020-07-27 21:49] DannyPat44 commented on #1329
I am getting the same issue trying to deploy this to Minikube.
![image](https://user-images.githubusercontent.com/11543716/88595716-83b6ed80-d031-11ea-8c7f-9f7724753fb5.png)

[2020-07-28 08:19] leogr commented on #1008
I believe this issue is in our roadmap, so pls keep it

[2020-07-28 08:19] leogr commented on #1204
keep

[2020-07-28 16:03] pogao opened #1331 "Can't load eBPF probe in GKE"
We are migrating our Falco deployment to version 0.24.0 in GKE running v1.15.11-gke.15 with Ubuntu nodes running the standard kernel for that Kubelet version (5.0.0-1032-gke). Since there's no pre-compiled eBPF probe as it used to be in the earlier version we're running, we are compiling it on the fly when the container starts. The eBPF probe seems to be built correctly by `falco-driver-loader` bu

[2020-07-28 16:08] leodido commented on #1331
Unfortunately busy with something else now. But a first pointer for me and other maintainers: https://github.com/draios/sysdig/blob/4790332c24c5c81e168663f9852c5bb738d7d9ae/userspace/libscap/scap_bpf.c#L313

The problem seems to be caused by the BPF_MAP_CREATE not returning a FD referring to the map (EPERM errno?).

[2020-07-28 23:07] DannyPat44 commented on #1329
Actually I fixed my issue by updating the version of mini-kube I was deploying to!

[2020-07-29 09:22] fntlnz commented on #1187
/close

[2020-07-29 09:22] poiana commented on #1187
@fntlnz: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/1187#issuecomment-665547625):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2020-07-29 09:22] fntlnz commented on #1187
Oh no i didn't want to close this!

/reopen

[2020-07-29 09:23] poiana commented on #1187
@fntlnz: Reopened this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/1187#issuecomment-665548131):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2020-07-29 09:25] plasticine commented on #1187
@fntlnz Sorry 🙈 I’ve been meaning to try and get back to this for ages, I’ll try and make time this week! I’ve been wondering if there is something about our gke k8s that is tripping things up; it’s a stretch, but I’m wondering if binary auth is possibly in the mix, as that’s something we leverage heavily.

[2020-07-29 09:44] fntlnz commented on #1187
Thanks @plasticine - no need to be sorry, time flies! Thanks for your help!

[2020-07-29 12:51] leogr commented on #1315
Update:

As I've discovered (see [this comment](https://github.com/falcosecurity/falco/pull/1273#issuecomment-662406908)), this issue cannot be strictly considered a bug. Actually, it's just a missing feature: basically the **engine does NOT support `required_engine_version` at the rule level**, and if it's added by mistake no warning is emitted.

I'm closing this, then I'll open a new one (as a f

[2020-07-29 12:51] #1315 closed

[2020-07-29 12:51] poiana commented on #1315
@leogr: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/1315#issuecomment-665644836):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2020-07-29 12:59] leogr opened #1332 "Improve rule files validity checking"
**Motivation**

Currently, if some properties are misplaced within the rule's document (ie. the YAML file), no warning is emitted and non-obvious side effects can occur ([here](https://github.com/falcosecurity/falco/pull/1273#issuecomment-662406908) an example regarding `required_engine_version` property).

**Feature**

The rule loader should emit warnings or errors when a node in the document con

[2020-07-29 13:41] leogr opened #1333 "The outputs throttling mechanism skips notifications without any notice"
**Motivation**

The current throttling mechanism can be configured within [falco.yaml](https://github.com/falcosecurity/falco/blob/master/falco.yaml) as shown below:

[code]

However, when this throttling mechanism takes actions then the user is not informed and AFAIK it's not mentioned anywhere that Falco is just skipping notifications when that happens. This behavior is not related to the very w

[2020-07-29 16:35] brantcolemanthis commented on #1329
I resolved this problem by compiling prebuilt falco module my own as described here (https://falco.org/docs/source/), upload it to registry, and have set DRIVERS_REPO env to valid url of *.ko. Then it's works.
[code]

[2020-07-29 16:35] #1329 closed

[2020-07-29 17:06] kommulu commented on #1072
Hi @leogr ,
I can confirm that this works now with 0.24.0.
Thanks again for your help.

[2020-07-29 17:06] #1072 closed

[2020-07-29 18:43] pogao commented on #1331
I've made some more tests and found that this only happens when we have Secure Boot/Shielded Nodes enabled in our K8s cluster running Ubuntu - this issue doesn't happen when we have Shielded Nodes/Secure Boot in COS. When I try to deploy Falco 0.24.0 to a cluster with those two features disabled, things work just fine - the probe is compiled and loaded without a problem.

So, I believe the updated

[2020-07-30 14:33] brantcolemanthis opened #1334 "Can't build eBPF driver"
Hi. I tried to build eBPF driver, but getting some error about KBUILD_MODNAME:
[code]
OS: Ubuntu 18.04. 5.7.2-050702-generic

[2020-07-30 19:21] ianhundere opened #1335 "After AMI update in EKS to 1.17.9-20200723 Falco stuck in CrashLoopBackOff"
**Describe the bug**
Falco stuck in CrashLoopBackOff after updating AMI in EKS to `1.17.9-20200723`. When you grab logs from a Falco pod you get something similar to what caused an earlier issue similar to this (https://github.com/falcosecurity/charts/issues/9).

[code]

**How to reproduce it**

1. Update AMI in EKS to `1.17.9-20200723` and install Falco
2. Watch it fail with `kubectl get pods`

*

[2020-07-30 20:38] leodido commented on #1270
/poiana

[2020-07-30 20:38] leodido commented on #1270
/poiana

[2020-07-30 21:33] leodido commented on #1270
/poiana

[2020-07-30 21:57] leodido commented on #1270
/honk

[2020-07-30 21:57] poiana commented on #1270
@leodido:
![goose image](https://images.unsplash.com/photo-1515867286554-0c43b4883f51?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjEwNjM3Nn0)

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/1270#issuecomment-666731006):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/co

[2020-07-30 22:05] leodido commented on #1270
/poiana

[2020-07-30 23:03] leodido commented on #1270
/poiana

[2020-07-30 23:03] poiana commented on #1270
@leodido: **[Poiana](https://github.com/poiana) stops the drama!**

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/1270#issuecomment-666763381):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an is

[2020-07-31 19:45] ykcilborw opened #1338 "Brackets in Macro Name Prevent It From Being Referenced By A Rule"
**Describe the bug**

Falco allows a macro to be saved with a '[' character, but there does not appear to be a way to have the macro referenced by a rule even with escaping.

**How to reproduce it**

Save the below content to a file strange_characters.yaml:
[code]

Then run "falco -V strange_characters.yaml"

Output is
[code]

**Expected behaviour**

I would expect this to validate successfully as

[2020-08-01 07:47] jonny-wg2 opened #1340 "Support partial overrides / merging for existing rule (e.g. `priority` field) to complement the append functionality"
**Motivation**

Falco has around 60 default rules configured. However, I am only interested in say configuring 15 rules with an alert policy because of my setup. `Falcosidekick` is a great tool for managing the alerting of falco rules with setting a default priority on what it should fire.

At current, there are priorities of notice, informational, error (which I find a weird name), but also the p

[2020-08-03 10:20] leogr commented on #860
Has this been fixed?

[2020-08-03 10:23] leogr commented on #1334
Have you tried with [driverkit](https://github.com/falcosecurity/driverkit) ?

[2020-08-03 10:25] leogr commented on #1332
Interesting https://github.com/falcosecurity/falco/issues/1338

[2020-08-03 22:00] emcay commented on #813
Are there any plans to port this workaround into the helm chart so that we can pass it as a parameter during install/upgrade?

[2020-08-03 22:37] JPLachance commented on #706
Hello!

I still experience this issue.

In my falco_rules.local.yaml file, if I define my own macro then try to use it somewhere in the falco_rules.local.yaml file, it does not work. This is a little bit annoying because without that feature, I have to repeat the exact same condition over and over again. Being able to define my own macros would allow me to create cleaner rules. See #504 for an exa

[2020-08-04 04:55] yunbo-xufeng commented on #1251
I also met the same problem with LLVM-11

[2020-08-04 09:53] brantcolemanthis commented on #1334
thx, i try it

[2020-08-04 13:19] leogr commented on #706
I believe there're several issues related to the validation of rule files that we still want to fix (for example #1332 ), including this one.
Thus, I've re-opened this and added the `roadmap` label (so the stale bot should not close it again).

[2020-08-04 13:49] JPLachance opened #1341 "proc.pname is empty for multiple events in Falco 0.24.0"
**Describe the bug**

We did the upgrade from Falco 0.22.1 to Falco 0.24.0 on July 27 2020 in the development environment. Since that date, we saw a very noticeable increase in the number of events reported by Falco. By looking at those events, they all have one thing in common: `proc.pname` is empty. Since multiple macros depends on `proc.pname` value, like the `exe_running_docker_save` macro doe

[2020-08-04 20:44] emcay opened #1345 "missing prebuilt kernel module (eks1.17.6)"
Similar to https://github.com/falcosecurity/falco/issues/1335

I have this issue on EKS 1.17.6 GitVersion:"v1.17.6-eks-4e7f64"

**Describe the bug**
Falco pods in CrashLoopBackOff stsate

**How to reproduce it**
`helm install falco falcosecurity/falco --set falco.jsonOutput=true`

**Expected behaviour**
Pods will indicate "running" state

**Environment**
"v1.17.6-eks-4e7f64"

- Falco version:
0.24

[2020-08-05 11:15] rahul-kr4604 commented on #1239
I have built the kernel module from source. It is working fine. So closing the issue.

[2020-08-05 11:15] #1239 closed

[2020-08-05 11:18] rahul-kr4604 commented on #1239
There was some issue of location of kernel module, and then after I was getting the permission issue, so I updated the SELinux module type of kernel module. It is working fine.

[2020-08-05 13:33] leogr commented on #1341
Hi @JPLachance

Could you share the DaemonSet manifest? Since this might depend on volume mounts or other options, I would like to reproduce it to dig into this problem.

Thanks in advance!

[2020-08-05 21:25] JPLachance commented on #1341
Hello!

Here it is:
[code]

Thanks for the help!

[2020-08-05 21:27] leogr commented on #1345
This happens because we still do not have the config for that kernel in our Driver Build Grid (see [here](https://github.com/falcosecurity/test-infra/tree/master/driverkit#faq))

[2020-08-05 23:39] #1238 closed

[2020-08-06 05:06] xUnholy commented on #520
Bump - Can we label this so it doesn't go stale?

[2020-08-06 12:07] danmx opened #1346 "Issues with HTTP Output"
**Describe the bug**

Events are not send to [Splunk HEC (HTTP Event Collector)](https://docs.splunk.com/Documentation/Splunk/8.0.5/Data/HECExamples) when using query parameters to pass the token (we have one endpoint configured to support token in a query parameter since `falco` doesn't support `Authorization` HTTP header) in `http_output` configuration compared to `program_output` with `jq | cur