[2019-10-28 13:21] fntlnz commented on #900
@jalseth can you post the full command you do for the build? For me it works with something like:

cmake

[code]

and then build

[code]

[2019-10-28 23:26] karthikc911 opened #905 "Runtime Error : Falco Probe Loader(.ko) for falco 0.17.1 and kernel 4.14.146-120.181.amzn2.x86_64 results in run-time error"
**What happened**: While trying to run Falco as a daemonset on kubernetes cluster there was a Run-time error caused by pre-compiled Falco Probe kernel object file for falco version 0.17.1 and kernel 4.14.146-120.181.amzn2.x86_64.

[code]
[code]

**What you expected to happen**: Falco container must run successfully without any errors.
Below is one of the successful outputs for Falco Version 0.17.1

[2019-10-29 12:00] leodido commented on #905
/triage support

[2019-10-29 13:08] leodido commented on #801
Bullets 2 and 3 have been done.

Linking bullet 1 to https://github.com/falcosecurity/community/issues/51

[2019-10-29 13:11] leodido commented on #484
Hey @juju4 this is a really cool contribution. Do you mind submitting a PR for it? :)

[2019-10-29 13:35] leodido commented on #610
/close

[2019-10-29 14:58] LoganSteinberg commented on #530
Hey, I was thinking of picking this up.
I was curious if anyone has an idea what progress, if any, was made before it was moved back to 'To do' incase there's a base I should be working off of?
@mfdii since you moved it back to 'To do'

[2019-10-29 15:32] leodido commented on #530
Hey @LoganSteinberg thanks to @leogr we have an initial work done in this direction.

Look to the [falco-exporter](https://github.com/falcosecurity/falco-exporter) repo.

Would you mind contributing there? Contributions will be very welcome! :)

[2019-10-29 18:01] mstemm opened #906 "Crash when loading many small rules files"
**What happened**:

I found a crash bug in Falco that occurs when Falco loads lots of relatively small files with lots of macros. It doesn’t seem to be a bug in falco itself, a stack trace from a debug build shows the crash is in the lua garbage collector:

[code]

The full command line that reproduces the crash is `falco -c <path to falco.yaml> -r crash_rules_files`, zip file attached
[crash_rule

[2019-10-29 23:33] heydonovan commented on #615
We are experiencing the same thing as well. Any information we can provide to narrow it down?

It's the latest stable release of falco deployed via helm chart on EKS v1.13

[2019-10-30 01:08] mstemm commented on #906
After compiling luajit with assertions, I found that the problem was [here](https://github.com/falcosecurity/falco/blob/dev/userspace/engine/rules.cpp#L447):
[code]

I don't know why this pops 4 values from the stack when the function only returns 2 values, but it was introduced in 1711ed0a.

It only shows up after a large number of files because there are ~10 tables on the stack from the various

[2019-10-30 02:50] a0145 commented on #896
I tested this on the latest kernels today. It appears that 4.19 is the only branch that hangs.

stable 5.3.8: works
longterm 4.19.81: hangs
longterm 4.14.151: works

[2019-10-30 07:52] #906 closed

[2019-10-30 10:56] fntlnz commented on #693
Still want this!

[2019-10-30 23:01] leodido commented on #790
We have to move it to the CNCF slack.

So
/close

On Wed, Oct 30, 2019, 10:47 PM stale[bot] <notifications@github.com> wrote:

[2019-10-30 23:01] poiana commented on #790
@leodido: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/790#issuecomment-548148400):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2019-10-30 23:01] #790 closed

[2019-10-31 17:04] fntlnz commented on #889
Closing this since falco 0.18.0 is released!!

/close

[2019-10-31 17:04] #889 closed

[2019-10-31 17:04] poiana commented on #889
@fntlnz: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/889#issuecomment-548473763):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2019-11-02 11:22] palmerabollo opened #912 "Compile error & precompiled module not found with falco 0.18.0 on AWS"
**What happened**:

Falco 0.18.0 is not able to run as a daemonset in a Kubernetes cluster in AWS (created with kops, using the official image kope.io/k8s-1.14-debian-stretch-amd64-hvm-ebs-2019-08-16). The error I see in the logs look like:

[code]

**What you expected to happen**:

- The falco module should have been built.
- The pre-built module should have been found in AWS S3 as falco-probe-0.

[2019-11-02 19:10] palmerabollo commented on #912
I noticed that falco was successfully running in some nodes. Those that fail show the following event:

[code]

So I guess compiling the module fails because the pod's limits (memory/cpu) are two low:

[code]

What are the recommended requests/limits for falco with the default set of rules?

[2019-11-03 07:06] #796 closed

[2019-11-03 07:06] #797 closed

[2019-11-05 05:37] prankkelkar opened #916 "Falco 0.18.0 Build from source failure"
**What happened**:
Trying to build latest stable verion of falco i.e 0.18.0 from source. getting following error for `make` command:
[code]
**What you expected to happen**:
Successfull completion of the build.

**How to reproduce it (as minimally and precisely as possible)**:
Perform steps from https://falco.org/docs/source/

**Environment**:
- Falco version (use `falco --version`):
`0.18.0`

- OS

[2019-11-05 09:52] ultrasaurus commented on #807
The assessment is different from an audit -- I talked to @mfdii who said he would talk to @kris-nova about kicking this off

[2019-11-05 17:06] Amojow opened #917 "Many dropped system calls events due to page faults"
**What happened**:
I have a huge amount of dropped syscall events due to page faults (n_drops_pf).
[code]

**What you expected to happen**:
I expect to have only the dropped syscall events due to the full buffer (n_drops_buffer), or at least reduce the number of dropped syscall events due to page faults "n_drops_pf".

**How to reproduce it (as minimally and precisely as possible)**:
- Deploy the h

[2019-11-05 17:38] fntlnz commented on #917
HI @Amojow thanks for taking the time to open this!

0.18.0 was a big release, can you test this out with 0.18.0 and report back first?

[2019-11-05 17:40] fntlnz commented on #916
This happens because you are compiling against an older version of sysdig.

Try building using Sysdig from the commit at this tag https://github.com/draios/sysdig/releases/tag/falco%2F0.18.0 `ac93397`

[2019-11-05 17:41] fntlnz commented on #916
/triage support

[2019-11-05 17:41] #811 closed

[2019-11-05 17:43] fntlnz commented on #615
Can you test it out with falco 0.18.0 ? It was a big release and we had a lot of performance and stability improvements in it. @heydonovan

/triage needs-information

[2019-11-05 17:44] fntlnz commented on #900
Hi @jalseth any update on this?

[2019-11-05 17:53] fntlnz commented on #912
@palmerabollo Since it's the compiler what I would do is to increase the memory limit to 512 and try if it fits for you. How did you install Falco? I'm curious to find where those defaults are coming from and review them.

The prebuilt is not found because we don't build probes for that specific AMI.

[2019-11-05 17:53] fntlnz commented on #912
/triage needs-information

[2019-11-05 19:51] palmerabollo commented on #912
Hi @fntlnz , thanks for your answer. Yes, I've increased the limit to 512Mi and the compilation works fine. I took the manifests from the official examples https://github.com/falcosecurity/falco/tree/dev/integrations/k8s-using-daemonset/k8s-with-rbac and I added the requests & limits myself using the steady state memory usage shown in the Kubernetes metrics. So it's my fault it's not enough for th

[2019-11-05 21:00] jrobersonaquent opened #919 "Falco versions other than 0.17.1 fail to launch Amazon Linux 2"
**What happened**:

Falco containers using versions other than 0.17.1 (tested with 0.17.0 and 0.18.0) immediately crash because the kernel module can't be downloaded.

Logs from falco container:

[code]

**What you expected to happen**:

The falco module should have been built or
The pre-built module should exist at `https://s3.amazonaws.com/download.draios.com/stable/sysdig-probe-binaries/falco-p

[2019-11-05 22:00] #795 closed

[2019-11-05 23:00] #809 closed

[2019-11-06 05:52] prankkelkar commented on #916
@fntlnz Yes it worked !! Thanks for the fix. Will be great if you all can update the documentation as well on official website.

[2019-11-06 05:52] #916 closed

[2019-11-06 08:44] Amojow commented on #917
Oh yes with the new version i don't have any dropped syscall events.
Thank you for your fast answer.

[2019-11-06 08:44] #917 closed

[2019-11-06 22:14] Kaizhe opened #920 "Failed to deploy falco on GKE"
**What happened**:
Failed to deploy falco on GKE

**What you expected to happen**:
Falco run successfully on GKE

**How to reproduce it (as minimally and precisely as possible)**:
Bring up a GKE cluster (default one), deploy falco from market place

**Anything else we need to know?**:
[code]
**Environment**:
- Falco version (use `falco --version`):
- System info
- Cloud provider or hardware config

[2019-11-08 04:28] quanvuminh commented on #725
I still got the error with the latest version (0.18.0). I used the same manifest [here](https://github.com/falcosecurity/falco/tree/dev/integrations/k8s-using-deployment)

`# kubectl logs falco-k8s-audit-6f674995f4-ts46w
Fri Nov  8 04:21:01 2019: Falco initialized with configuration file /etc/falco/falco.yaml
Fri Nov  8 04:21:01 2019: Loading rules from file /etc/falco/k8s_audit_rules.yaml:
Fri No

[2019-11-08 10:39] leodido commented on #919
/triage support

[2019-11-08 11:38] fntlnz opened #921 "Falco does not compile against glibc 2.30"
**What would you like to be added**:

Falco can't compile against glibc 2.30 because this version has a function called `gettid` which is also declared in our other dependency gRPC 1.8.1

In gRPC the issue was fixed by this PR https://github.com/grpc/grpc/pull/18950

[code]

**Why is this needed**:

Because we want people to be able to compile falco when they update glibc and gcc.

[2019-11-08 14:45] palmerabollo opened #923 "Expose the node metadata in the Falco outputs API"
**What would you like to be added**:

Falco should expose the "node" metadata (host that originated an alert) to third-party consumers.

**Why is this needed**:

It would be really useful to solve use cases such as https://github.com/falcosecurity/falco-exporter/issues/10, where third-party services need to act every time an alarm is raised on a node. For example, to cordon a node if running in a

[2019-11-08 14:56] leodido commented on #923
Thanks for opening it! :)

[2019-11-09 05:59] a0145 commented on #896
To help with reproduction, I ported the Vagrantfile to use virtualbox and have more detailed steps:

[code]

### Vagrantfile
[code]

[2019-11-10 15:17] JPLachance commented on #827
That stale bot is again quite annoying 🙂

@mstemm, did you have a minute to look at this issue?

[2019-11-11 21:17] #817 closed

[2019-11-11 23:23] karthikc911 commented on #919
@kris-nova  , @fntlnz , @leodido ,

I see that there are repeatedly more issues related to pre-compiled Falco Probe KO files in https://s3.amazonaws.com/download.draios.com/stable/sysdig-probe-binaries/index.html in every Falco release.

I think it is better for us if we can build the required ko files on our own for kernels we use.

Can you please point me to the document/code which provides step

[2019-11-12 02:17] #815 closed

[2019-11-12 06:40] prankkelkar commented on #921
I am facing this issue on ubuntu 19.10.
 `root@prasanna:/home/ubuntu/0.18.0/falco/build/release# ldd --version
ldd (Ubuntu GLIBC 2.30-0ubuntu2) 2.30
Copyright (C) 2019 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
Written by Roland McGrath and Ulrich Drepper.
`
Ho

[2019-11-12 12:17] natchaphon-r commented on #890
Wanted to close this thread by pasting the workaround I have based on @mfdii's help.

`sudo docker run --privileged --tty --name falco-probe-installer --volume /var/run/docker.sock:/host/var/run/docker.sock --volume /dev:/host/dev --volume /proc:/host/proc:ro --volume /boot:/host/boot:ro --volume /lib/modules:/host/lib/modules:rw --volume /usr:/host/usr:ro falcosecurity/falco:0.18.0 echo Exiting`

[2019-11-12 16:05] #821 closed

[2019-11-12 17:05] #810 closed

[2019-11-12 18:27] frankreno commented on #919
@fntlnz - was just on a call and we are running into this, seems related to what was fixed before with https://github.com/falcosecurity/falco/issues/846

[2019-11-12 20:37] palmerabollo commented on #923
Hi @leodido. Do you think this is a good issue for a first-time contributor?

We have been taking a look at https://github.com/falcosecurity/falco/blob/dev/userspace/falco/falco_outputs.cpp#L300 and https://github.com/falcosecurity/falco/blob/dev/userspace/falco/lua/output.lua#L170-L173 and it looks doable (not trivial). We'd like to know if you are open to contributions or if we should fork the r

[2019-11-12 21:30] kris-nova opened #924 "Remove references to Sysdig"
**What would you like to be added**:

Can we rename some of the Sysdig references in code for architectural vanity? We are trying to decouple this for vendor independence and this is confusing for users.

**Why is this needed**:

Clarify the separation of the technology

---

We can see work started https://github.com/falcosecurity/falco/pull/910 but [still needs work.](https://github.com/falcosec

[2019-11-12 21:30] kris-nova commented on #924
I am working on a PR for this and can have something open during the Falco hackathon this week! Woo!

[2019-11-12 22:51] leodido commented on #924
/milestone 0.19.0

[2019-11-12 22:52] fntlnz commented on #924
There's anything more than what we have in this?

https://github.com/falcosecurity/falco/pull/922

I'm a bit confused about what you want to do.

[2019-11-12 22:53] leodido commented on #924
#922 fixes the majority of those references btw :)

[2019-11-12 22:57] leodido commented on #923
Hi @palmerabollo did not see this comment, I replied on the open slack.

However yes this would be an awesome first contribution! 🎉

I'd prefer having "hostname" as a new attribute (`output_fields` can sometime contain that information but that's another story).

Regarding whether "hostname" is the correct name or not I would suggest to also involve other people talking/voting about such choice in

[2019-11-12 23:30] fntlnz commented on #919
@karthikc911 - I agree that building your own kernel module is the best solution in general.

Building the module from source is documented [here](https://falco.org/docs/source/), be careful to look at the previous steps, not just `make driver`.

@frankreno In general the precompiled modules are a subset of what's available out there. We are in the process of making the build script and infrastruc

[2019-11-12 23:41] #890 closed

[2019-11-13 05:15] devdua commented on #615
Hi @fntlnz I can close this issue for the moment as the project I was working on has been shelved for now. Thanks for the support!

[2019-11-13 05:15] #615 closed

[2019-11-13 16:43] fntlnz commented on #896
Thanks for the update @a0145 - I will try this

[2019-11-13 22:21] dnwe commented on #813
FYI we have been running for a while now with `sed -e '/RING_BUF_SIZE/s/8/96/' -i /usr/src/sysdig/driver/ppm_ringbuffer.h` which has reduced the number of dropped events, although we still see 1 or 2, but quite infrequently

[code]

[2019-11-14 08:12] fntlnz commented on #720
Stalebot we still want this !

[2019-11-14 19:43] nebi-frame opened #925 "getting Null as container name"
**What happened**:
Sometimes we are getting `null` as container.name, parent process name  from Falco.
**What you expected to happen**:
A real value
**How to reproduce it (as minimally and precisely as possible)**:
Listen for any event and look at what you get for `container.name`
**Anything else we need to know?**:
We raised this issue on slack channel and some members suggested us to make sure f

[2019-11-15 19:02] leodido commented on #842
We want this !

[2019-11-16 01:11] #794 closed

[2019-11-16 09:11] #310 closed

[2019-11-16 09:11] #769 closed

[2019-11-16 18:11] #820 closed

[2019-11-17 08:48] kravietz opened #926 "Expose IPv6-enabled S3 instances for installation files"
**What happened**:
Tried to install Falco using recommended Linux script at `https://s3.amazonaws.com/download.draios.com/stable/install-falco` on a IPv6-only VM.

**What you expected to happen**:

Install to be completed as usual. Unfortunately, the script uses AWS instance `s3.amazonaws.com` that is IPv4-only  and inaccessible from IPv6-only server. This can be easily resolved by referencing AWS

[2019-11-18 05:14] chattarajoy commented on #920
facing the same issue. Can someone look into this?

[2019-11-18 05:42] Kaizhe commented on #920
cc @mstemm

[2019-11-19 05:44] sunil1783 commented on #798
I have done the required changes to build falco on Ubuntu 18.04 ppc64le platform.
But while running the regression test cases get following error.

#./test/run_regression_tests.sh $PWD/build

Error running method "initialize" of plugin "yaml_to_mux": 'Namespace' object has no attribute 'get'
 (1/1) /source/falco/test/falco_test.py:FalcoTest.test:  ERROR: Falco command "/build/release/userspace/fal

[2019-11-19 11:48] #612 closed

[2019-11-19 18:48] #707 closed

[2019-11-19 21:17] leodido commented on #798
Thanks for looking into this @sunil1783 !

Anyway having a PR with the work you have done in order to support ppc64le platform would be helpful for the debugging :)

[2019-11-20 03:43] #812 closed

[2019-11-20 12:07] seanmcrw opened #930 "Multiple slack notifications"
**What happened**:
Default installation on k8s(AWS EKS x7 EC2 nodes in cluster) with helm ```helm install --name falco stable/falco``` creates x7 duplicate notifications when using the slack integration.

**What you expected to happen**:
Only one notification should be posted to slack.

**How to reproduce it (as minimally and precisely as possible)**:
Default helm install, with slack notifications

[2019-11-20 12:26] Issif commented on #930
For more advanced notifications in Slack, you can take a look at : https://github.com/falcosecurity/falcosidekick

[2019-11-20 13:43] #713 closed

[2019-11-20 14:48] seanmcrw commented on #930
Thanks, I've tried falcosidekick, but I still get x7 duplicate notifications(same number of nodes in the ds) for each triggered rule.

[2019-11-20 14:57] Issif commented on #930
Your notifications are about a k8s events from audit logs? Seems logical that all pods of the daemonset detect it.

[2019-11-20 16:48] seanmcrw commented on #930
This is a typical event that's repeated x7 times
[code]

On a different note I don't see the pod name or container name(host being a red herring)
[code]

[2019-11-21 01:07] krishnan-ramkumar commented on #919
Hi All, a fix for this has been found and will be merged soon, but in the meanwhile, the falco probe for the latest falco version has been uploaded.
[code]

[2019-11-21 07:02] 2rigor opened #931 "failed to compile using falco-builder container + eBPF"
Hello.
I was trying to build using [using falco-builder container](https://falco.org/docs/source)

1. clone falco and sysdig to /home/user/src/
2. Added -e BUILD_BPF=ON to compilation command and mapped /lib/modules/`uname -r`/build
cmake:

docker run --user $(id -u):$(id -g) -v /etc/passwd:/etc/passwd:ro -e MAKE_JOBS=4 -e BUILD_BPF=ON -it -v /home/user/src:/source -v /home/user/build/falco:/build

[2019-11-21 07:02] poiana commented on #931
@2rigor: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kube

[2019-11-21 07:08] leodido commented on #931
/triage support

[2019-11-21 07:18] 2rigor commented on #931
Apologize for the mess..

[2019-11-21 09:07] bredamatt commented on #846
Hi, thank you for providing the link for the probe!

I have a Q. Lets say I'm on a VM on a private network only. The same private network hosts a registry server connected to a public interface (with internet access). This means I can run the Falco container on the registry server, but not on my private VM because the image starts downloading the precompiled module from an external URL.

How would

[2019-11-21 17:32] fntlnz commented on #921
@prankkelkar We need to update the gRPC library in order to do this but we need to write some key features test first to ensure we don't break anything. In the meanwhile I'm restructuring how we use gRPC as a dependency to make the update work faster and smoother once we can update.

[2019-11-21 17:52] fntlnz commented on #926
This is a very good point @kravietz - I will figure this out. At the moment that s3 bucket is hosted in the sysdig own infrastructure. We are getting this into the hands of the public by moving this to the CNCF cluster. I don't think that we will be ready very soon with the new cluster so this makes sense for me to be done before we migrate!

[2019-11-22 07:01] PiCarODD opened #934 "Cant get client ip and server ip"
Hello,

I'm using falco to monitor container runtime.I used Docker.

My config
[code]
Docker network config
[code]
Container network info
[code]
Result

[code]

[2019-11-22 19:28] oownus opened #935 "Falco would occasionally restart due to connection error to kubernetes api service"
**What happened**:
Falco agents would occasionally restart due to a connection error to kubernetes service at `kubernetes.default.svc.cluster.local (10.195.238.1)`
It seems to happen more frequently especially on the busy clusters.
[code]
[code]

**What you expected to happen**:
To run without overloading kubernetes api service too much (if that is what is causing the connection issue to the api s

[2019-11-23 13:47] fntlnz commented on #934
@PiCarODD can you show us the docker run command you're using to start falco?

/remove-kind failing-test

[2019-11-23 13:47] poiana commented on #934
@PiCarODD: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2019-11-23 13:48] fntlnz commented on #934
/triage needs-information
/kind bug

[2019-11-23 13:51] fntlnz commented on #926
Thanks for opening @kravietz - good point. Adding this to the next milestone.

/milestone 0.19.0

[2019-11-24 08:27] karthikc911 commented on #919
@jrobersonaquent ,

I have uploaded the pre-compiled falco kernel modules of falco versions 0.17.0 , 0.17.1 , 0.18.0 for amazon Linux 2 OS to S3 Bucket : https://falco-kernel-modules.s3-us-west-1.amazonaws.com/ .

I have tested all the ko files and everything seems to be working as expected. You can directly use these files with respective falco docker image.

@fntlnz , @krishnan-ramkumar  : We us

[2019-11-24 08:40] karthikc911 commented on #905
For now I have built the ko files for Falco versions 0.17.0 , 0.17.1 and 0.18.0 for latest 2 kernel versions of Amazon Linux 2 OS . (https://falco-kernel-modules.s3-us-west-1.amazonaws.com/) . I have tested all these kernel modules with respective versions of Falco and everything is working fine.

Since we use Amazon Linux 2 AMI for running Kubernetes Clusters , we will be regularly building Falco

[2019-11-24 08:40] #905 closed

[2019-11-25 03:00] PiCarODD commented on #934
Running cmd for falco
[code]
Network list
[code]

[2019-11-25 15:21] 2rigor commented on #931
/kind ebpf_compilation

[2019-11-25 18:57] shane-lawrence commented on #669
Could we keep this open until it has been resolved?

[2019-11-25 22:25] fntlnz commented on #726
We still want this

[2019-11-25 22:26] fntlnz commented on #669
@shane-lawrence i agree we want to keep this open, I was coming here to I’m imi un-stale this but you already did :)

[2019-11-25 22:33] fntlnz commented on #931
Thanks for opening 2rigor ! Even if you are in a container, compiling the BPF probe is very tied to the actual host machine kernel ABI and hence it’s headers. From what I can see it looks like you are missing the kernel headers on your host machine.

If your host machine is an Ubuntu (I’m inferring this from what you posted) you can achieve that by installing them and then retry the build :

[code

[2019-11-25 23:12] fntlnz commented on #934
@PiCarODD the fields you are trying to use are not exposed by the syscalls you are matching your condition against.

In your case, you are using the `spawned_process` and `container` macros that only use the `execve` syscall. The `execve` syscall does not have a file descriptor in it, this is why you can't match anything against `fd.*` fields in that rule.

[code]

Moreover, even if a syscall has

[2019-11-25 23:13] fntlnz commented on #934
/triage support

[2019-11-25 23:14] fntlnz commented on #799
I think we want to keep this open.

[2019-11-25 23:15] fntlnz commented on #837
We still want this.

[2019-11-25 23:16] poiana commented on #614
@mstemm: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kube

[2019-11-25 23:18] fntlnz commented on #725
@quanvuminh can you please open an your own issue with this? This particular work had been done and it's easier for us to help you with a specific issue on that.

[2019-11-25 23:18] fntlnz commented on #917
Thanks for confirming @Amojow !

[2019-11-25 23:19] fntlnz commented on #810
Just FTR had been worked on via the Cloud Native Security Hub https://securityhub.dev/

[2019-11-25 23:20] leodido commented on #614
/kind bug
/kind rule-create

[2019-11-25 23:24] leodido commented on #934
I like the idea of documenting "what contains what" (syscall -> usable fields).

[2019-11-25 23:25] leodido commented on #857
Don't close this bot!

[2019-11-26 01:43] kbrown commented on #669
I abandoned falco due to this issue.

[2019-11-26 04:24] quanvuminh opened #936 "Can't disable syscall event source while deploying on Kubernetes"
**What happened**:

I can not disable **syscall** event source as announced in new release 0.18.0 changelog. I still got errors during container startup while applying the Kubernete deployment.

[code]

**What you expected to happen**:

Container can start and run.

**How to reproduce it (as minimally and precisely as possible)**:

 I applied the same manifest [here](https://github.com/falcosecuri

[2019-11-26 04:26] quanvuminh commented on #725
@fntlnz Thanks, I created new issue #936

[2019-11-26 10:45] 2rigor commented on #931
@fntlnz thanks a lot!
I was already compiling ebfp on this machine.
In any case I've run

`sudo apt install linux-headers-$(uname -r)`
as well as
`sudo apt-get install build-essential llvm clang`

BTW, I also found I need to map /lib/modules (not not just /lib/modules/`uname -r`/build) for the container. The command I run now is:
`docker run --user $(id -u):$(id -g) -v /etc/passwd:/etc/passwd:ro -

[2019-11-26 14:30] fntlnz commented on #854
We still want this! Thanks stalebot

[2019-11-26 15:08] danmx opened #937 "Missing BPF probe for Amazon Linux 2"
**What happened**:
Falco failed to deploy using helm stable chart with custom parameters:
[code]
Because of a missing precompiled probe:
[code]

**What you expected to happen**:
Falco to start
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Falco version (use `falco --version`): `0.17.1`
- System info
- Cloud provider or ha

[2019-11-27 07:39] fntlnz commented on #925
/milestone 0.19.0

[2019-11-27 10:02] spaceportpw opened #938 "falco failed to deploy in bare-metal k8s"
**What happened**
Falco failed to deploy using helm stable chart:

* Setting up /usr/src links from host
* Mounting debugfs
Found kernel config at /host/boot/config-4.15.0-70-generic
* Trying to compile BPF probe falco-probe-bpf (falco-probe-bpf-0.18.0-x86_64-4.15.0-70-generic-dc8ce91746bd5957a1aa2ac2abb32e32.o)
make[1]: *** /lib/modules/4.15.0-70-generic/build: No such file or directory.  Stop.
m

[2019-11-27 13:17] steven166 commented on #547
I created also a tool for inspecting GKE audit logs with Falco: https://github.com/codeonline-io/falco-gke-audit-bridge.

[2019-11-27 17:50] jalseth commented on #900
Hi @fntlnz, sorry for the delay. I switched the sysdig to the dev git branch and falco to 0.18.0 and still no luck. It says it can't find the kernel build headers, but they're definitely there. Can the CMake build not follow symlinks?

[code]

[2019-11-27 21:23] #923 closed

[2019-11-27 21:33] fntlnz commented on #547
That looks very cool @steven166  - wondering if we could integrate that directly into Falco once the gRPC input api is ready !

[2019-11-27 21:47] fntlnz commented on #900
@jalseth I think that the problem here is that you are sharing the specific kernel modules folder with this part of the command:

[code]

Now since that folder in reality is a symlink to the parent directory the build script can’t find that folder, because you didn’t share it, and then it fails.
So I would just share the whole `/lib/modules` folder at this point:

[code]

[2019-11-27 21:51] fntlnz commented on #938
@spaceportpw from what I can see I think you need to install kernel headers on your nodes.

[code]

/triage support

[2019-11-27 21:59] fntlnz commented on #937
We are not providing precompiled BPF probes (Yet, we are working on a proposal to do a compile once run everywhere BPF probe using BTF). I think that the script shouldn’t even try to go get them.

What you can do is to install the kernel headers on your nodes so that they can compile it themselves. On amazon Linux it should be :

[code]

[2019-11-27 22:00] fntlnz commented on #937
/triage support

[2019-11-27 22:01] fntlnz commented on #931
@2rigor i didn’t understand, did it work for you or not ? If it didn’t can you please post the logs ?

[2019-11-27 22:15] jalseth commented on #900
Figured it out. Since the `/lib/modules/.../build` folder is a symlink to `/usr/src/...` I also needed to share `/usr/src`. However, it looks like the builder container doesn't have `clang` so it can't compile the BPF object.

[code]

[2019-11-28 03:31] alistaircross commented on #615
@fntlnz When do you predict a helm stable/falco release for 0.18.0?

[2019-11-28 03:50] alistaircross commented on #615
Hi there, Using the tagged update: 0.18.0 with the helm charts from 0.17.1 I still see the following in the logs:

03:43:37.355343721: Critical Falco internal: syscall event drop. 1 system calls dropped in last second. (ebpf_enabled=0 n_drops=1 n_drops_buffer=0 n_drops_bug=0 n_drops_pf=1 n_evts=22642)
03:44:53.415220943: Critical Falco internal: syscall event drop. 2 system calls dropped in last s

[2019-11-28 21:52] Issif commented on #930
Another user reported that kind of issue on Slack. cc @JPLachance. Have the name of related rule which triggers that?

For missing fields, it's kwown and people are figuring out how to solve that.

[2019-11-29 01:16] fntlnz commented on #534
I'm a bit confused about the statement of the problem in this issue. What is the problem? I don't see duplicated log lines or anything similar. @daixiang0 can you please clarify a bit? I'd like to help!

[2019-11-29 01:17] fntlnz commented on #865
Thanks for reporting this @michalzxc - I dibs on this, let's see if I can reproduce.

/assign @fntlnz

[2019-11-29 01:18] fntlnz commented on #930
@seanmcrw the version of falco you are using is quite old `0.15.3`. We had a lot of rules changes in `0.18.0` and every other version after that one and I believe this problem was solved by one of these https://github.com/falcosecurity/falco/pull/733 https://github.com/falcosecurity/falco/pull/736 https://github.com/falcosecurity/falco/pull/881 - could you try those out?

[2019-11-29 01:21] fntlnz commented on #931
@2rigor - Good news! So the only missing problem you have is that you can't find clang right? Should we add it to the falco builder? It makes sense to me.

[2019-11-29 02:00] daixiang0 commented on #534
Now `helm install --name falco stable/falco` can fix this, i use this image:
[code]
close.

[2019-11-29 02:00] #534 closed

[2019-11-29 05:53] 2rigor commented on #931
After adding (mapping) clang, i had some libraries missing. After mapping them, the version of some libraries was too old, so I started to change LD_LIBRARY_PATH, so didn't succeed.
I feel I'm doing smth. wrong..
Do you need logs? I will be able to post them on Sunday

@fntlnz thanks a lot in advance!

[2019-11-29 22:48] fntlnz commented on #858
Wait wait wait stalebot!

[2019-11-29 22:53] fntlnz commented on #931
Yes those would speed up things @2rigor - maybe it’s something we already know!

The builder container is very “complicated” and needs some love to update the tool chains, if we can’t sort this out we could also have one specific for the eBPF probe.

[2019-11-29 22:56] fntlnz opened #942 "BPF probe compile once run everywhere with BTF"
This will likely become a proposal if it receives a good feedback here (like doing a :+1: counts as feedback )

**What would you like to be added**:

Adapt and compile our eBPF probe loader code to the BPF type format (BTF) - links below.

**Why is this needed**:

*Some considerations first*
One of the main barriers that new and old users encounter when trying to adopt falco is building either the

[2019-11-29 22:57] fntlnz commented on #942
/assign @fntlnz

#dibs

[2019-11-29 23:08] fntlnz commented on #900
Just for reference, we are having a very similar discussion here https://github.com/falcosecurity/falco/issues/931#issuecomment-559891379

[2019-12-01 14:47] fntlnz commented on #855
I still like this !

[2019-12-01 14:48] fntlnz commented on #856
Stalebot we need to keep this !!

[2019-12-01 14:48] fntlnz commented on #704
Why why stalebot ! Let’s keep this

[2019-12-01 14:49] fntlnz commented on #691
No no no stalebot! We need this

[2019-12-02 11:31] seanmcrw commented on #930
Thanks guys, using 0.18.0 solved the problem. Closing.

[2019-12-02 11:31] #930 closed

[2019-12-02 14:46] vsimon commented on #683
/no-stale

[2019-12-02 22:18] #816 closed

[2019-12-03 12:27] tomklino commented on #629
Hi, just updated to 0.18.0 - unfortunately still experiencing the error

Is there any progress on this? Can I help in some way?

[2019-12-03 17:14] fntlnz commented on #925
/assign @fntlnz

[2019-12-03 17:14] fntlnz commented on #925
/assign @leodido

[2019-12-03 17:27] leodido commented on #942
/assign @leodido

[2019-12-03 17:43] #921 closed

[2019-12-03 19:47] nuala33 commented on #845
Following up here again because I am still having this issue. Upon further testing, I realized that when my cluster was running master version 1.12.10-gke.17 and node version 1.12.7-gke.7 everything was working as expected. Now that I have upgraded my cluster to master and node version 1.13.12-gke.8, I am not seeing logs locally on my pods or in Stackdriver when I trigger Falco events.

This seems

[2019-12-04 11:30] fntlnz opened #953 "Commit convention details"
**What would you like to be added**:

We started using conventional commits as a standard for commits in the falco repo.
We want to document that.
https://www.conventionalcommits.org/en/v1.0.0/
**Why is this needed**:

So that every contributor knows how to commit the right way while contributing to Falco.

[2019-12-04 13:49] fntlnz commented on #845
Hi @nuala33 - can you post the actual falco version you are using? I tried to reproduce this myself on GKE without success, it just works for me. Any more details would be helpful. In the meanwhile I'm adding this to the next milestone to assign it to the current batch of work.

/milestone 0.19.0

[2019-12-04 14:41] fntlnz commented on #886
/milestone 0.19.0

[2019-12-04 16:09] fntlnz commented on #925
From repo planning: @mfdii suggests that this has something  to do with how we cache metadata.

[2019-12-04 16:11] fntlnz commented on #676
This also needs rules updates.

[2019-12-04 16:21] fntlnz commented on #886
Ready to publish!

[2019-12-04 16:21] fntlnz commented on #886
/assign @mfdii

[2019-12-04 16:22] fntlnz commented on #886
Please drop a note in slack when it's published! And a blogpost on it!

[2019-12-04 16:37] fntlnz commented on #813
From Repository Planning - Low hanging fruit: start by running in different environments with different kinds of Cpus and workloads and document suggested sizes for the ring buffer.

[2019-12-04 16:48] mfdii commented on #897
This needs to be fixed by adding `-aws` to this section of the [kernel-crawler.py](https://github.com/draios/sysdig/blob/dev/scripts/kernel-crawler.py#L85-L124)

[2019-12-04 17:09] #953 closed

[2019-12-04 18:01] nuala33 commented on #845
Hi @fntlnz, thanks for taking a look! I am running Falco version 0.16.0.

I tested triggering other rules in my cluster and was able to do so (i.e. "Write below etc", "Delete Bash History," "Netcat Remote Code Execution") but specifically the "Terminal shell in container" rule no longer gets triggered in my cluster since upgrading from GKE 1.12 to 1.13/1.14. Before, I could ssh to the falco contai

[2019-12-05 08:37] 2rigor commented on #931
I wanted to repeat all the steps I did from the very beginning, so I've installed Ubuntu from scratch.
Also due to errors I get I add mapping for /lib/modules/ and for /usr/src/ (the latter since /lib/modules/5.3.0-23-generic/build -> /usr/src/linux-headers-5.3.0-23-generic)

This time I installed 19.10 (previously it was 18.04).
I executed:
`sudo apt install build-essential cmake autoconf wget au

[2019-12-05 09:52] fntlnz commented on #930
Thanks for confirming @seanmcrw !

[2019-12-05 12:02] fntlnz commented on #931
I know that @jalseth is working on this on his issue #900 - I've been able to install clang on the bpf builder using the `llvm-toolset-7` package but let's wait for @jalseth to submit a PR.

In the meanwhile, since this issue is newer and duplicated let's keep the conversation on #900 and close this.

Thanks @2rigor for all the details, feel free to continue the conversation on #900 - we will cert

[2019-12-05 12:02] poiana commented on #931
@fntlnz: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/931#issuecomment-562100470):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2019-12-05 12:02] #931 closed

[2019-12-05 12:04] fntlnz commented on #900
I just closed #931 in favor of this. We can continue the discussion here since this is older.

In the meanwhile I've been hit by this issue myself but I know that @jalseth is working on a PR to fix - just for context, here's my patch: https://gist.githubusercontent.com/fntlnz/d3bde35336f9bf4d8d7df2a9384400cf/raw/2f5cb9bc2f9577225289771c2c1dba4bc2ad0a44/falco-900.patch

feel free to include anythin

[2019-12-05 13:57] fntlnz commented on #925
I confirm that I'm able to reproduce this

[code]

[code]

[2019-12-05 14:01] mfdii commented on #897
Created https://github.com/draios/sysdig/pull/1552 to address this issue.

[2019-12-05 15:05] fntlnz commented on #925
After a very long bisect session I've been able to identify that this was introduced after this PR in sysdig: https://github.com/draios/sysdig/pull/1326

[2019-12-05 15:21] fntlnz commented on #925
The problem is that container metadata is now fetched asynchronously, so when Falco detects the event there's a possibility that container metadata hadn't been fetched yet, this is why sometimes we see the metadata and sometimes not.

[2019-12-05 20:17] caniszczyk commented on #886
where is it published?

can you also create advisories for the issues via the github security tool?
https://github.com/falcosecurity/falco/security/advisories

cc: @leodido

[2019-12-05 21:38] kris-nova opened #958 "New repository for advocating for Falco"
**What would you like to be added**:

A new repository called `falcosecurity/advocacy` that has @poiana installed.

**Why is this needed**:

So we can begin tracking advocacy requests and events and automating as a community.

This would be issues like:

 - Request to speak
 - Request for publication
 - Request for Media

[2019-12-06 02:01] mac-abdon commented on #860
Is it possible to get an update on this? It looks like the issue is still present in `falcosecurity/falco:0.18.0`. This issue prevents operators from running falco in an SSL everywhere type on environment.

Here is what I'm seeing:
[code]

[2019-12-06 08:36] sporkmonger commented on #835
Yeah, this bug just generated a bit of a confusing, but fortunately short, fire drill for us.

[2019-12-06 09:44] fntlnz commented on #886
It's not published yet @caniszczyk - @mfdii was assigned at the last Repo planning call

[2019-12-06 09:52] fntlnz commented on #835
@sporkmonger  This is keeping hitting everyone :)

Everyone, not sure what we want to do with this? Maybe worth discussing at the next office hours?

[2019-12-06 10:31] #756 closed

[2019-12-06 11:18] leodido commented on #756
@mstemm should we keep this open or not?

On Fri, 6 Dec 2019 at 11:31, stale[bot] <notifications@github.com> wrote:

--
L.

[2019-12-06 11:26] fntlnz opened #959 "Falco does not build when using system gRPC"
**What happened**:

Building falco with `-DUSE_BUNDLED_GRPC=False` results in the build not using the ssl version of gRPC with this error:
[code]

**What you expected to happen**:

Falco builds

**How to reproduce it (as minimally and precisely as possible)**:

Clone the falco dev, then
[code]

When cmake is done, try to build it:

[code]

**Anything else we need to know?**:

**Environment**:
- Fa

[2019-12-06 11:31] #656 closed

[2019-12-06 12:36] #959 closed

[2019-12-06 15:06] leodido commented on #958
/assign @leodido

Ok, moving this to test-infra repo.

[2019-12-06 15:09] leodido commented on #886
@mfdii is in charge of publishing the reports.

me and/or @fntlnz are going to create the advisories soon.

[2019-12-06 15:31] #661 closed

[2019-12-06 17:08] rudymccomb opened #961 "Frequent and noisy syscall event drops when running falco 0.17.1 helm chart"
**What happened:**
Syscall event drop message occurs multiple times a second. I had to set `syscallEventDrops` ignore. I have also tested using the 0.18.0 version and the messages still occur.

**What you expected to happen:**
To not have my logs, and slack channels flooded with that message and for it to not send that message at all

**How to reproduce it (as minimally and precisely as possible):

[2019-12-06 23:52] fntlnz opened #963 "Build improvements: Dynamic builds"
**What would you like to be added**:

At the moment, the main Falco `CMakeLists.txt` and its children have hard-coded compilation flags to always compile falco as a static binary.

While has its advantages (no extra dependencies), using static binaries as a packaging medium can be cause of any sort of issues, like:

- Big final binary size
- Difficulties in statically building/linking all the depe

[2019-12-07 00:15] fntlnz commented on #860
I believe I created confusion on this by mixing the ssl linking problem I found with this issue.

The error both you @mac-abdon and you @WeiZhang555 seems related to another service bound on the same port - would you please check that there's nothing else listening on `443` or just leave the default port `8765` - @mfdii was reporting success doing that https://github.com/falcosecurity/falco/issues

[2019-12-07 00:33] oke-py opened #964 "falco failed to run in kind"
**What happened**:
falco failed to run in kind.
[code]

**What you expected to happen**:
falco DaemonSet is successfully running.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

**Environment**:
- Falco version (use `falco --version`): 0.17.1
- System info
- Cloud provider or hardware configuration: kind v0.6.1
- OS (e.g: `cat /etc/o

[2019-12-07 21:24] markyjackson-taulia commented on #961
🤔 #669 maybe

[2019-12-07 21:24] markyjackson-taulia commented on #961
/assign @markyjackson-taulia

[2019-12-08 18:21] leodido commented on #884
No way you close this my "dear" bot :)
L.

On Sun, Dec 8, 2019 at 5:04 PM stale[bot] <notifications@github.com> wrote:

[2019-12-09 12:18] fntlnz commented on #896
Useful context, https://gehrcke.de/2019/09/running-an-ebpf-program-may-require-lifting-the-kernel-lockdown/

[2019-12-09 22:35] fntlnz commented on #900
Thanks @jalseth for the matching PR on Sysdig! Should that be enough at this point to fix this?

[2019-12-09 22:48] rudymccomb commented on #865
I am also now seeing this same issue however we are on 1.14.7. It took a weekend for falco to start doing this. Not sure if its related but I have another ticket https://github.com/falcosecurity/falco/issues/961

`22:41:55.404692615: Error File below /etc opened for writing (user=root command=exe / /var/lib/docker/overlay2/0798d66b646b46d2ff940e4bd0c39220aa7064353522ab7bd55b147516a18c63/diff paren

[2019-12-09 23:23] jalseth commented on #900
Yes, in addition to your patch I was able to build the BPF probe.

[2019-12-10 11:09] #869 closed

[2019-12-10 13:48] fntlnz commented on #963
Here's the action plan in form of the dependencies we have.

Dates in the european format.

| name          | current used version         | latest available version | current used release date | latest available release date | project status  | ubuntu packages | fedora packages | centos packages | rhel packages | debian packages | arch linux packages |
|---------------|---------------------------

[2019-12-11 12:09] fntlnz commented on #963
For future documentation purposes, to build, Falco also requires the openssl binary to be available in the system when using the new dynamic configuraiton.

[2019-12-11 14:41] caniszczyk commented on #886
friendly ping on this @mfdii :)

[2019-12-11 15:01] mfdii commented on #886
Yep yep. Working on the blog drafts now.

On Wed, Dec 11, 2019 at 9:41 AM Chris Aniszczyk <notifications@github.com>
wrote:

[2019-12-11 16:23] kris-nova commented on #963
We might want to check out the AUR as well once this is simplified

[2019-12-11 20:03] jjo commented on #629
FYI we're facing the same issue with 0.18.0, kubernetes-1.15 on kops AMIs
/cc @dbarranco @jbianquetti-nami

[2019-12-11 22:10] fntlnz commented on #963
Another dependency we need to have is the `cpack` binary whenever the user want to create deb and rpm packages.

[2019-12-12 10:18] leodido opened #970 "Remove custom issue templates"
**What would you like to be added**:

To be fair I would like to **remove** the `.github/ISSUE_TEMPLATE/` directory in this project since now we have [falcosecurity/.github](https://github.com/falcosecurity/.github) repository which contains default issues' templates.

**Why is this needed**:

Default issues' templates = custom issues' templates here.

[2019-12-12 14:41] sunil1783 commented on #798
On Ubuntu 18.04 ppc64le  Default 'avocado-framework-plugin-varianter-yaml-to-mux' installed  version is higher than expected(73).
So downgraded it to version 69 , same as avocado-framework version.
pip install avocado-framework==69 avocado-framework-plugin-varianter-yaml-to-mux==69

After this run the regression test cases, error Namespace' object has no attribute 'get' not occurred.
The test case

[2019-12-12 15:53] xaocon commented on #318
I don't want to tell you guys to work on but I think it's a pretty important issue to be closed automatically so I'm going to bump.

[2019-12-13 10:17] #970 closed

[2019-12-13 12:04] #900 closed

[2019-12-13 19:27] mfdii commented on #886
Draft done. Will publish 2019/12/16

[2019-12-14 11:31] #741 closed

[2019-12-16 02:57] #672 closed

[2019-12-16 08:57] axot commented on #935
I think this is related to #935, we are using the latest `Falco version: 0.18.0`.

[2019-12-16 13:10] fntlnz commented on #935
yes please @axot - it would be useful!

[2019-12-16 16:17] JPLachance commented on #640
Again, we should keep this on the roadmap :)

[2019-12-16 23:00] kris-nova opened #976 "Kernel event tracing owned and maintained by Falco"
**Motivation**

Following up on discussion from last weeks call regarding the new Falco API and composable inputs. We had some questions come up from members of the CNCF so documenting our plan with the Falco API and how that will enable us to port the kernel module and eBPF probe functionality directly into the Falco security github org.

As it stands there are 4 main input streams being plumbed

[2019-12-16 23:18] kris-nova commented on #976
I know @leodido has spent the most time on this, and will be one of the engineers in charge of owning and maintaining this for Falco

[2019-12-17 08:15] #886 closed

[2019-12-17 08:26] caniszczyk opened #978 "Publish security advisories via github"
The security audit uncovered some issues, it would be great to have those published
https://github.com/falcosecurity/falco/security/advisories

[2019-12-17 16:00] leodido commented on #978
/assign @leodido

[2019-12-17 20:30] leodido commented on #349
Keep on roadmap

On Tue, 17 Dec 2019 at 18:55, stale[bot] <notifications@github.com> wrote:

--
L.

[2019-12-18 09:26] leodido commented on #574
This is more important than it seems. And we need this mechanism also for PR #758. Keep on roadmap.

[2019-12-18 10:51] sunil1783 opened #982 "Falco test cases are failing on ppc64le platform"
What happened :
 To support falco and sysdig with eBPF support on ppc64le platform, done the required code
 changes. Following PR is created for these changes.
 https://github.com/falcosecurity/falco/pull/932

 After building the code ,when try to run the regression test cases, it gives following types of errors.
 	 TestFail: Different counts for rule Change thread namespace: expected=2, actual=1

[2019-12-18 13:04] kris-nova opened #983 "Cutover to CNCF Slack"
**Motivation**

In an effort to improve vendor independence can we please start using the CNCF slack as our official source of truth for Slack?

**Feature**

We can use the following slack feature to begin the migration so that no disruption is caused to our existing slack: https://slack.com/resources/slack-for-admins/shared-channels-in-slack

**Alternatives**

One alternative would be to do a col

[2019-12-18 13:11] mfdii commented on #983
Dup of #888

[2019-12-18 13:20] fntlnz commented on #983
/triage duplicate

[2019-12-18 13:20] mfdii commented on #838
Content has been removed, with redirect notices. When the stale bot tries to close this again, we should check page rank of the wiki docs and then disable the wiki. Hopefully the falco.org/docs will be ranked higher over the next 30 days.

[2019-12-18 13:20] fntlnz commented on #983
Let's close #888 since this has more context?

[2019-12-18 13:20] kris-nova commented on #888
Closing in favor of #983 as we are discussing this today and coming up with a plan to migrate.

[2019-12-18 13:20] #888 closed

[2019-12-18 13:22] mfdii commented on #983
Good for me.

[2019-12-18 13:22] fntlnz commented on #983
/remove-triage duplicate

[2019-12-18 13:35] fntlnz commented on #983
Should we make the channel on the sysdig Slack read only after writing a message about the migration?

[2019-12-18 13:41] kris-nova commented on #983
Works for me - I think we just need an owner here - do you want to take this one @fntlnz?

[2019-12-18 13:48] #842 closed

[2019-12-18 15:31] markyjackson-taulia commented on #964
/assign @markyjackson-taulia

[2019-12-18 19:06] kris-nova commented on #983
/assign @kris-nova

@caniszczyk do you know if the CNCF will let us do shared slack channels?

We talked about this on the Falco call today, and we think this approach would be the best so we aren't forcing everyone to leave/re-join a new slack channel. The CNCF would be the `source of truth` and the currently slack channel just mirror that.

https://slack.com/resources/slack-for-admins/shared-cha

[2019-12-19 07:54] axot commented on #935
Hi I got some progress, this backtrace was generated from 0.18.1.

[code]

[2019-12-20 03:44] kris-nova commented on #976
So I was hacking on some BPF things today and started to explore something with Go

It doesn't actually do anything but it's an idea that we might want to look at: https://github.com/kris-nova/barff

Thoughts/feedback appreciated as always.

[2019-12-20 07:13] KnoxAnderson commented on #976
This project also relies heavily on libscap and libsinsp - https://github.com/sysflow-telemetry/sf-collector

It might be interesting to talk to them about their plans for these two libraries and see if there's shared work that could happen between sysdig, IBM, and the falco community.

[2019-12-20 07:52] palmerabollo opened #985 "Connection error running Falco on Azure (aks-engine) master nodes"
**Describe the bug**

Falco pods running on Kubernetes master nodes don't work in clusters created with [Azure AKS engine](https://github.com/Azure/aks-engine/).

This is the error shown in the falco logs of those pods:

[code]

This is the root issue that causes failures connecting to kubernetes api server from the master nodes https://github.com/Azure/aks-engine/issues/622. It is a known limitat

[2019-12-20 13:56] leodido commented on #924
This is done. Closing

[2019-12-20 13:56] #924 closed

[2019-12-20 13:58] leodido commented on #676
/milestone 1.0.0

[2019-12-20 14:01] leodido commented on #683
/milestone 1.0.0

Moving this to 1.0.0 because we are re-designing the input interface (via gRPC). Once we have that we'll use the k8s go client directly plus go json package. Which in turn means that we'll use the same code k8s uses solving this bug.

[2019-12-20 14:04] leodido commented on #925
We are still working on this.

I don't feel like we have room of improvement in this part until we introduce a processing queue (which is in plan for when we do the input gRPC api - #908).

We could solve this by adding some kind of synchronization mechanism like a mutex but on most of the systems this would increase a lot the drop rate. So the plan is to postpone this until gRPC input interface i

[2019-12-20 14:06] leodido commented on #860
Maybe I am wrong but this seems to work to me too.

Also we are rewriting inputs so it is likely that webserver will be deprecated in favor of the new API.

[2019-12-20 14:07] leodido commented on #706
/milestone 1.0.0

[2019-12-20 14:08] #773 closed

[2019-12-20 14:08] leodido commented on #884
/milestone 0.20.0

[2019-12-20 14:16] leodido commented on #845
/triage support

[2019-12-20 14:16] leodido commented on #845
🥕

[2019-12-20 14:17] leodido commented on #798
/milestone 1.0.0

[2019-12-20 14:18] leodido commented on #629
Linking to #925 since that contains more info.
Closing this. Please go into #925 for further info.

[2019-12-20 14:18] #629 closed

[2019-12-20 20:05] kris-nova opened #986 "End Users Tracking"
**Motivation**

Right now we have documented [a lot of production users of Falco](https://github.com/falcosecurity/falco/blob/dev/ADOPTERS.md).

The CNCF was generous enough to vote the project into incubation but we have a LOT of work yet to do. For example, there is very valid [concern about Falco end users](https://lists.cncf.io/g/cncf-toc/message/3970).

**Feature**

Can we start exploring way

[2019-12-20 20:09] KnoxAnderson commented on #986
Really cool compliance company I've been tracking for a while has an offering that automates installing falco on the EC2 instances. I'm not sure how many end users are consuming falco through their offering https://www.shujinko.io/

<img width="1071" alt="Screen Shot 2019-12-20 at 12 08 36 PM" src="https://user-images.githubusercontent.com/13387594/71289255-904bc880-2321-11ea-9546-e45ed904c26f.png

[2019-12-22 16:01] #605 closed

[2019-12-22 20:01] #891 closed

[2019-12-24 03:09] axot commented on #935
@fntlnz So it should use exponential backoff retry to improve this?

[2019-12-24 16:55] leodido commented on #688
Keep
L.

On Tue, Dec 24, 2019 at 5:38 PM stale[bot] <notifications@github.com> wrote:

[2019-12-25 14:38] sunil1783 commented on #982
I have done the changes in falco.cpp::do_inspect()  to fix the test cases failed issue.
https://github.com/falcosecurity/falco/pull/932.

Currently when I run the test cases, following test cases are failed and gives errors as follows :

Running: avocado run --mux-yaml /home/github/falco/test/falco_tests_package.yaml --job-results-dir /home/github/falco/test/job-results -- /home/github/falco/test/

[2019-12-26 09:59] #894 closed

[2019-12-27 15:29] nebi-frame commented on #925
Hey guys,
Do we have any timeline for 1.0.0 release?
Thanks.

[2019-12-29 22:56] markyjackson-taulia commented on #985
/assign @markyjackson-taulia

[2019-12-30 13:13] sunil1783 commented on #982
I have generated the deb/rpm packages using CMake  -DCPACK_SOURCE_RPM=ON and
#make package.
Build the falcoctl (https://github.com/falcosecurity/falcoctl) binary on ppc64le platform using GO package setup.

So currently all the falco test cases are passed, except following test case specific to docker image.
Because the respective "local/Dockerfile" contains the Intel specific prebuilt gcc depende

[2019-12-30 20:48] realgam3 opened #987 "Falco Base64 doesn't work"
executing falco with -b doesn't work
after getting logs %evt.buffer is still dot escaped and not base64

**Environment:**
Falco version: 0.18.0
Docker Image: falcosecurity/falco
Docker CMD: /usr/bin/falco -A -b -S 10240

**Log Output:**
```{"output":"2019-12-30T20:24:22.672367973+0000: Debug Untrusted file downloaded (user=www-data shell=curl parent=sh cmdline=curl http://xxxx.co.il/xxxx.jpg  pcmd

[2019-12-31 03:59] WeiZhang555 commented on #860
The bug still exists for me after I changed the port to 8765

[code]

I'm sure no other process is binding to 8765.

[2020-01-02 15:36] popaaaandrei commented on #669
Guys, any progress/updates? Thanks!

[2020-01-03 04:44] caniszczyk commented on #983
@kris-nova no due to the privacy policy implications, the CNCF channel needs to be source of truth

[2020-01-04 14:06] #801 closed

[2020-01-04 14:06] #484 closed

[2020-01-04 22:20] fntlnz commented on #669
For everyone looking at this:
The reason why Falco drops is that right now it does not have a way to "offload" events coming from kernel space while receiving them in userspace.

In other words, once inputs are consumed by the Falco driver they are sent immediately by the engine to processes them.

For that reason, we had to implement an artifact called "Token Bucket" that it's basically a rate li

[2020-01-04 22:22] fntlnz commented on #987
hey @realgam3 - does your patch fix the problem? I'd be happy to do a review.

[2020-01-05 01:41] realgam3 commented on #987
Yup :)
I use it

[2020-01-05 01:56] realgam3 commented on #987
Pull Request: https://github.com/falcosecurity/falco/pull/988

[2020-01-05 12:04] #693 closed

[2020-01-06 00:57] juju4 commented on #484
It does not seem that quick

* if using normal debian packaging, that would go through rules file like
https://github.com/Ubuntu-Solutions-Engineering/openstack-deb/blob/master/debian/rules
https://github.com/lxc/lxd-pkg-ubuntu/blob/dpm-xenial/debian/rules
but you have no such file, nor control or changelog in debian dir which are required by dpkg-buildpackage

* It seems that you are using cpack

[2020-01-06 14:45] iverberk opened #990 "Valid audit JSON terminates/crashes Falco"
**Describe the bug**

We have the Kubernetes audit endpoint enabled, which is receiving all the JSON audit events. When Falco receives a Pod created event with the following piece of JSON Pod spec:

[code]

It crashes with this error:

[code]

It seems that Falco is not expecting an object for the hostPath field?

**How to reproduce it**

Create a pod with a hostpath volume.

**Expected behaviour*

[2020-01-06 19:19] #912 closed

[2020-01-06 21:56] kris-nova commented on #983
Ah sorry - that is what I was trying to get to. Having the CNCF be the source of truth, and then sharing the channel with other slacks. If it's not possible we can just use the CNCF slack - just trying to be as disruptive as possible.

CC @caniszczyk

[2020-01-06 21:58] kris-nova commented on #925
Hey @nebi-frame,

We haven't planned a date, but we can bring it up on the Wed call. Do you think you will be able to attend so we can talk more about this?

[2020-01-07 14:22] nebi-frame commented on #925
Sure I’m available

On Mon, Jan 6, 2020 at 16:58 Kris Nova <notifications@github.com> wrote:

[2020-01-08 11:58] rajibmitra commented on #891
/lifecycle

[2020-01-08 12:09] rmitr opened #991 "Implement pep8 / flake8 for python code in falco"
**Motivation**
Long back in the community call we discussed to standerize python code, so that it remains or follows same pattern of code. In python this can be done by checking flake and pep8 rules in ci pipeline.

**Feature**
1. Flake8
2. pylint

**Alternatives**

**Additional context**

[2020-01-08 12:10] rajibmitra commented on #991
/assgin

[2020-01-08 12:10] rajibmitra commented on #991
/assign

[2020-01-08 12:56] rajibmitra commented on #991
It would be better if its added as part of ci in the infra provided by cncf, so that during each build we get one report.

[2020-01-08 13:40] sunil1783 commented on #982
Env : Ubuntu 18.04 having kernel version 4.15.0-66-generic.
PR 	  : https://github.com/falcosecurity/falco/pull/932

Directly On host :
  - Build falco and created packages with eBPF enabled.
  - All tests are passed, except docker container specific test which failed.

Tried to build the builder/Dockerfile image for ppc64le, but getting error as
'Cannot find a valid baseurl for repo: centos-sclo-

[2020-01-08 13:49] sunil1783 commented on #942
For porting falco on ppc64le ,we are facing issues while using containers of docker files having older OS kernel version and gcc-6/5 dependent packages.
So above suggested changes are required, to support latest OS kernel version and latest gcc versions.
https://github.com/falcosecurity/falco/issues/982
https://github.com/falcosecurity/falco/pull/932

[2020-01-08 14:36] leodido commented on #982
Thanks @sunil1783 for reporting all this info.

I here see two main topics:
1. Falco team plans (and resources) to port it to other platforms
2. Falco (regression/integration) test suite

Regarding point 1.

We should discuss it all together.

Would you mind joining the today community call maybe? You can find the calendar/zoom invitation in the README.
It'd be very useful also to explain in perso

[2020-01-09 04:59] rajibmitra commented on #991
As @leodido  mentioned in the call yesterday that this has to be part of regression test suite which needs to be rewritten as it broken write now. marking it hold for now.
If we all agree to add pytest at some later point as our test suite , we can easily call these flake8 and pylist as part of our pipeline.

/hold

[2020-01-09 12:23] sunil1783 commented on #982
Thanks for the response.
I will join the next community call and discuss on the above issues we are facing while using falco-builder/falco-tester containers to build/test falco code.

[2020-01-09 19:04] iverberk commented on #990
Is anyone from the Falco team available to investigate this? It seems like a rather severe bug and it is preventing us from upgrading to the latest Falco version.

[2020-01-09 19:31] rmitr opened #993 "Update the yaml files."
**Describe the bug**
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.16.md#deprecations-and-removals
we have to use apps/v1 places like here
https://github.com/falcosecurity/falco/blob/dev/integrations/k8s-using-daemonset/k8s-with-rbac/falco-daemonset-configmap.yaml#L1

**How to reproduce it**
1. use latest k8s
2. apply the yaml files

You will get below error
 kubectl apply -f k8

[2020-01-09 19:35] rajibmitra commented on #993
We should be having at least one branch created from dev that has the updated yaml files to support latest k8s api.

[2020-01-10 09:58] fntlnz opened #994 "All builds are failing"
**Describe the bug**

All builds started failing after https://github.com/draios/sysdig/pull/1568 introduced an `ASSERT` macrot hat was already defined in [`sysdig.h`](https://github.com/draios/sysdig/blob/dev/userspace/sysdig/sysdig.h#L31).

**How to reproduce it**

Open any PR and it will fail.

**Expected behavior**
PRs go green unless they introduce something broken

**Environment**

NO need

[2020-01-10 14:09] fntlnz commented on #994
Opened a PR on Sysdig to fix this.
https://github.com/draios/sysdig/pull/1578

#995 on Falco is to track if Falco itself can build, then that PR can be closed without being merged.

[2020-01-10 16:34] mfdii commented on #990
@mstemm @fntlnz @leodido  any idea what might be triggering this in the Kubernetes audit input. This seems to be similar to the JSON type issue we found in the security audit.

[2020-01-10 16:54] leodido commented on #990
Yes it is similar. Will investigate further next week, thanks for reporting
it!

/assign @leodido

On Fri, 10 Jan 2020 at 17:34, Michael Ducy <notifications@github.com> wrote:

--
L.

[2020-01-10 18:41] mstemm commented on #990
I think I already fixed this in https://github.com/falcosecurity/falco/commit/4e39fee54e0f7e51f79e886933ccbc30193f134b. I see that we don't have dev builds at the moment, but if you can compile your own from the dev branch, you could see if the fix I made also fixes this problem.

[2020-01-10 19:28] fntlnz commented on #993
/assign @rajibmitra

[2020-01-14 10:42] iverberk commented on #990
I created a custom build from the latest dev branch and that seems to fix the problem. Any ETA on a new official release version?

[2020-01-14 11:44] yamamoto-nia commented on #865
the same behavior for bare-metal cluster.
previously worked like a charm.

[2020-01-15 17:01] kris-nova commented on #986
Closing in favor of tracking in a google spreadsheet. Reach out to the myself or other maintainers in the Falco slack for access.

[2020-01-16 08:30] ProdanLabs opened #998 "audit events Cannot send to Kubernetes Audit endpoint exposed by Falco"
kube-apiserver configuration
[code]
k8s_audit_rules.yaml
[code]
demo
[code]
audit events
[code]
But, falco did not receive it!
[code]

[2020-01-16 10:28] fntlnz commented on #860
ok, @WeiZhang555 I debugged this a bit more today and I'm not aware of why that happens.

The dependency we use for the webserver, Civetweb, figures out `libssl.so` and `libcrypto.so` at *runtime* using `libdl`.
Also, the error management of that dependency internally doesn't advise about that directly, resulting in that error you posted if it can't find `libcrypto.so` or a core dump if it can't f

[2020-01-16 13:42] leodido opened #999 "Should we remove CONTRIBUTING and CODE_OF_CONDUCT fallbacking to the org ones?"
**What to document**

I am asking wheter we should remove (or not) the CONTRIBUTING and CODE_OF_CONDUCT from the repo in order to fallback to the organization ones ([here](https://github.com/falcosecurity/.github)).

They are the same files and the .github repo works pretty well as a default mechanism.

[2020-01-17 17:12] leodido opened #1000 "Remove TravisCI in favor of CircleCI"
**Motivation**

PR #968 already introduced a CircleCI workflow for build and test purposes.
It proved to be way faster and stable than Travis.
Furthermore there is no need to have 2 CI systems.

**Feature**

Remove TravisCI configuration.

**Alternatives**

NONE

**Additional context**

CircleCI is a better option for integrating our CI with the CNCF CI system.

[2020-01-17 17:12] leodido commented on #1000
/kind cleanup

[2020-01-17 17:50] leodido opened #1001 "Ensure packages (deb, rmp, tar.gz) list all the dynamic dependencies"
**Motivation**

After #968 will be merged in we need to ensure that all the built packages list/require the dynamic deps they need.

**Feature**

A little followup to PR 968 in order to list the packages deps (CPack).

[2020-01-17 17:51] leodido commented on #1001
/assign @fntlnz
/assign @leodido

[2020-01-17 17:51] leodido commented on #1001
/milestone 0.19.0

[2020-01-17 17:51] leodido commented on #1000
/milestone 0.19.0

[2020-01-17 18:09] #963 closed

[2020-01-20 12:59] #1000 closed

[2020-01-22 08:58] prankkelkar commented on #874
@fntlnz Does this PR fixes this issue as well?

[2020-01-22 11:22] zevaks commented on #865
For bare-metal registry as well:
   ka.req.container.image: <NA>
   ka.req.container.image.repository: <NA>

[2020-01-22 12:16] leodido commented on #1001
Done

[2020-01-22 12:16] #1001 closed

[2020-01-22 16:56] leodido opened #1008 "Remove civetwebserver in favor of upcoming Input API"
**Motivation**

TBD

**Feature**

TBD

**Alternatives**

**Additional context**

[2020-01-22 18:18] Guru-Prasad96 opened #1009 "unable to download precompiled module from https://s3.amazonaws.com/download.draios.com/stable/sysdig-probe-binaries/falco-probe-0.18.0-x86_64-4.14.138%2B-3ed0774cb82bc5c7 f3b6f5190c3b82ef.ko"
**What happened:**
Tried to install falco in GKE.
 the falco pod went into CrashLoopBackOff status with the following error:

 Setting up /usr/src links from host
* Unloading falco-probe, if present
* Running dkms install for falco
Error! echo
Your kernel headers for kernel 4.14.138+ cannot be found at
/lib/modules/4.14.138+/build or /lib/modules/4.14.138+/source.
* Running dkms build failed, coul

[2020-01-23 02:28] holdenk commented on #925
Is this a thing where folks are looking for help?

[2020-01-23 03:25] markyjackson-taulia commented on #925
Yes!!! and welcome @holdenk

[2020-01-23 03:30] kris-nova commented on #925
Yes - we have an end user who is asking for a fix here - I am sure they would appreciate anyone looking at this. We can pay with stickers, t-shirts, hugs, and coffee.

[2020-01-23 08:57] fntlnz commented on #874
Yes! Can you try that out @prankkelkar ?

[2020-01-23 11:16] leodido opened #1013 "falco-tester is failing to build docker/local inner docker image"
**Which jobs are failing**:

"ci/circleci: integration" is failing

**Which test(s) are failing**:

No test is running since the `falco-tester` image fails to build the docker image (source at `docker/local`) it uses internally to run the integration test suite against the falco DEB package.

**Since when has it been failing**:

Since tonight.

**Test link**:

Eg., https://circleci.com/gh/falcosec

[2020-01-23 11:16] poiana commented on #1013
@leodido: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2020-01-23 11:16] leodido commented on #1013
/assign @fntlnz

/assing @leodido

[2020-01-23 11:16] leodido commented on #1013
/kind failing-test

[2020-01-23 11:19] leodido commented on #1013
/priority high

[2020-01-23 11:19] leodido commented on #1013
/milestone 0.19.0

[2020-01-23 13:43] dodilp commented on #1009
I'm also running into this issue.

[2020-01-23 14:04] #1013 closed

[2020-01-23 14:39] dpredhat commented on #1009
Can someone from the falco-security team please help? ^^@mfdii

[2020-01-23 14:40] dodilp commented on #1009
Can someone from the falco-security team please help? ^^@mfdii

[2020-01-23 15:02] mfdii commented on #1009
You need to pass the option to the helm chart to enable ebpf as the kernel module is not supported on  COS based GKE clusters.

`ebpf.enabled=true`

[2020-01-23 17:11] leodido opened #1015 "Build of falcosecurity/falco:stable is broken because of libctf-nobfd0"
**Which jobs are failing**:

No test job is failing right now.
Yet the build of `falcosecurity/falco:stable` is broken.

**Which test(s) are failing**:

No tests are failing right now because we do not test (at the moment) the build of docker images.

**Since when has it been failing**:

Since tonight.

**Test link**:

This is the same error for `docker/local` docker image.

See issue #1013 and an

[2020-01-23 17:15] leodido commented on #1015
/kind bug

Maybe @mstemm already encountered this reecently?

[2020-01-23 17:27] leodido commented on #1015
I suggest deprecating this image (and also the `docker/local`) for the 1.0.0 since I think this image is not robust enough and Falco cannot deal with this.

A solution could be to switch to ubuntu 18.04 as base image for the docker stable.
Alternatively we'd need to deprecate support for kernels <= 4.16 in the docker image.

/milestone 1.0.0

[2020-01-23 17:53] leodido opened #1016 "Missing libyaml dep into falco minimal docker image"
**Describe the bug**

The falco minimal docker image lacks `libyaml`.

**How to reproduce it**

Build the image from `docker/minimal` and run it:

[code]

**Expected behaviour**

To work.

**Screenshots**

[code]

[2020-01-23 18:35] kris-nova commented on #1015
I agree with deprecating any images that we aren't using. I know @mfdii did a lot of work with the slim images:

 - [Slim dev](https://github.com/falcosecurity/falco/tree/dev/docker/slim-dev)
 - [Slim stable](https://github.com/falcosecurity/falco/tree/dev/docker/slim-stable)

---

Furthermore I opened up #1018 to fix this bug.

If folks are running into this issue today and need a quick fix I [pu

[2020-01-23 18:36] kris-nova opened #1019 "Review and Document Dockerfiles"
**Motivation**

After mentioning deprecating docker images in #1015 I think this merits a holistic review of our Dockerfiles.

**Feature**

Can we please audit, and document which container images we are supporting, how each of them should be used, and assign owner(s) for them?

**Alternatives**

**Additional context**

[2020-01-23 18:38] kris-nova commented on #1015
Once #1018 is merged this issue can be closed in favor of #1019

[2020-01-23 19:43] kris-nova commented on #1019
From @mstemm in Slack :+1:

[2020-01-23 20:41] ariguillegp opened #1021 "Falco can't load BPF probe in GKE"
**Describe the bug**
I am getting errors when Falco 0.19.0 tries to get the BPF probe from the S3 bucket in AWS. If I use v0.18.0 it works fine using the SYSDIF_BPF_PROBE environment variable in the Daemonset manifest. Now, while I was trying to deploy the DaemonSet with Falco v0.19.0, if I use the environment variable SYSDIG_BPF probe I get the following error:
[code]
I can confirm it is not a co

[2020-01-23 22:38] jalseth commented on #676
/assign

Targeting the 1.0.0 release, I'm basing the missing syscalls off of the latest stable kernel in GKE, which is 4.19. I will focus on the ones that obviously have security implications first, that way if we want to cut a release 1.0.0 without monitoring of some of the syscalls that aren't security related, we can.

[code]

[2020-01-23 22:48] holdenk commented on #925
Awesome, if you've got some time I'll bug you with some detail questions as I start to get lost in a new code base :)

[2020-01-24 07:18] #920 closed

[2020-01-24 10:53] #1016 closed

[2020-01-24 16:47] rajibmitra opened #1023 "Reduce docker build time in circleci"
**Motivation**
When small things are changed which doesn't require full docker build , in those cases we can use previous build's layer to have faster build time.

**Feature**
add docker cache layer option to reduce build time

Add option in circleci config file so that the cache layer is enabled.

**Alternatives**

**Additional context**

[2020-01-24 16:47] rajibmitra commented on #1023
/assign @rajibmitra

[2020-01-24 16:47] rajibmitra commented on #1023
#1022

[2020-01-24 22:55] a0145 commented on #896
I had some spare time to try this out on the latest 4.19 kernel (4.19.98), and it still hangs with the bpf sysdig probe.  I don't think this is related to the kernel lockdown feature - the bpf program is able to load and function, however it hangs at the wait4 syscall

[2020-01-26 13:30] kris-nova opened #1024 "Installing Falco locally"
**Motivation**

A little known caveat of Falco (until you are deeply involved in the project, or using Falco) is that by definition it only works on systems using a Linux kernel. That is how the system event parsing from the kernel works. Using Linux features :smile:

Right now installing Falco is a bit fragmented, and could be much more seamless. We need help and owners if we are lucky to manage

[2020-01-26 13:32] kris-nova commented on #1024
Also check out this issue I opened https://github.com/falcosecurity/falco/issues/1024

There is a lot to consider here, and I think having the operating system logic to install Falco should live in a place that users of the operating system would expect it to be.

Note: If we had Falco supported in many different operating systems natively, building a Falco container would be as simple as doing so

[2020-01-26 13:35] kris-nova commented on #1024
One of these days I might be crazy enough to add and maintain a package to freshports for our FreeBSD friends.

But the internet seems like to sign me up for a lot of the FreeBSD container things so I am not promising anything (yet).

[2020-01-26 18:18] mohitgoyal2011 commented on #1024
I had a question. Doesn't apt-get install falco already exist ? I took a look at the bash script mentioned in the installing falco docs. It seems to take care of adding a repo and installing the headers then the package. I'm dead sure I'm missing something here :)

[2020-01-26 19:32] kris-nova commented on #1024
Hey @mohitgoyal2011,

So yes - the [documentation](https://falco.org/docs/installation/ ) has examples of downloading repository lists and gpg keys for both yum and apt-get.

We need all of the packages up to a certain standard however, and neither of this are at that standard. In fact I’m fairly certain that hosting gpg keys and repository information and artificacts as they are now is not only b

[2020-01-26 20:12] kris-nova commented on #1019
Another quick note, as https://github.com/falcosecurity/falco/issues/1024 starts to ramp up, we in theory should be able to drastically simplify our Dockerfiles

I think in a perfect world all a Falco dockerfile will do is use the in-house package manager to install Falco as it would on any other operating system.

[2020-01-26 21:51] mohitgoyal2011 commented on #1024
So referring back to falcoctl, the user experience of installing Falco should ideally be just googling "install Falco", go to the link, get falcoctl and type in falcoctl install falco --local or kubernetes. This should take care of the installation directly without exposing GPG keys or requiring any hard-coding.

[2020-01-27 01:33] kris-nova commented on #1024
Yes exactly,

But I also think that we need to be very clear of the following

 - ALL logic to go from _nothing_ to a working Falco installation should live in an OS level repository
 - The `falcoctl` CLI tool would simply wrap that logic, and offer other utilities to getting Falco set up the way you prefer
 - So even if to start all that `falcoctl install falco --local` does is run `apt-get insta

[2020-01-27 01:39] kris-nova commented on #1024
In my mind,

If a user wanted to set up Falco and a tool like Prometheus locally the user experience might look something like this:

[code]

[2020-01-27 09:08] prankkelkar commented on #874
Verified that this issue is resolved. Followed latest documentation and used master branch on centos:8 Intel.
Closing this issue.

[2020-01-27 09:08] #874 closed

[2020-01-27 17:59] bzurkowski opened #1026 "K8S audit unable to reach Falco due to invalid port in webhook endpoint"
**Describe the bug**

After installing Falco with dynamic K8S auditing enabled, K8S API Server is unable to reach Falco service due to invalid port in Falco webhook endpoint.

Falco Helm chart [creates an audit sink](https://github.com/helm/charts/blob/35e0cd0a33be73870c01414951484231fea4a56d/stable/falco/templates/auditsink.yaml#L16-L21) with webhook endpoint defined using K8S service reference i

[2020-01-27 18:01] bzurkowski commented on #998
@ProdanLabs Please, check out if that is your case: https://github.com/falcosecurity/falco/issues/1026.

[2020-01-27 18:23] holdenk commented on #925
From a quick chat in falco.cpp look where we call next and add mutexes around there. And then look for where the container metadata is coming from idk? I think I missed something ehre @kris-nova.

[2020-01-27 18:39] kris-nova commented on #925
So check out the main daemon loop in `falco.cpp` and look how we call `next(&ev)` with [the event pointer.](https://github.com/falcosecurity/falco/blob/dev/userspace/falco/falco.cpp#L260)

The mutex will need to lock right after this method call, and also wait for the "container metadata" context that comes from lua [here](https://github.com/falcosecurity/falco/blob/a1d6a4762eb3a7dcc2c68f189b3926f

[2020-01-27 18:58] fntlnz commented on #925
@kris-nova @holdenk maybe we don't need a mutex here. The asynchronous nature of container metadata is what is causing the problem here so a thing we can do is to add a flag to tell container metadata to not be asynchronous.
It doesn't solve the problem when we actually want that to be synchronous but it's a thing we can do now for those that need container metadata 100% of the time while we wait

[2020-01-28 17:14] leodido commented on #726
Keep this open

[2020-01-28 18:04] fntlnz opened #1027 "Falco build service"
**Motivation**

As discussed in the build and release infrastructure call we decided to build a service that will allow people to:

- Download deb/rpm packages
- Download probes and kernel modules

When a probe or kernel module is required by a user for a specific combination of kernel version + falco version + kernel config flags, that triggers a build for that combination that will result in an

[2020-01-28 18:05] fntlnz commented on #1027
/assign @kris-nova
/assign @fntlnz

[2020-01-28 18:12] caniszczyk commented on #983
Hey can we do this before it becomes more disruptive?

I'm open to considering shared channels once I understand the privacy policy issues.

[2020-01-29 03:46] PeteGoo commented on #835
This affected us by firing some pretty high priority AWS GuardDuty alerts for `CryptoCurrency:EC2/BitcoinTool.B!DNS` ([docs](https://docs.aws.amazon.com/guardduty/latest/ug/guardduty_crypto.html#crypto3)) due to the DNS lookups.

We spent quite a bit of time tracking this down to the above change after isolating the source EC2 instance and destroying it.

[2020-01-30 16:13] vrongmeal commented on #788
/assign

[2020-01-31 04:28] sairam-h commented on #1021
Facing the same issue

[2020-01-31 04:40] #919 closed

[2020-01-31 23:40] #799 closed

[2020-01-31 23:40] #837 closed

[2020-01-31 23:40] #819 closed

[2020-01-31 23:40] #824 closed

[2020-02-01 00:40] #934 closed

[2020-02-01 07:51] bzurkowski opened #1029 "Empty values (<NA>) in JSON output fields"
**Describe the bug**

When using Falco with dynamic K8S auditing enabled, JSON output in Falco alerts has missing values for some attributes, mainly `pod` attribute. These values are marked as `<NA>`.

For example, given the default auditing rule:

[code]

My backend receives an alert with the following content:

[code]

Note `"ka.resp.name":"<NA>"` should contain pod name.

**How to reproduce it*

[2020-02-01 17:28] amuniz commented on #607
I might be wrong, but I think @kris-nova just demoed something like this today at FOSDEM. Is this about a deeper integration?

[2020-02-02 08:56] #851 closed

[2020-02-02 16:58] dnwe commented on #813
_keeping fresh_

[2020-02-02 22:56] #938 closed

[2020-02-02 22:56] #937 closed

[2020-02-02 23:43] fntlnz commented on #936
This still needs investigation.
/reopen

[2020-02-02 23:43] poiana commented on #936
@fntlnz: Reopened this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/936#issuecomment-581191024):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2020-02-02 23:53] fntlnz commented on #813
What does here think about making the ring buffer size configurable via a flag ?

Also for everyone reading here, the ring buffer is not used for the eBPF implementation. This might also be useful information when comparing performances and to go to the root of the cause of drops.

[2020-02-03 00:59] dnwe commented on #813
We've never tried out the eBPF impl as the docs seemed like they suggested the kernel module was the recommended choice. Do we still get notified of drops with eBPF in the same way? I could give it a spin

[2020-02-03 15:06] kris-nova commented on #986
Reopening so that we can share

[2020-02-04 14:18] rfrohl opened #1034 "sysdig build dependency requires network access"
**Describe the bug**

The `sysdig` dependency during build is pulled from a git repository. This makes it kinda complicated to ship falco in a distribution. I was wondering if there is a specific reason that sysdig is pulled in via git.

**How to reproduce it**

build falco without network access.

**Expected behaviour**

CMake should pull the dependency from the system first and fall back to git.

[2020-02-04 14:28] leodido commented on #1034
Hello @rfrohl, every third-party dependency is taken via the network.

Building without network access is not a goal for us at the moment.

In any case, we can discuss alternatives approaches.

A possible approach could be to provide CMake variables to specify paths for all third-party dependencies, to use them rather than git repositories.

Anyway, we discuss such matters into [community](https:/

[2020-02-04 14:28] leodido commented on #1034
/kind feature

[2020-02-04 14:30] fntlnz commented on #1034
@rfrohl We take many dependencies from the network, can you please share what is your workflow?
From what I can see it looks like you have three different stages:

stage 1. `git clone` Falco from a machine with internet access
stage 2. Move the Falco dir to a build machine
stage 3. Try to build Falco but it fails because of no internet

We could implement a mechanism to allow you to retrieve depen

[2020-02-04 16:27] fntlnz opened #1035 "Ban additional functions"
**Motivation**

Now that we have https://github.com/falcosecurity/falco/pull/1031 - we want to consider banning additional functions that are unsafe in C/C++ to mitigate human error while merging future PRs.

**Feature**

Possible functions (please add more if needed):

- vsprintf()
- sprintf()
- strcat()
- strncat()
- strncpy()

**Alternatives**
None

**Additional context**

Read the original iss

[2020-02-04 16:47] #788 closed

[2020-02-04 17:25] rfrohl commented on #1034
Sure, sorry that it was unclear in the initial report. It is basically a normal rpm build:
- take the released version (i.e. 0.19.0.tar.gz) and commit it to the source tracker.
- write spec file, which sets up the build environment and pulls all the dependencies from the distro (like protobuf, zlib, openssl...)
- this works for most (all other? ) things beside sysdig
  * even though I have the rec

[2020-02-04 20:00] #987 closed

[2020-02-04 21:12] rfrohl commented on #1034
For some reason your comment did not show, when I wrote the first response. I will try to make the call.

[2020-02-05 01:14] vrongmeal commented on #1035
/assign

[2020-02-05 01:17] vrongmeal commented on #1035
Also, I was wondering if we should add this in the documentation to include `"banned.h"` if a new file is created in `userspace`.

[2020-02-05 11:39] leodido commented on #1035
@vrongmeal yes, I'd like to have it documented.

[2020-02-05 11:45] leodido commented on #1035
I would add also add the following to the list:

* swprintf
* vswprintf

We want `snprintf()` (or one of the specialized non-varg versions to be used, instead.

[2020-02-05 14:01] Thyrst commented on #1021
Hello, I have probably the same issue. It looks like COS is not detected. With Falco 0.18.0 everything works fine.

[2020-02-05 16:34] kris-nova opened #1038 "Falco with JenkinsX Proposal"
**Motivation**

@rajibmitra to fill this in (click edit)

**Feature**

Design proposal: Falco with Jenkins X and OpenFaaS

Author: @rajibmitra
Reviewer :

Falco, the open source cloud-native runtime security project, is the defacto Kubernetes threat detection engine. Falco detects unexpected application behavior and alerts on threats at runtime.

Jenkins X is a Kubernetes native CI/CD platform.  I

[2020-02-05 17:16] leodido commented on #999
/good-first-issue

[2020-02-05 17:16] poiana commented on #999
@leodido:
	This request has been marked as suitable for new contributors.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md#good-first-issue).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-good-first-issue` command.

<details>

In response to [this](https://g

[2020-02-05 17:24] leodido opened #1039 "Fix the Falco version"
**Describe the bug**

Currently, when Falco builds, the cmake computes its version looking at the git index.

At the moment, cmake outputs version with an unwanted leading 0.

**How to reproduce it**

[code]

Look at the cmake output.

**Expected behaviour**

[code]

**Screenshots**

[code]

[2020-02-05 18:10] kris-nova commented on #1027
Link to repository to track this work: https://github.com/falcosecurity/build-service

We can open issues there

[2020-02-05 18:10] #1027 closed

[2020-02-05 21:19] dedman commented on #547
@prasenforu did you ever find out how to enable Kubernetes Audit in AKS?

[2020-02-05 23:56] srivastavaabhinav commented on #925
@fntlnz what's the decision here?

[2020-02-06 12:27] iverberk opened #1040 "memory leak while processing the audit endpoint"
**Describe the bug**

Falco is not releasing memory when it is processing events on the k8s audit endpoint. We are running several Falco pods and one of them is processing the Kubernetes audit events, which are provided via this project: https://github.com/xebia/falco-eks-audit-bridge. We notice that all pods are fine, except the one that is receiving all the audit events. Below is graph of the me

[2020-02-06 13:42] fntlnz commented on #1040
More analysis of this problem in #1041

PR that introduced the leak: https://github.com/falcosecurity/falco/pull/826/

Affected Falco versions: 0.18.0, 0.19.0

[2020-02-06 13:49] iverberk commented on #1040
Thanks for the quick response and analysis! 👍

[2020-02-06 16:16] wilf1rst commented on #607
Here's the talk
http://bofh.nikhef.nl/events/FOSDEM/2020/K.1.105/kubernetes.webm

[2020-02-06 18:16] #1040 closed

[2020-02-06 23:14] leodido commented on #1039
/assign

[2020-02-07 08:34] omissis commented on #1009
Hi, I see this happening on minikube v1.7.1 (k8s v1.17.2) using the xhyve driver on MacOS 10.14. I am installing via helm chart (1.1.1). I tried specifying the image tag, using 0.19.0 first and 0.18.0 later and both can't seem to download the precompiled module.

**v0.19.0**
[code]

**v0.18.0**
[code]

I also noted that the files at https://s3.amazonaws.com/download.draios.com don't include any of

[2020-02-07 10:28] #1039 closed

[2020-02-07 13:17] Thyrst opened #1042 "Unsolicited buffering of output"
**Describe the bug**

Events are not logged to stdout until the program is ended. I disabled `buffered_outputs` option but that doesn't help. It probably happens only when `syscall_event_drops.actions` is set to `ignore` even though it shouldn't matter.

**How to reproduce it**

Enable `stdout_output`,  set `syscall_event_drops.actions` just to `ignore` and set `buffered_outputs: false`. Trigger s

[2020-02-07 15:38] leodido commented on #885
I’d close this issue.

On Fri, 7 Feb 2020 at 13:51, stale[bot] <notifications@github.com> wrote:

--
L.

[2020-02-07 15:39] leodido commented on #628
We still want this

On Fri, 7 Feb 2020 at 13:51, stale[bot] <notifications@github.com> wrote:

--
L.

[2020-02-07 19:17] omissis commented on #1009
Update for whoever is having the same problem in the future: it turned out that probes aren't compiled anymore starting with 0.19.0, as the organisation is migrating to a new infrastructure. Once that'll be done builds will be a thing again but until then the module needs to be built from scratch.
I experienced the same problem on 0.18.0 as my k8s' kernel version did not have a corresponding compi

[2020-02-08 06:13] rashmi43 commented on #1029
I would like to work on this.

[2020-02-08 06:22] rashmi43 opened #1043 "Unable to install Falco by applying DaemonSet"
**Describe the bug**
Issue with installing Falco using DaemonSetCondition manifests

**How to reproduce it**

kubectl apply -f k8s-with-rbac/falco-daemonset-configmap.yaml

**Expected behaviour**

kubectl apply daemonset config should work.

**Screenshots**

kubectl apply -f k8s-with-rbac/falco-daemonset-configmap.yaml
error: unable to recognize "k8s-with-rbac/falco-daemonset-configmap.yaml": no m

[2020-02-09 09:32] afbjorklund commented on #1034
I had the same issue with [Buildroot](https://buildroot.org/) (for inclusion in minikube)

https://github.com/kubernetes/minikube/pull/6560

As a workaround, I downloaded the sysdig tarball and edited the URL in the cmake script.
This complicates the build process, but on the other hand it was _required_ to make it work...

I was able to use the bundled deps for other things, everything except ncu

[2020-02-09 11:30] rfrohl commented on #1034
This complicates the build process, but on the other hand it was required to make it work...

I was thinking about bundling the sysdig tarball myself, but only as a workaround. The problem with solutions like this is that dependencies won't be updated once they are embedded. Therefor I decided to open this bug instead.

Sadly I did not find the time yet to look into the cmake module. So I am not s

[2020-02-09 17:55] maxgio92 commented on #1043
The same for me running Kubernetes 1.16.2 on minikube 1.5.2. The issue I think is for [deprecations](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.16.md#deprecations-and-removals)  introduces with the 1.16

[2020-02-11 17:23] dedman commented on #547
Response from Azure "support"

`'--audit-policy-file=/etc/kubernetes/audit-policy.yaml --audit-webhook-config-file=/etc/kubernetes/audit-webhook-kubeconfig'`
on the api server, as this is completely managed by Azure

[2020-02-11 17:28] prasenforu commented on #547
Only one option is available that is audit sink but I haven't tested.

[2020-02-11 18:32] dedman commented on #547
I'm getting the following error
`error: unable to recognize "falco/falco-audit-sink.yaml": no matches for kind "AuditSink" in version "auditregistration.k8s.io/v1alpha1"`

So I'm it seems likely that Azure doesn't have the --audit-dynamic-configuration, etc configured for so that AuditSink works. Is AuditSink expected to work if you don't have access to modify the api-server config?

[2020-02-11 20:15] mfdii commented on #547
I was able to do it - I can pair next week if needed

—
Kris Nova
Chief Open Source Advocate

[2020-02-11 23:23] fntlnz commented on #845
Hi @nuala33 have you tried running Falco 0.19.0 already ? I’m still unable to reproduce this as I’m not even sure what questions to ask since your two deployments seem pretty standard to me.

[2020-02-12 21:49] #961 closed

[2020-02-13 01:25] robotica72 opened #1045 "Falco Daemonset of Kind under Ubuntu/CentOS/WSL2 - Same issue"
**Describe the bug**

I know its been mentioned in a few issues but I havent seen any resolution or a lot of discussion - so I was hoping to ask this one again - Trying to deploy a Falco DS on a Kind Cluster - I have tried it on Kind under Ubuntu 16.04 and 18.04, CentOS 8, and WSL2 (I expected WSL2 issues).   All have the same issue.

**How to reproduce it**

Base Ubuntu installed - Standard Docke

[2020-02-13 12:43] robotica72 commented on #1043
I had this issue as well, you can get past the error by changing the YAML before deploying:

apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: falco-daemonset
  labels:
    app: falco-example
    role: security
spec:
  selector:
    matchLabels:
      app: falco-example

This works on the newest kind that is running K8s 1.17

[2020-02-13 13:05] maxgio92 commented on #1043
Hi @robotica72 you can follow my PR https://github.com/falcosecurity/falco/pull/1044

[2020-02-13 17:01] #1035 closed

[2020-02-13 17:18] robotica72 commented on #1045
Figured out a workaround - Adding it here just in case someone else finds it useful.

After you create the Kind cluster, simply copy your Hosts kernel-headers from /usr/src to the Kind container /usr    -  Then spin up the Falco DS and it works great!

Once I did that, the Falco POD output is all good:

* Setting up /usr/src links from host
* Unloading falco-probe, if present
* Running dkms instal

[2020-02-13 18:01] holdenk commented on #925
@fntlnz would making this call be sync slow things down unacceptably?

[2020-02-13 18:18] leodido commented on #925
@holdenk IMHO yes.

Also, that would increase the drop rate noticeably.

A temporary solution could be to introduce a flag for Falco that forces the inspector - ie., sinsp - (technically, its container manager, `class sinsp_container_manager`) to fetch the container metadata synchronously.

To do it there is this method: `inspector->set_cri_async()`, source ([here](https://github.com/draios/sysdig

[2020-02-13 20:02] nuala33 commented on #845
Hi @fntlnz I ended up upgrading to 0.18.0 instead because I hit the issue from #425 when trying to use 0.19.0 with GKE / Container Optimized OS.

I'm wondering, were you able to run Falco in a GKE cluster and trigger rules successfully using GKE version 1.14? The problems I saw with Falco not triggering on rules began once I upgraded my GKE version, and even testing again now, I could get the netc

[2020-02-13 23:19] rbytheway opened #1046 "Enable output of Mitre Att&ck tags"
**Motivation**

It would great to be able to output the Mitre Att&ck tags when a Falco alert gets generated.

**Feature**

For any Falco rule, its output should include the Mitre Att&ck tag(s) by default

**Alternatives**

**Additional context**

[2020-02-14 00:02] vicenteherrera opened #1047 "Adding acceptance tests for Falco"
**Motivation**

I wrote a bash program for testing rules and would like to look at donating it or building something similar to Falcoctl or the Falco program.

**Feature**

I want to be able to modify or extend falco_rules.yaml and test that other detections are working when I change macros and lists.

**Alternatives**

I've been doing this locally and think we should be doing this project.

**Add

[2020-02-14 00:51] ssurovich commented on #1043
@maxgio92 - Cool, will do - Thanks for the link

[2020-02-14 08:01] fntlnz commented on #994
This was solved after the pr I mentioned above

[2020-02-14 08:01] #994 closed

[2020-02-14 16:17] leodido commented on #1047
Oh, I like this idea @vicenteherrera!

Can I see this so we can decide together the better place to contribute it? :)

Or, maybe, if you want you can come to the next community call presenting it!

Whatever do you prefer :)

[2020-02-14 16:18] leodido commented on #1046
It sounds like a suitable and cool idea to me.

Could you just provide an example output line for this?

[2020-02-14 16:19] leodido commented on #1042
Thanks, @Thyrst for reporting this!

Nothing should change in Falco 0.19.0 unfortunately, but, just to be sure, could you please try it in Falco 0.19.0 too?

[2020-02-14 16:21] leodido commented on #1023
Closing this for now as we are not using any paid plan for CircleCI.

[2020-02-14 16:21] #1023 closed

[2020-02-14 16:23] leodido commented on #990
We released https://github.com/falcosecurity/falco/commit/4e39fee54e0f7e51f79e886933ccbc30193f134b into Falco 0.19.0

So, closing this :)

/close

[2020-02-14 16:23] #990 closed

[2020-02-14 16:36] JPLachance commented on #640
This issue was not fixed. We should address it...

[2020-02-14 18:53] rajibmitra commented on #1047
+ 1

[2020-02-15 15:19] Thyrst commented on #1042
@leodido Unfortunatelly, I can't get Falco 0.19.0 running on GKE because of https://github.com/falcosecurity/falco/issues/1021

[2020-02-15 17:40] afbjorklund commented on #1009
The plan is to provide a system kernel module for falco 0.19.0, with the release of minikube 1.8.0

`KERNEL_VERSION=4.19.94`

`/lib/modules/${KERNEL_VERSION}/extra/falco-probe.ko`

Workaround before that happens, is to pin the versions to the last sysdig build: 0.17.1 on 1.4.0 :

https://s3.amazonaws.com/download.draios.com/stable/sysdig-probe-binaries/falco-probe-0.17.1-x86_64-4.15.0-fd2ad9abe1fb

[2020-02-16 15:25] #510 closed

[2020-02-17 08:57] fntlnz commented on #838
We can close this

[2020-02-17 09:20] fntlnz opened #1048 "Release Falco 0.20.0"
**Motivation**

We need to cut a release of Falco 0.19.1 - A critical fix has been made that is impacting both 0.18.0 and 0.19.0

Fix here: https://github.com/falcosecurity/falco/pull/1041

**Feature**

**Additional context**

[2020-02-17 09:20] fntlnz commented on #1048
/assign @rajibmitra

[2020-02-17 09:51] fntlnz commented on #1048
^ This is becoming 0.20.0 - there are new features in the milestone and this can't be just a patch.

[2020-02-17 17:03] #318 closed

[2020-02-17 22:31] JPLachance commented on #897
This issue was not solved. We should have a tag we can put on important issues like this one and the stale bot should stop closing important issues. 😄

[2020-02-18 09:32] terenceli commented on #1009
I meet this issue too. Hope the Falco team can provide the docs for compile the kernel module for minikube VM.

[2020-02-18 09:47] fntlnz opened #1049 "BPF_PROBE environment variable is not consistent"
**Describe the bug**

In https://github.com/falcosecurity/falco/pull/922 the legacy `SYSDIG_PROBE` environment variable was renamed to `BPF_PROBE` to continue our efforts in removing all the references from the Falco codebase.

However, as of 0.19.0 the environment variable is changed to `BPF_PROBE` only for the `falco-probe-loader` while falco itself still picks `SYSDIG_PROBE`.

Also our kubernet

[2020-02-18 09:59] omissis commented on #1009
I took the time to put together a dev environment that should help setting up a few flavours of kubernetes locally where to run falco with ease: https://github.com/omissis/falco-kubernetes

[2020-02-18 17:22] jicowan opened #1051 "Add Cloudwatch Logs as an event source for k8s audit logs"
**Motivation**
EKS outputs the k8s audit logs to CW Logs (CWL) and the kube-apiserver flags are not configurable.

**Feature**
I'd like to see Falco add CWL as another event source.

**Alternatives**
Support for multiple backends, e.g. CWL, ElasticSearch, Loki, etc.

**Additional context**

[2020-02-18 17:35] leodido commented on #1051
Hello Jeremy,

this sounds like a cool idea to me. So it's a +1 from me.

The only thing I'd like to clarify is the approach for supporting other
event sources that I'd prefer.
Rather than implementing other event sources into Falco one by one, I think
Falco should provide an interface so others (community, third party, etc.)
will build inputs plugins for various event sources.

In fact, also for

[2020-02-18 19:07] leodido commented on #857
Keep

On Tue, 18 Feb 2020 at 19:42, stale[bot] <notifications@github.com> wrote:

--
L.

[2020-02-18 19:46] psingh-xav opened #1052 "Not able enable k8s audit logs with falco ,k8s version 1.16 and falco as daemon-set"
**enable k8s audit logs**

i m facing this when add audit-policy.yaml in kube-apiserver.yaml ,  kubectl get pod , command not working getting error

The connection to the server 10.x.x.x:6443 was refused - did you specify the right host or port?

**docker logs kube-api**

root@ip-10-x-x-x:/home/ubuntu# docker ps |grep api
6edb43503842        k8s.gcr.io/pause:3.1

[2020-02-18 19:48] vsimon commented on #683
/no-stale

[2020-02-18 19:53] psingh-xav opened #1053 "not able see falco service in falco helm chart"
i m not able to see service falco-service

when i m  run falco helm chart

https://hub.helm.sh/charts/stable/falco/1.1.0

follow from here

[code]

[2020-02-18 20:13] mstemm commented on #1052
I'm guessing from the above that the api server isn't coming back up after you made the configuration changes. The error `The connection to the server 10.x.x.x:6443 was refused - did you specify the right host or port?` seems to be from your kubectl and not directly related to passing along k8s audit events.

Since you're using k8s 1.16, you might want to go the route of enabling dynamic audit sin

[2020-02-18 20:49] psingh-xav commented on #1052
after edit kube-apiserver.yaml
i got  kubectl api-resources | grep audit
auditsinks                                     auditregistration.k8s.io       false        AuditSink

**falco pod logs**
`ok{"output":"20:43:58.270461467: Error File below /etc opened for writing (user=root command=vi audit-webhook-kubeconfig parent=bash pcmdline=bash file=/etc/kubernetes/4913 program=vi gparent=su ggparent=s

[2020-02-18 20:51] Issif commented on #1053
Hi,

As you can see there : https://github.com/helm/charts/blob/master/stable/falco/templates/service.yaml#L1 the `Service` is only deployed if `auditLog.enabled = true` (default is `false`).

Remember that `Service` is for now only used to gather `audit logs` from k8s API server.

[2020-02-19 07:57] psingh-xav commented on #1053
can you help me how to enable audit log i tried audit -policy but I did not get success

https://github.com/falcosecurity/falco/issues/1052  i raise the issue for same

[2020-02-19 10:36] fntlnz commented on #813
@dnwe yes! drops go through the same process.

Just yesterday I made a PR documenting the eBPF installation process for multiple kinds of installations https://github.com/falcosecurity/falco-website/pull/134

Please be aware you might still have `SYSDIG_BPF_PROBE` if you are on < 0.18.0 - everything should be consistently set to `FALCO_BPF_PROBE` for 0.20.0

[2020-02-19 15:56] fntlnz commented on #925
Discussing this in today's call to make a decision

[2020-02-19 16:23] leodido commented on #925
/assign @fntlnz

[2020-02-19 16:24] nebi-frame commented on #925
Can I join the call as well?

[2020-02-19 16:25] leodido commented on #925
Sure, https://sysdig.zoom.us/my/falco

[2020-02-19 16:29] fntlnz commented on #925
We made a decision, we are going to fix this by making the synchronous mode opt-in for those who want it.

In this way  we can fix the problem for everyone right now and we can focus on the inputs api to solve the root cause as leo was mentioning [here](https://github.com/falcosecurity/falco/issues/925#issuecomment-567935174).

[2020-02-19 16:33] leodido commented on #838
30 days have passed, remove the wiki pages definitely

/assign @kris-nova

[2020-02-19 16:34] #838 closed

[2020-02-19 16:39] nebi-frame commented on #925
Thanks everyone, I'm excited for the synchronous mode 👍

[2020-02-19 21:32] jseadragon commented on #835
I just encountered this today and lost part of the day looking into it only to find that it was falco doing this. The DNS traffic was flagged by my SIEM and I spent several hours tracking it down.

I like the *concept* of dynamically keeping the DNS names up to date so you can track malicious behavior at the IP level, but querying the DNS name inside the cluster natively is probably not the best w

[2020-02-19 21:57] Kaizhe commented on #835
@jseadragon thanks for the input. I am thinking maybe we should disable this rule by default. Alternatively, the security team needs to find a way to dynamically update the cryptoming IP addresses before enable this rule.

[2020-02-20 17:31] leodido commented on #1029
/milestone 0.21.0

[2020-02-20 17:31] leodido commented on #925
/milestone 0.21.0

[2020-02-21 01:40] sporkmonger commented on #835
I think the near term fix should be to disable by default until a longer term resolution presents itself. There's many other good ways to get alerts for this behavior. It doesn't need to be Falco doing the alerting and if someone doesn't have good coverage for this risk, they can still optionally turn this on. Having it on by default is much more likely to create unnecessary work than it is to rev

[2020-02-22 22:51] fntlnz commented on #1034
@rfrohl if you want I can walk you trough our cmake files, you can get up to speed fast and propose changes for your kind of use case. I have a very good understanding of how it works. LMK

[2020-02-23 01:16] leodido commented on #978
/open

On Sat, 22 Feb 2020 at 18:26, stale[bot] <notifications@github.com> wrote:

--
L.

[2020-02-23 09:13] afbjorklund commented on #1034
I think I actually _prefer_ this tarball/checksum approach, if it had been git submodules it would have been more work (to avoid git)... For now, I only need to avoid the version check and change the URL.

* cmake/modules/GetFalcoVersion.cmake

* cmake/modules/sysdig-repo/CMakeLists.txt

Then it avoids trying to use git (on the wrong repo) to get the version, and avoids trying to use the network (

[2020-02-23 10:27] #574 closed

[2020-02-23 10:27] #882 closed

[2020-02-23 13:26] afbjorklund commented on #1009
The 0.19.0 module has been added (to minikube), will upgrade to 0.20.0 before the release.

[2020-02-23 19:20] KnoxAnderson commented on #1051
Hey Jeremy,

We developed with cloudwatch forwarder for Sysdig Secure that should work for falco as well. https://github.com/sysdiglabs/ekscloudwatch

[2020-02-24 07:44] Chwetion commented on #1045
I meet the same question, how can i understand "copy your Hosts kernel-headers from /usr/src to the Kind container /usr", some command example?

[2020-02-24 14:18] ssurovich commented on #1045
@Chwetion Hi, I have two Git accounts, so the original post was my second account.

Im not sure if you running Ubuntu or some other Linux version, If you are running Ubuntu then the you need to install the header on your Host machine first with an apt get, then you need to copy the directory from the Host to the Kind Node(s) that are Worker nodes.  For ease, Ill assume you have a single container

[2020-02-24 18:40] #1049 closed

[2020-02-25 02:53] Chwetion commented on #1045
Sorry, I didn’t read the log carefully, our scene may be different.
I use install step with integrations/k8s-using-daemonset/README.md
and error logs as follow:
[code]

falco version: 0.20.0 (today upgrade)
os: centos7.4
kernel version: 3.10.0-693.el7.x86_64

where is logs "symbolic link" setting, i can see the debug/kernels/src dir in my host /usr/src
anything advice?

[2020-02-25 03:10] Chwetion commented on #1045
I use image version 0.18.0 replace latest, it's all ok, this may be a bug in version 0.20.0? thanks a lot @ssurovich .

[2020-02-25 06:49] Chwetion commented on #1045
I rollback version 0.20.0 -> 0.19.0 and install kernel-devel-$(uname -r) in centos, that's ok.
thanks a lot @ssurovich

[2020-02-25 09:44] fntlnz commented on #1048
This is done!

https://falco.org/blog/falco-0-20-0/

[2020-02-25 09:44] #1048 closed

[2020-02-25 09:46] fntlnz commented on #1040
Thanks @iverberk for bringing this to our attention. Now that 0.20.0 is released, this fix is included.

https://falco.org/blog/falco-0-20-0/

[2020-02-25 12:08] leodido opened #1056 "Setup CI to build on git tag"
**Motivation**

I want the CI to build the code referring to a git tag.

This would be another step towards the reshaping of a new release process in the open (refs https://github.com/falcosecurity/falco/issues/726#issuecomment-515068046).

In fact, the CI, in this case, will build artifacts (DEB, RPM, TAR.GZ) with the correct version (grabbed automatically from the git tag) that can later be used

[2020-02-25 12:08] leodido commented on #1056
/milestone 0.21.0

[2020-02-25 12:08] leodido commented on #1056
/assign

[2020-02-25 12:13] leodido opened #1057 "Setup debug build on CI"
**Motivation**

We have the `-DCMAKE_BUILD_TYPE=debug` CMake flag to manually enable the debug build type of Falco.
Nevertheless, we are not ensuring in any way that code changes do not break it.
So I'd like to have this kind of build on CI, too.
Not as a mandatory blocking GitHub check, but, at least, a check, on every PR.

**Feature**

Add two debug build type to CI:
- on ubuntu with -DCMAKE_BUI

[2020-02-25 12:13] leodido commented on #1057
/assign

/milestone 0.21.0

[2020-02-25 12:19] leodido opened #1058 "Fix the dockerfiles downloading Falco tar.gz package with ADD from URL"
**Describe the bug**

When the `FALCO_VERSION` env variable contains a version string with a character like `+` the resulting URL to download the TAR.GZ package does not resolve correctly.

For example, this is happening here:

https://github.com/falcosecurity/falco/blob/802b9f7b69af665593dfa99431c6b9d7abf5c94f/docker/minimal/Dockerfile#L11

To solve this the URL needs to be url-encoded.

**How to

[2020-02-25 12:19] leodido commented on #1058
/assign

/milestone 0.21.0

[2020-02-25 12:21] #1015 closed

[2020-02-25 14:50] Thyrst commented on #935
Hi, we have probably the same issue. Falco 0.18.0 on GKE.

[code]

[2020-02-25 15:15] ssurovich commented on #1045
@Chwetion Happy to help out - It was driving me crazy for some lab testing I was doing and I really wanted to figure out how to get it working.  As you mentioned, I also have it working in CentOS and I was starting to work on WSL2 but "real" work took over my free time, I need to get back to that one.

Glad its working for you :)

[2020-02-25 17:46] jicowan commented on #1051
Nice @KnoxAnderson.  I'll give this a try.

[2020-02-25 20:25] ykcilborw opened #1060 "When Falco Rule Is Missing Fields, Only One Missing Property Is Reported At A Time"
**Describe the bug**

When multiple required fields are missing in a Falco rule, Falco only returns with an error message about one of the missing fields instead of enumerating all the missing required fields.

**How to reproduce it**

1. Create a rule with the following properties:

rule, desc, condition

and that is missing

priority, output

Example:

---
- rule: Blacklist commands
  desc: Blac

[2020-02-26 10:46] Thyrst commented on #935
Setting dnsConfig.ndots to 1 didn't help and I did not find any relevance between restarts and CPU, memory or network usage neither.

[2020-02-26 11:43] quanvuminh commented on #936
I tried with the newest release 0.20.0, the container can start and run now but there still are error messages about syscall event source activation
[code]

[2020-02-26 13:07] mestrade commented on #1021
Same behavior with 0.20

[2020-02-26 16:25] leodido opened #1062 "Publish packages to public/open repositories"
**Motivation**

As said during various community calls, meetings, issues, etc., we need to have Falco packages published in the open, via a public and auditable mechanism.
At the same time, we also need to sign the packages with a falcosecurity (org) GPG key.

This is a vital piece towards a new and truly open release process for Falco (various references in the issue history (eg., #726).

**Featu

[2020-02-26 16:37] leodido opened #1063 "Use new falcosecurity repositories to install Falco packages into the docker images"
**Motivation**

When the process of publishing the Falco packages on their own repositories (#1062) will be complete, we'll need to update the docker images.
In fact, the docker images, at that point, should use those repositories to install Falco packages.

**Feature**

Change the repositories the docker images are using for installing Falco packages.

**Alternatives**

As far as I know, there ar

[2020-02-26 16:37] leodido commented on #1063
/milestone 0.21.0

[2020-02-26 17:45] mestrade commented on #1021
Worked on my side with the following setup:

GKE COS node

[code]

[2020-02-26 20:14] leodido commented on #706
/open

On Wed, 26 Feb 2020 at 20:29, stale[bot] <notifications@github.com> wrote:

--
L.

[2020-02-26 22:11] JPLachance opened #1064 "The falco-cluster-role ClusterRole is missing the watch privileges on resources in the apps API group"
**Describe the bug**

In [falco/integrations/k8s-using-daemonset/k8s-with-rbac/falco-account.yaml](https://github.com/falcosecurity/falco/blob/master/integrations/k8s-using-daemonset/k8s-with-rbac/falco-account.yaml#L17), we create a ClusterRole for the Falco ServiceAccount. I reviewed our kube audit logs and saw that Falco was getting an access denied on:

- `watch` `/apis/apps/v1/watch/deploymen

[2020-02-26 22:15] joshkurz opened #1065 "404 on precompiled moduel"
I know there are other issues related to this issue. This one helped me the most. https://github.com/falcosecurity/falco/issues/846

I was able to downgrade too `0.17.1` to get it working on the amz2 ami that EKS was running. I just updated the ami to a newer version and this error came back.

Curious if I should just compile the module myself and tell falco where to pull it from. Not 100% if that

[2020-02-27 09:06] thecodejunkie commented on #1065
Also just ran into this

[2020-02-27 11:08] fntlnz commented on #1065
Hi @joshkurz thanks for bringing this up! We are aware of this.

We are not publishing the precompiled modules anymore since 0.18.0 because that part of the infrastructure was still on Sysdig infrastructure, while Falco is a CNCF project now.

We have plans to bring this back in a community-owned way using the same mechanisms we are putting in place for artifacts, see https://github.com/falcosecur

[2020-02-27 11:11] fntlnz opened #1066 "Publish pre-built kernel modules to the new repositories on bintray"
**Motivation**

While on one side we have  #1062 to publish build/release artifacts to new repositories we also want to have a new mechanism to publish pre-built kernel modules and eBPF probes to the bintray repositories.

In this way we can achieve the following:

- We bring back, prebuilt modules (we don't have them since 0.18.0)
- Builds of kernel modules and eBPF probes are public and everyone

[2020-02-27 11:33] Thyrst commented on #1021
Cool! Works for me too.

[2020-02-27 12:21] kris-nova commented on #1062
Hey - can we get a demo of this on one of the upcoming Wed calls? This is very exciting for us.

[2020-02-27 13:16] fntlnz commented on #1021
This was fixed in https://github.com/falcosecurity/falco/pull/1050

[2020-02-27 13:16] #1021 closed

[2020-02-27 13:16] fntlnz commented on #1021
Will be released in 0.20.1

[2020-02-27 15:01] joshkurz commented on #1065
So is there a suggested workaround?

[2020-02-28 15:15] palmerabollo commented on #985
Not stale.

[2020-02-28 16:32] #1056 closed

[2020-02-28 16:32] #1057 closed

[2020-02-28 16:32] #1058 closed

[2020-02-28 16:32] #1062 closed

[2020-02-28 16:32] #1063 closed

[2020-02-28 16:32] #726 closed

[2020-02-28 19:54] leodido opened #1067 "automatic docker image push is broken"
**Describe the bug**

The last step of the new releasing process is broken because not authenticated into dockerhub.

**How to reproduce it**

Just look at the releasing pipeline on the master commits.

**Expected behaviour**

To login into the dockerhub and push the docker images

**Screenshots**

Just look at the releasing pipeline on the master commits.

**Additional context**

/area build

[2020-02-28 19:54] leodido commented on #1067
/assign

[2020-02-28 19:55] leodido commented on #1067
/priority high

[2020-02-28 20:16] #1067 closed

[2020-02-28 22:45] jicowan commented on #1065
@fntlnz I am also running into this issue.  Should we download the Kernel Module via HTTPs instead?

[2020-02-28 23:21] jicowan commented on #1051
@KnoxAnderson I installed the ekscloudwatch service, created a private endpoint for CWL, and updated the instance profile of my workers to read from CWL.  I am getting the follow errors in the logs:
[code]
I am having an issue installing the falco-agent on my cluster.  I created the service (ClusterIP 10.100.225.175) but the agent fails to start because of the following:
[code]
I think I can insta

[2020-02-28 23:56] jicowan commented on #1065
@joshkurz I got it to work by installing falco through the AL2 package manager.

[2020-02-28 23:58] jicowan commented on #1051
I got it to work (I think).  I had to update the configmap for ekscloudwatch to read from falco-service.default and I had to change the port from 7765 to 8765.

[2020-02-29 03:23] rbytheway commented on #1046
desc: an attempt to write to any file below a set of binary directories
    condition: >
      ...
    output: >
      File below a monitored directory opened for writing (user=%user.name
      command=%proc.cmdline file=%fd.name parent=%proc.pname pcmdline=%proc.pcmdline
      gparent=%proc.aname[2] container_id=%container.id image=%container.image.repository
      **tag_mitre=%tags.mitre tag_cat

[2020-03-02 11:00] fntlnz commented on #1065
The suggestion, for now, is to compile the kernel modules yourself or continue using 0.18.0 until we have finalzied the new plan.
You can find the list of Falco versions for which we have the precompiled module here. https://s3.amazonaws.com/download.draios.com/stable/sysdig-probe-binaries/index.html

[2020-03-02 22:05] nebi-frame commented on #925
Hi @leodido @fntlnz , just wanted to checking in. Will the next release include fix for this bug? And when is the release due?

[2020-03-03 10:39] danmx opened #1071 "Unable to start Falco with a custom eBPF Probe"
**Describe the bug**

I’m trying to start falco using the official helm chart but with custom minimal image (which just contain an extra ebpf probe). It seems I can’t run the image.

**How to reproduce it**

Dockerfile which builds the image:
[code]

Falco version vendored using `braid`:
[code]

Using suggested `CMake` just pulled and saved it.

Using official helm chart (`stable/helm`) copied usi

[2020-03-03 14:18] danmx commented on #1071
Suppressing error messages is not very helpful:
https://github.com/falcosecurity/falco/blob/03bf027/userspace/falco/falco.cpp#L1103

[2020-03-03 18:52] kommulu opened #1072 "Install on CentOS 8 does not always install kernelmodule correct"
**Describe the bug**

Hi,
installed Falco on two machines running CentOS 8.1 (all updates installed) with nor problems. Falco runs on these machines just fine.

Now, I have four other CentOS 8.1 machines. They are all setup the same, I  am using Ansible for that.
I am using the Ansible-Role you mention in the docs to setup falco.
What happens is, on two hosts Falco works without a problem.
On the

[2020-03-04 13:31] saiharshitachava commented on #657
Im trying to use the same thing..But it fails with permission denied
Sending build context to Docker daemon  3.072kB
Step 1/7 : FROM linuxkit/kernel:4.9.125 AS ksrc
 ---> f99021f74d5e
Step 2/7 : FROM alpine:3.4
 ---> b7c5ffe56db7
Step 3/7 : ARG FALCOVER=0.13.1
 ---> Using cache
 ---> ac0b7eefa5db
Step 4/7 : ARG SYSDIGVER=0.24.2
 ---> Using cache
 ---> 7a26d1a0db0c
Step 5/7 : COPY --from=ksrc /kern

[2020-03-04 14:39] saiharshitachava commented on #657
Never mind it was a proxy issue and the image is now built and Im trying to use it as initcontainer and somehow this error pops up..

insmod: can't insert '/falco/build/driver/falco-probe.ko': invalid module format

and I cant run falco either

[2020-03-04 18:13] leogr opened #1073 "Unable to build the eBPF driver"
**Describe the bug**

Cannot build the eBPF driver on Arch Linux as explained in the [documentation](https://falco.org/docs/source/#build-ebfp-driver-1).

**How to reproduce it**

In the build directory:
[code]

It will return a bunch of errors like this:
[code]

**Expected behaviour**

No errors.

**Screenshots**

**Environment**

- Falco version:
`Falco version: 0.20.0+d77080a`
- System info:

-

[2020-03-04 20:05] leodido commented on #1073
/milestone 0.21.0

We want to update the default `SYSDIG_VERSION` for the next upcoming release.

[2020-03-04 22:52] bjoernw commented on #869
This is still an issue. Just did a vanilla install via helm-generated templates and im seeing the same 404. Is there any way to get a container with the falco-probe binary already included? I'm a bit concerned that i'm installing a security auditing tool and the first thing it does is try to download a binary from an s3 bucket outside of my domain or whitelisted repos.

[2020-03-05 14:11] leogr commented on #964
Same issue.
[code]

[2020-03-05 16:55] mazzy89 opened #1075 "Output fields not filled with info showing N/A"
**Describe the bug**

![image](https://user-images.githubusercontent.com/5463218/76004433-c43e8f00-5f09-11ea-93ab-8c006d239bca.png)

`cmdline` is empty and other fields too. It is hard to know from where this is generated.

**How to reproduce it**

Run Falco 0.20.0 in k8s 1.15.9 with OS Flatcar stable 2303.4.0

**Expected behaviour**

I would imagine having all the fields filled.

**Screenshots**

[2020-03-05 17:18] fntlnz commented on #1075
I think this is due to volume mounts in the helm chart but I will need to double check.

Also I think that this helm release is suffering this bug that was fixed here: https://github.com/falcosecurity/falco/pull/981

@nestorsalceda @leogr can you please take a look, you're way more familiar than me with the helm chart!

[2020-03-05 17:18] fntlnz commented on #1075
/assign @leogr
/assign @nestorsalceda

[2020-03-06 11:03] leogr commented on #964
Quick update.

I tried to install the driver directly in the host machine, Falco found it but still does not work:

[code]

Then I tried a prebuilt eBPF probe. I had to use `SYSDIG_BPF_PROBE: /lib/modules/falco-probe.o` (`/lib/modules` is already shared with kind, but I know it's a bit hacky).
It worked, but I don't believe this is a good solution.

[2020-03-06 15:06] leogr commented on #964
I have finally found the problem, below the steps to make it work.

**1. Install the driver on the host machine**

Clone the Falco project and checkout the tag corresponding to the same Falco version used within the helm chart (0.20.0 in my case), then:

[code]

**2. Mount `/dev` on kind-control-plane**
To make the driver work, the host's `/dev` must be accessible from within the container. To do

[2020-03-06 16:19] mazzy89 commented on #1075
Posting here the bootstrap logs after having a talk with @leogr
[code]

[2020-03-07 11:35] oke-py commented on #964
@leogr Great news! However, I'm not familiar with cmake. I can't find Makefile and the error below occurs.
[code]

[2020-03-07 15:04] leogr commented on #964
Once cmake finishes, the makefile should be inside the build dir. You can find more details in the [documentation](https://falco.org/docs/source/).

PS
Which Falco version are you using?

[2020-03-08 13:34] oke-py commented on #964
This [documentaion](https://falco.org/docs/source/) is helpful.
I haven't installed the required dependencies, and so cmake failed (I didn't notice that).

Now I'm running `sudo make install_driver`. It will probably take time.
I'm using falco 0.20.0.

[2020-03-08 13:54] oke-py commented on #964
Oh, I made a mistake. I was running `sudo make install`.
`sudo make install_driver` failed as below.
[code]

I'm using Ubuntu 18.04 on GCE.
[code]

[2020-03-08 14:42] fntlnz commented on #964
Related to this, I think we want to get the manifests for newer kubernetes versions in the Falco repo.

Also @oke-py thanks for getting this done on the helm charts! :point_down:
https://github.com/helm/charts/pull/17339

[2020-03-08 23:06] ahilmathew opened #1078 "Helm install for falco not working on EKS - error opening device /dev/falco0. Make sure you have root credentials and that the falco-probe module is loaded"
**Describe the bug**

* Setting up /usr/src links from host
ln: failed to create symbolic link '/usr/src//host/usr/src/debug': No such file or directory
ln: failed to create symbolic link '/usr/src//host/usr/src/kernels': No such file or directory
* Unloading falco-probe, if present
* Running dkms install for falco
Error! echo
Your kernel headers for kernel 4.14.154-128.181.amzn2.x86_64 cannot be

[2020-03-09 09:45] leogr commented on #1075
If I am not wrong, it looks like that the startup script is not installing the `falco-probe.ko` (because the OS is read-only), but it seems to be already present:
[code]
@mazzy89 If so, how has it been installed?

PS @fntlnz I guess this issue is not related to the helm chart.

[2020-03-09 09:52] mazzy89 commented on #1075
@leogr maybe it has been installed initially at the first run of Falco in that node.

[2020-03-09 10:51] saiharshitachava opened #1079 "Falco fails to come up Error loading module: open /falco-probe.ko: no such file or directory"
HI Team..
Im trying to install falco in kubernetes using helm..It was a sucecss but falco never comes up
Building images from source files and used those as well..Nothing works..

I also tried to spin probe-loaded as the initcontainer and that also fails with Error loading module: open /falco-probe.ko: no such file or directory
Please help below is the error I see for falco and probe-loader
ln: fa

[2020-03-09 10:51] poiana commented on #1079
@saiharshitachava: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2020-03-09 12:36] saiharshitachava commented on #1079
Please let me know how do I build my own probe and change the values of this amazon link..
* Trying to find precompiled falco-probe for 4.12.14-95.45-default
Found kernel config at /proc/config.gz
* Trying to download precompiled module from https://s3.amazonaws.com/download.draios.com/stable/sysdig-probe-binaries/falco-probe-0.19.0-x86_64-4.12.14-95.45-default-fce608f58cf010b5b5d11717aea9cf11.ko

[2020-03-09 12:37] saiharshitachava commented on #1079
/kind bug

[2020-03-09 15:39] leogr commented on #964
@oke-py
Unfortunately, I was not able to reproduce this. But it should not related to kind.
Could you try with eBPF?
https://github.com/helm/charts/blob/master/stable/falco/values.yaml#L73

[2020-03-09 15:41] bzurkowski commented on #1029
Similar issue reported in https://github.com/falcosecurity/falco/issues/865.

[2020-03-09 16:54] nibalizer commented on #1079
I believe I have the same issue. Comes up fine with 0.19, fails with 0.20 (installed via helm)

0.20 run:

[code]

0.19 run:

[code]

[2020-03-09 17:15] nibalizer commented on #1078
I'm on IKS (IBM Kubernetes service) not EKS but I was able to change version to `0.19.0` in the `values.yaml` of the helm chart and successfully bring up falco.

[2020-03-09 17:25] saiharshitachava commented on #1079
My issue is different ..It dosnt come up in 0.19.0 as well..
I guess I need to build my custom probe..Could someone help with the steps..
I have already taken the file underkernel/probeloader and built an image and tried and that doesnt seem to work as well..

[2020-03-09 17:41] fntlnz commented on #1078
@ahilmathew we have multiple fixes for the problems described here:

- https://github.com/falcosecurity/falco/pull/981
- https://github.com/falcosecurity/falco/pull/1050

In the meanwhile can you please try to use the `falcosecurity/falco:master` image? It contains those fixes until we are not ready to release `0.21.0`.

[2020-03-09 17:43] fntlnz commented on #1079
@saiharshitachava Hi, thanks for opening this! Please take a look at this comment here https://github.com/falcosecurity/falco/issues/1078#issuecomment-596676168

If that doesn't work, here are the instructions to build a custom probe falco.org/docs/source/

[2020-03-09 17:44] ahmed1smael commented on #935
Any update on this please, we are getting this on 0.20.0:
`Runtime error: Socket handler (k8s_daemonset_handler_event) an error occurred while connecting to https://x.x.x.x: Connection timed out. Exiting.`

[2020-03-09 19:56] bzurkowski commented on #1029
I took a closer look and noticed that the K8S audit payload for latest K8S releases differs from those used in tests for Falco rules.

For example [create_nginx_pod_privileged.json](https://github.com/falcosecurity/falco/blob/master/test/trace_files/k8s_audit/create_nginx_pod_privileged.json):
[code]
In Kubernetes 1.16, it's:
[code]
Note `items` field containing nested `responseObject` and `reques

[2020-03-10 00:20] rabidsloth commented on #1078
I'm also on EKS and getting this same error. I've tried to use `master` and `0.19.0` as the tag and neither of these work.

log using the `master` image tag:
[code]

[2020-03-10 05:57] ossie-git opened #1082 "Invalid Field Used in Rules File (tag -> tags)"
I noticed that there are 7 rules in [falco_rules.yaml](https://github.com/falcosecurity/falco/blob/dev/rules/falco_rules.yaml) that use the **tag** field instead of **tags**. For example:

![screen](https://user-images.githubusercontent.com/25382296/76283931-055ee680-62f0-11ea-80a3-919a88a7b8b5.png)

I'm guessing that this wasn't intended as it makes no sense to have both tag and tags fields and t

[2020-03-10 09:05] leogr commented on #1073
I confirm this issue has been fixed by #1080 :tada:

[2020-03-10 10:16] leogr opened #1083 "Rename kernel module from falco-probe.ko to falco.ko"
**Motivation**

Due to the [branding changes clarification](https://github.com/falcosecurity/falco/tree/master/brand#module), the kernel module should be renamed to `falco.ko` instead of the current `falco-probe.ko`.
Furthermore, new tools like [driverkit](https://github.com/falcosecurity/driverkit) are already using the new name. cc @leodido @fntlnz

**Feature**

Rename the kernel module from `fa

[2020-03-10 10:47] ahmed1smael commented on #925
@fntlnz Thanks to updating this issue pls.

[2020-03-10 11:22] mazzy89 commented on #1075
After spent some time to check with @leogr (thanks a lot for your time btw), we have found out that the issue is very likely connected to Flatcar and the fact that `falco-probe.ko` is missing and hence the instrumentation is not complete at the level of the OS.

In Flatcar the dir is read-only so the kernel module can't be installed under there.

I've tried also to enable eBPF but it did not help

[2020-03-10 14:29] danpopSD opened #1084 "Minikube falco build not alerting on rule violation"
**Describe the bug**
Followed steps described here:  https://falco.org/blog/minikube-falco-kernel-module/ to deploy in minikube and falco rule violations arent being shown in log.

**How to reproduce it**
1)  https://falco.org/blog/minikube-falco-kernel-module/  (follow these steps)
2) try to terminal into a pod/write to etc (one of the detault falco rules)
3) tail the pod logs Cry and Despair. as

[2020-03-10 15:51] smijolovic opened #1085 "Instructions for building release branches are incomplete"
Instructions work to build the falco binary when pulling from master, but not from stable release branches. When building binaries to use in production environments, it's more appropriate to pull from a stable release branch. The cmake instructions do not cover this scenario.

Recommend adding additional cmake instructions for a build of a release branch (RHEL/CENTOS):

cmake -DFALCO_VERSION=0.20.

[2020-03-10 15:52] poiana commented on #1085
@smijolovic: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2020-03-10 16:36] leodido opened #1087 "Wrong Falco latest package when installing from deb-dev or rpm-dev"
**Motivation**

Currently, when installing [as per docs](https://falco.org/docs/installation/#package) from `deb-dev` or `rpm-dev` repositories (containing the master versions of Falco), the package managers do not provide the latest package.

**Feature**

Introduce also the FALCO_VERSION_PRERELEASE part for the FALCO_VERSION so that it contains the number of the commits from the latest tag on the

[2020-03-10 17:40] mazzy89 commented on #1075
I'm going to try this https://docs.flatcar-linux.org/os/kernel-modules/ to empower the container to install custom module from the container itself into the OS

[2020-03-10 17:46] rodricarvalho commented on #869
* Setting up /usr/src links from host
* Mounting debugfs
Found kernel config at /proc/config.gz
* Minikube detected (v1.6.0), using linux kernel sources for minikube kernel
* Downloading http://mirrors.edge.kernel.org/pub/linux/kernel/v4.x/linux-4.19.81.tar.gz
* Extracting kernel sources
* Configuring kernel
/bin/sh: 1: bison: not found
make[1]: *** [scripts/Makefile.lib:196: scripts/kconfig/zconf

[2020-03-10 17:48] rodricarvalho commented on #769
* Setting up /usr/src links from host
* Mounting debugfs
Found kernel config at /proc/config.gz
* Minikube detected (v1.6.0), using linux kernel sources for minikube kernel
* Downloading http://mirrors.edge.kernel.org/pub/linux/kernel/v4.x/linux-4.19.81.tar.gz
* Extracting kernel sources
* Configuring kernel
/bin/sh: 1: bison: not found
make[1]: *** [scripts/Makefile.lib:196: scripts/kconfig/zconf

[2020-03-10 18:20] mazzy89 commented on #1075
Probably this is going to require a change in the helm chart if it works modyfing `/lib/modules` to something else writable. I'll post the results here.

[2020-03-10 18:54] heydonovan commented on #1065
We just ran into this! We install Sysdig via helm chart, and had to rollback to `1.7.4` as `1.7.5` introduced the 9.7.0 agent that resulted in crashed pods:

https://github.com/helm/charts/blob/master/stable/sysdig/CHANGELOG.md

[code]

[2020-03-10 19:46] #1087 closed

[2020-03-10 21:47] fntlnz commented on #1082
Thanks for your contribution  @ossie-git !!

Looks like @vicenteherrera was already working on this and fixed it in #1081 - closing this since it’s fixed but feel free to continue the discussion and reopen  if anything comes up

/close

[2020-03-10 21:47] #1082 closed

[2020-03-10 21:47] poiana commented on #1082
@fntlnz: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/1082#issuecomment-597333844):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2020-03-11 08:24] vicenteherrera commented on #1082
I wasn't aware of this issue, checked them before it was posted. Grateful to finally have sent the PR, just in time ;-)

[2020-03-11 08:34] mazzy89 commented on #1075
I booted the OS having in place the following unit

[code]

Despite I can write now under `/lib/modules` from the OS, the container still can't access to the fs and I still get the error:

[code]

I'm not sure why this. Definitely I'm missing something.

Also, I was thinking to build the Kernel module from the OS. Indeed the OS supports this use case.

[2020-03-11 08:52] oke-py commented on #964
@leogr falco failed to run with eBPF.
[code]

I agree that the error should not related to kind.
I can't install the driver on the host machine.
I'll try it again on another OS.

[2020-03-11 08:55] leogr commented on #1075
@mazzy89 I have realized right now that `/lib/modules` is [mounted in read-only by the helm chart](https://github.com/helm/charts/blob/master/stable/falco/templates/daemonset.yaml#L108):
[code]

[2020-03-11 10:16] mazzy89 commented on #1075
Thanks @leogr. Once I changed the Daemonset the falco module was able to be installed locally.

[2020-03-11 10:26] mazzy89 commented on #1075
Although the kernel module is now loaded correctly still some logs are reported in this way:

![image](https://user-images.githubusercontent.com/5463218/76407057-0ee95c80-638b-11ea-8dae-c9efa01b88c0.png)

so we have validated at least that the root cause is not the presence of the module

[2020-03-11 10:42] mazzy89 commented on #1075
I've wired a PR in the upstream Helm chart. Also, I would ask here if you guys can point me out to a place where I can mention how to treat the case of installing the Falco Kernel module in OS like CoreOS/Flatcar. Happy to contribute in the documentation but just not sure where to add this information.

[2020-03-11 11:04] leogr commented on #964
@oke-py If you want to try, there's an alternative/new approach to build and install the kernel module: [driverkit](https://github.com/falcosecurity/driverkit) (I tried on Arch, and it worked though it is still under development).
Basically, you have to:
- build the kernel module with [driverkit](https://github.com/falcosecurity/driverkit)
- copy it to ``/lib/modules/`uname -r`/falco.ko``
-  run `

[2020-03-12 02:33] nikhilgorantla commented on #1078
Any update on this running into the same issue

[2020-03-12 13:18] leodido commented on #1019
Now that the main docker images have been refactored (PR #1059, #1063, #1069, #1076, etc) let's recap the current situation so to highlight what we still could/should do about them.

| name (falcosecurity:...)                                                                                | directory                 | scope

[2020-03-12 13:58] fntlnz commented on #1019
I agree with everything !! @leodido let's make it happen

[2020-03-12 14:00] kris-nova commented on #1019
I agree - like we said in slack I think we need to be aware of what we keep in the repository as we stage for our first `LTS` release of Falco

Also we mentioned renaming the probeloader on the last call - we should probably consider that as well as here.

[2020-03-12 14:09] nathan-b commented on #976
I love the idea of separate input data streams for falco. I appreciate the fact that I get to choose what inputs I care about and I don't get bogged down processing events that don't matter to me. It's also great to decouple these streams. Fully in favor of this project.

[2020-03-12 14:17] leodido opened #1089 "Move event-generator"
**Motivation**

The [event-generator](https://github.com/falcosecurity/falco/tree/master/docker/event-generator) tool is a C++ tool written by @mstemm to generate events Falco can catch.

In the past (example: the PSP generator), we decided to let stay in Falco only what really is Falco.
Which means, that side tooling should live somewhere else.

Furthermore does not seems perfectly fine to me tha

[2020-03-12 19:19] fntlnz opened #1092 "Migrate regression tests to Python 3"
**Motivation**
Right now, our regression tests are still using Python 2.7

I noticed that it's relatively straightforward to update it to Python 3 because the framework we use, the Avocado Testing Framework, at the LTS version (69) supports Python 3 too.

There are two other major motivations for this:

- [Python 2.7 is now retired](https://www.python.org/dev/peps/pep-0373/#id2)
- Users are alread

[2020-03-13 14:16] ssurovich opened #1094 "0.20.0 Probe issue due to typo? /usr/src//host/usr/src/debug or /usr/src//host/usr/src/kernels"
**Describe the bug**

Spinning up a new daemonset on CentOS8 workers.  The probe fails to build due to what appears to be a type in the Falco release.   I could be wrong, but it looks like a space is missing, assuming the output is correct?

ln: failed to create symbolic link '/usr/src//host/usr/src/debug': No such file or directory
ln: failed to create symbolic link '/usr/src//host/usr/src/kernel

[2020-03-15 19:23] ahilmathew commented on #1078
I ended up using `helm install stable/falco --version 1.1.0` which has Falco version `0.18.0` which doesn't have this issue.

[2020-03-15 19:23] ahilmathew commented on #1078
thank you. Will try using the image as well.

[2020-03-16 04:54] cameronattard commented on #835
We got hit by this today as well.

[2020-03-16 06:09] #991 closed

[2020-03-16 08:43] JoupainMD commented on #1071
I have been going through the same issue (same ecosystem, Amazon Linux kube etc ..) and have been able to fix it doing this in the container:

```mount -t debugfs nodev /sys/kernel/debug```

as mentioned here in the falco-probe-loader.

https://github.com/falcosecurity/falco/blob/2126616529e7015ff88653b7491dc1937d7e54e5/scripts/falco-probe-loader#L206-L208

You can also mount the host volume in ku

[2020-03-16 08:46] prakash1097 opened #1095 "Falco audit rules not working for Azure kubernetes Service"
We have deployed the Falco k8s_audit_rules.yaml. After the deployment, It seems only the falco_rules.yaml section is working.
These are some falco rules that are working.

1. Log files were tampered
2. Shell history had been deleted or renamed
3. Privileged container started
4. Error File below / or /root opened for writing
5. Notice A shell was spawned in a container with an attached terminal
6.

[2020-03-16 08:46] poiana commented on #1095
@prakash1097: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the

[2020-03-16 09:18] prakash1097 commented on #1095
How do i add label?

[2020-03-17 02:10] fntlnz opened #1096 "Falco gets SIGFPE when compiled against the system libgrpc in Ubuntu Bionic"
**Describe the bug**
Originally reported by @ldegio in the Falco slack

[code]

**How to reproduce it**
- Spawn an Ubuntu Bionic machine or container
- Follow the build instructions on the Falco website https://falco.org/docs/source/
- Start falco

**Expected behaviour**
Falco just works as expected, starts everything and gives outputs on events.

**Screenshots**

**Environment**

**Additional con

[2020-03-17 14:29] #827 closed

[2020-03-17 20:24] #1092 closed

[2020-03-17 20:29] #993 closed

[2020-03-18 05:32] zmarouf opened #1103 "Falco (0.21.0) does not run on Bottlerocket (Kernel 5.4.16)"
**Describe the bug**

Falco fails to launch on new AWS Bottlerocket instances (used by EKS for example)
The precompiled module for Kernel 5.4.16 doesn't exist

curl: (22) The requested URL returned error: 404 Not Found

**How to reproduce it**

Create a an instance using the Bottlerocket AMI.
I created an EKS nodegroup with the following flags --node-ami-family BottleRocket --node-ami auto-ssm

**

[2020-03-18 06:01] zmarouf commented on #1103
FYI I tried with 0.18.0 and I know you stopped compiling probes for now so I'm trying to use https://github.com/falcosecurity/driverkit

[2020-03-18 06:42] zmarouf commented on #1103
* Asking for advice here -> https://github.com/bottlerocket-os/bottlerocket/issues/862
* The approach used in https://github.com/falcosecurity/driverkit/issues/22 might be of help

[2020-03-18 09:16] fntlnz commented on #925
Anyone who want to give the fix a try, you can help us by testing the artifacts here https://github.com/falcosecurity/falco/pull/1099#issuecomment-600508405

Remember to configure Falco to use the new flag or nothing will change!

[2020-03-18 10:44] fntlnz opened #1104 "TBB repository was renamed"
**Describe the bug**
Yesterday around 7pm UTC, the TBB repository was renamed from

https://github.com/intel/tbb

to

https://github.com/oneapi-src/oneTBB

This is preventing Falco to build on all our CI and release systems as well on contributors machines.

**How to reproduce it**

Try to buiild falco:

**Expected behaviour**

It just builds

**Screenshots**

![image](https://user-images.githubus

[2020-03-18 11:07] #1104 closed

[2020-03-18 12:18] leodido commented on #1094
Can you please try with the new 0.21.0 version?

https://github.com/falcosecurity/falco/pull/981 should have solved this issue

[2020-03-18 12:24] leodido opened #1106 "Make the release process idempotent"
**Motivation**

While releasing Falco 0.21.0 yesterday with the new system I noticed that the process needs to be more robust.
In fact, if for some reason bintray API is not responsive or some other issues happen there (for example misconfigurations of a repository), the CircleCI step breaks and to make it re-run a manual intervention is needed.

**Feature**

1. Creation of versions (`jfrog bt vc`

[2020-03-18 12:43] leodido commented on #1019
We need to review [this](https://github.com/falcosecurity/falco/blob/master/docker/README.md#falco-dockerfiles) page, and maybe merge in it what I wrote two comments above.

After that, I think we'll be able to close this.

[2020-03-18 12:43] leodido commented on #1019
FYI @Issif

[2020-03-18 13:02] leodido commented on #835
I propose to close this because #1061 has been merged in.

[2020-03-18 15:23] #925 closed

[2020-03-18 15:24] nebi-frame commented on #925
Amazing! thank you so much guys we really appreciate your efforts!

[2020-03-18 16:42] ssurovich commented on #1094
@leodido Looks like it fixed the double / issue - Im failing on the DKMS build now, but Im sure thats a system config on my nodes (Howevere 0.19 runs without any issues) - Ill look into the build issue later today or tomorrow.   But the initial issue is resolved.  Thanks for the update.

[2020-03-19 11:09] fntlnz commented on #896
I'm looking at this again, here are my repro steps using the Vagrant file from @a0145  but using driverkit to build the BPF probe:

Prepare the driverkit file

[code]

Add the kernel config data to it
[code]

Build the probe
[code]

Start Falco
[code]

[2020-03-19 11:39] fntlnz commented on #896
@a0145 I created a small C program to do a raw wait4 syscall and with your vagrantfile  (it uses 4.19.82) and I'm not able to reproduce the soft lockup.

[code]

Here is my output of `/proc/interrupts` on the VM

[code]

At this point I think we could have two roads here:

1. There was a kernel bug in that specific version (I'm verifying)
2. On your system there are problems with resources schedul

[2020-03-19 12:00] ahmed1smael opened #1107 "Falco 0.21.0 failed to start on GKE"
**Describe the bug**

Falco 0.21.0 failed to start when eBPF is enabled trying to locate the default probe

**How to reproduce it**

Simply deploy version 0.21.0 on GKE version (1.14.10-gke.17)

Set BPF probe variable to an empty string

[code]

**Expected behaviour**

Falco should start successfully and should locate the default probe.

**Screenshots**
[code]

**Environment**

- Falco version: 0.

[2020-03-19 12:01] fntlnz commented on #896
Ok suddenly, it happens to me too after leaving it there for a while:

Look at CPU 5:
[code]

[2020-03-19 12:03] fntlnz commented on #896
While it was happening I was compiling the newer kernel version.

[2020-03-19 12:06] fntlnz commented on #896
Kernel stack trace during the lock

![image](https://user-images.githubusercontent.com/3083633/77065865-5eaad200-69e2-11ea-8a3f-55904a096fff.png)

[2020-03-19 12:19] fntlnz commented on #896
This seems to be related to the events frequency.

[2020-03-19 12:20] fntlnz commented on #896
It seems to happen regardless the syscall, here I'm getting it with a `read`

[code]

[2020-03-19 14:19] a0145 commented on #896
Hey @fntlnz - thanks so much for looking into this. I was able to reproduce in multiple 4.19 LTS patch releases, and on VMs and bare metal with the same results, and my digging into the issue led me to believe it’s a problem with the BPF facility in 4.19.

In 5.4 LTS I’m unable to reproduce the lockup however so that led me to suspect the JIT in 4.19 due to the changes between 5.4 and 4.19.

[2020-03-19 14:49] kris-nova opened #1108 "Event generator hosted on sysdig image registry"
**Describe the bug**

Currently according to our [docs](https://falco.org/docs/event-sources/sample-events/#docker-image) and the [image registry itself](https://hub.docker.com/r/sysdig/falco-event-generator/tags) the `events_generator` image lives in the `sysdig` image registry.

As a CNCF open source project, we should move this image over to the official `falco` registry which is owned and oper

[2020-03-19 14:49] kris-nova commented on #1108
Related to #1019

[2020-03-19 14:52] kris-nova commented on #1108
Discovered while patching this https://github.com/falcosecurity/falco-website/pull/168

[2020-03-19 14:52] leodido commented on #1108
It has been moved to https://hub.docker.com/repository/docker/falcosecurity/falco-event-generator by @mstemm if I'm not wrong

Anyway, this whole thing is related to #1089 imho (moving it out of falco repo into another falcosecurity project?)

[2020-03-19 14:57] kris-nova commented on #1108
Thanks for the info @leodido

This issue will be closed by falcosecurity/falco-website#168 now

[2020-03-19 14:59] leogr commented on #1089
I would prefer option 2. In that case, I could help!

[2020-03-19 15:15] #1108 closed

[2020-03-19 15:42] leodido commented on #835
/close

[2020-03-19 15:42] #835 closed

[2020-03-19 15:42] poiana commented on #835
@leodido: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/835#issuecomment-601251801):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2020-03-19 15:44] ahmed1smael commented on #1107
Update on this issue:

The probe folder name under /usr/src/ dir doesn't looks right:

[code]
how does that get populated ?

`FALCO_VERSION` var has been added to the docker image and the following two commands in `falco-probe-loader`  are defaulting to that value:
[code]

and hence it fails to mv file to the desired location:

[code]

Is there something I am missing here ?

[2020-03-19 16:49] fntlnz commented on #896
I will try to debug more to discover where exactly this is happening but everything 100% points to a kernel bug. Thanks for making us aware @a0145

[2020-03-19 17:36] #1106 closed

[2020-03-19 19:16] fntlnz commented on #896
Here's a full stack trace I've been able to extract with @gnosek and @nathan-b

[code]

[2020-03-20 09:26] leogr commented on #964
@oke-py [here](https://github.com/falcosecurity/driverkit/issues/23#issuecomment-598245771) you find further details on how to install the kernel module using driverkit. Let me know!

[2020-03-20 09:57] leogr commented on #1075
Hey @mazzy89 we suspect this issue might be a dup of https://github.com/falcosecurity/falco/issues/925 that has been fixed by https://github.com/falcosecurity/falco/pull/1099
A new version with the fix has not been released yet, but - if you wanna try - you can use the master branch.

[2020-03-20 10:38] mazzy89 commented on #1075
Cool. Thank you @leogr. I'll give a try.

[2020-03-20 12:17] leodido commented on #1075
Hey @mazzy89 to grab the release containing that fix:
- https://bintray.com/falcosecurity/bin-dev/falco/0.21.0-7%2B7b44aaf
- https://bintray.com/falcosecurity/rpm-dev/falco/0.21.0-7%2B7b44aaf
- https://bintray.com/falcosecurity/deb-dev/falco/0.21.0-7%2B7b44aaf

And remember to use the new `--disable-cri-async` flag.

Hope to have helped!

[2020-03-20 13:33] nebed commented on #890
Hey @natchaphon-r  i tried this for AKS in Azure. inside a Virtual machine attached to vmss, so i could get the probe-loader and then continue with installing for the entire cluster. but seems /lib/modules folder does not contain the probe-loader

[2020-03-20 14:06] fntlnz commented on #896
Just did another experiment with @leodido and this also happen in kernels that are compiled without eBPF JIT support.

[2020-03-20 14:08] fntlnz commented on #896
Stack trace without JIT

[code]

[2020-03-20 14:15] leodido commented on #896
Another try in this direction (to exclude) it would be to enable JIT in debugging mode, so to have the opcodes dumped in the kernel log.

[2020-03-20 15:26] dzoellner commented on #869
+ 1 Happening here too. Looks like a binary was moved but the paths not updated.

[2020-03-21 09:05] oke-py commented on #964
At last, it worked fine! Thank you so much.
I used ubuntu-18.04 on EC2.

### install go

[code]

### install docker

[code]

re-login

### set env-var

[code]

### install kernel module

[code]

### install kubectl & helm

[code]

### install kind & create cluster

[code]

### install & run falco

[code]

[2020-03-22 08:29] leodido commented on #964
Thanks @leogr for stepping up and helping with this.

I'll call it solved :)

/close

[2020-03-22 08:29] #964 closed

[2020-03-22 08:29] poiana commented on #964
@leodido: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/964#issuecomment-602164655):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2020-03-22 19:07] yashbhutwala commented on #964
How do I get it running for Docker for Desktop on Mac?  Can we please document this?

[2020-03-23 08:10] leogr commented on #964
Hey @yashbhutwala
as far as I know, Falco on Docker for Mac has a different kind of issue that's related to [linuxkit](https://github.com/falcosecurity/driverkit/issues/22) and @leodido is working on that.
Feel free to open another issue in the falco repo and add more details.

[2020-03-23 09:58] leodido commented on #1008
Do not close this bot
L.

On Sun, Mar 22, 2020 at 6:42 PM stale[bot] <notifications@github.com> wrote:

[2020-03-23 09:58] leodido commented on #982
Any update on this?
L.

On Sun, Mar 22, 2020 at 5:42 PM stale[bot] <notifications@github.com> wrote:

[2020-03-23 10:13] leodido commented on #1107
I confirm the issue.

But the problem is that the `FALCO_VERSION` env variable ([here](https://github.com/falcosecurity/falco/blob/7b44aafc6a1f3f702f9d4ab2adc9ecce5e598646/scripts/falco-probe-loader#L384)) should actually be set to the **driver version** Falco is built against: variable `PROBE_VERSION` ([here](https://github.com/falcosecurity/falco/blob/7b44aafc6a1f3f702f9d4ab2adc9ecce5e598646/cma

[2020-03-23 13:34] JScrivanich opened #1110 "Installing Falco Issue"
Hi,

So we wanted to test out this released feature: https://github.com/falcosecurity/falco/pull/1099

We followed the install instructions and ran the following commands

[code]

Our issue here is that when we run `yum -y install falco` it tries to install three dependencies.  2 of them get installed successfully but the `falco-0.21.0_7+7b44aaf-1.x86_64` dependency in the path `/usr/src/` does no

[2020-03-23 16:10] fntlnz commented on #1110
Hey @JScrivanich thanks for bringing this up!

This is going to be solved by https://github.com/falcosecurity/falco/issues/1110

Mind that the program will be called `falco-driver-loader`

[2020-03-23 17:39] leodido commented on #1079
The current _development_ version of Falco (the one which commits are on the master) branch does not have anymore the bug about symbolic linking (ie. `ln: failed to create symbolic link '/usr/src//host/usr/src/packages'`).

Could you please try it?

Those _development_ versions can be found [here for deb packages](https://bintray.com/falcosecurity/deb-dev) or [here for rpm packages](https://bintra

[2020-03-23 17:39] leodido commented on #1078
Any update from people using the latest `falcosecurity/falco:master` ?

[2020-03-23 17:50] #1107 closed

[2020-03-23 17:50] #1110 closed

[2020-03-23 19:33] kris-nova opened #1112 "Falco Rules Support"
Hey all,

(trying to keep this as neutral and informative as possible, I will share my opinions in comments below)

On last week's call we brought up the various Hub work happening both in the Falco community and in the CNCF and we have talked about it in slack as well in a few different slack organizations.

Last week I mentioned that we were in a place where we need to start making decisions as

[2020-03-23 19:33] poiana commented on #1112
@kris-nova: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [k

[2020-03-23 19:34] kris-nova commented on #1112
Keep the [Cloud Native Security hub](securityhub.dev) as is.

[2020-03-23 19:34] kris-nova commented on #1112
Migrate to the new CNCF hub.

[2020-03-23 20:01] shane-lawrence commented on #1112
I think the CNCF Hub is probably a good idea in the long run, to make tools discoverable and provide some assurances to end users on quality and interoperability. That said, I think it should be opt-in and I don't see any reason for Falco to migrate immediately. I'd say use the current one now, and the CNCF Hub at some point in the future.

[2020-03-23 20:17] kris-nova commented on #1112
Thanks @shane-lawrence I agree that we should re-visit this as needed in the future. So I added some language that this vote is more of a "right now" style vote and encouraged us to re-open it as needed.

[2020-03-23 20:54] mattfarina commented on #1112
Hi. First, I want to suggest that the Cloud Native Security Hub should not consider going away until the ArtifactHub is ready. That is if you decide to go that route. I would not ask for anything to happen prematurely. You can define what ready is and work with the Artifact Hub folks on it. Though, you may desire to take a wait and see approach with the Artifact Hub.

With that preamble. Here's wh

[2020-03-23 21:32] ykcilborw commented on #706
has there been any update on this?

[2020-03-24 10:51] fntlnz commented on #1112
Yesterday I voted for option
[code]

I'd like to motivate my vote and encourage others to do the same so that we can all understand what are our needs.

Here are my reasons to keep the Cloud Native Security Hub:

- Being only security recipes oriented, the Cloud Native Security Hub gives a different set of expectations based solely on this fact. I believe that focus here is the key to providing a

[2020-03-24 14:50] nestorsalceda commented on #1112
Here is the link, @fntlnz

https://projects.invisionapp.com/share/VZVYZ3ADG37#/screens

[2020-03-24 14:59] mattfarina commented on #1112
@fntlnz I applaud the efforts of the cloud native security hub and everyone working on security. But, getting people to secure their things is a constant battle. Not enough people are security the things. Can we agree on that?

What I would really like  to see, in some way, is that people look for an application to install in their cluster. This can be via an operator, Helm chart, or something els

[2020-03-24 15:26] nestorsalceda commented on #1112
I have been thinking a lot until I decided my vote, but today I voted for keeping the Cloud Native Security Hub as is and continue with our existing plans.

These are my reasons:

* I think that the most of *the value about the SecurityHub is about its content*. The final value comes from the security resources curation. Having a place where having some security recipes curated by security / Falco

[2020-03-24 16:23] danmx commented on #1071
This solved the issue

[2020-03-24 16:23] #1071 closed

[2020-03-24 16:24] leodido commented on #1112
Honestly, I don't see any benefit, at the moment, in focusing and _supporting_ any hub at all (not only the Artifact Hub).

We are still in the middle of the process of completely reshaping and reviewing the packaging of artifacts and installation methods for Falco, which our community showed to be the top priority.
Falco rules are just one little piece of this process.

During past community call

[2020-03-24 17:09] knewcomerRH commented on #1112
Just read through this thread and voted for continuing with the Cloud Native Security Hub for now. I agree with a number of the reasons listed above
- having a common place for security curation is awesome
- having a place, a hub, that is targeted for security uses cases should help us deliver a user experience that is also more targeted
- there are proposals for how to make it easy to link to / i

[2020-03-24 17:28] jonahjon opened #1113 "Doesn't support Latest EKS 1.15 Amazon Linux 2 Kernel version (4.14.171-136.231.amzn2.x86_64)"
**Describe the bug**
Falco Doesn't have support for newest Amazon Linux 2 Kernel version (4.14.171-136.231.amzn2.x86_64)  on https://s3.amazonaws.com/download.draios.com/stable/sysdig-probe-binaries/index.html

Falco won't install using newest version of Amazon Linux on EKS 1.15

**How to reproduce it**
`helm install falco`
[code]

`helm install falco`

**Expected behaviour**
It should launch

**S

[2020-03-24 18:14] kris-nova opened #1114 "Scope of Falco artifacts"
I would like to submit a proposal for the Falco project to adopt the following scope for build artifacts.

As it stands the [current installation documentation](https://falco.org/docs/installation) calls out a vast number of ways to install Falco.

As the adoption of Falco grows, we should be very clear and deliberate about which artifacts the project officially supports and maintains, and which a

[2020-03-24 18:14] poiana commented on #1114
@kris-nova: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [k

[2020-03-24 18:31] kris-nova commented on #1114
For supported operating systems for the driver, find the survey that was sent out:

https://docs.google.com/spreadsheets/d/1TKJIXAMWPRTb8x--Kkq17ipee8xvV08LFLfBN3VzLNU/edit#gid=385989146

[2020-03-24 18:39] fntlnz commented on #1113
Thanks for opening this issue @jonahjon - having a good user experience on Amazon Linux is very important for Falco. We are now switching from the legacy driver build infrastructure to driverkit, this is why some things are not working well right now and ultimately why you are hitting this issue . @leodido opened an issue on driverkit to fix this so we can prioritize that now https://github.com/fa

[2020-03-24 18:49] jonahjon commented on #1113
Thanks for the quick response @fntlnz , working on some steps now to make this working by specifying an older Kernel EKS-AMI image... will update with work-around if successful.

[2020-03-24 19:04] natalysheinin opened #1116 "Falco 0.21.0 not available in stable deb"
When I try to install falco 0.21.0:
(`apt-get install -y --no-install-recommends falco=$FALCO_VERSION`)

I get:
`E: Version '0.21.0' for 'falco' was not found`

When I check available falco versions:
`apt list -a falco`

I get:
[code]

**How to reproduce it**

Try to build a dockerfile based for ubuntu/debian using falco version `0.21.0`.

**Expected behaviour**

Dockerfile builds successfully wit

[2020-03-24 20:19] jonahjon commented on #1113
1. Go and find the lowest kernal Version for the EKS version you are using .

1.14.7-20190927 | 1.14.7 | 18.06.1-ce | 4.14.146 | v20190927
-- | -- | -- | -- | --

https://github.com/awsdocs/amazon-eks-user-guide/blob/master/doc_source/eks-linux-ami-versions.md
I used kernel version **4.14.146** for version **1.14** of EKS

2. Verify the version is supported on the Falco Probe version you are looki

[2020-03-24 21:27] fntlnz commented on #1113
Thanks a lot  for sharing the steps @jonahjon - will post here once we have some updates on the driverkit side.

[2020-03-24 21:28] fntlnz commented on #1113
/assign @leodido
/assign @fntlnz

[2020-03-25 01:06] natalysheinin commented on #1065
@fntlnz what is the suggestion/work-around for eBPF probes / GKE COS?

[2020-03-25 05:44] #1095 closed

[2020-03-25 05:51] prakash1097 commented on #547
So as of now alco's audit rules wont work for AKS- Azure kubernetes services?

[2020-03-25 08:04] teq0 commented on #1112
In terms of OPA, there are many more types of OPA policies besides security-centric ones (think "you must have a valid billing code label"), I think it would be sub-optimal for OPA users if they had to go to multiple places to get policies.

Unless the proposal here includes potentially providing metadata + links to other artefact repositories as well as being the source of truth for some artefact

[2020-03-25 11:46] leodido commented on #1116
Hello @natalysheinin we recently started using new repositories for Falco packages.

Updated docs are [here](https://falco.org/docs/installation/#debian-ubuntu).

Briefly, the instructions are:

[code]

This should install Falco 0.21.0

Could you please try those instructions?

[2020-03-25 12:23] danmx opened #1119 "Create a proble-loader init container"
**Motivation**

Kubernetes Pods have a concept of init containers which can run to prepare "environment" for  containers with actual services. Moving `probe-loader` to another container would allow reducing number of host mounts, capabilities required (no privileged container) and use of the minimal image as a main image for Kubernetes deployments. That would follow the least privileged approach.

[2020-03-25 12:29] danmx commented on #1114
I'd suggest taking a look at https://github.com/bottlerocket-os/bottlerocket as another potential OS

[2020-03-25 12:37] danmx opened #1120 "Documenting all system dependencies (capabilities, mounts, etc.)"
**What to document**

Falco is touching critical parts of the operating system.
It would be extremely useful to have a list of system dependencies like:
- mandatory host mounts
- required Linux capabilities
- seccomp filter
- SELinux/Apparmor profiles

for:

- stand alone Falco deployment without probes
- Falco using eBPF probe
- Falco using kernel module
- probe-loader for kernel module
- probe-l

[2020-03-25 12:37] poiana commented on #1120
@danmx: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuber

[2020-03-25 12:38] danmx commented on #1120
/kind documentation

[2020-03-25 13:06] danmx commented on #1120
What I got so far is:
- for falco w/ eBPF to start it'll require:
  - CAP_SYS_RESOURCE
  - CAP_SYS_ADMIN
  - mounting `debugfs` in the host: `mount -t debugfs nodev /sys/kernel/debug`
  - mounting `/sys/kernel/debug` as `read-only` in the container

[2020-03-25 13:50] natalysheinin commented on #1116
Thanks @leodido

I am able to install 0.21.0 now, but it seems that the kernel headers are not available.
[code]

[2020-03-25 15:55] fntlnz commented on #1021
For all those updating falco after 0.20.1, remember that those two variables reported [here](https://github.com/falcosecurity/falco/issues/1021#issuecomment-591924368) are gone now in favor of a single `FALCO_BPF_PROBE` variable

[2020-03-25 16:13] danmx commented on #1119
ok tool like this already exists: https://github.com/falcosecurity/falco/blob/master/docker/kernel/probeloader/Dockerfile

[2020-03-25 16:13] #1119 closed

[2020-03-26 00:42] natalysheinin commented on #896
I am also getting a soft lockup:
`watchdog: BUG: soft lockup - CPU#16 stuck for 22s!`

Running kernel `4.19.76+` on COS GKE.

[2020-03-26 00:52] nikhilgorantla commented on #1078
falcosecurity/falco:master
falcosecurity/falco:latest
falcosecurity/falco:0.21.0
falcosecurity/falco:0.18.0

non of them work on eks

[2020-03-26 11:06] vicenteherrera opened #1121 "Additional Falco rules, both for syscall and Kubernetes audit sources"
**Motivation**

We have been working on 6 rules that we needed using syscall and Kubernetes audit sources, and we want to share them with the community. They are completely generic, and any infrastructure monitored with Falco will benefit from them, so we think they are a better fit here than in the Cloud Native Security Hub project, that is more focused on specific applications and vulnerabilitie

[2020-03-26 14:48] kris-nova commented on #1114
After speaking with @leogr we wanted to propose some thoughts around running Falco in Kubernetes.

The above proposal solves the problem of Falco artifacts running on a Linux system, but does not give an official answer to

So we would like to add another officially supported toolchain to run Falco in Kubernetes. We would like to use `falcoctl` as the official installation method. Falcoctl would b

[2020-03-26 15:08] danmx commented on #1114
@kris-nova What is the reason for creating a special installation tool for Kubernetes?
When it comes to service packaging for k8s clear leaders in that space are Helm and Kustomize which are already supported by major CD tooling and companies' deployment procedures.

In my case, I'll have to export what your tool will deploy and make a helm chart out of it.

[2020-03-26 15:33] mattfarina commented on #1114
I have a few questions and some comments...

First, the comments...

- You may already know this but if you don't, if you wanted to get some time with end users to talk to them about your ideas here the CNCF may provide an avenue for you. The [CNCF end user community](https://www.cncf.io/people/end-user-community/), which has numerous companies who are interested in security, has said they want to

[2020-03-26 17:51] kris-nova commented on #1114
Hey @danmx thanks for your comments

Falco isn't a traditional Kubernetes application, and trying to fit it into a traditional kubernetes deployment tool violates container isolation boundaries, is a risk, and isn't flexible enough for what we need to do.

Installing Falco should be more like a `kubeadm` style experience than a `helm install falco` style experience if we want to take our systems s

[2020-03-26 18:18] vicenteherrera commented on #1112
I agree with several comments from Kris, Shane, Matt, Nestor, Lorenzo and others.

Some additional opinions for your consideration.

About Leo's point of view of being to soon to commit for a hub, I follow your logic, but maybe also think of people like me, that is more focused on rules that in the engine. I speak with several people very interested in writing rules for their specific needs. Havin

[2020-03-26 19:54] kris-nova commented on #1114
Falco isn't the only tool that falls to these set of technical concerns. Look at CNI for instance.

Cilium has a helm chart, and a DaemonSet configured but if you look at how it works

https://github.com/cilium/cilium/blob/master/install/kubernetes/cilium/charts/nodeinit/templates/daemonset.yaml#L25-L39

[code]

It "works" by privilege escalating in your cluster.

Now many low-level container tool

[2020-03-26 20:04] danmx commented on #1114
Thank you @kris-nova for the explanation.

I do agree with you on some cases but I think all depends how to look on Falco and its deployment.

I'm not a Linux kernel expert but from my perspective Falco is just a parser and forwarder of specific types of events, Kubernetes Audit logs and system calls.

Helm or Kustomize doesn't define security of what you're deploying. It's up to the creator of th

[2020-03-26 20:15] danmx commented on #1114
I'm just trying to point out that standardised DevEx is quite important and it drives adoption.

[2020-03-26 20:21] kris-nova commented on #1114
You are very welcome. Thank you for taking the time to read and understand my thoughts it here. It's very important to me.

Thank YOU for bringing these issues up.

I completely agree. :100:

Which is why I think having a one-stop-shop (falcoctl) that can do the following

- Install all the falco components in a safe and secure way
- Offer a single source of truth for our documentation
- Provide a

[2020-03-26 20:27] kris-nova commented on #1114
I am not saying these will be the exact commands, but look at the user experience here.

[code]

[2020-03-26 20:31] mattfarina commented on #1112
@nestorsalceda Thanks for the offer. We will keep that in mind.

@leodido I understand where you're coming from. I do want to respond to a few things...

I'm sorry we didn't do a great job of that before. A couple weeks ago there was a meeting the day prior to the TOC call on the hub where I had thought the agenda was to present all of this to the Falco community. And, I had emailed Kris about thi

[2020-03-26 20:39] danmx commented on #1114
I think it'll be a hard sell for some people. I hope you prove me wrong 😄

So in the end you'll be running with full permissions in host environment. It is exactly the same as running a privileged container.

I don't think many K8s operators will go for that. Especially if they keep their infrastructure as code.

[2020-03-26 20:46] kris-nova commented on #1114
If they have their infrastructure as code then they shouldn't need to do :wink:

[2020-03-26 21:12] kris-nova commented on #1114
So I know at a glance it seems like I am being pedantic by separating the container layer with privilege escalation to the host layer, but it's actually a really large concern for some end-users.

The thesis here is that we need to be disciplined and respect isolation boundaries for production users.

By having Falco set up on the host system (only) we ensure that a production user disables the ab

[2020-03-26 21:27] fntlnz commented on #1120
I agree that this will be a very important piece of our documentation once it’s done.

Moreover, I think we can be even more granular than the single capabilities by listing the specific privileged syscalls that falco needs to do, like the bpf syscall.

Good idea @danmx - this can help a lot and can open a lot of opportunities to help harden falco and its deployments

[2020-03-26 21:35] fntlnz commented on #1116
@natalysheinin - unfortunately getting Falco to work with the kernel module under Docker for desktop is still under investigation right now.

I was working on this with @leodido but we got stuck because the build of that system is not an open process and they are using the gcc RANDSTRUCT plugin and because of that we need a seed we don’t have to let us build the module for that specific kernel.

B

[2020-03-27 10:24] leogr commented on #1114
I totally agree with @kris-nova especially about "production users" vs. other use cases.

Nevertheless, I believe that the helm chart is very easy and useful for several use cases (in particular for development), indeed I contributed to improving the chart and wrote a [blog post](https://falco.org/blog/falco-kind-prometheus-grafana/) endorsing its usage.

That being said, I really think that is no

[2020-03-27 10:33] danmx commented on #1114
@leogr do you plan to make a blog post describing in more detail this mission critical production use case (threat model, limitations, etc.)? I'd be very interested to see how other people run it in production.

[2020-03-27 10:38] leogr commented on #1114
@danmx not sure when, but probably we do a blog post once the official installation methods are well described and the toolchain has been improved accordingly.

[2020-03-27 16:19] djsly commented on #1078
same for AKS,

[code]

[2020-03-27 19:33] sekka1 commented on #1113
Just ran into this issue as well.  In what release will this update be included in?

[2020-03-27 21:39] jjo opened #1123 "falcosecurity/falco:0.21.0 non-slim version doesn't have /usr/src/falco-latest available to build the module"
**Describe the bug**

Falco's docker-entrypoint.sh will try to build the module using /usr/src/falco-latest as DKMS sources, which is not present at image.

**How to reproduce it**

Use provided kubernetes manifest against a cluster without prebuilt modules available

**Expected behaviour**

falco-probe module should get properly built

**Environment**

kops deployed Kubernetes 1.15.11 using kops.

[2020-03-27 21:40] jjo commented on #1078
Key in above error log is:
[code]
as I just reported at #1123.

[2020-03-27 21:47] jjo commented on #1123
FYI I worked around above by creating a configmap to override `/docker-entrypoint.sh` with:
[code]

[2020-03-29 16:05] leodido commented on #1123
Thanks for the workaround @jjo.

Anyway PR #1111 should have solved this issue. Can you please confirm it by testing `falcosecurity/falco:master` docker image?

[2020-03-29 16:13] leodido commented on #1026
Recently, @leogr has worked a bit on improving the Helm chart. He also used the updated Helm chart in this [blog post](https://falco.org/blog/falco-kind-prometheus-grafana).

So, it's probably worth giving it a new try ...

[2020-03-30 09:49] leogr commented on #1026
Not sure if the updated Helm chart can help with this. Anyway, I was not able to reproduce this issue (quickly tested on a local kind cluster with the latest helm chart), the webhook configuration using the service reference just worked for me.

@bzurkowski Could you retry with the latest version?

[2020-03-30 09:56] bzurkowski commented on #1026
@leogr Sure, I will test the latest Helm chart and let you know the result. One question. What Kubernetes version did you use in your setup?

[2020-03-30 10:01] leogr commented on #1026
[code]

Also, the latest chart uses Falco 0.21.0.

[2020-03-30 11:19] bzurkowski commented on #1029
@leodido This functionality is important to me. I am ready to contribute but need some guidance on where to start.

As described above, the root cause of the problem is that newer versions of Kubernetes put data used in Falco aliases (such as e.g. `responseObject` in `ka.resp.name` alias) into a nested `items` field.

Perhaps, updating the JSON paths in the alias lookup could fix the issue. Someth

[2020-03-30 13:43] leogr commented on #1019
I totally agree too. Furthermore, `probeloader:latest` might not work anymore because of falcoctl, and [here](https://github.com/falcosecurity/falcoctl/issues/86) we are discussing what falcoctl will do.
I will take care of fixing this asap
/assign

[2020-03-30 15:53] leogr opened #1125 "falco-driver-loader improvements proposal"
**Motivation**

As part of the ongoing discussions about the [scope of Falco artifacts](https://github.com/falcosecurity/falco/issues/1114) we need an officially supported tool for building, downloading, and installing various drivers. Currently, the `falco-driver-loader` takes care of that, and it is already included in the new [stable binary distribution](https://dl.bintray.com/falcosecurity/bin

[2020-03-30 18:02] amye commented on #983
Hey all,
I know we had a conversation going about doing this around KubeCon, but we should look to tackling this in April.
Rough timeline:
1) Announce that we're moving to the CNCF channel week of April 6th?
-- Cutoff of April 30th for move?
-- May 15th turn to read only?

Does that sound like a reasonable timeline?

[2020-03-30 18:20] andrew-waters commented on #865
We're also seeing this on GKE `1.14.10-gke.17`

[2020-03-30 18:41] leodido commented on #1125
Thanks @leogr for reporting here the discussion we had this morning.

Let me add some considerations, on top of what you reported here :)

1. Since `falco-driver-loader` is part of the Falco output artifact it seems obvious to me that it has the same version.

2. With PR #1111 we completed the process of uncoupling the Falco version from the driver(s) version.
     This means that the drivers will

[2020-03-30 20:46] jjo commented on #1123
Thanks @leodido, confirming this issue fixed by PR #1111.
/cc @dbarranco @jbianquetti-nami

[2020-03-30 20:46] #1123 closed

[2020-03-31 01:19] blhagadorn commented on #1078
I can also confirm, on IBM Cloud Kubernetes Service (IKS), I also had the same original reported issue. `helm install stable/falco --version 1.1.0`. Seemed to work for me.

[2020-03-31 08:03] leogr commented on #1125
Thanks @leodido, btw I've realized right now I forgot to cc you and @fntlnz in the issue, sorry!

Some further considerations:

Although that's obvious - I agree on that -, it may be not so clear for users approaching Falco for the first time. For example, one could even try to use the script source from the repo, that's not the intended usage method.
Actually, we should at least well document whe

[2020-04-01 00:25] kris-nova commented on #1112
Closing the issue as it looks like the community clearly has a trend towards keeping the security hub as is.

If an end-user wants to have "fun with falco" in 5 minutes they can start by installing Falco and getting involved with the community, which takes significantly less time than nitpicking the maintainers on Github.

If the artifact hub want's to continue to scrape Falco rules, please at lea

[2020-04-01 00:25] #1112 closed

[2020-04-01 06:01] cw-sakamoto commented on #1078
0.18.0(with helm 1.1.0) work on eks 1.14 but not work on 1.15.
0.21.0 doesn't work either.

[2020-04-01 08:05] scallopboat opened #1126 "High CPU usage when grpc is enable"
**Describe the bug**

When grpc is enabled in falco 0.21.0 there is a huge increase in cpu usage on some pods on kops cluster, k8s 1.16, debian nodes.

grpc disabled
NAME                   CPU(cores)   MEMORY(bytes)
falco-htqvd            7m           16Mi
falco-hzxvx            7m           16Mi
falco-lw9f7            7m           16Mi
falco-nmvqq            7m           16Mi
falco-phz9d

[2020-04-01 09:50] #1019 closed

[2020-04-01 14:57] fntlnz commented on #807
@ultrasaurus @kris-nova we need to open this again then.

/reopen

[2020-04-01 14:57] poiana commented on #807
@fntlnz: Reopened this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/807#issuecomment-607299722):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2020-04-01 14:58] fntlnz commented on #807
Looks like there is some activity on this in the sig-security repo.
Linking https://github.com/cncf/sig-security/issues/273

[2020-04-01 15:24] leodido commented on #807
/milestone 1.0.0

[2020-04-01 15:47] amye commented on #983
@kris-nova: does the above seem like a reasonable timeframe?

[2020-04-01 16:06] leodido commented on #1116
Yeah, obtaining a Falco kernel module for Docker for desktop (which uses linuxkit under the hood) is still an on-going effort.

More about that in https://github.com/falcosecurity/driverkit/issues/22 and into driverkit `feat/linuxkit` branch.

[2020-04-01 17:39] fntlnz commented on #1116
I'm closing this since the initial issue was solved by using the new repositories in the docs.
@natalysheinin feel free to open other issues for tracking the other problems you are seeing if that's the case.

/close

[2020-04-01 17:39] #1116 closed

[2020-04-01 17:39] poiana commented on #1116
@fntlnz: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/1116#issuecomment-607391904):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2020-04-02 12:29] rodricarvalho commented on #1078
0.18.0 works for me on AWS EC2 without any issue. I hope to be able to use the 0.21.0 version soon.
Just change the value of the tag to  0.18.0 in the values.yaml file to make works.

[2020-04-02 22:26] leogr commented on #1089
/assign

[2020-04-03 06:54] #1024 closed

[2020-04-03 16:37] EppO opened #1127 "Fail to build falco module in air-gapped environment"
When deploying falco in an air-gapped environment, it can't compile the falco probe by itself even though kernel headers/devel packages are installed on the host.

**How to reproduce it**

Deploy falco 0.21.0 deployment manifests in a kubernetes cluster with strict egress restrictions (no Internet connectivity).

**Expected behaviour**

falco-probe.ko can be compiled at container startup using hos

[2020-04-03 18:16] smijolovic opened #1128 "All falco builds from source failing due to wrong MD5 hash on tbb"
Tested on falco 0.20.0 and 0.21.0
CentOS 8.1

-- verifying file...
       file='/home/rpmbuild/nimbus8/falco-build/falco-src/falco-0.20.0/build/tbb-prefix/src/2018_U5.tar.gz'
-- MD5 hash of
    /home/rpmbuild/nimbus8/falco-build/falco-src/falco-0.20.0/build/tbb-prefix/src/2018_U5.tar.gz
  does not match expected value
    expected: 'ff3ae09f8c23892fbc3008c39f78288f'
      actual: 'd180f4b025ff8432

[2020-04-03 21:47] smijolovic opened #1129 "Falco bpf driver does not build from source on CentOS 8"
Falco version: 0.21.0
CentOS 8.1
kernel version 4.18.0-147.5.1.el8_1.x86_64

cmake -DBUILD_BPF=ON ..
make bpf

In file included from /home/rpmbuild/nimbus8/falco-build/falco-src/falco-0.21.0/build/sysdig-repo/sysdig-prefix/src/sysdig/driver/bpf/probe.c:23:
/home/rpmbuild/nimbus8/falco-build/falco-src/falco-0.21.0/build/sysdig-repo/sysdig-prefix/src/sysdig/driver/bpf/fillers.h:1369:21: error: no me

[2020-04-03 22:54] jonahjon commented on #1113
Fixed on https://github.com/falcosecurity/driverkit/pull/44

[2020-04-03 22:54] #1113 closed

[2020-04-04 00:33] smijolovic commented on #1129
Looks like that fix would be here:

https://github.com/draios/sysdig/blob/dev/driver/bpf/fillers.h

[2020-04-05 14:31] derSascha commented on #813
Is there a way to debug the dropped events? On a small VPS, we see e.g. this:

    Apr  5 15:20:02 host falco: Falco internal: syscall event drop. 1 system calls dropped in last second.
    Apr  5 15:20:02 host falco: 15:20:02.335890806: Critical Falco internal: syscall event drop. 1 system calls dropped in last second. (ebpf_enabled=0 n_drops=1 n_drops_buffer=1 n_drops_bug=0 n_drops_pf=0 n_evts=1

[2020-04-05 15:27] afbjorklund commented on #1034
Workaround still holding, and I can update both of them with some simple lines.

[code]

[code]

However, the `URL` is hard-coded so I do have to edit (dirty) the source code...

[code]

i.e. there is no `SYSDIG_URL` variable to override, with the local file path.

[2020-04-05 15:37] afbjorklund commented on #1114
For minikube, I think the BPF driver might eventually replace the Kernel driver `falco-probe.ko`.
Then there should be no reason to have to bundle anything, since it can run from the images... ?

And then it would probably also work better with the new "docker" driver, without any VM on Linux.
Otherwise we would have to load the kernel module in the host (laptop) kernel, not so popular...

[2020-04-06 16:11] degilq commented on #1021
we have problema with ebpf and gee
Falco can't load BPF probe in GKE
Im using latest and the env

  - name: BPF_PROBE
            value: ""
          - name: FALCO_BPF_PROBE
            value: "/root/.falco/falco-probe-bpf.o"

[2020-04-06 16:28] degilq opened #1130 "Falco can't load BPF probe in GKE"
/kind @gnosek #1130
Im using falcosecurity/falco:latest and the env

  - name: BPF_PROBE
            value: ""
          - name: FALCO_BPF_PROBE
            value: "/root/.falco/falco-probe-bpf.o"

the pods crash with the errors:
Found kernel config at /proc/config.gz
* Trying to download precompiled module from https://s3.amazonaws.com/download.draios.com/stable/sysdig-probe-binaries/falco-probe-

[2020-04-06 16:28] poiana commented on #1130
@degilq: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kube

[2020-04-06 18:52] degilq commented on #1130
/area kernel-module

[2020-04-07 13:33] santi-asapp commented on #683
Hi, I have a similar issue with my EKS cluster (v1.14) when trying to parse a JSON from helm chart deployment. "Runtime error: Invalid JSON encountered while parsing container info:"

[2020-04-07 15:28] #720 closed

[2020-04-07 16:41] fntlnz commented on #1128
Fixed by https://github.com/falcosecurity/falco/pull/1105

Closing but feel free to comment if there's anything to add.

[2020-04-07 16:41] #1128 closed

[2020-04-07 17:16] leodido commented on #628
Keeep
L.

On Tue, Apr 7, 2020 at 6:29 PM stale[bot] <notifications@github.com> wrote:

[2020-04-07 17:16] leodido commented on #885
/close
L.

On Tue, Apr 7, 2020 at 6:29 PM stale[bot] <notifications@github.com> wrote:

[2020-04-07 17:16] #885 closed

[2020-04-07 17:17] poiana commented on #885
@leodido: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/885#issuecomment-610513770):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2020-04-07 19:09] leodido commented on #983
AFAIK @kris-nova is handling this but she’s out this week.

On Tue, 7 Apr 2020 at 20:39, Amye Scavarda Perrin <notifications@github.com>
wrote:

--
L.

[2020-04-07 19:16] amye commented on #983
Good to know! I'll check back in on Monday.

[2020-04-07 19:40] smijolovic opened #1132 "Documentation does not show how to load the bpf driver"
Falco documentation clearly details the steps to build and load the kernel driver (falco-probe.ko).

It states how to build the alternative bpf driver (probe.o), but does not detail the process of how that driver is loaded/installed.

Politely requesting the procedure for the installation on a CentOS host, and for it to be added to the build from source documentation.

[2020-04-07 19:40] poiana commented on #1132
@smijolovic: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2020-04-07 19:48] smijolovic commented on #1132
/kind/documentation

[2020-04-08 08:06] vanneback commented on #1079
The master branch fixed this problem for me. Any plan to release a patch or when is the next release planned?

[2020-04-08 13:20] leogr commented on #1089
PoC in progress https://github.com/leogr/event-generator

[2020-04-08 15:34] DrPhil commented on #1130
I'm on GKE and using the helm stable charts. I can't run falco 0.19, 0.20 or 0.21. Running 0.18 seems to work.

My error looks very similar.
[code]

Using an older version works.
`helm install falco stable/falco --set ebpf.enabled=true --version 1.1.0`

I also tried using the [falco-daemonset-configmap-slim](https://github.com/falcosecurity/falco/blob/0.21.0/integrations/k8s-using-daemonset/k8s-wi

[2020-04-08 15:46] leogr commented on #1089
As discussed during the community call, we decide to move [the new event-generator](https://github.com/leogr/event-generator) to the Falco org and - when ready - use it as a replacement for the [old one](https://github.com/falcosecurity/falco/tree/master/docker/event-generator).

I suggest keeping this issue open until the old one can be removed from this repo.

[2020-04-08 15:56] leodido commented on #1089
+1

Let us know when you are reading for the move!
L.

On Wed, Apr 8, 2020 at 5:46 PM Leonardo Grasso <notifications@github.com>
wrote:

[2020-04-08 16:43] leodido commented on #1029
Yes, it's definitely worth a try!

[2020-04-08 16:47] leodido commented on #865
We've been working on PR https://github.com/falcosecurity/falco/pull/1133 lately.

It solves the issue you're reporting as you can see from the following outputs (eg., `k8s.pod, `k8s.ns`, etc. populated).

[code]

[code]

[2020-04-08 16:53] leodido commented on #1075
We've been working on PR https://github.com/falcosecurity/falco/pull/1133 lately.

It solves the issue you're reporting as you can see from the following outputs (eg., `k8s.pod, `k8s.ns`, etc. populated).

[code]

[code]

Also, the issue is solved also when running Falco as a docker container (and not in Kubernetes). As you can see from the following outputs, `container_name` and `image` are no mo

[2020-04-08 17:13] #896 closed

[2020-04-08 17:14] #865 closed

[2020-04-08 17:14] #1075 closed

[2020-04-08 17:14] #1084 closed

[2020-04-08 17:57] mazzy89 commented on #1075
Hi @leodido thanks a lot to get back here. You are great guys.

Definitely I will give a try after holiday Easter. I just paused at the moment the work on Falco due to other priorities but I'll get back to it soon. I still have to wire the target for Flatcar 😇

[2020-04-08 17:57] chriskobpin commented on #1130
For me worked using master instead of 0.19/0.20/0.21.
I hope it helps

[2020-04-08 18:31] leodido commented on #1130
Yup, @degilq can you please try running it using the Falco master?

[2020-04-08 18:33] leodido commented on #1094
Closing this since the exact bug is resolved as verified.

Feel free to file a new one if you still have other issues, thanks :)

/close

[2020-04-08 18:33] #1094 closed

[2020-04-08 18:33] poiana commented on #1094
@leodido: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/1094#issuecomment-611120947):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2020-04-08 18:38] jakewins commented on #1130
@leodido dunno about @degilq but can confirm swapping to the master that was just pushed to dockerhub solved this issue for me

[2020-04-08 18:40] amye opened #1134 "Website footer change to Linux Foundation"
Hi all,
This should be added to the website footer:
2020 © Falco Project Authors. All rights reserved. The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, please see our Trademark Usage page: https://www.linuxfoundation.org/trademark-usage

Happy to submit a PR to correct, just direct me to the right place!