[2019-05-29 10:31] resworld commented on #624
Thank you, @fntlnz for your answer.

I tried with your suggestion - installing `kernel-devel` package in node servers and after deploing Falco. This fixed mine issue with compiling module in falco startup script and installing it successfully after. So I may use that solution. It was needed to remove readOnly tag for `/host/lib/modules` volume also.

We've found that problem with `permission denie

[2019-05-29 12:33] tomklino opened #629 "Why are all k8s.*.* fields are null?"
I've added to the output of all rules the fields:

- k8s.pod.name
- k8s.pod.id
- k8s.pod.labels

But every time an event is logged these values come out as null

for example:

[code]

I'm have looked through the docs to see if there is some configuration I needed to set to get this to work, but havn't found anything

[2019-05-29 14:15] tanvir1990 commented on #626
So, the error the log file is talking about a Kernel header missing. So I ran the following commands to find out my kernel version and if the header file exists. I am running a Debian version 9 instance on Google Cloud Platform.

**@linux**:~$ uname -r
4.9.0-9-amd64
**@linux**:~$ apt search linux-headers-$(uname -r)
linux-headers-4.9.0-9-amd64/stable,now 4.9.168-1+deb9u2 amd64 [installed,automatic

[2019-05-29 17:58] prsimoes commented on #596
Is it possible to get the cluster name as well?

[2019-05-29 20:50] fntlnz commented on #624
Oh thanks for confirming that your issue is solved, @resworld .
I'm opening an issue to document that on machines with SELinux we need to deploy a profile for it and will suggest to add it also to the rpm package.

[2019-05-29 20:53] fntlnz opened #630 "SELinux profile for Falco"
It [had been pointed out ](https://github.com/falcosecurity/falco/issues/624#issuecomment-496881070) that when Falco is deployed on a Machine with SELinux enabled, such as in an OpenShift node you need to tell SELInux to allow falco to operate with a policy.

So we need to:

- [ ] Make a SELinux profile for Falco
- [ ] Add the SELinux profile in the RPMs
- [ ] State in the docs that when SELinux i

[2019-05-29 20:53] #624 closed

[2019-05-29 20:53] Issif commented on #528
For following up some discussions we had on Slack, here a quick schema about basic principles I had in mind.  A lot are inspired by my [falcosidekick](https://github.com/Issif/falcosidekick) with some enhancements I wanted to add (queues + gRPC)

![image](https://user-images.githubusercontent.com/4520100/58590287-127c7e80-8264-11e9-8564-b5ac8d7b80d6.png)

Feel free to discuss about and challenge.

[2019-05-30 06:40] tomklino commented on #629
so turns out I left those arguments out by mistake:

[code]

[2019-05-30 11:35] tomklino commented on #629
I have to re-open that issue.
Even now with the arguments for Kubernetes enabled, for some of the events, all k8s.* fields are null. They are critical in my case for filtering events like privileged containers, and I need to understand if this is a bug or if there is something additional in the configurations/setup I need to add.

Here is an example:
[code]

And sometimes, for the same event, k8s.

[2019-05-30 13:52] natalysheinin opened #632 "Provide macro to whitelist "Clear Log Activities" Rule"
https://github.com/falcosecurity/falco/blob/dev/rules/falco_rules.yaml#L2212

The new `Clear Log Activities` rule is alerting a lot of log lines that we expect to be cleared.
There is currently no way to provide an `allowed_clear_log_files` macro that defines logs that you want to whitelist (aside from outright overriding the rule itself)

## Potential Solution

Re-write local rule as:
[code]

[2019-05-31 08:25] devdua opened #638 "Unable to install falco on CentOS 7.5 - add fallback mechanism if DKMS fails"
Hi

I am unable to install Falco on CentOS 7.5, here's the output of the script -

[code]

[2019-05-31 20:11] JPLachance opened #640 "Falco service "active (exited)" on Ubuntu 16.04 (systemd)"
Hello!

I am currently running Falco 0.14.0 on production instances and I noticed Falco stopped running on multiple Ubuntu 16.04 hosts.

[code]

After discussing with @fntlnz, the issue is most likely caused by the lack of systemd Unit definition and [systemd doesn't know what he needs to do](https://unix.stackexchange.com/questions/241970/what-does-status-active-exited-mean-for-a-systemd-service)

[2019-05-31 20:48] JPLachance commented on #640
Hello again!

The current systemd falco.service file (/run/systemd/generator.late/falco.service) content is:
[code]

The one suggested by @juju4 is:
[code]

The `Type` change (from `Type=forking` to `Type=simple`) and the `Restart=on-failure` should help!

[2019-06-01 23:45] caquino commented on #425
I'm having the same issue with the hosts /etc/ mounted and with SYSDIG_BPF_PROBE environment variable exported.

I've converted the yaml files from the examples to terraform:

[code]

The output of describe daemonset looks correct:
[code]
* Setting up /usr/src links from host
* Mounting debugfs
Found kernel config at /proc/config.gz
* COS detected (build 11647.163.0), downloading and setting up ke

[2019-06-03 18:56] fntlnz opened #643 "Falco probe loader build for older falco versions"
After this, https://github.com/draios/sysdig/issues/1429 we noticed that Falco probe loader modules are built only for the latest Falco version, this creates problem to existing users upgrading to newer kernels.

This issue is an open discussion to decide what to do, I'm in favor of building the module for at least three versions.

What do you think? @leodido @mfdii @ldegio @mstemm  @Issif @prsimo

[2019-06-03 20:56] Issif commented on #643
Last three releases is a good number for me.

Maybe we could provide an all-in-one factory for building kernel modules, a Dockerfile + Makefile, for example, to let anyone build modules for itself if missing (I think that Sysdig docker image may does this kind of behavior if module is missing)

We could also add a little stat mechanism (not blocking), when a falco can't start because of a missing

[2019-06-03 23:08] mstemm commented on #574
no, still want to do this.

[2019-06-04 09:49] devdua commented on #638
According to the installation doc, the script should fallback to downloading kernel modules from s3 if DKMS fails -

![image](https://user-images.githubusercontent.com/3139249/58869210-6f03f180-86db-11e9-988f-adbe7af18280.png)

However the current script has no such functionality. The pre-built kernel module does exist for the kernel I have on the machine.

```2019-05-14 02:00:54     677392 falco-

[2019-06-04 12:01] iverberk commented on #627
Can anyone of the Falco maintainers comment on this? It makes the alerting basically useless and it seems that this has never worked properly?

[2019-06-04 16:43] mfdii commented on #627
@nestorsalceda can you help troubleshoot what is going on?

[2019-06-05 18:46] mstemm commented on #425
@caquino can you file a separate issue for this? We've also noticed this internally and from what we can tell it's something specific to the COS used by google: https://chromium.googlesource.com/chromiumos/third_party/kernel/+/096925a44076ba5c52faa84d255a847130ff341e%5E%21/#F2.

[2019-06-05 18:48] mstemm commented on #643
I'd slightly lean towards 2 rather than 3 but I can live with either. I think a good time to make this change would be when we start hosting the artifacts separate from other sysdig oss artifacts.

[2019-06-05 18:51] leodido commented on #643
I vote for 2.

L.

On Wed, Jun 5, 2019 at 8:48 PM Mark Stemm <notifications@github.com> wrote:

[2019-06-05 21:01] fntlnz commented on #427
@caniszczyk we implemented this already in the test-infra and office-hours repo. This will be rolled out to the falco repo soon.

Here's an example on how it behaves, https://github.com/falcosecurity/test-infra/pull/5

Wdyt?

[2019-06-06 00:00] Kaizhe opened #649 "Improve macro rancher_write_conf for process healthcheck"
The `healthcheck` process is going to removed from the macro `rancher_writing_conf`. Need to added it back with image check.

[2019-06-06 00:03] caquino opened #650 "Failure to find a BPF probe on Container Optimized OS"
I'm having the issues running Falco on GCP using Kubernetes Engine with Container Optimized OS.

Initially, I assumed the error was related to not having the host /etc mounted on the container or not having the SYSDIG_BPF_PROBE environment variable exported, which I was able to confirm that both are correct on the container.

To spin up this infrastructure I've converted the yaml files from the ex

[2019-06-06 01:35] #649 closed

[2019-06-06 11:57] caniszczyk commented on #427
LGTM but I also just enabled it via here: https://github.com/organizations/falcosecurity/settings/installations/1117117

[2019-06-06 20:21] leodido commented on #621
Following up the today's office hours and community feedbacks we decided to pursue this path.

I'll come up soon with a plan.

[2019-06-06 22:54] fntlnz commented on #427
Ok, we'll swap it once Prow is enabled in this repo. Thank you

[2019-06-06 23:46] fntlnz commented on #621
The issue templates, PR templates and contributing md files are done here: https://github.com/falcosecurity/falco/pull/644

[2019-06-08 12:42] michiels commented on #650
I'm getting a similar issue on DigitalOcean Kubernetes Cluster nodes. Running on Debian.

[code]

[2019-06-08 19:15] fntlnz commented on #650
Hi @caquino thanks for opening this one.
Multiple users noticed the behavior, no one opened a specific issue about it that I'm aware of. This problem was caused because COS developers modified the audit kernel headers in a way that we cannot determine whether the loginuid field is available or not.

There's a fix in the BPF driver already but that had not been merged yet.

https://github.com/draio

[2019-06-08 21:47] budbay commented on #610
well after update to 15.1 everything is now working again. whatever bugfixes were present solved the issue for me.

[2019-06-08 21:47] #610 closed

[2019-06-08 23:10] janbeerden opened #656 "Can't find configuration file after installing falco on kubernetes"
~It would be really nice to get falco up and running in [kind](https://github.com/kubernetes-sigs/kind).~

**editor note:** This issue initially happened to talk about an issue with Kind but then the OP used a different approach with a Vagrant machine. We are now trying to help them on getting Falco work in their environment.

[2019-06-10 10:38] fntlnz commented on #656
@janbeerden thanks for bringing this up 🙌
My understanding kind does not use a different kernel than the underlying one where docker is running so unless I’m missing something we already work with kind.
Can you expand a bit more ?

[2019-06-10 10:43] caquino commented on #650
Hi @fntlnz more than happy to test it.

I was looking for the Dockerfile that I could use to build the `cos-bpf` branch but looks like the ones I found on the repository all rely on using packages from the draios repository, which I assume will not have a package for the branch.

Is there any direction you can point me on how to build the `cos-bpf` branch into a docker image that will run on COS?

[2019-06-10 10:47] fntlnz commented on #610
Hi @budbay  thanks for reporting! Do you still see this?

[2019-06-10 14:26] CuriousUndeadCat commented on #626
Any news on this?
We're having problem deploying it on GKE.
It's trying to [download a file that doesn't exist.](https://s3.amazonaws.com/download.draios.com/stable/sysdig-probe-binaries/falco-probe-0.15.0-x86_64-4.14.106%2B-59782263d3699cdb67e5e115f34d2e12.ko)

[2019-06-10 14:34] tanvir1990 commented on #626
I don't have anything from me yet. I am waiting for anyone from Falco to help. :/

[2019-06-10 15:50] budbay commented on #610
@fntInz not since upgrading to v15.1.  Falco has been up and running like normal on latest version.

[2019-06-10 18:27] fntlnz commented on #626
@tanvir1990 Thanks for reporting.
I'm a bit confused by the outputs you posted here.
It seems that the Kubernetes node where you are trying to run Falco has kernel `4.14.106+` but then you post the kernel headers from the node where you are running the kubectl that is running with kernel `4.9.0-9-amd64`.

Can you confirm that the kernel headers are in the target machine and not just in the machine

[2019-06-10 18:27] fntlnz commented on #632
@mstemm @Kaizhe wdyt?

[2019-06-10 18:29] mstemm commented on #632
That approach looks good. I’ll try to do it this week, if @Kaizhe has time before he can tackle it too.

[2019-06-10 18:30] fntlnz commented on #587
@btorretta Falco does not support running in a lightweight mode, however we have discussions around specifying a set of capabilities instead of asking for full privileges, see https://github.com/falcosecurity/falco/issues/628 .

We are also discussing the possibility to disable the kernel module features for those that can't use that  and just allow things like the audit log but for now there's no

[2019-06-10 18:39] Kaizhe commented on #632
lgtm

[2019-06-10 18:42] Kaizhe commented on #632
-

[2019-06-10 20:42] janbeerden commented on #656
@fntlnz, these are the logs from the falco pod after launching it in a kind Kubernetes 1.13 cluster:
[code]

I am using the k8s-with-rbac config files form [https://github.com/falcosecurity/falco/tree/dev/integrations/k8s-using-daemonset](https://github.com/falcosecurity/falco/tree/dev/integrations/k8s-using-daemonset)

Perhaps I am missing something?

[2019-06-10 21:27] fntlnz commented on #610
Ok thanks for confirming @budbay

[2019-06-10 23:15] mstemm commented on #545
Fixed by https://github.com/falcosecurity/falco/pull/561.

[2019-06-10 23:15] #545 closed

[2019-06-10 23:22] fntlnz commented on #656
Ok thanks for getting back with the log,
by looking at it I can understand a few things:

- You are probably using docker for mac or docker for windows to run your kind cluster, `4.9.125-linuxkit` seems the one built by Docker for those products.
- Given the previous consideration, the docker for mac operating system built with LinuxKit does not have the kernel headers built-in, this is why you ar

[2019-06-10 23:27] fntlnz opened #657 "Falco probe loader build in Linuxkit (docker4mac, docker4win)"
@janbeerden in #656 reported that he is not able to run Falco on a Kind (Kubernetes in Docker) cluster.

Then, Jan reported his execution log, and it was immediately clear that what he was seeing was because there's no prebuilt module for Linuxkit kernels (usually used in Docker for Mac and Windows installations)

<details>
<summary>Execution log</summary>

[code]

</details>

~Those Linuxkit dist

[2019-06-11 01:56] poiana commented on #657
@fntlnz: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.
In case you do not know which kind this proposal is please mention the maintainers using `@team/maintainers`.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requ

[2019-06-11 04:28] fntlnz commented on #657
/kind feature

[2019-06-11 04:31] fntlnz commented on #656
/area kernel-module

[2019-06-11 04:32] fntlnz commented on #656
/kind feature

[2019-06-11 04:32] fntlnz commented on #632
/area rules

[2019-06-11 15:54] dom-lgtm opened #660 "Failure to build Falco with builder"
**What happened**:

Building Falco with the instructions provided on the website fails with the following error:

```make[3]: warning: jobserver unavailable: using -j1.  Add `+' to parent make rule.
make[3]: *** No rule to make target `/build/Release/grpc-prefix/src/grpc/objs/opt/third_party/zlib/adler32.o', needed by `/build/Release/grpc-prefix/src/grpc/libs/opt/libz.a'.  Stop.
make[2]: *** [grpc

[2019-06-11 17:28] leodido commented on #660
The line `No rule to make target /build/Release/grpc-prefix/src/grpc/objs/opt/third_party/zlib/adler32.o, needed by /build/Release/grpc-prefix/src/grpc/libs/opt/libz.a. Stop.` suggests a missing/wrong dependency (`zlib`).

@mstemm PTAL

[2019-06-11 17:30] leodido commented on #650
draios/sysdig#1431 has been merged in

[2019-06-11 18:06] cnorthwood opened #661 "Precompiled kernels for DigitalOcean Kubernetes cluster"
**What would you like to be added**:

It would be great if the precompiled kernel modules included DigitalOcean's Kubernetes hosts.

**Why is this needed**:
To let Falco run on DO's managed Kubernetes infrastructure.

(Originally brought up on Slack, cc @fntlnz)

[2019-06-11 18:19] nathan-b commented on #650
@caquino If you run this on your GKE cluster then let me know that it solves your problem. I believe it will (it solves it on my end), but unfortunately COS is a bit of a moving target so it will be helpful to hear it fixes your stuff as well :)

[2019-06-11 18:32] mstemm commented on #660
Did you try with the falco-builder image we distribute? https://cloud.docker.com/u/falcosecurity/repository/docker/falcosecurity/falco-builder

[2019-06-11 18:59] michiels commented on #661
Hi @cnorthwood and @fntlnz

Thanks for "joining up" and responding to the messages in Slack. It would indeed be great to have pre-compiled Sysdig Probe images on the DO K8s kernel versions!

As per @fntlnz suggestion on Slack I already tried to compile my own probe module and put that as a drop-into `~/.sysdig/` in a custom Docker container on Docker Hub for our company. However, that didn't work

[2019-06-11 19:29] janbeerden commented on #656
In the previous attempt I was using kind in combination with Docker Desktop Edge 2.0.4.1 (on macOS 10.14.5) with Docker 19.03.0-beta3.

When I spin up a VirtualBox with CoreOS version 2079.5.1, the module compiles but cannot be loaded due to CoreOS having a readonly filesystem.

I then tried it on a Debian Stretch VM and it gave the following output even though the kernel headers were installed:
[

[2019-06-11 19:45] leodido opened #662 "Declarative org settings, teams, and memberships"
**What would you like to be added**:

Following up from #621 - ie., prow - I think we should also implement a declarative way to handle organisation settings, teams and memberships.

**Why is this needed**:

This approach is particularly useful to scale the operations about the management of the open-source projects.

Also it is a way to transparently automatically document the organization of the

[2019-06-11 21:43] fntlnz commented on #630
/kind feature

[2019-06-11 21:43] fntlnz commented on #596
/kind feature

[2019-06-11 21:43] fntlnz commented on #596
@prsimoes yes it's mentioned in the issue!

[2019-06-11 21:47] fntlnz commented on #626
/triage needs-information

[2019-06-11 21:53] leodido commented on #427
Hey @caniszczyk we are now using the [dco](https://github.com/kubernetes/test-infra/tree/master/prow/plugins/dco) plugin of [prow](https://github.com/kubernetes/test-infra/tree/master/prow) (the same tool, soon to be into the sigs, used by Kubernetes and others).

For this reason we deactivated the [dco app](github.com/apps/dco) you setup some days ago.

[2019-06-11 21:53] #427 closed

[2019-06-11 21:55] fntlnz opened #663 "Triaging explaination in CONTRIBUTING.md"
**What would you like to be added**:
In CONTRIBUTING.md add a section to explain how triage is done with the `/triage` command and link to the labels page for triage [here](https://github.com/falcosecurity/falco/labels?utf8=%E2%9C%93&q=triage)

**Why is this needed**:
Because people want to triage issues!

[2019-06-11 21:56] fntlnz commented on #663
/assign @leodido

[2019-06-11 21:58] fntlnz commented on #630
/area integrations

[2019-06-11 21:58] fntlnz commented on #640
/area integrations

[2019-06-11 22:01] fntlnz commented on #640
@JPLachance that seems like a good idea, would you like to contribute that change? Let me know otherwise I'll do it.

[2019-06-11 22:02] fntlnz commented on #661
/area kernel-module

[2019-06-11 22:02] fntlnz commented on #596
/area integrations

[2019-06-11 22:02] fntlnz commented on #660
/assign @mstemm

[2019-06-11 22:03] fntlnz commented on #632
/kind feature

[2019-06-11 22:04] fntlnz commented on #650
/kind kernel-module

[2019-06-11 22:05] fntlnz commented on #587
/area integrations

[2019-06-11 22:06] fntlnz commented on #587
/triage unresolved

Triaging this as unresolved for now for the reasons in my previous comment.

[2019-06-11 22:08] fntlnz commented on #629
@tomklino can you give us more info about your environment?

**Environment**:
- Falco version (use `falco --version`):
- System info
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools (e.g. in kubernetes, rpm, deb, from source):
- Others:

[2019-06-11 22:08] fntlnz commented on #629
/triage support

[2019-06-11 22:09] JPLachance commented on #640
Unfortunately, I'm totally clueless about how we build, package and publish a DEB package 🙂 I could try something, but it won't be in the next few days. Can you handle it? I'll be happy to test it!

[2019-06-11 22:11] fntlnz commented on #638
Hi @devdua - do you have the kernel headers package in your machine?

[code]

[2019-06-11 22:12] fntlnz commented on #638
/area kernel-module

[2019-06-11 22:16] fntlnz commented on #622
/close

[2019-06-11 22:16] #622 closed

[2019-06-11 22:16] poiana commented on #622
@fntlnz: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/622#issuecomment-501043861):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2019-06-11 22:17] fntlnz commented on #623
/kind feature

[2019-06-11 22:18] fntlnz commented on #484
/kind integrations

[2019-06-11 22:20] fntlnz commented on #484
/kind feature

[2019-06-11 23:03] #663 closed

[2019-06-11 23:11] leodido commented on #318
Hey @mstemm what's the state of this?

[2019-06-11 23:28] leodido commented on #337
Asking help to my rules magician friend @Kaizhe !

[2019-06-11 23:28] leodido commented on #337
/triage support

[2019-06-11 23:53] leodido commented on #349
/triage support

[2019-06-11 23:53] leodido commented on #349
@mstemm can we close this?

[2019-06-12 00:10] leodido commented on #577
/triage support

[2019-06-12 00:10] leodido commented on #534
/triage support

[2019-06-12 00:12] leodido commented on #530
/kind feature

[2019-06-12 00:20] leodido commented on #491
/triage support
/area rules
/kind feature

[2019-06-12 00:22] leodido commented on #528
/kind design

[2019-06-12 00:24] leodido commented on #607
/kind design
/kind feature

[2019-06-12 00:25] leodido commented on #531
/kind design
/kind cleanup

[2019-06-12 00:25] leodido commented on #531
/kind feature

[2019-06-12 00:25] leodido commented on #529
/kind feature

[2019-06-12 00:27] leodido commented on #483
@mfdii @mstemm could you please update the status of this?

[2019-06-12 00:29] leodido commented on #621
/kind feature

[2019-06-12 00:30] leodido commented on #574
/kind feature
/area engine

[2019-06-12 00:30] leodido commented on #628
/priority P1

[2019-06-12 00:38] fntlnz commented on #532
I agree with @JPLachance - the idea seems the one we would likely need to implement.

He just wrote me on slack he is not sure whether to use Alpine or Ubuntu as base images.

Wdyt @mstemm @mfdii @leodido ?

Would we have problem with Musl for example? Let's just collect some opinions and make a decision on that so that we can go on and do this

[2019-06-12 00:47] leodido commented on #532
I tend to prefer Alpine because it's smaller and usually faster.
Nevertheless the main point here is about glibc versus musl libc.

[2019-06-12 00:53] JPLachance commented on #532
Hello!

I don’t think a multi-stage Dockerfile is the solution. Building the kernel module needs to be done at boot of the Falco container when the kernel is unsupported (no builds provided). The multi-stage Dockerfile won’t help because building the kernel module would happen at the build of the container image 🙂

About Alpine VS [Ubuntu 18.04](https://blog.ubuntu.com/2018/07/09/minimal-ubuntu-re

[2019-06-12 01:13] fntlnz commented on #640
@mstemm to do this we just edit the files in the scripts folder? I see those there but I don’t understand where the actual build is done and when.

[2019-06-12 03:53] devdua commented on #638
Hi @fntlnz when I am attempting to install both ```kernel-headers``` and ```kernel-devel``` packages, they're getting installed for kernel ```3.10.0-957.12.2.el7.x86_64```. However, ```uname -r``` shows the kernel to be ```3.10.0-862.14.4.el7.x86_64``` which is not supported any more and all packages pertaining to this kernel version have been taken down from the official repo.

As in my last comm

[2019-06-12 07:00] dom-lgtm commented on #660
Yes, this was my first try before I rebuilt the builder.

[2019-06-12 07:47] tomklino commented on #629
I would love to:

falco version 0.15.0
[code]
We are running kubernetes on aws
Using the falco image as provided (falcosecurity/falco:0.15.0) for the container image
[code]
[code]

[2019-06-12 07:49] Issif commented on #532
@JPLachance You're right.

I've bypassed the problem in Docker for Windows by this way : https://github.com/Issif/falco-docker4windows/blob/4.9.125/Dockerfile

I agree it's not native, but it works.

[2019-06-12 08:00] dom-lgtm commented on #660
I can confirm I don't get the same error on a linux (Debian) docker install.

However I get another error at the end:

[code]

I used the same commands as above.

[2019-06-12 08:44] arminc commented on #627
We used the latest falco version (15) and the problem seems to be resolved. I am not 100% sure but the problem might be caused by #560

[2019-06-12 12:32] JPLachance commented on #532
@Issif, it works to build one Falco container image for one specific version of the kernel. If we want to take that approach, we need to build one container image per kernel version we want to support. I'm sure we can do a script that generates and publish a ton of container images but is there where we want to go? 🙂

We could build two container images. One with all the required build tools, anot

[2019-06-12 15:13] mstemm commented on #318
We haven't updated the rules yet to take advantage of the changes in draios/sysdig#1189, so we should keep it open.

[2019-06-12 15:15] mstemm commented on #349
No, we haven't made the changes yet.

[2019-06-12 15:18] mstemm commented on #483
No changes yet. You could always add the hostname when creating the json that goes to the slack webhook, but there isn't anything automatic from falco.

[2019-06-12 15:21] mstemm commented on #640
We don't currently include a systemd unit file, so we'd have to figure out where it should be within the binary packages to get installed properly.

[2019-06-12 15:22] mstemm commented on #660
What was your complete command line? You need to resolve ${FALCO_VERSION} with whatever version you'd like to use for the build.

[2019-06-12 15:26] mstemm commented on #532
Yes, I agree with the approach of having an alternate set of container images. We take this approach with our commercial agent, where you can either install a single container that builds the kernel module and contains the agent, or run two containers--one builds the kernel module, and the other only runs the agent.

Alpine would be a good choice for a small image, but we'll need to rebuild falco

[2019-06-12 15:35] dom-lgtm commented on #660
As mentioned in my comment, it's above:

[code]

[2019-06-12 16:21] caquino commented on #650
@nathan-b do I need to use any specific image tag or just the latest should cover the PR that was merged?

The error now looks different, but it still fails sadly, this is what I get using the latest tag image:

[code]

[2019-06-12 17:00] mfdii commented on #650
We are cutting a new release to incorporate the fix from Sysdig. Hopefully it will be out today.

[2019-06-12 17:10] mstemm commented on #660
What happens if you put the version directly e.g. -e FALCO_VERSION=0.1.2-test? Maybe the environment variable isn’t being passed properly

[2019-06-12 17:53] dom-lgtm commented on #660
I think I did and it didn't work either, but I'm not sure so I will test again tomorrow and get back to you.

[2019-06-13 04:11] mfdii commented on #650
Ok, 0.15.3 has the fix in the eBPF probe so it will compile successfully. Unfortunately the COS version detection has a bug that prevents compile time flags from getting set.

If you set the environment variable in your daemonset like below
[code]

[2019-06-13 08:27] michiels commented on #532
Just chipping in here from a possible new Falco/Sysdig user:

We are currently aiming at using Falco as IDS for our Kubernetes clusters on DigitalOcean. As the DigitalOcean K8s VM images do not include kernel headers by default, it is not possible for us to use the "on demand" probe build method inside your current container image.

Pending that you might start building the probe module for the Di

[2019-06-13 12:42] caquino commented on #650
@mfdii I can confirm that with the KBUILD_EXTRA_CPPFLAGS the build works without issues.

It also required some changes to my terraform to work, to automount the service account secret.

I'm sharing the final configuration here in case anyone else is interested.

[code]

[2019-06-13 12:53] caquino opened #669 "Falco on GKE - dropped syscall events"
**What happened**: Falco is constantly dropping events on a really small GKE cluster (3 nodes) and 9 containers (excluding Google services containers)

**What you expected to happen**: I would expect that for a cluster of such size that falco would have no issues handling the events for it.

**How to reproduce it (as minimally and precisely as possible)**: Based on my tests, just by deploying a si

[2019-06-13 15:37] mfdii commented on #640
Discussed on office hours. We will start shipping the systemd unit file.

[2019-06-13 18:12] fntlnz commented on #669
Thanks for opening @caquino - need some time to look at this because I need to get to a gcp account to do tests.

[2019-06-13 18:12] fntlnz commented on #669
/assign @fntlnz
/assign @leodido

[2019-06-13 18:15] fntlnz commented on #650
Thanks @caquino thats solid feedback !

You terraform config seems a perfect candidate for a documentation page!

Closing this as it seems solved! Please reopen if needed !

[2019-06-13 18:16] poiana commented on #650
@caquino: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.
In case you do not know which kind this proposal is please mention the maintainers using `@team/maintainers`.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-req

[2019-06-13 18:16] fntlnz commented on #650
/close

[2019-06-13 18:16] poiana commented on #650
@fntlnz: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/650#issuecomment-501821813):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2019-06-13 18:16] #650 closed

[2019-06-13 18:16] fntlnz commented on #650
/kind bug

[2019-06-13 20:06] michiels commented on #661
Hi there! I have a follow up on this and running into some problems.

I just spun up regular Debian Stretch image on DigitalOcean and compiled the kernel module. I did this by pulling down the `falcosecurity/falco:latest` container image and manually running `make` in the `/usr/src/falco-xxx` directory. Then I copied the resulting `falco-probe.ko` to my workstation and put that in a Docker contain

[2019-06-13 21:42] nebi-frame opened #670 "Documentation around Rule Operators"
**What am I asking**:
I'm asking to documentate rule operators and their meaning,
for example what does `icontains` mean and what is the difference between `contains` and `icontains` ?
**Why is this needed**:
Without proper understanding of operators, it's hard to write rules.

[2019-06-14 01:25] fntlnz commented on #670
/area documentation

[2019-06-14 02:12] mfdii commented on #661
Not exactly sure what you did wrong, but I tried to recreate and was able to build and insert the module, both on my build droplet and the k8s droplet. I built the module both with the falco container and manually on a Debian Stretch image. The steps are below.

[code]
The falco container will download the module from your Space and insert it. It you'd rather ship the module as a container, I'd su

[2019-06-14 09:05] michiels commented on #661
@mfdii Many tanks for this. It worked. I have published my own binary to a DO Space and could succesfully launch the daemonset!

[2019-06-14 09:15] michiels commented on #661
@mfdii By the way. No Cilium messages so far yet in my Falco logs. I'm using the default `yaml` files from this repo as standard configuration. What messages are you referring to so that I might contribute?

[2019-06-14 09:36] michiels commented on #669
FWIW, getting the same on a 3-server (1cpu2Gbram) cluster at DigitalOcean Kubernetes. There are a bunch of additional things already deployed:
- Traefik ingress controller
- A rails app with a web and background process
- Logspout logging pipeline.

Do these errors usually mean the cluster's capacity is reached?

[2019-06-14 11:50] caquino commented on #669
On my case the cluster has 3 n1-standard-2 (2 vCPUs, 7.5 GB memory) nodes, other than what comes pre-configured on the cluster from Google is running only a Deployment with nginx and php.

This is not a production cluster, so it has no traffic on it yet, so I would expect to not be a capacity issue.

[2019-06-14 15:50] danbeaulieu commented on #532
+1 for a slim image.

There is a trend of moving away from Alpine linux for CNCF project images. While Alpine is small, motivation seems to be partly stability (alpine has shown issues with golang programs in the past) and partly "standardizing" which helps with supply chain auditing.

See this kep for an example: https://github.com/kubernetes/enhancements/blob/master/keps/sig-release/20190316-reb

[2019-06-14 22:25] tcotav commented on #629
FWIW -- I'm also seeing this on AWS kubernetes/EKS.  Run with daemonset.

[code]

[2019-06-17 04:13] zwicker commented on #615
Also have this running in K8s, falco.yml below

[code]

[2019-06-17 09:33] fntlnz commented on #615
Hi @zwicker , can you provide the following about your env?

- Falco version (use `falco --version`):
- System info
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools (e.g. in kubernetes, rpm, deb, from source):
- Others:

[2019-06-17 09:34] fntlnz commented on #615
related to #669

[2019-06-17 15:59] mateobur opened #672 "Falco doesn't seem to populate some fields when using OpenShift 4.0 / CRI-O containers"
**What happened**: Using Falco over OpenShift4 with CRI-O containers, the falco runtime rule fired correctly but there were some missing parameters in the output.

**What you expected to happen**: Having the falco filters `container.image` and `container.image.repository` correctly populated in this environment.

**How to reproduce it (as minimally and precisely as possible)**:

The rule I used wa

[2019-06-17 17:13] leodido opened #674 "Falco fails to build from source because of issues with grpc cpp plugin and libcurl"
**What happened**:

Trying to build Falco from source into an ArchLinux does not work. It results into complaints about grpc (implicit fallthrough) and libcurl issues with libidn2.

**What you expected to happen**:

Falco built from source.

**How to reproduce it (as minimally and precisely as possible)**:

Assuming the current dev branch of Falco in the Falco directory, and a sibling directory co

[2019-06-17 20:53] ashishxooa commented on #483
@mstemm so different web hook configuration for different hosts?

[2019-06-17 21:14] fntlnz commented on #674
/assign @fntlnz
/assign @leodido

[2019-06-18 00:55] antoniobeyah commented on #532
I would prefer to have an image that includes everything it needs and no modifications at boot time.  We are moving towards requiring a readonly file system and no egress for everything and our major offenders preventing us from achieving this right now are our monitoring and security tools.  We would prefer the deploys to hard fail if the image didn't work (ex: wasn't built properly w/ proper mod

[2019-06-18 12:19] rastut commented on #629
Here the same, running on GKE 1.12.6

falco version 0.15.3

[code]
[code]
[code]

Some times the events come with the data populated but sometimes doesn't contain the k8s data:

[code]

[code]

[2019-06-18 14:30] mfdii commented on #656
I compiled the other day on Debian stretch and it worked just fine. How are you installing the kernel headers?

In both the Centos and Debian instances, the probe loader can't find headers, and it's typically fairly reliable at this check. How are you running Falco (please provide the command).

[2019-06-19 10:22] fntlnz commented on #672
/area integrations

[2019-06-19 10:23] leodido commented on #672
Hey @mateobur can you please give us information about the CNI plugin in use? Is it `multus`?

[2019-06-19 13:50] #337 closed

[2019-06-19 13:51] #632 closed

[2019-06-19 13:57] leodido opened #676 "[UMBRELLA] Missing syscalls"
**What would you like to be added**:

Missing syscalls:

- [x] `execveat`
- [x] `copy_file_range`
- [x] `renameat2` (https://github.com/draios/sysdig/issues/1603)
- [x] `open_by_handle_at`
- [x] `userfaultfd` (https://github.com/falcosecurity/libs/pull/50)

**Why is this needed**:

This issue serves now as an umbrella issue to track the syscall the [kernel module and/or eBPF driver](https://github

[2019-06-19 14:20] fntlnz commented on #676
/area kernel-module

[2019-06-19 18:14] tcotav commented on #629
fwiw, switching my ds deploy yaml to use `:dev` and I got the info

[code]

[2019-06-19 20:37] janbeerden commented on #656
I started from https://app.vagrantup.com/debian/boxes/stretch64 followed by:
[code]
The apt-get upgrade installed linux-image-4.9.0-9-amd64

Next I installed Docker and used kind to setup a cluster:
[code]

Once the cluster is up and running I used the following yaml files to deploy Falco:
namespace.yaml
[code]

falco-account.yaml
[code]

falco-service.yaml
[code]

falco-daemonset-configmap.yaml
[

[2019-06-20 10:57] hus787 opened #680 "Falco crashing on Kubernetes with connection timeout"
**What happened**:

Falco crashing. ~Once every 15mins.

**What you expected to happen**:

Falco not crash and handle and prevent connection timeouts gracefully.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

[code]

**Environment**:
- Falco version (use `falco --version`):
- System info
- Cloud provider or hardware configuration: Google (GKE)
- OS (e.g: `cat /etc/os-r

[2019-06-20 13:42] fntlnz commented on #680
@hus787 thanks for opening! Can you post the system info output please?

[2019-06-20 15:12] hus787 commented on #680
Welcome :)

can you provide the command whose specific output you would like to see? I don't understand what you specifically mean here by system.

[2019-06-20 16:39] leodido commented on #680
@hus787 I think @fntlnz was referring to the output provided by
`falco --support | jq .system_info` and `falco --version` in first instance :)

[2019-06-20 19:45] Srinivas11789 opened #683 "Crash with Invalid JSON error while parsing container info"
**What happened**:
Falco crashes with `Runtime error: Invalid JSON encountered while parsing container info` resulting in `CrashLoopBackOff` pod state

**What you expected to happen**:
* Parse container info without error
* Throw error and run without crash ( possible fallback? )

**How to reproduce it (as minimally and precisely as possible)**:
* Make a k8s deployment with large number of ports (

[2019-06-20 23:27] nuala33 opened #684 "Exception for fluentd in 'Clear Log Activities' rule"
Hi there,

My logs are flooded with false positives for the 'Clear Log Activities' rule from what I believe to be expected fluentd behavior. Example:

[code]

I saw this recent commit which I think is meant to address a similar issue: https://github.com/falcosecurity/falco/commit/cfaa52f522e1368b4c05ca436a35d0bee8c6bc16, but I pulled all the latest code and re-created my deployment and am still se

[2019-06-20 23:39] nuala33 commented on #684
nvm, found the part where i need to add input to the macro :)

[2019-06-20 23:39] #684 closed

[2019-06-21 09:09] leodido commented on #684
Glad to hear that you figured out yourself.

Could you please report your solution here for future reference?

It can be useful to other people too 😃

[2019-06-21 13:13] fntlnz commented on #683
Hi @Srinivas11789 good catch! Thanks for opening the issue, we will try to reproduce it.

[2019-06-21 13:13] fntlnz commented on #683
/assign @fntlnz
/assign @leodido

[2019-06-21 16:57] vsimon commented on #683
Hi I'm hitting this issue as well. Thanks for looking in to it.

[2019-06-21 17:44] mstemm commented on #483
What the fix for this would look like would be to add filtercheck fields something like %host.name to sysdig, and then using them in falco. Then the text of the falco alert would have the hostname.

What I meant by "add the hostname when creating the json" was that you could change the json however you wished before sending it to the slack webhook, including adding a hostname.

[2019-06-21 18:02] nuala33 commented on #684
Absolutely! I corrected the issue by changing `condition: (never_true)` to a condition that would match the false positive loglines I was seeing for the rule 'Clear Log Activities' like so:

[code]

Then I recreated the configmap and the daemonset and the false positives stopped coming in.

[2019-06-21 21:49] nuala33 commented on #669
I am also having the same issue ("syscall event drop" logs several times an hour) in my almost completely unused GKE cluster with 3 nodes.

Re: the fluentd log tampering alerts, I created #684 to address it, and I describe the fix that worked to stop those from flowing in.

[2019-06-24 09:20] hus787 commented on #680
`falco --support | jq .system_info`

[code]

`falco --version`

falco version 0.1.2811dev

[2019-06-24 09:28] #674 closed

[2019-06-24 16:33] fntlnz commented on #680
/area integrations

[2019-06-25 10:43] leodido opened #686 "Unit test setup"
**What would you like to be added**:

Unit test via [Catch2](https://github.com/catchorg/Catch2).

**Why is this needed**:

Do I really need to fill this? LOL

[2019-06-25 11:39] fntlnz commented on #680
@gnosek do you have any pointer on this?

[2019-06-25 14:56] leodido opened #688 "Setup a coding style convention and enforce it"
**What would you like to be added**:

* A coding convention.
* A check (with the relative GitHub status check) during PR to verify if the author respected it or not.

**Why is this needed**:

It'is good practice to have a code base with one unified coding style for readability and maintainability purposes.

[2019-06-25 14:57] leodido commented on #688
Clearly such issue requires a broader spike about C++ coding conventions in order to decide which one to use (and which modifications to apply, eventually).

[2019-06-25 15:01] #686 closed

[2019-06-25 15:13] UsamaMehboob opened #690 "Error opening device on /host/dev/falco0"
**What happened**:
[code]

**What you expected to happen**: falco pod should not go into `error`

**How to reproduce it (as minimally and precisely as possible)**:
I installed daemonsets without rbac on mac os mojave.
` sudo kubectl create -f falco-daemonset.yaml`
**Anything else we need to know?**:

**Environment**:
- Falco version (use `falco --version`): I cloned `dev` branch and this is the im

[2019-06-25 16:21] leodido opened #691 "Unit tests"
**What would you like to be added**:

Unit tests.

- [ ] #854

**Why is this needed**:

Do I really need to explain why?

[2019-06-25 20:17] tanvir1990 commented on #626
@fntlnz Thanks for opening my eyes! :D My target machine (K8s node) had restricted access. Hence, Falco couldn't read the Kernel Headers during the installation process even though the header files were there. Once I changed the access privilege of K8s nodes, everything seems to be working fine. :)

[2019-06-26 15:03] leodido opened #693 "Opening any connection causes falco to abort when built in debug mode"
**What happened**:

Assuming a falco build with `CMAKE_BUILD_TYPE=Debug`, opening any connection causes the sinsp parser to abort the process.

**What you expected to happen**:

Falco to behave normally.

**How to reproduce it (as minimally and precisely as possible)**:

Build a debug version of Falco.

[code]

Execute it and then open any connection, eg.:

[code]

**Anything else we need to know?

[2019-06-27 11:06] fntlnz commented on #626
Oh cool @tanvir1990 glad to have been of help! I'm closing this but feel free to reopen if you feel that something is wrong.

:)

/close

[2019-06-27 11:06] poiana commented on #626
@fntlnz: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/626#issuecomment-506301767):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2019-06-27 11:06] #626 closed

[2019-06-27 11:13] fntlnz commented on #657
@mfdii pointed out that on linuxkit (docker4win and docker4mac) we can build headers using a docker container build using a Dockerfile like this

[code]

[code]

Here's how to start it:

[code]

I think that this one should be built-in the probe loader entrypoint when detected that we are on Linuxkit or something like that? Wdyt?

[2019-06-27 11:17] leodido commented on #657
Let's start with including it into the installation docs.

[2019-06-27 11:18] fntlnz commented on #690
Hi @UsamaMehboob - multiple users reported the same problem you have, it is related to the fact that docker for mac is using linuxkit and you don't have kernel headers in it.

There is a way to load it described in this comment: https://github.com/falcosecurity/falco/issues/657#issuecomment-506303851

We are discussing on whether to include that in the installation procedure or docs.

I'm closing

[2019-06-27 11:19] fntlnz commented on #690
/close

[2019-06-27 11:19] poiana commented on #690
@fntlnz: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/690#issuecomment-506305281):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2019-06-27 11:19] #690 closed

[2019-06-27 11:21] fntlnz commented on #657
/kind documentation

[2019-07-01 08:24] fntlnz commented on #588
@whiskeyjimbo can you provide more info on this?

[2019-07-01 09:10] fntlnz commented on #680
@hus787 can you try with a newer release? 0.15.3 is out.

We also need more details, for example can you post here the output when it crashes?
Any information will be helpful.

[2019-07-01 09:11] fntlnz commented on #680
/triage needs-information

[2019-07-01 09:37] hus787 commented on #680
I can't use 0.15.3 on COOS because it doesn't contain the fix for https://github.com/falcosecurity/falco/issues/425#issuecomment-497986111

Dev apparently fixes the issue.

Output:

`Mon Jul  1 09:35:58 2019: Runtime error: Socket handler (k8s_daemonset_handler_event) an error occurred while connecting to https://10.104.0.1: Connection timed out. Exiting.`

[2019-07-01 10:13] leodido opened #696 "Fix PR template suggestion for kind/rule-* labels"
The PR template contains a comment pointing users to tag their PR as king/rule-update or king/rule-create (in case it applies) but uses the slash rather than the dash in the label names.

[2019-07-01 10:37] Kaizhe opened #698 "Add a new field ka.useragent"
**What would you like to be added**:
For convenient reference:

jevt.value[/userAgent] -> ka.useragent

**Why is this needed**:
It's nice to have :)

[2019-07-01 12:42] #696 closed

[2019-07-02 14:23] fntlnz commented on #680
oh @hus787 that had been solved in 0.15.3 ! You just have to specify the environment variable in your daemonset.

Read this comment for reference: https://github.com/falcosecurity/falco/issues/650#issuecomment-501541258

I'm sorry that is not in the docs, we need to get it updated here's the issue: https://github.com/falcosecurity/falco-website/issues/37

[2019-07-02 15:21] mfdii commented on #680
I'm guessing there's a "bug" in the logic that's used to connect to the k8s cluster. If there's a timeout, falco shouldn't crash (IMO). It should log that the connection timed out, retry, and then continue logging the retry messages until it's successful.

[2019-07-02 15:53] hus787 commented on #650
@mfdii Any idea how to inject that environment variable with helm?

Envvar:
[code]

[2019-07-02 16:02] mfdii commented on #650
Unfortunately not, you need to download the helm chart and add the env
variable to the daemonset template.

On Tue, Jul 2, 2019 at 11:53 AM Hussain Parsaiyan <notifications@github.com>
wrote:

[2019-07-02 22:25] fang19911030 commented on #669
I have the similar issue. I used falco to capture the malware behaviors. The cluster only have 2 pods. One is falco, the other one is used fo running malware. But, I also got a lot of system events drop. My falco is **0.15.3**, system **Linux alponse1 4.15.0-52-generic #56-Ubuntu SMP Tue Jun 4 22:49:08 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux**

[2019-07-03 03:46] zhaytee commented on #650
Hi folks. I was unable to get this to work on my GKE cluster until I switched the image tag from `0.15.3` to `dev`. Prior to that, I was still seeing the compilation issue re: loginuid. I had been (and still am) applying `COS_73_WORKAROUND`, so I'm not sure what changed between `0.15.3` and `dev`, but whatever it was, it made falco work for me!

[2019-07-03 14:51] leodido commented on #619
We also need this in order to match the CNCF due diligence [technical](https://github.com/cncf/toc/blob/master/process/due-diligence-guidelines.md#technical) requirements.
One example is the [notary one](https://github.com/theupdateframework/notary/blob/master/docs/service_architecture.md).

[2019-07-03 15:14] leodido opened #704 "[UMBRELLA] Reach adequacy of automated testing"
**What would you like to be added**:

- Unit tests (UMBRELLA: #691)
- Review of currently existing integration tests (#854, ..)
- Acceptance tests
- Code coverage (establishing a min threshold for acceptance)
- Reproducible framework able to check the performance gains (establishing a min threshold for acceptance)
- Automatically check and enforce that changes follow the coding guidelines

**Why i

[2019-07-03 15:19] leodido commented on #619
I edited the title in order to use this issue as a reference also for other documents we need to write for the CNCF due diligence technical requirements.

Namely:
- [ ] document the performance, scalability, complexity, reliability, security trade-offs made, and whether they are tunable by the user or not
- [ ] document the failure modes
- [ ] document the coding guidelines

[2019-07-03 15:22] leodido opened #705 "Review of external dependencies"
**What would you like to be added**:

Probably I would like things to be removed, not added.
But to do so we have to start a process to evaluate and justify (or not) of external dependencies we are using.

**Why is this needed**:

We need this for the CNCF due diligence technical requirements (for incubation stage).

[2019-07-04 21:53] natalysheinin opened #706 "Validation Error when using a macro as definition of an overwritten macro."
**What happened / Replication Steps**:

Given a macro that is defined in the default ruleset and for the purposes of being concrete let's use [`Clear Log Activities`](https://github.com/falcosecurity/falco/blob/dev/rules/falco_rules.yaml#L2341-L2342):

[code]

1. Now, if you overwrite this macro in [`falco_rules.local.yaml`](https://github.com/falcosecurity/falco/blob/dev/rules/falco_rules.local.y

[2019-07-05 06:11] mstemm commented on #310
The sysdig changes have been merged, just need to prioritize the falco rules changes now.

[2019-07-05 12:26] fntlnz commented on #706
Me and @leodido debugged this for a while this morning.

We've been able to reproduce this thanks for reporting this @natalysheinin !

The reason why this does not work as expected is because in the default `falco_rules.yaml` the `consider_all_chmods` is defined **after** the macro that uses it `allowed_clear_log_files`.

We crafted a minimum reproducible example to test it:

*falco_rules.yaml*

[

[2019-07-05 12:27] fntlnz commented on #706
/assign @leodido
/assign @fntlnz

[2019-07-05 12:29] fntlnz commented on #706
/area rules

[2019-07-05 12:34] leodido commented on #706
While swapping the macro definitions in the rules file works, it cannot be considered a fix for this bug, for 2 reasons:

1. changing this in the upstream rules will fix this issue only for half of the users because the other half of the users will still have the reverse problem
2. we cannot rely on ordering based of the original position of the overridden macro definition.

So we think that, in o

[2019-07-05 12:40] natalysheinin commented on #706
This is great! I'm glad you were able to easily replicate this scenario. So now I have another (similar) scenario.

Take for instance the exact same default rule file as you mentioned:

_falco_rules.yaml_
[code]

However, now `allowed_clear_log_file` references a macro that is only defined in the custom rules file:

_falco_rules.local.yaml_
[code]

When I run my validation, once again, a configura

[2019-07-05 13:33] Kaizhe opened #707 "Modularize Policy/Rule Engine as service"
**What would you like to be added**:
So that the policy/rule engine can be better integrated with other services such as admission controller

**Why is this needed**:
So that the policy/rule engine can be better integrated with other services such as admission controller

[2019-07-05 15:42] leodido commented on #706
Yes @natalysheinin, unfortunately this is due to the fact that `test_macro` macro does not exist in the default rules file (ie., `falco_rules.yaml`).

And this is very correlated to the original problem you reported. Also this is happening because all the processing (particularly the creation of the macros tree) that `rule_loader.lua` does are based solely on the default rules file.

[2019-07-05 15:50] natalysheinin commented on #706
@leodido Thanks for clarifying that, it is extremely useful to know when the macro tree processing occurs.

Do you have any recommendations for how to approach solving this from the user-end for now?
And, do you believe that your earlier comment will address solving this?

[2019-07-05 15:58] leodido commented on #706
The workaround I'd use right now would be putting everything in one file (making sure that `test_macro` is above `allowed_clear_log_files` macro).

Clearly the edits to creation and processing of the macros tree needs to fix also this case.

[2019-07-05 16:00] fntlnz commented on #706
For the sake of completeness, this is the generated AST for the last rules that @natalysheinin sent in [this comment
](https://github.com/falcosecurity/falco/issues/706#issuecomment-508745992)

<details>
<summary>click me to see the ast dump</summary>

[code]

</details>

The `test_macro` is clearly missing, proving that it was not considered.

[2019-07-07 23:35] leodido commented on #504
Related to #706

[2019-07-08 09:23] fntlnz commented on #504
I think we can close this since it had been detailed a lot more in #706 - wdyt @JPLachance  ?

[2019-07-08 10:39] fntlnz commented on #310
What kind of rules need to be changed @mstemm ?  Can you elaborate a bit?

[2019-07-08 12:56] JPLachance commented on #504
Have fun! :)

[2019-07-08 12:56] #504 closed

[2019-07-08 13:21] fntlnz commented on #698
Opened a PR to address this @Kaizhe - PTAL #709

[2019-07-08 15:40] #698 closed

[2019-07-08 16:16] mstemm commented on #310
We'll need to use new filtercheck fields `proc.is_container_healthcheck`, `proc.is_container_liveness_probe`, and `proc.is_container_readiness_probe` to add exceptions to rules like Terminal Shell in Container and Non sudo setuid. We'll also have to add a ` required_engine_version: NNN` line to falco_rules.yaml that contains the version where these fields were introduced (3 probably).

[2019-07-08 19:25] agilgur5 commented on #310
@mstemm thanks for the update! I opened a PR for the rule update. I wasn't sure about updating "Terminal Shell in Container" as I don't believe I've experienced a false positive on that one before and this issue was specifically about "Non sudo setuid", though I created a macro to check for probes.

[2019-07-09 09:58] leodido opened #713 "Document rules/macros depending on the rule engine version and falco version"
**What would you like to be added**:

A document - preferably automatically generated - containing a table with the following header.

- `falco version`: can be populated at release time
- `commit`: the commit introducing a new macro/rule
- `engine version`: the current rule engine version
- `macros`: all the macros supported
- `fields`: all the rules supported

**Why is this needed**:

To provide

[2019-07-10 00:44] srivastavaabhinav opened #716 "Falco is not showing container information. All container events are coming with name "incomplete""
**What happened**:

Falco is not showing container related information. All container events are coming with name "incomplete".

**What you expected to happen**:

Container events should come with the container information. I know that few events would come without container names due to the new design, however, even when container is running for more than an hour, still  information is not presen

[2019-07-10 02:33] dghoshal-lbl commented on #657
I tried a similar Dockerfile to build sysdig on my docker4mac (linuxkit) and it failed because there is nothing on /lib/modules for the specific linux headers. Can someone please let me know how to get the modules and build sysdig correctly on linuxkit?

[2019-07-10 04:34] kbrown commented on #669
Continuously seeing this after installing k8s-with-rbac/falco-daemonset-configmap.yaml in a 3 node gke environment:

Falco internal: syscall event drop. 7 system calls dropped in last second.
Falco internal: syscall event drop. 15 system calls dropped in last second.

Occurs in:
	falcosecurity/falco:dev
	falcosecurity/falco:latest

Not yet checked:
	falcosecurity/falco:15.0.x

[2019-07-10 19:27] mstemm commented on #716
Remember that with 0.15.0, docker metadata fetches are now done asynchronously, so the initial process in a container might race and not have container info at the time it runs. You can see this by running falco 0.15.3 and doing repeated calls to `docker run appropriate/nc`:
[code]

It sounded like your containers are long-lived and you're exec-ing into them to run nc, though, so let's try that. I

[2019-07-10 19:59] mstemm commented on #716
I created a single-node ECS cluster of the type Linux + EC2 e.g. *not* fargate, and then created a task that used appropriate/nc to run long-lived. Here's the entrypoint from docker inspect:
[code]

I then ran falco directly on the ec2 host, using a container, with this command line: ```docker run \
  --interactive \
  --privileged \
  --tty \
  --name falco \
  --volume /var/run/docker.sock:/host

[2019-07-11 09:54] fntlnz commented on #716
/triage needs-information

[2019-07-11 09:57] fntlnz commented on #657
Did you try exactly the one I posted here @dghoshal-lbl ? https://github.com/falcosecurity/falco/issues/657#issuecomment-506303851

[2019-07-11 10:03] fntlnz commented on #656
@janbeerden can you post what you have in `falco.yaml` inside the container once it's created?

[2019-07-11 10:03] fntlnz commented on #656
/triage support

[2019-07-11 10:04] fntlnz commented on #656
/remove kind/feature

[2019-07-11 10:04] poiana commented on #656
@janbeerden: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.
In case you do not know which kind this proposal is please mention the maintainers using `@team/maintainers`.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-

[2019-07-11 10:05] poiana commented on #656
@fntlnz: Those labels are not set on the issue: `kind/feature`

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/656#issuecomment-510421396):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue a

[2019-07-11 13:55] leodido commented on #669
Just to be sure: what `syscall_event_drops.rate` and `syscall_event_drops.max_burst` are you folks using?

The [default](https://github.com/falcosecurity/falco/blob/dev/falco.yaml#L80-L89) one?

[2019-07-11 14:24] metalsong commented on #669
@leodido I've just install falco to the GKE using:

helm install --name falco stable/falco --set ebpf.enabled=true

Having exactly the same errors.

[2019-07-11 14:35] kbrown commented on #669
@leodido

1) I have used the defaults,
2) then tried and then increased the limits:

syscall_event_drops:
  actions:
    - log
    - alert
  rate: 1
  max_burst: 1000

Same result.  Maybe I should have decreased?

Using falco-daemonset-configmap.yaml with the following changes:

          env:
          - name: SYSDIG_BPF_PROBE
            value: ""
          - name: KBUILD_EXTRA_CPPFLAGS

[2019-07-11 15:11] dghoshal-lbl commented on #657
Not for falco. I am trying the same for sysdig on linuxkit (docker4mac). The build fails because there's no /lib/modules.

[2019-07-11 15:22] mstemm commented on #706
Here's some background about how the objects are maintained and how it can cause this bug. When the objects are read they're maintained in an ordered array. The ordered array is necessary to assure that appends are applied in the right order.

I think the problem is that the macro allowed_clear_log_files replaces the instance of allowed_clear_log_files in that array (in this case, third). Since it

[2019-07-11 15:34] caquino commented on #669
Same here, I'm using the default configuration.

[2019-07-11 18:10] billyshambrook commented on #716
Hey @mstemm thanks for taking a look into this. We have been able to reproduce the issue with a limited number of variables.

1. Create an EC2 instance using the latest ECS Optimized AMI in us-east-1 - amzn2-ami-ecs-hvm-2.0.20190614-x86_64-ebs (ami-02507631a9f7bc956)

2. Install Falco using RHEL instructions.

3. Run Falco agent.

4. Run ubuntu docker container, install nmap and run.

This produce

[2019-07-12 01:55] KnoxAnderson opened #720 "Extend filterchecks to use container labels with k8s metadata in falco rules"
**What would you like to be added**:

Selectively apply secure policies for the falco rule Launch Privileged Container to specific parts of a k8s environment. They want the image to be privileged, but only want it to be run in specific namespaces, etc.

To fix this, we'll have to modify the oss sysdig code to add filtercheck fields to access container labels, perhaps with some processing to make t

[2019-07-12 03:04] dghoshal-lbl commented on #657
@fntlnz Any idea how to build the required kernel modules for sysdig on linuxkit (docker4mac)?

[2019-07-12 10:23] metalsong commented on #684
Hi @nuala33, Happy to hear that you've overcomes it!
Could you please describe a little bit more your solution?
I've added such macro, but wondering which rules should I update and how - in order to get rid off false positives.

Thank you in advance!

[2019-07-12 14:23] billyshambrook commented on #716
Some more information I have found:

If I reboot the machine and falco starts automatically at boot, the container name is given correctly...

[code]

However if I then restart falco service, I get incomplete for all events every time...

[code]

Here's also the output of `falco --support | jq .system_info`

[code]

[2019-07-15 08:35] #604 closed

[2019-07-15 08:38] leodido commented on #595
Closing because a first important step was made into https://github.com/falcosecurity/falco-website/pull/28.

[2019-07-15 08:38] #595 closed

[2019-07-15 08:41] leodido commented on #612
/area rules

[2019-07-15 15:30] leodido opened #723 "bump minimum cmake required"
**What happened**:

When running with the currently defined cmake minimum version (ie., 2.8.2)
the build process breaks.

**What you expected to happen**:

To be honest I expected this to fail since we use cmake modules with minimum required versions higher than 2.8.2.

**How to reproduce it (as minimally and precisely as possible)**:

Just build Falco using cmake 2.8.2.

**Anything else we need t

[2019-07-15 15:43] mfdii commented on #716
@gnosek Is looking at this. It appears to be a bug in the container metadata fetch in the sysdig libraries.

[2019-07-16 09:56] kris-nova opened #724 "cmake -DSYSDIG_DIR should resolve "~""
Currently this command does not work:

[code]

But this one does

[code]

[2019-07-16 10:57] leodido commented on #724
AFAIK there is no reliable way to process tilde in CMake while making all of the others cases work at the same time (an user can provide absolute paths, symlinks, relative paths, home directory containing spaces, ... different platforms etc.).

The point is that tilde expansion is a shell feature. Which is interpreted differently on different shells (eg., csh).

BTW, I'll investigate further wheth

[2019-07-16 14:17] benjaminhuo opened #725 "Use deployment instead of daemonset for k8s audit"
**What would you like to be added**:
Use deployment instead of daemonset for k8s audit

**Why is this needed**:
Daemonset is more than enough for just monitoring k8s audit event, a deployment should be enough.
Just wondering if it's possible to use deployment for k8s audit event monitoring with falco?

[2019-07-16 16:11] fntlnz commented on #725
@benjaminhuo  You are totally right, for those that only wants to use audit events using a deployment only is enough.

It will require:
- A specific yaml file for the deployment
- Make clear in the docs that for those that only want the audit they should use that one
- Make clear in the docs to only load rules for audit events since syscalls will be from the current machine only.

This would also

[2019-07-16 17:01] leodido opened #726 "Rethink and automate the release process"
**What would you like to be added**:

Since Falco had been donated to the CNCF, most of its release process (if not thw whole release process) relies on Sysdig infrastructure.

Since most of the process is also manual we need to:
- [ ] Rethink the process to make it as automated as we can
- [ ] Integrate the release process with clear GitHub milestones and make it community driven (eg., @poiana op

[2019-07-17 10:41] subrnath opened #727 "Falco not able to capture errors related to file operation"
**What happened**:

I would like to capture the error "chmod 0777 test.txt
chmod: changing permissions of 'test.txt': Operation not permitted"  inside my container.
I have written the condition -
condition: open_write and <container condition> and evt.category=file and fd.type=file and evt.res=EPERM". Same is written for open_read also.

**What you expected to happen**:

Falco to log this event bu

[2019-07-17 13:16] mfdii commented on #716
Ok, I've traced this down to how we daemonize the [falco process](https://github.com/falcosecurity/falco/blob/dev/userspace/falco/falco.cpp#L984-L1037). This bug doesn't happen if the `--daemon` option isn't passed.

Basically what's happening is that when we daemonize, and eventually kill the parent falco process, we kill the thread `linsinsp` creates to fetch metadata. Then the new daemonized pr

[2019-07-17 13:40] billyshambrook commented on #716
Thanks @mfdii, if we ran falco within a docker container would I be right in assuming it wouldn't be ran with the daemon flag?

[2019-07-17 13:50] mfdii commented on #716
That’s correct. As a container the process is not daemonized.

[2019-07-17 15:59] benjaminhuo commented on #725
I'll see I can help on this

[2019-07-18 00:28] kris-nova commented on #726
Hey @leodido is it possible to define the problem space a bit more before we look at a solution? I am sure we all agree that we want our build to be better, but for documentation purposes can we highlight **what is wrong with the current build** so we can all share ideas on what we think needs to be done?

[2019-07-18 16:12] leodido commented on #725
At the moment we **cannot** remove `/host` since Falco needs the module by default.

Infact we are in the process of providing a flag to disable this behaviour.

[2019-07-18 16:28] benjaminhuo commented on #725
A flag will be great to switch between these two features 👍

[2019-07-18 16:32] leodido opened #730 "Flag to enable/disable event sources (syscalls, k8s_audit)"
**What would you like to be added**:

A flag to disable the kernel module loading.

**Why is this needed**:

There are use cases in which the user does not need the module (eg., only k8s audit #725).

[2019-07-18 20:54] fntlnz commented on #725
Can't wait to see that flag in place,  having only audits is a very common use case many people are reporting.

[2019-07-18 20:55] fntlnz commented on #730
I would correct this:
The flag should disable the feature of collecting the Syscalls, whether it is with the kernel module or the bpf probe loader.

[2019-07-18 21:16] fntlnz commented on #716
So, I don't think we need to fork there. Just doing the parent pid association with  `setsid` should be fine for what we want to achieve, in that way we don't lose the context of this process (with its threads).

I will try to come up with that fix

/assign @fntlnz

[2019-07-18 21:29] fntlnz commented on #716
OK tried the road above, it's not practical, probably the best option now is to make so that we reassign the parent threads or make it smart and start those threads when it's doing the daemon thing.

[2019-07-18 22:49] fntlnz commented on #716
I've been able to reproduce the issue here, then found that we start the capturing before the fork is done, just moving the open logic after the fork fixed the problem. I sent a PR with a fix @mfdii @srivastavaabhinav can you please try it?

[2019-07-19 14:24] fntlnz commented on #716
@srivastavaabhinav in this comment you can find the compiled rpm and deb packages to test: https://github.com/falcosecurity/falco/pull/731#issuecomment-513247772

[2019-07-19 16:51] srivastavaabhinav commented on #716
@fntlnz thanks! Let me look into it.

[2019-07-19 18:08] subrnath commented on #727
it's fixed. Closing the isse.

[2019-07-19 18:08] #727 closed

[2019-07-20 20:48] mstemm commented on #614
We should still work on a better fix for this.

[2019-07-22 10:38] fntlnz commented on #520
@nfrush I edited this issue to match the new template we have, there's a whole set of improvements to the build system from @leodido in #719 - after that we will be able to include more architectures in an easier way.

[2019-07-22 10:47] fntlnz commented on #661
I think that @mfdii wanted to tell that since the DO k8s uses cilium for networking but the cilium binary is not trusted by falco so when using falco on DO what happens is that falco will complain about cilium doing privileged networking stuff.

See: https://github.com/falcosecurity/falco/blob/dev/rules/falco_rules.yaml#L162

[2019-07-22 17:45] ntimo opened #732 "Add Netdata to whitelist"
It would be amazing if Netdata (image: netdata/netdata) could be added to the whitelist.

The following rules are currently triggered by netdata:
- Launch Suspicious Network Tool in Container
- Launch Sensitive Mount Container

[2019-07-22 22:07] leodido commented on #732
/area rules

[2019-07-22 23:13] #716 closed

[2019-07-23 00:17] Kaizhe commented on #732
@ntimo may I know what network tools were baked into `netdata/netdata`?

[2019-07-23 00:21] vsimon commented on #683
any update on this?

[2019-07-23 01:46] paulmilbank opened #734 "Error Package falco-0.16.0-x86_64.rpm is not signed on Amazon Linux 2"
**What happened**: We are installing Falco via Ansible in our packer builds on Amazon Linux 2. We use largely the role from here: https://github.com/juju4/ansible-falco. This was working  with builds until yesterday. Now we get the error `Package falco-0.16.0-x86_64.rpm is not signed` and yum exits.

**What you expected to happen**: Falco should install without error

**How to reproduce it (as min

[2019-07-23 03:01] paulmilbank commented on #734
To add to this, the images that succeeded over the last couple of days have a Falco version of 0.15.3

[2019-07-23 10:57] leodido commented on #734
/assign @mstemm
Mark can you PTAL?

[2019-07-23 13:20] Vasil-Petrov commented on #734
Maybe rpm --addsign step wasn't executed when adding package to the repo.
I am having this issue as well and this affects everyone(worldwide) who uses install-falco script and getting the packages from draios.repo
This issue is causing bad/abnormal results for automation flows where falco install is part of.

[2019-07-23 14:30] Kaizhe commented on #732
I've added `netdata/netdata` in the white list in #733 for rule `Launch Sensitive Mount Container`, but will need more info for the rule `Launch Suspicious Network Tool in Container`.

I would say maybe we can separate it into two issues and close this one.

[2019-07-23 15:44] ntimo opened #735 "Add node exporter and cadvisor to whitelist"
The Docker Images for node exporter (prometheus) and cAdvisor both trigger the sensitive mount rule. It would be nice if those could be whitelisted.

Images:
  - docker.io/prom/node-exporter
  - docker.io/google/cadvisor

Rule: Launch Sensitive Mount Container

[2019-07-23 16:25] mstemm commented on #734
Sorry about this, the publishing of packages got interrupted during the signing step due to an internal config problem. We're working on the fix and I'll update this jira once the packages are fully published.

[2019-07-23 16:44] leodido commented on #735
Hey @ntimo what do you think of contributing them via a PR? :)

[2019-07-23 16:48] leodido commented on #614
This seems related to #706 findings (ordering / positioning of macros) imho.

[2019-07-23 16:50] leodido commented on #732
I agree.

[2019-07-23 16:51] leodido commented on #732
Reopening since needs more info for the rule `Launch Suspicious Network Tool in Container`.

/triage needs-information

[2019-07-23 17:10] ntimo commented on #735
@leodido Sure going to create one later today :)

[2019-07-23 21:08] paulmilbank commented on #734
Thanks very much for looking into this so quickly. Appreciate it.

[2019-07-23 22:01] mstemm commented on #734
The packages should be fully signed now. I was able to install them on ubuntu 16.04 and centos 7 via apt-get and yum.

[2019-07-23 22:01] #734 closed

[2019-07-24 14:25] #735 closed

[2019-07-24 20:42] DannyPat44 commented on #669
Has anyone found a workaround for this issue?

[2019-07-24 22:42] jonnymcgow7 opened #738 "/exec.fifo below root throwing errors with base install on GKE cluster"
**What happened**:
Deployed Falco using the guide here: https://sysdig.com/blog/gke-security-using-falco/
After enabling reporting in Slack we are receiving error messages like these
[code]
from either no pod or from one of the falco pods themselves around every 15 minutes or so.

**What you expected to happen**:
I expect falco to not be reporting on itself.

**How to reproduce it (as minimally an

[2019-07-25 14:14] metalsong commented on #738
Having exact the same issue with GKE.

[2019-07-25 14:32] leodido commented on #726
Hello @kris-nova in this issue I was talking only about the **automation of the release process** (which clearly has the build as a prerequisite).

What I think is wrong about the current process:
- it is completely manual
- it is obscure to the community (not documented in the public).

This causes inability to understand why (and how) a new release will be available.

What I'd like to be done.

[2019-07-25 16:33] leodido commented on #738
Thanks @jonnymcgow7 for opening this!

Thanks also to @metalsong for contributing to it. 🎉

This looks like a cool first contribution to me! What do you think of opening a little PR? :)

The rule being thrown is this one:
https://github.com/falcosecurity/falco/blob/d7956a2a092b554163340b07360014c0aa11366d/rules/falco_rules.yaml#L1324

So you can look at all the macros it uses as conditions.

[2019-07-26 01:23] #723 closed

[2019-07-26 01:23] #623 closed

[2019-07-26 01:23] #660 closed

[2019-07-26 18:25] jonnymcgow7 commented on #738
I'd be happy to submit a PR =) I'll post it here a little later today after verifying we aren't getting the errors anymore.

[2019-07-26 23:55] jonnymcgow7 commented on #738
Submitted the PR. In order to resolve the issue this change will also need to be propagated through to the stable/falco helm chart.  For now I've cloned the chart locally and am deploying with my private copy and it seems to have resolved the problem.

[2019-07-28 11:39] leodido commented on #605
We definitely want to keep this open.

[2019-07-29 11:15] josacar opened #740 "Memory leak on falco 0.16.0"
**What happened**:

Falco has a memory leak :

![Screenshot 2019-07-29 at 09 17 56](https://user-images.githubusercontent.com/33053497/62043896-e187de00-b201-11e9-844e-cf1257244a1a.png)

![Screenshot 2019-07-29 at 13 13 36](https://user-images.githubusercontent.com/1630686/62044320-e5683000-b202-11e9-8f14-2c92c1c70067.png)

Some systems are running Debian Jessie and `3.16.68-2` kernel version and

[2019-07-29 15:56] josacar commented on #740
Also we see this in the syslog:

[code]

[2019-07-29 16:09] josacar commented on #740
Looks version `0.15.3` is not affected, no memory leak in 30 minutes.

[2019-07-29 17:02] josacar commented on #740
Graphs running `0.15.3`:

![image](https://user-images.githubusercontent.com/1630686/62067160-5c1d2180-b233-11e9-9f24-b0901a819dd6.png)

[2019-07-29 18:38] Kaizhe opened #741 "Suffix match operator"
**What would you like to be added**:
we have operator `pmatch` works really well on the prefix match against a list of strings, similarly, I would like to have `smatch` (suffix-match) to do suffix match against a list of string.

**Why is this needed**:
This works well in the scenarios of image matching, for example, we have `quay.io/sysdig/agent` and `docker.io/sysdig/agent`, if we have the suffi

[2019-07-29 18:39] Kaizhe commented on #741
cc @mstemm ^^

[2019-07-29 19:16] mfdii commented on #740
I need a few things to help track this down. Would you please provide:

- Instance Type
- Average load of the instance
- Type of workloads (including language runtime, DB, proxies, etc)

My initial tests show that the memory is stable so I need a bit more info to dig further and to try and recreate.

[2019-07-29 19:20] mstemm opened #742 "Can't enable rules with regexes in falco_engine::enable_rule()"
**What happened**:

Due to the compiler we use, you can't actually enable falco rules using falco_engine::enable_rule() using a regex. This is noted on the c++11 compatibility notes for gcc 4.8.2:
https://gcc.gnu.org/onlinedocs/gcc-4.8.2/libstdc++/manual/manual/status.html#status.iso.2011.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

Specify

[2019-07-29 21:10] josacar commented on #740
- Instance type: m3.large, m3.xlarge, c3.xlarge
- Average load:
![image](https://user-images.githubusercontent.com/1630686/62082656-7a941480-b255-11e9-8233-d92a221e49ca.png)
- Workload ( not frontends )
  - RabbitMQ cluster
  - SFTP server
  - Redis server
  - MongoDB server

[2019-07-29 21:24] #742 closed

[2019-07-29 21:36] leodido commented on #741
👍 ⬆️

[2019-07-29 21:37] leodido commented on #738
Thanks !

The helm chart will be updated as soon the next release is out (so soon! cc @nestorsalceda ) :)

[2019-07-30 07:02] michiels commented on #661
@fntlnz Thank you for the explanation. Would it simply be a matter of adding cilium to that list? Or would that be an insecure practice?

[2019-07-30 12:56] JPLachance commented on #532
Hello!

A couple of weeks ago we talked about reworking the Falco container image to make it work like the commercial Sysdig Secure image: create an init container image that builds the kernel probe, loads it, then create a slim Falco image that uses the kernel probe and unloads it when exiting.

Where are we in this project? 😄

![Screen Shot 2019-07-30 at 08 49 24](https://user-images.githubuserc

[2019-07-30 15:27] mfdii commented on #532
Yup. As @leodido and @fntlnz are finishing getting onboard with the project, we are beginning to do some release planning that includes this. Thanks for the patience.

[2019-07-30 20:15] fntlnz commented on #656
@janbeerden we didn't hear back from you, are you still having this issue?

[2019-07-30 20:21] fntlnz commented on #683
@vsimon @Srinivas11789 this is in the backlog, will address shortly, in the meanwhile if anyone has more details please post here! ❤️

[2019-07-30 20:22] fntlnz commented on #680
An [exponential backoff](https://en.wikipedia.org/wiki/Exponential_backoff) seems a good and easy solution to fix this one.

[2019-07-30 20:27] fntlnz commented on #629
@tomklino as  @tcotav is reporting this was solved in #731 would you be able to confirm it fixes for your case too?

[2019-07-30 20:33] fcoelho opened #745 ""Write below rpm database" rule failing in Amazon Linux 2"
**What happened**:

The "Write below rpm database" rule fails under Amazon Linux 2 when installing something, like running `yum install -y vim`. The generated event looks like this:

[code]

**What you expected to happen**:

It shouldn't fail for regular `yum install` commands

**How to reproduce it (as minimally and precisely as possible)**:

Running `yum install vim` is enough to trigger the iss

[2019-07-30 20:39] leodido commented on #745
/assign @Kaizhe

[2019-07-30 21:28] janbeerden commented on #656
@fntlnz , it's been a busy couple of weeks, but I have managed to find some time to try it again.

Unfortunately, the container isn't running long enough to get the configuration file from it.

Perhaps I am doing something wrong? My steps haven't changed from the steps above except for the kind version which is now 0.4.0.

When I modify the args of the daemonset to `ls -l /etc/falco`, this is what

[2019-07-30 22:04] Kaizhe commented on #745
Thanks I will take a look!

[2019-07-30 22:07] poiana commented on #745
@fcoelho: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.
In case you do not know which kind this proposal is please mention the maintainers using `@team/maintainers`.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-req

[2019-07-31 02:10] fntlnz commented on #683
@Srinivas11789 I am not able to reproduce the error you are reporting for the parser, however I acknowledge that not checking the error at the event loop level can lead to falco crashing.

I couldn't try with ports because k8s didn't allow me to create a container with that many ports caused by a network sandboxing error.

[The first ](https://gist.github.com/fntlnz/d48b3122eb64f4565df1829dedd8267

[2019-07-31 15:14] fntlnz commented on #740
/assign @fntlnz

[2019-07-31 16:01] fntlnz commented on #740
@josacar there's any way we can debug this together? 👼  I wasn't able to reproduce and it would be helpful to see the problem live in order to do a fix.

I'm `fntlnz` in the sysdig slack, if you are not there yet you can find a subscribe link [here](https://slack.sysdig.com/) I wasn't able to find you.

Thanks for taking time of letting us now and for contributing this issue!

/triage needs-inform

[2019-07-31 17:14] josacar commented on #740
@fntlnz What's your timezone? Mine is CEST. I think I can isolate a server and do a call with you.

[2019-07-31 23:01] mstemm opened #756 "Have an easier way to specify "all rules" in engine api"
**What would you like to be added**:

Currently, when using the falco engine to enable rules for a ruleset, there are conventions about patterns to use to enable rules. It would be better if those constants were provided via falco exported constants or dedicated methods e.g.

```m_falco_engine->enable_rule(falco_engine::ALL_RULES, false, ruleset);```

Thanks @adalton for the suggestion!

**Why is

[2019-08-01 01:02] Srinivas11789 commented on #683
@fntlnz Thanks for the update and a possible fix. 👍

Agree that the first fix would solve the crash but having this deployment configuration would keep triggering the JSON parse errors for that container. So I think it would be better if we also try to fix the root cause. I can help with more feedback.

I tried to reproduce this again today (same environment as mentioned before) and still see the

[2019-08-01 07:00] sunil1783 opened #757 "Build failed with error "catch.hpp: No such file or directory""
While Building falco from source code , Build failed with error "fatal error: catch.hpp: No such file or directory"

catch package v2.9.1.tar.gz does not get download in "falco/build/catch2-prefix" directory.

Install the required depdencies as per https://falco.org/docs/source/

Steps to reproduce :
git clone https://github.com/draios/sysdig.git
git clone https://github.com/falcosecurity/falco.gi

[2019-08-01 07:42] carestad commented on #400
This is still happening though, in Debian. When `apt-get upgrade`ing to 0.17.0 now it stopped Falco but never started it up again.

[2019-08-01 10:03] leodido commented on #757
/assign @leodido

[2019-08-01 18:07] #745 closed

[2019-08-02 05:45] kris-nova commented on #724
I mean we need to have a discussion about the build in general - so maybe we can just track this and use it as a use case to refactor the build some ;)

[2019-08-02 06:18] kris-nova opened #761 "Building Falco Civetweb.h"
From the falco build directory with `-DSYSDIG_DIR` set

[code]

[code]

[2019-08-02 09:16] kris-nova commented on #761
# Solution Running on Archlinux.

Update pacaur `pacaur -Syu`
Install civetweb headers `pacaur -S mingw-w64-civetweb`
Reconfigure the build with "non bundled" civetweb ``
Compile Falco `make falco -j<N>`

[2019-08-02 09:20] #761 closed

[2019-08-05 11:44] fntlnz commented on #740
Ok me and @josacar spent a couple of hours together today to get more information on this.

I can confirm that I was able to observe the leaks in their systems, it seems that like every 5 minutes a 50MB of memory is added to the heap of the falco process.

I think we can exclude that is a problem related to the module itself.

Here's a gprof of the falco process running in their machines.

<detail

[2019-08-05 13:49] fntlnz commented on #740
@josacar I found why valgrind didn't work in your environment to profile falco.

New valgrind versions ignore the MAP_32BIT flag in mmap, LuaJIT uses it and Falco uses LuaJIT.

https://bugs.kde.org/show_bug.cgi?id=324181

[2019-08-05 14:10] fntlnz commented on #740
LuaJIT has a flag to compile it with Valgrind support.

[code]

https://github.com/LuaJIT/LuaJIT/blob/f0e865dd4861520258299d0f2a56491bd9d602e1/src/lj_mcode.c#L26-L29

[2019-08-05 14:38] fntlnz commented on #740
Here's a representative graph from today's trials with @josacar

![image](https://user-images.githubusercontent.com/3083633/62472573-4f527d80-b79f-11e9-9c3f-076286badd49.png)

Every line in the graph represents a machine running Falco, all the lines under 100M are running Falco 0.15.0 while the brown one with the 400M spike is running 0.16.0 .

0.16.0 was started just today, the old 0.15.0 had bee

[2019-08-05 14:52] fntlnz commented on #740
Correction: @josacar is reporting they see the leak in 0.15.3 too but it's less frequent than in 0.16.0

[2019-08-05 15:33] fntlnz commented on #740
@josacar at this point I think that we need to see a valgrind  callgrind.

Callgrind
[code]

This will generate an output in the working directory, named cachegrind.out.something

[2019-08-05 16:37] qbast commented on #669
I see the same behaviour with Falco 0.17 on five node GKE cluster. CPU load on the nodes is between 18% and 35%.  Falco is using 1-5% .

[2019-08-06 10:57] ankitjain28may commented on #650
@mfdii It isn't working for coreos-stable-2135.5.0 release, tried will all the falco versions above 0.13.1.
[code]

[2019-08-07 07:14] tomklino commented on #629
I will update Falco on our environment to 0.17.0 later this week and will get back to you

And thank you for checking in with me :-)

[2019-08-07 08:04] fntlnz commented on #683
Thanks for the updated files to reproduce @Srinivas11789 - will try to see if I can trigger that case on my environment.

[2019-08-07 13:03] DannyPat44 opened #764 "Falco Fails with the error "PERF_EVENT_IOC_SET_BPF: File exists""
**What happened**:
We are working to roll out a deliver pipe line for Falco on our production cluster. As part of our pipeline, we were originally planning to have two Falco Dameonset sets running on the cluster. One being “pre-release” firing to a Slack channel, and one being “stable” firing to our actual instrumentation (Pagerduty, etc.). This would have allowed us to develop alerting and system

[2019-08-07 13:30] fntlnz commented on #740
Ok @josacar sent to me the output of the provided commands, here's a summary:

Valgrind:

<details>
<summary>Details</summary>

[code]

</details>

Callgrind

![12504](https://user-images.githubusercontent.com/3083633/62626673-345f4500-b928-11e9-9827-86892cd37383.png)

[2019-08-07 13:31] fntlnz commented on #740
At this point @josacar I need you to run two more tools:

Memcheck with track origin
[code]

Massif

[code]

Thank you

[2019-08-07 13:46] fntlnz commented on #757
@sunil1783 what is the output of `make catch2` ?

/triage needs-information

[2019-08-07 13:47] fntlnz commented on #764
Related to: https://github.com/draios/sysdig/issues/1241

[2019-08-07 13:49] fntlnz commented on #741
Would be useful to avoid things like this https://github.com/falcosecurity/falco/blob/03fbf432f1fddc8e4708271e18cd79aada31d615/rules/falco_rules.yaml#L2388-L2400

[2019-08-07 13:53] fntlnz commented on #732
@ntimo can you provide information about the required tools?

[2019-08-07 14:49] fntlnz commented on #672
/triage needs-information

[2019-08-07 14:57] fntlnz commented on #621
/assign @markyjackson-taulia

Assigning Marky since he is doing most of the work for our new CI .

Marky this was the original issue where we was tracking the CI work.

If the two of you agree we can close this and do an issue for JenkinsX directly.

[2019-08-07 15:22] mfdii commented on #650
CoreOS is not supported with the eBPF probe. You have to use the kernel module for CoreOS

[2019-08-07 15:57] fntlnz commented on #732
I'm closing this since no new information came on how to integrate netdata to `Launch Suspicious Network Tool in Container` - @ntimo feel free to reopen this when you will have more information or if you submit a PR.

[2019-08-07 15:57] #732 closed

[2019-08-07 16:07] fntlnz commented on #586
@vpetersson I'm closing since there were no dibs on this one and no progress in a long time.

Feel free to reopen if you think you can submit a PR to get ARM supported out of the box, we would love it!

The sysdig issue linked here (https://github.com/draios/sysdig/issues/1290) is still open since that is an actual issue that we have to solve and independent to the request of supporting another pl

[2019-08-07 16:09] fntlnz commented on #520
I'm closing this since right now ARM support is not in the core maintainers team priorities and since February no one seemed to want to pickup this one.

@nfrush feel free to reopen if you think you can submit a PR to make this happen and feel free to continue the discussion even after the close.

[2019-08-07 16:09] fntlnz commented on #627
Since this seems to be good and no one else reported the issue I'm closing this one.

[2019-08-07 16:09] #627 closed

[2019-08-07 16:12] fntlnz commented on #438
@harrysx I'm closing this one since no one expressed interest in making this happen. Feel free to continue the discussion or send a PR with this feature regardless, in that case reopen the issue please.

[2019-08-07 16:13] fntlnz commented on #630
This is not something I'm interested in having anymore, closing.

[2019-08-07 16:13] #630 closed

[2019-08-07 16:15] fntlnz commented on #764
Ok read this a bit better and understood that this problem only happens in Falco because it happens in Sysdig, so since the problem is actually in  draios/sysdig#1241 I'm closing this.

Thanks for taking the time to open @DannyPat44 this was still useful to bring to our attention that this affects falco too, I'm escalating this issue to the maintainers fo the bpf support for sysdig.

[2019-08-07 16:15] #764 closed

[2019-08-07 16:18] fntlnz commented on #587
Closing this since right now we can extract the ifnormation @btorretta is asking for using a kernel module or BPF probes and both require privileged capabilities.

However, a Fargate user might still be able to use falco only for k8s audit events after #730  is done.

Feel free to continue the discussion and reopen if needed.

[2019-08-07 16:18] #587 closed

[2019-08-07 16:22] fntlnz commented on #534
@daixiang0 are you still experiencing this? A couple of falco releases happened since then I was wondering if you tried recently.

[2019-08-07 16:24] fntlnz commented on #458
I think we can close this, #528 is already tracking improvements on outputs, I'm adding this bit of information there since it's likely that when that will be done we will reconsider how outputs are designed and tracking everything there seems a better option.

[2019-08-07 16:24] #458 closed

[2019-08-07 16:42] markyjackson-taulia commented on #621
I am fine with closing this

[2019-08-07 17:14] leodido commented on #621
Me too.

On Wed, Aug 7, 2019, 6:42 PM Marky Jackson <notifications@github.com> wrote:

[2019-08-08 02:10] daixiang0 commented on #534
still exist, refer to [doc](https://github.com/falcosecurity/falco/tree/master/integrations/k8s-using-daemonset)
[code]

[2019-08-08 02:18] daixiang0 commented on #534
still exist with `falcosecurity/falco                                 latest                     4aff14e9e545        2 weeks ago         720MB
`:
[code]

[2019-08-08 07:30] ankitjain28may commented on #650
@mfdii On using kernel modules, it's shutting down the instance due to kernel panic error.

[2019-08-08 09:41] fntlnz commented on #491
This was solved by https://github.com/falcosecurity/falco/pull/445

/close

[2019-08-08 09:41] #491 closed

[2019-08-08 09:41] poiana commented on #491
@fntlnz: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/491#issuecomment-519447356):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2019-08-08 09:42] fntlnz commented on #534
Thanks for the update @daixiang0

[2019-08-08 09:53] sunil1783 commented on #757
Output of #make catch2 as follows.

root@6819741d9445:/home/sunil/new_build/falco/build# make catch2
/usr/bin/cmake -H/home/sunil/new_build/falco -B/home/sunil/new_build/falco/build --check-build-system CMakeFiles/Makefile.cmake 0
-- Using bundled zlib in '/home/sunil/new_build/falco/build/zlib-prefix/src/zlib'
-- Using bundled jq in '/home/sunil/new_build/falco/build/jq-prefix/src/jq'
-- Using bu

[2019-08-08 11:23] fntlnz commented on #621
/close

[2019-08-08 11:23] poiana commented on #621
@fntlnz: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/621#issuecomment-519478135):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2019-08-08 11:23] #621 closed

[2019-08-08 11:39] fntlnz commented on #757
Ok, I'm not able to reproduce that in my environments.
Please try to remove the `catch2-prefix` folder under your build folder and try again.

Catch is used for the new unit testing framework we are bootstraping, there are only a couple of tests with it so for now if you just want to obtain a falco build you can do.

[code]

[2019-08-09 23:12] Kaizhe commented on #672
what is the `CRI`? is it `CRI-O` or `Docker`, and also please check the mounting directories of falco. I suspect if it `CRI-O`, you need to configure falco to mount to the right place before reading the image metadata.

[2019-08-10 21:41] Kaizhe commented on #672
Please check whether `/var/run/crio/crio.sock` is mounted

[2019-08-11 19:29] #643 closed

[2019-08-12 04:15] aaronmlucas commented on #669
Seeing this in Azure with falco using abysmal amounts of CPU and using the set defaults

[2019-08-12 16:17] mstemm commented on #628
We should keep this on the roadmap.

[2019-08-12 16:18] mstemm commented on #574
We should keep this on the roadmap.

[2019-08-12 16:19] mstemm commented on #510
We should keep this on the roadmap.

[2019-08-12 16:21] mstemm commented on #349
We should keep this on the roadmap.

[2019-08-12 16:22] mstemm commented on #318
We should keep this on the roadmap.

[2019-08-12 16:22] mstemm commented on #640
We should keep this on the roadmap.

[2019-08-13 00:44] kris-nova commented on #757
I hit this a few hours ago

After running `make catch2` I was able to workaround the error and wasn't able to re-create it again.

[2019-08-13 16:59] bgeesaman commented on #669
I'm also seeing 1 `n_drops` per node, every 60 to 61 mins of my GKE cluster (8CPUs/30+GB RAM nodes).  Running `falcosecurity/falco:latest`.

[2019-08-13 22:47] kris-nova opened #769 "Error running in Kubernetes"
**What happened**:

Following this documentation - when install from a static manifest the pods go into error status. Here are the logs from one of the pods in the DS

[code]

**What you expected to happen**:

Pods in the ready state

**How to reproduce it (as minimally and precisely as possible)**:

Follow the `DaemonSet Manifests` section [here](https://falco.org/docs/installation/)

**Anything

[2019-08-13 22:50] mfdii commented on #769
Would you please use the issue template, filling out the requested info? We need some info such as the OS and the template tells you how to get that info.

Thanks!

[2019-08-13 22:50] kris-nova commented on #769
Yep! Will do!

[2019-08-13 22:58] kris-nova commented on #769
Updated!

[2019-08-14 15:13] fntlnz commented on #484
@juju4 hey! The current maintainers team can't work on this in the short term, would you like to send a PR with what you have ? It looks like you're very close with your definition and we'd like to have a contribution from you !

[2019-08-14 15:17] fntlnz commented on #483
Closing in favor of https://github.com/falcosecurity/falco/issues/528

[2019-08-14 15:17] #483 closed

[2019-08-14 15:35] fntlnz commented on #629
/close

I'm closing this but @tomklino please continue the discussion if you find anything new.

[2019-08-14 15:35] poiana commented on #629
@fntlnz: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/629#issuecomment-521298340):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2019-08-14 17:27] kris-nova opened #770 "It appears that we are dropping syscall information?"
**What would you like to be added**:

A patch in the ring buffer so we are no longer dropping syscall information.

**Why is this needed**:

We shouldn't be missing any syscalls.

In the Falco logs (running in Kubernetes)

[code]

[2019-08-15 11:33] zetaab opened #771 "falco-probe seems to be still loaded"
**What happened**: I have installed falco with instructions here https://github.com/falcosecurity/falco/tree/dev/integrations/k8s-using-daemonset However, when I start falco it says following:

[code]

And it does not like inform new shell in container, so I think its not working correctly.

**What you expected to happen**: I except that falco works

**How to reproduce it (as minimally and precise

[2019-08-15 11:46] zetaab commented on #771
ah the problem was that I have already falco running in host system.

[2019-08-15 15:46] tomklino commented on #629
Hi guys, so I updated to 0.17.0 a few days ago and let it run for a while.

I'm sorry to be the bearer of bad news, but that is still happening in 0.17.0:

14:42:35.118505676: Notice Privileged container started (user=<NA> k8s.ns=<NA> k8s.pod=<NA> container=745ebd332ed5 image=nuvo/orca:0.9.3 podid=<NA> podlabels=<NA>) k8s.ns=<NA> k8s.pod=<NA> container=745ebd332ed5 k8s.ns=<NA> k8s.pod=<NA> contain

[2019-08-16 07:00] devdua commented on #638
Hi team, will this be addressed in an upcoming release?

[2019-08-16 09:59] fntlnz opened #773 "Ensure that the webserver is robust"
**What would you like to be added**:

We need to make sure that the webserver is robust enough, here some action items:

- Input parsers should work in most of cases, if they don't make sure exceptions are handled correctly https://github.com/falcosecurity/falco/issues/683
- No connection should be able to crash the webserver itself, it happened in the past, we need to make sure it doesn't anymore

[2019-08-16 11:22] fntlnz commented on #740
By looking at the massif output that @josacar sent to me, I believe that the leaks are in [the functinos that read sockets from proc fs](https://github.com/draios/sysdig/blob/609a5242eeaa7629945e5b5a250829f0e6da3116/userspace/libscap/scap_fds.c#L1756-L1793)

Namely:
- scap_fd_read_ipv4_sockets_from_proc_fs
- scap_fd_read_unix_sockets_from_proc_fs
- scap_fd_read_netlink_sockets_from_proc_fs
- scap_

[2019-08-16 11:30] joseluis-fw commented on #740
Instance with highest leak:

[code]

Second one:

[code]

Third one:

[code]

And the rest:

[code]

[code]

[2019-08-16 13:24] fntlnz commented on #740
Ok so sockets seem to allocate memory but those are not the source of the leak, in the graph you can notice that the spike goes immediatelly down and also that code is called only at startup so it can't be increasing like that over time despite the number of sockets.

I'm doing further analysis on the files and I just noticed that also `sinsp_filter_check_fd::allocate_new` seems consistent in allo

[2019-08-16 13:34] josacar commented on #740
If you need me to run `massif` again for longer time LMK.

[2019-08-16 14:02] fntlnz commented on #740
Yes please it would be helpful, like at least a couple of hours more @josacar

[2019-08-16 20:47] mfdii commented on #771
Yes, Falco will try to load the module (and unload it if it's already loaded) on container start. Let us know if you have any other questions.

[2019-08-16 20:47] #771 closed

[2019-08-16 20:50] mfdii commented on #730
This needs to cover any event source. I've updated the title to reflect that. In theory the k8s_audit source is configurable via enabling or disabling the webserver.

[2019-08-16 20:54] mfdii commented on #769
We backchannelled on this, but were you able to install the headers for buster and build the kernel module at container start?

[2019-08-16 21:21] mfdii commented on #657
[code]

[2019-08-16 21:21] #657 closed

[2019-08-17 15:43] fntlnz commented on #757
Hi @sunil1783 can you let us know if you've been able to make it work ? Thank you 😀

[2019-08-17 15:56] fntlnz commented on #680
Hi @hus787 can you try with the current dev branch? We did a lot of fixes in the webserver recently.

[2019-08-17 23:24] #596 closed

[2019-08-18 01:24] #577 closed

[2019-08-18 08:23] tahsinrahman opened #775 "error while loading "raw_tracepoint/filler/sys_open_x" (no space left on device)"
Hi, I'm new to ebpf and exploring the bpf parts of falco. I'm trying to load the bpf program using [iovisor/gobpf](https://github.com/iovisor/gobpf) library, but getting the following error. [full error](http://paste.ubuntu.com/p/xJ4WKn2WSz/)

[code]

What device is it referring to? I've enough space left on my disk.

Thanks!

[2019-08-18 17:15] fntlnz commented on #775
Hi @tahsinrahman in order to get falco working you don't have to load the bpf program yourself, falco will load on its own when you enable BPF support.

So, to enable bpf support you need to use the `SYSDIG_BPF_PROBE` environment variable.

For example:
[code]

When you do that you need the bpf program elf file in your home under the `.sysdig` folder, remember that the name of the file must be `fa

[2019-08-18 17:16] fntlnz commented on #775
/triage support

[2019-08-18 17:16] fntlnz commented on #775
/remove-kind bug

[2019-08-18 17:16] poiana commented on #775
@tahsinrahman: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.
In case you do not know which kind this proposal is please mention the maintainers using `@team/maintainers`.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pul

[2019-08-18 17:17] poiana commented on #775
@fntlnz: Those labels are not set on the issue: `kind/bug`

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/775#issuecomment-522339224):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue again

[2019-08-18 17:19] fntlnz commented on #757
I'm closing this since it seems that you are just missing a step @sunil1783 but feel free to continue the discussion if you have more questions or reopen in case it's not solved.
/close

[2019-08-18 17:19] #757 closed

[2019-08-18 17:19] poiana commented on #757
@fntlnz: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/757#issuecomment-522339400):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2019-08-19 05:00] tahsinrahman commented on #775
hi @fntlnz , thanks for your reply! The problem was my log buffer size was too small. i was able to load successfully after increasing buffer size.

[2019-08-19 09:31] fntlnz commented on #775
Thanks,  you mean the kernel log buffer size right? Can you share how you fixed that? We might want to document it.

[2019-08-19 11:08] leodido commented on #676
Since we also have evidence of other missing syscall we could use this issue to track all of them.

Otherwise we can close this. When we'll have the `execveat` in the kernel module we'll reopen it.

[2019-08-19 12:13] tahsinrahman commented on #775
https://github.com/iovisor/gobpf/issues/103

i had to increase size [here](https://github.com/iovisor/gobpf/blob/master/elf/module.go#L172)

sysdig uses size [2^18](https://github.com/draios/sysdig/blob/master/userspace/libscap/scap_bpf.c#L61)(262144), gobpf defines size 524288, that is larger than defined in sysdig, but it was not enough :(

[2019-08-19 17:06] fntlnz commented on #775
That really makes sense @tahsinrahman thanks a lot for bringing it as a reference!
I'm closing this as you solved!

[2019-08-19 17:06] #775 closed

[2019-08-19 22:14] kris-nova commented on #769
I changed the Deployment code to use the BPF program. I think we need to modify the Dockerfile

[2019-08-20 18:51] mfdii commented on #532
@JPLachance please look at #776 and add any comments. I'll get some images published using these docker files for testing.

[2019-08-21 02:24] axot opened #778 "Runtime error: Socket handler (k8s_pod_handler_state): read more than 30MB of data"
**What happened**:
We observed an error log under a large scale load test.

Wed Aug 21 02:21:40 2019: Runtime error: Socket handler (k8s_pod_handler_state): read more than 30MB of data from https://10.40.48.1/api/v1/pods?fieldSelector=status.phase!=Failed,status.phase!=Unknown,status.phase!=Succeeded&pretty=false (31463287 bytes, 2162 reads). Giving up. Exiting.

**What you expected to happen**:
F

[2019-08-21 10:26] leodido commented on #778
Hello @axot can you please use the issues template. It helps us to have more information in order to approach the issue users are reporting.

/triage needs-information

[2019-08-21 10:57] fntlnz opened #781 "Builds failing in dev and new PRs"
**What happened**:

Builds are failing in test and in new pull requests, it looks like it's because of some changes in how 'debian:unstable' packages some of our dependencies for the local dockerfile.

Example build: https://travis-ci.com/falcosecurity/falco/jobs/226592002

**What you expected to happen**:

The builds just work.
**How to reproduce it (as minimally and precisely as possible)**:

**

[2019-08-21 12:45] #781 closed

[2019-08-21 14:41] fntlnz commented on #740
Ok, me and @leodido have a fix - we sent a deb with it to @josacar and he is now reporting successful results.

Here's an image from @josacar 's system, blue is falco 0.15.3, yellow is the fix.

![image](https://user-images.githubusercontent.com/3083633/63441532-dce5cc80-c431-11e9-934f-a5b491aac49f.png)

We are still waiting for it to run for a while more and will open the PR.

[2019-08-21 15:08] #730 closed

[2019-08-21 17:55] fntlnz commented on #725
This can be done now that #779 is in place !

[2019-08-21 20:28] kris-nova opened #784 "Identify what problems we need prow for"
Right now I notice we have a **lot** of functionality built into our prow instance. The level of automation introduces complexity. We want to start making it easy for folks to contribute to Falco so can we please identify (in this thread) what problems we need prow to solve?

[2019-08-21 21:43] kris-nova opened #785 "Go SDK"
We would like to offer a simple Go consumer of a gRPC output stream based on the gRPC output stream defined in #528

The go library should be easily consumable by other Go programs and should have clear guarantees defined regarding sync/async behavior.

This should effectively be a mapping of the `*.h` output methods used for our other Falco output streams.

[2019-08-21 22:36] kris-nova commented on #785
FYI @fntlnz

[2019-08-22 09:30] fntlnz commented on #740
/assign @leodido

[2019-08-22 09:32] fntlnz commented on #740
/assign @leodido

[2019-08-22 14:38] fntlnz commented on #740
The massif with  the [last applied patch](https://github.com/draios/sysdig/pull/1491) looks much better but there's still a leak, tens of megabytes an hour compared to hundreds before the fix.

![2019-08-22_3436x1333_scrot](https://user-images.githubusercontent.com/3083633/63523796-18000280-c4fb-11e9-92aa-fef0198b38d6.png)

[2019-08-22 15:17] fntlnz commented on #740
deb with the latest fix in https://github.com/draios/sysdig/pull/1491 compiled in falco: https://falco-dev-public.s3.amazonaws.com/issue-740/falco-0.740.1-x86_64.deb

[2019-08-22 15:36] poiana commented on #629
@tomklino: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.
In case you do not know which kind this proposal is please mention the maintainers using `@team/maintainers`.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-re

[2019-08-22 15:36] leodido commented on #629
Ok, reopening it and adding to milestone 0.18.0.

/kind bug

[2019-08-22 21:28] fntlnz commented on #740
Here's the new deb after the latest commits

https://falco-dev-public.s3.amazonaws.com/issue-740/falco-0.740.2-x86_64.deb

Older ones had been deleted!

[2019-08-23 13:09] fntlnz commented on #615
Reopening this, we still want to fix

[2019-08-23 13:09] poiana commented on #615
@devdua: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.
In case you do not know which kind this proposal is please mention the maintainers using `@team/maintainers`.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requ

[2019-08-23 13:48] fntlnz commented on #615
/kind bug

[2019-08-23 15:05] fntlnz commented on #740
Ok @josacar just started the latest patch, it looks like the first ten minutes are promising!! :crossed_fingers:

![image](https://user-images.githubusercontent.com/3083633/63602641-33850f00-c5c8-11e9-9d8e-add2e39fc5b2.png)

[2019-08-24 12:08] josacar commented on #740
Almost 24 hours running 0.740.2 here are the bad news:

<img width="1223" alt="image" src="https://user-images.githubusercontent.com/1630686/63637090-88805e00-c678-11e9-8d44-ec2887b33829.png">

I will run massif if you like @fntlnz

[2019-08-24 12:25] leodido commented on #740
Hey @josacar yeah please run massif

[2019-08-24 12:50] prankkelkar opened #787 "Install script is failing for s390x"
**What happened**:
Trying to install falco on host using scripted install method.  Got following error while doing so.
Command:- ` root@prasanna:~# bash install-falco.sh`

Output:-

[code]

**What you expected to happen**:
Successful completion of the script.

**How to reproduce it (as minimally and precisely as possible)**:
`curl -o install-falco.sh -s https://s3.amazonaws.com/download.draios.com

[2019-08-24 13:59] josacar commented on #740
@leodido How many hours do you want me to run it?

[2019-08-25 13:54] fntlnz commented on #740
24 hours should be enough @josacar thank you!

[2019-08-25 20:10] josacar commented on #740
I sent @fntlnz `massif` dumps running slightly more than 24 hours:

![image](https://user-images.githubusercontent.com/1630686/63655166-092c8080-c785-11e9-91ac-efae75fa90c4.png)

[2019-08-25 21:06] fntlnz opened #788 "Compile time header for banned functions"
**What would you like to be added**:
Create a compile time constraint to block Falco compilation of certain functions are used.

Besides the header I'd also like to add `strcpy` as first banned function. Further functions can be added later, the purpose of this issue is not to identify them all.

This kind of pattern is already used in many projects for the same purposes, for example, [git](https:

[2019-08-26 09:57] leodido commented on #688
We definitely still want to complete this. See also #788.

[2019-08-26 10:35] leodido commented on #693
We still want to fix this.

[2019-08-27 02:48] axot commented on #778
@leodido Hello, I updated the information in issues template.

[2019-08-27 07:36] fntlnz commented on #740
Ok there's still something but the leak is heavily decreased since the first report, it was around 100M/hour now is more like 2M/hour - investigating

[2019-08-27 08:59] fntlnz commented on #778
This is very interesting @axot - can I ask you how many pods did your load testing create when you experienced this? I'm only interested in the order of magnitude.

[2019-08-27 10:52] axot commented on #778
I did not remember the specific number, but I’m sure the number of Pod was greater than 10k in a single cluster.

[2019-08-27 11:05] leodido commented on #740
Ok here we are with a third version of the package: https://falco-dev-public.s3.amazonaws.com/issue-740/falco-0.740.3-x86_64.deb

Could you test it and provide us a new massif for at least 12 hours, maybe?

Thanks :)

[2019-08-27 12:25] kris-nova opened #790 "Consider moving to Kubernetes slack"
**What would you like to be added**:

This is an issue for thought.

We have the ability to create a Kubernetes official slack channel, but we need to consider if this makes sense for Falco.

**Why is this needed**:

This could help drive contribution to Falco, as well as make it easier for folks to get involved.

The problem is that we already have an OSS slack, and moving it might take work and

[2019-08-27 12:59] fntlnz commented on #740
@josacar just updated us in the Falco slack, this is it running for 1 hour.

![image](https://user-images.githubusercontent.com/3083633/63773297-2f643480-c8db-11e9-8ff7-20a6ecdca2d2.png)

It looks pretty flat right now, @josacar is going to share an update with massif in 24 hours to see if the report looks good.

[2019-08-27 13:29] fntlnz commented on #787
Thanks for opening this @prankkelkar - we will discuss about it at the next office hours.

[2019-08-27 14:25] kris-nova opened #791 "Review the Falco signal handler"
**What would you like to be added**:

I noticed that on my system sending a `SIGINT` to the Falco process took a few seconds for our signal handler to respond. This isn't a deal breaker because we have 30 seconds by default in Kubernetes to respond. But we should be more responsive with signals passed to Falco.

**Why is this needed**:

Output from a `SIGINT` signal sent to Falco

[code]

*Note*:

[2019-08-27 14:46] leodido commented on #790
Thanks fro bringing this up Kris!

I have an initial question. Would this channel in the k8s slack substitute the current one in the public sysdig slack?

I think we should decide for one channel and go for it.

I fear that having more than one channel would generate confusion in the community: in which channel to ask for topic X, in which for topic Y, what if the same best practices/fixes/answers

[2019-08-27 16:52] krisnova opened #792 "Blog regarding the memory leak observed in 0.16"
**What would you like to be added**:

Can we please write a blog that defines the problems observed in #740 and how we were able to fix the problem? We need to make sure that all consumers of Falco understand the implications here, and also understand that they should upgrade to the next release as soon as it is available.

**Why is this needed**:

Because memory leaks aren't fun :sweat_smile:

[2019-08-27 18:14] Issif opened #793 "Migration of falcosidekick into falcosecurity organization"
We discussed on Slack with @kris-nova about migrating my [falcosidekick](https://github.com/Issif/falcosidekick) into main [falcosecurity](https://github.com/falcosecurity) organization.

For reminder, its a proxy between [falco](https://github.com/falcosecurity/falco) and several outputs (Slack, Teams, Datadog, ...). It's used by *falco* as a way to manage several outputs in a *fan-out* mod, each

[2019-08-27 18:14] poiana commented on #793
@Issif: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.
In case you do not know which kind this proposal is please mention the maintainers using `@team/maintainers`.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-reque

[2019-08-27 18:46] Issif commented on #793
It's migrated 😄

[2019-08-27 18:49] kris-nova opened #794 "Scary Container"
**What would you like to be added**:

On TGIK I demo'd what I was calling a "scary pod" or "scary container" but we can please start to imagine what an invasive/privleged test pod would look like in Kubernetes. Ideally this would be a use case that we could demo Falco with.

**Why is this needed**:

So we have an easy way to demonstrate that Falco alerts in various situations

[2019-08-27 18:53] kris-nova opened #795 "Falco + Installers Umbrella Issue"
**What would you like to be added**:

Can we please begin tracking work with implementing Falco and the Falco operator at the installer level. Some basic ideas:

[code]

**Why is this needed**:

Because Kubernetes needs to be secure :)

[2019-08-28 05:33] tahsinrahman opened #796 "how falco determines which syscall is coming from which kubernetes pod"
Hi, I'm trying to understand falco codebase and wondering how falco determines which syscall is coming from which kubernetes pod?

My guess is, falco lists all pods by calling kubernetes api, then go through `podStatus.containerStatus.containerID` for all pods. Am I correct?

I'd be great if you can point me to the code where this is actually happening!

Thanks!

[2019-08-28 05:34] poiana commented on #796
@tahsinrahman: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.
In case you do not know which kind this proposal is please mention the maintainers using `@team/maintainers`.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pul

[2019-08-28 06:21] kris-nova opened #797 "Include source IP addresses in alerts"
**What would you like to be added**:

An end user IP address to the falco `alert` whenever an `alert` is triggered

Context: https://youtu.be/fRoTKqH3rHI?list=PL7bmigfV0EqQzxcNpmcdTJ9eFRPBe-iZa&t=4350

**Why is this needed**:

It would be wise to include the IP address of the *source* of anything that triggers a Falco `alert`

[2019-08-28 09:05] prankkelkar opened #798 "Unable to run Regression test on host after build from source."
**What happened**:
Tried running Regression test using command `./test/run_regression_tests.sh $PWD/build`.
The test case execution gave following error.
[code]

**What you expected to happen**:
Successful execution of tests.

**How to reproduce it (as minimally and precisely as possible)**:
After Complete build. Follow steps from falco documentation to run test cases.( https://falco.org/docs/sour

[2019-08-28 09:17] prankkelkar opened #799 "Source code contains code specific to lua 5.2 and above"
**What happened**:
Trying to build falco from source with lua5.1 . Getting following error at build step.
[code]
**What you expected to happen**:
Successful execution of the build.

**How to reproduce it (as minimally and precisely as possible)**:
Download lua separately and set `USE_BUNDLED_LUAJIT=False` while running cmake command.
`cmake -DSYSDIG_DIR=/path/to/sysdig -DUSE_BUNDLED_LUAJIT=False .

[2019-08-28 09:22] prankkelkar commented on #787
@fntlnz  Yes Thank you. Do let me know if you need more details.

[2019-08-28 10:37] leodido commented on #799
Thanks for noticing this @prankkelkar !

[2019-08-28 15:00] fntlnz opened #800 "Falco.org Blog"
**What would you like to be added**:

We want to have a blog for falco, to publish announcments, how-tos share ideas, and so on.

We have a couple of ideas on the execution of this:

1. A static blog with hugo
2. A medium publication

**Why is this needed**:

We already have articles for it!

- https://docs.google.com/document/d/1hSpSNnlrkW5Z_hEondp5dz8apA_Zd1EKmtV1Lq4J1Rk/edit?usp=sharing
- https

[2019-08-28 15:57] kris-nova opened #801 "Getting Started with Falco"
**What would you like to be added**:

 - [ ] Adding a section to the main README
 - [x] Starting to add labels for `good-first-issue`
 - [x] Creating the `good-first-issue` label

**Why is this needed**:

[2019-08-28 16:00] Issif commented on #800
You mean a *medium*? 😉

[2019-08-28 16:43] fntlnz commented on #740
Here's the last update from @josacar ! The leak is definitely solved!

![image](https://user-images.githubusercontent.com/3083633/63875414-b260ba00-c9c3-11e9-90b6-0aff2afcdb1a.png)

[2019-08-28 17:25] #792 closed, assigned to nobody

[2019-08-28 18:03] kris-nova opened #807 "Security assessment via CNCF sig-security"
**What would you like to be added**:

A plan/milestone for a security assessment with the SIG, so we can schedule time with the SIG.

**Why is this needed**:

[2019-08-29 07:06] prankkelkar commented on #798
Yes I have tried this workaround but still facing issues while running test cases.

[2019-08-29 07:10] prankkelkar commented on #798
I had few questions
1- Is it possible to run test cases after build from source on host without using falcon builder/tester images?
2- Can only tester image be used to run test cases for source built from source without using builder image?

[2019-08-29 08:45] fntlnz commented on #740
Ok here's the last massif output, the leak is definitely solved, now memory goes normally up and down as expected.
![2019-08-29_3437x1346_scrot](https://user-images.githubusercontent.com/3083633/63925285-162dc600-ca4a-11e9-8bc9-a7b50da3832f.png)

[2019-08-29 09:28] leodido commented on #800
As y'all know I proposed to use a Medium publication because we do not want to spend time with CSS and things like that 🤓 .

Nevertheless we've just discovered that Medium doesn't allow anymore to setup a custom domain to point to a Medium publication.

Thus we have to change strategy. Has anyone other ideas or we can proceed with a hugo blog?

[2019-08-29 09:35] fntlnz commented on #800
I think we might still be ok on having it on medium even if we don't get a custom domain. Otherwise hugo seem to be an option.

[2019-08-29 09:38] fntlnz commented on #740
Ok the fix had been merged on Sysdig, let's close this!!
https://github.com/draios/sysdig/pull/1491

/close

[2019-08-29 09:38] #740 closed

[2019-08-29 10:50] dankohn commented on #800
Could I encourage you to please reconsider where to host the blog? Medium now blocks readers beyond a certain number of articles per month. @lucperkins can set you up with a Hugo-based blog in just a few days using https://github.com/cncf/site-boilerplate. You also get Netlify previews of PRs.

Your call, though.

[2019-08-29 14:06] fntlnz commented on #800
@dankohn that seems a very good option, thanks for bringing it up.

The community didn't express a bold preference here in yesterday's planning meeting so I think that we can go with this option.

In the meanwhile I'll reach out to @lucperkins to get this done, thanks Dan.

Wdyt @kris-nova @Issif @leodido @mfdii - please express yourself if you are against.

[2019-08-29 14:21] leodido commented on #798
I confirm that the bug exists. Would you like to try to submit a first PR to fix it?

[2019-08-29 14:28] leodido commented on #800
Hey @dankohn thanks for your point.
Our main interest in using Medium was to avoid spending time on non-C++ code.
But you're right, there are limitations in using it.

Thus I agree with your proposal. I vote for @lucperkins helping us with hugo blog + netlify. :)

[2019-08-29 15:40] kris-nova commented on #800
I have opinions about hugo themes if we want to tweak anything. In my experience it was a one-time setup and then I never had to configure CSS/HTML again. This is what we used here: advocacy.heptio.com

[2019-08-29 16:49] lucperkins commented on #800
I can build a simple blog into the existing Falco site but nothing too fancy, I'm afraid

[2019-08-29 17:04] kris-nova commented on #800
Lets do it! We can get fancy later if needed.

[2019-08-30 05:13] prankkelkar commented on #799
Is this resolved by now? or we will have to figure out the appropriate fix without changing the flow of the program.

[2019-08-30 05:42] kris-nova opened #809 "Falco dynamic audit configuration"
# **What would you like to be added**:

Right now in order to use the `k8s-audit` input stream with Falco there are changes that need to be done to the Kubernetes control plane, particularly the API server.

The original goal of the Dynamic Audit feature with the API server was to enable a program running in Kubernetes to turn on the audit stream without having to restart the API server.

As it st

[2019-08-30 06:17] kris-nova commented on #809
We have the most ownership over Kubicorn - I think that would be a good first place to look at installing falco with a cluster

[2019-08-30 06:44] fntlnz commented on #809
This is exactly the kind of thing Falco needs to be adopted and have a way of "controlling" the environment in which it's installed. By controllibg the environment in which it is installed falco could have more insights on the environment itself.

There's not much to add, I love this idea .

[2019-08-30 06:45] kris-nova commented on #809
Then let's get it planned and coded!

[2019-08-30 07:57] leodido commented on #809
This is THE missing piece. Lovely idea. +1

[2019-08-30 09:06] Issif commented on #657
@mfdii helped me a lot of months ago with same issue, here my results if can help : https://github.com/Issif/falco-docker4windows/tree/4.9.184

[2019-08-30 10:57] prankkelkar commented on #798
Thanks @leodido for suggesting a fix to this bug.( https://github.com/falcosecurity/falco/pull/808 ).
Tried this but it has same outcome like copying the contents of build folder to required folder like it was done earlier manually. The error for missing directory is gone but other issue still persists `Error running method "initialize" of plugin "yaml_to_mux": 'Namespace' object has no attribute

[2019-08-30 13:26] leodido commented on #588
/triage needs-information

[2019-08-30 13:28] leodido commented on #588
Closing this since missing info. Comment (and we'll re-open) in case there are details about this.

[2019-08-30 13:28] #588 closed

[2019-08-30 14:18] mfdii commented on #787
As stated by the install script, the script does not support s390.

[2019-08-30 14:18] #787 closed

[2019-08-30 19:15] kris-nova opened #810 "Falco Package Manager for Rules"
**What would you like to be added**:

In an effort to bring structure to our rules in Falco, we would like to start treating github.com/falcosecurity/profiles as a rules repository containing `falco packages`. A proposal for the structure of the repository would be something like this:

[code]

This would allow us to start compartmentalizing falco rules based on arbitrary use cases. By design each

[2019-08-30 20:52] karthikc911 commented on #769
Hi @kris-nova , @mfdii  ,
Even we are facing the same issue on kubernetes with latest version v0.17.0.
When can we expect the fix for this issue to be rolled-out ?
As a temporary fix can we use the older version of falco container which doe snot have this issue ?

[2019-08-30 21:02] stealthybox commented on #809
This is where you would document a user add these apiserver flags in the kubeadm config:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/control-plane-flags/#apiserver-flags

We are working on making add-ons more extensible.

[2019-08-30 21:04] kris-nova commented on #809
Thanks @stealthybox and good to see you hanging out here. I will probably lurk in sig-cluster-LIFESTYLE from time to time as we get farther along here

[2019-08-30 21:05] kris-nova commented on #809
Also I reviewed the falco operator and currently I think it's more of an operator that exposes rules via CRD and less of an installation operator that will actually provision falco in a cluster

So this begs the question - do we combine these two concepts - or have multiple operators?

[2019-08-30 21:06] kris-nova commented on #795
Also linking the write up on dynamic audit here #809

[2019-08-30 21:24] stealthybox commented on #809
+💯 supporting this name-change

[2019-08-30 21:26] kris-nova commented on #809
open an issue and ill +1 it

[2019-08-31 17:47] kris-nova commented on #740
Should we evaluate https://github.com/marketplace/pigci for Falco?

[2019-08-31 19:19] fntlnz commented on #790
I see that there's a kubernetes slack now.
What are the actual plans for it @kris-nova

[2019-09-01 07:33] kris-nova opened #811 "falcoctl"
**What would you like to be added**:

A new CLI tool called `falcoctl`.

This would be a new repository.

Here is a [proof of concept](https://github.com/kris-nova/falcoctl/tree/init)

**Why is this needed**:

Think of `falcoctl` as a `.go` program that is statically linked so that

[2019-09-01 17:45] Issif commented on #811
I totally agree. If it's OK for others, I propose to migrate your POC under `falcosecurity/falcoctl` and move forward. It makes more sense either if we think about #809.

[2019-09-01 18:42] mfdii commented on #811
It should be called `falconer` as it’s purpose is to tame and control Falco.

[2019-09-02 19:10] kris-nova commented on #811
Can we name it `falconer` and pronounce it as `falcon E - R` in honor of `kube C - T - L`?

[2019-09-02 19:17] leodido commented on #811
Agree ! 🦅 🦅 🦅

[2019-09-02 19:20] kris-nova commented on #811
Notes from slack:

[code]

[2019-09-02 19:36] kris-nova commented on #811
Another thought

[code]

### Version flags

We could have a flag to specify which version of Kubernetes to use (this might be a dependency nightmare)

Example

[code]

### Release different binaries

This would allow us some freedom of building in custom logic for each release (relevant to #809) as we push this to GA.

We could branch our code for various versions of Kubernetes, but again, this wo

[2019-09-03 12:40] jozseffarago opened #812 "Falco reports almost no event details in some alerts."
**What happened**:
Falco send alerts where only the alert-triggering detail is usable, most of the other fields are NAs.
This only happens in some cases, but seemingly for the same events. Other events are reported correctly.

**What you expected to happen**:
Falco can include all the event specific information to the alert.

**How to reproduce it (as minimally and precisely as possible)**:
Unfort

[2019-09-03 19:22] Issif commented on #811
We also need to think about managed k8s, for example, we can't load kernel module on GKE, eBPF becomes mandatory. Same for auditsink (for k8s events), it's not available in EKS/GKE. If k8s versionning nigthmare is hell, it's still only top of iceberg.

[2019-09-03 20:29] dnwe opened #813 "Document falco syscall buffer size adjustment described in blog"
**What would you like to be added**:

I have a Falco-related question I was wondering if anyone could answer in the documentation? Reading https://sysdig.com/blog/cve-2019-8339-falco-vulnerability/ there's a small paragraph that states:

But I couldn't find a mention in the blog article or the Falco docs as to which kernel buffer is being described here. Does anyone know the details? I was assumin

[2019-09-03 20:31] dnwe commented on #813
@fntlnz RUNBPF

[2019-09-03 20:51] fntlnz commented on #813
Thanks for this issue @dnwe !!

I think that you are referring to this configuration right?

https://github.com/falcosecurity/falco/blob/6e11e75c1522e99bbbad1967f7031538e1a9c0bf/falco.yaml#L84-L89

I think we already have some documentation for that here https://falco.org/docs/event-sources/dropped-events/

Do you see anything we could improve?

/remove-kind feature
/kind documentation

Send me an

[2019-09-03 20:51] poiana commented on #813
@fntlnz: Those labels are not set on the issue: `kind/feature`

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/813#issuecomment-527634583):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue a

[2019-09-03 21:00] dnwe commented on #813
@fntlnz that documents how we log _when_ syscalls were dropped, but as per my quote from the linked blog article the original author mentioned that a user could also  increase the size of the shared buffer to prevent any syscalls from being dropped if it were sized large enough

[2019-09-03 21:09] poiana commented on #813
@fntlnz: Those labels are not set on the issue: `kind/feature`

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/813#issuecomment-527634583):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue a

[2019-09-03 21:11] kris-nova commented on #813
I think this is the droid you are looking for: https://github.com/draios/sysdig/blob/dev/driver/ppm_ringbuffer.h#L17

[2019-09-03 21:12] kris-nova commented on #813
Let me know if you want to pair if you get snagged compiling the driver - it took me a few tries to get everything dialed in correctly

[2019-09-03 21:18] dnwe commented on #813
@kris-nova perfect thanks, I'll give it a spin tomorrow and let you know

[2019-09-03 21:23] kris-nova commented on #811
@fntlnz RUNBPF

[2019-09-03 21:29] fntlnz commented on #811
@kris-nova this feature looks very interesting, I was a bit skeptic about it initially but after looking at your poc code and testing it out I feel like we need it to improve our user experience by far.

[code]

[2019-09-04 00:10] markyjackson-taulia commented on #726
Relates to https://github.com/falcosecurity/office-hours/issues/26

[2019-09-04 08:14] Issif commented on #726
I like the process described by @leodido, jsut want to add that a kanban board ([like here](https://github.com/falcosecurity/falco/projects)) by milestone will be great for following statuses.

[2019-09-04 10:20] spaceportpw opened #814 "Building with stable/Dockerfile failed"
file: `docker/stable/Dockerfile`

error:
[code]

requirement:
[code]

[2019-09-04 10:44] leodido commented on #814
@spaceportpw thanks for reporting this.

Yes, this is similar to a fix we deployed for the CI.

Would you like to submit a PR with a fix for it? This sounds like a good first contribution.

[2019-09-04 13:30] markyjackson-taulia opened #815 "Create Falco terraform provider"
What would you like to be added:

A new Falco terraform provider.

Why is this needed:

Currently a sysdig provider exist but relies on sysdig secure. This work would rely solely on Falco via terraform

[2019-09-04 19:57] leodido commented on #813
Yes @kris-nova it is!

@kris-nova and @dnwe can I propose to demo the compiling of the driver during our office hours in 2 weeks?
It will be recorded and it can be handy to our community!
Thus, in case do you agree please open an issue (with kind/debugging-hours) in the [office-hours repository](https://github.com/falcosecurity/office-hours) so we'll schedule it !

[2019-09-04 20:36] dnwe commented on #813
@leodido / @kris-nova I haven't quite got around to testing it yet, but I hoping I'd just be able to get away with patching the kernel module via the stable Dockerfile after the .deb has unpacked the source to /usr/src:

https://github.com/falcosecurity/falco/blob/6e11e75c1522e99bbbad1967f7031538e1a9c0bf/docker/stable/Dockerfile#L77-L87

With something like this:
[code]

And let the falco-probe-lo

[2019-09-04 20:45] dnwe commented on #813
Ah so that gives me:

Presumably because the /usr/bin/falco process needs to be (re-)built with a matching ringbuffer size

[2019-09-04 20:49] dnwe commented on #813
Ah so that gives me:

Presumably because the /usr/bin/falco userspace process needs to be (re-)built with a matching ringbuffer size

https://github.com/draios/sysdig/blob/ce8281b2d506114ef1ea89b904cda2baa6c1fa27/userspace/libscap/scap.c#L307-L310

and

https://github.com/draios/sysdig/blob/ce8281b2d506114ef1ea89b904cda2baa6c1fa27/userspace/libscap/scap.c#L351-L370

[2019-09-05 10:06] trackscorer opened #816 "falco-probe module reported as having invalid module format on Ubuntu 18.04"
I try to run falco,but encounter an error.

[code]

[2019-09-05 20:49] joshbav opened #817 "Docs error: syslog field class is a carryover from sysdig agent, not supported in falco?"
**What happened**:
Bug in docs: "syslog Field Class" section is likely a carryover from sysdig agent and thus should be removed from the docs: https://falco.org/docs/rules/supported-fields/
I'm assuming we should also verify if evt.is_syslog is supported. I was told Falco doesn't look at the content of files.

**Anything else we need to know?**:
Probable need to verify that this is indeed a docs b

[2019-09-06 00:49] kris-nova commented on #815
I have contributed to Terraform in the past - I don't know if I have time to code all of this, but I am happy to guide someone into the space and mentor them through coding a provider if needed.

Let us know if you are interested and we can get in touch!

[2019-09-06 00:56] markyjackson-taulia commented on #815
I figured this would be a cool side project and would love to contribute.
Thanks @kris-nova

[2019-09-06 02:57] kris-nova opened #818 "The Falco (gRPC) API"
**What do we mean by "API"*?

The language here implies a documented way of interfacing with Falco, regardless of the programming language.

This is **NOT** a traditional C/C++ API that we would see in a `.h` file like we would see in `linux` or other similar applications.

This is more of a high-level spec or contract (probably implemented via gRPC) that users can count on using, while interactin

[2019-09-06 03:36] kris-nova opened #819 "Tests"
**What would you like to be added**:

A testing system.

I know we all hate this, but if we will be supporting CVE's and other vulnerabilities opened up we *must* have tests.

There are a few things we are interested in testing, and proving.

 - Vulnerabilities against `falco`
 - Vulnerabilities against `kubernetes`
 - Vulnerabilities against `linux`

**Why is this needed**:

So we can prove, conc

[2019-09-06 04:31] kris-nova commented on #811
Also please review:

https://github.com/falcosecurity/falcoctl/pull/3

[2019-09-06 15:03] shane-lawrence opened #820 "RFC1918 excluded from outbound macro but not inbound_outbound"
A new list, which contains the private IPv4 ranges in RFC1918, was added and that list has been excluded from the `outbound` macro:
https://github.com/falcosecurity/falco/blob/39b51562ed88b9ee1700c4811aa1911d4467a450/rules/falco_rules.yaml#L321-L328

The RFC1918 ranges have not been excluded from the `inbound_outbound` macro, so it is no longer a combination of the `inbound` and `outbound` macros:

[2019-09-06 15:04] poiana commented on #820
@shane-lawrence: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.
In case you do not know which kind this proposal is please mention the maintainers using `@team/maintainers`.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/p

[2019-09-06 15:04] shane-lawrence commented on #820
/kind rule-update

[2019-09-06 15:06] shane-lawrence commented on #820
/area rules

[2019-09-06 15:13] shane-lawrence opened #821 "RFC1918 change description could be misleading"
In v0.16.0, the `outbound` macro was changed to exclude servers in RFC1918 ranges. https://github.com/falcosecurity/falco/blob/39b51562ed88b9ee1700c4811aa1911d4467a450/rules/falco_rules.yaml#L321-L328

The changelog describes this as "Skip Source RFC 1918 addresses" instead of "Skip Server RFC 1918 addresses".
https://github.com/falcosecurity/falco/blob/39b51562ed88b9ee1700c4811aa1911d4467a450/CHA

[2019-09-06 15:13] poiana commented on #821
@shane-lawrence: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.
In case you do not know which kind this proposal is please mention the maintainers using `@team/maintainers`.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/p

[2019-09-06 15:13] shane-lawrence commented on #821
/area documentation

[2019-09-06 15:14] shane-lawrence commented on #821
/kind documentation

[2019-09-06 16:28] kris-nova commented on #810
Suggestion from @KnoxAnderson:

1) Have a `README.md` in each package
2) Have a cyrptomining package based on: https://github.com/falcosecurity/falco/blob/dev/rules/falco_rules.yaml#L2493

[2019-09-06 16:57] shane-lawrence commented on #820
I was going to PR a fix to exclude just the private IP ranges, but it looks like this is not the only change to the `inbound` and `outbound` macros that didn't lead to a corresponding change to the `inbound_outbound` macro. #470 was also applied to only the separate rules. Should I incorporate the improvements from that PR into the `inbound_outbound` macro as well?

[2019-09-09 06:00] arthurk commented on #769
Same problem with Falco 0.17.0 running on GKE cluster version 1.13. Is there a going to be a fix?

[2019-09-09 06:40] arthurk commented on #669
I have the same issue. As a workaround i have just set the action to "ignore" until this feature works with GKE

[2019-09-09 08:20] karthikc911 commented on #769
Hi @mfdii , @kris-nova , @tmaior , @arthurk ,

I may have found the bug.

**Bug** : Falco Docker image name falcosecurity/falco:**latest** is still tagged to older version falcosecurity/falco:**0.16.0** and not newer falcosecurity/falco:**0.17.0**

**Work-Around**: Use docker image falcosecurity/falco:0.17.0 to fix this issue.

**Context :** As per the following doc : https://falco.org/docs/event-

[2019-09-09 08:33] karthikc911 opened #823 "Latest Falco Docker image is still tagged to older version 0.16.0"
**What happened**: Falco Docker image name falcosecurity/falco:latest is still tagged to older version falcosecurity/falco:0.16.0 and not newer falcosecurity/falco:0.17.0

**What you expected to happen**: Docker image name falcosecurity/falco:**latest** must always to tagged to latest version.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to kno

[2019-09-09 08:37] leodido opened #824 "To fill a proposal for a gRPC aggregation service"
This is a summary of an initial idea that me and @fntlnz want to fill as a proposal.

So this will be expanded. We are just dumping initial idea we had so that we can fill the proposal later.

**What would you like to be added**:

Assuming a k8s cluster having more Falcos deployed I'd like to have a mechanism able to connect and subscribe to all of them proxying all the events coming from them.
Th

[2019-09-09 14:17] fntlnz commented on #814
/good-first-issue

[2019-09-09 14:17] poiana commented on #814
@fntlnz:
	This request has been marked as suitable for new contributors.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md#good-first-issue).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-good-first-issue` command.

<details>

In response to [this](https://gi

[2019-09-09 14:18] leodido commented on #788
/good-first-issue

[2019-09-09 14:18] poiana commented on #788
@leodido:
	This request has been marked as suitable for new contributors.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md#good-first-issue).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-good-first-issue` command.

<details>

In response to [this](https://g

[2019-09-09 14:18] fntlnz commented on #814
/help

[2019-09-09 14:18] leodido commented on #798
/good-first-issue

[2019-09-09 14:19] poiana commented on #798
@leodido:
	This request has been marked as suitable for new contributors.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md#good-first-issue).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-good-first-issue` command.

<details>

In response to [this](https://g

[2019-09-09 14:26] fntlnz commented on #818
/priority high

[2019-09-09 14:26] fntlnz commented on #793
/close

[2019-09-09 14:26] #793 closed

[2019-09-09 14:26] poiana commented on #793
@fntlnz: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/793#issuecomment-529501068):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2019-09-09 20:49] kris-nova commented on #813
Yep I think thats what we need.

Just curious what is the use case here for expanding the ring buffer size? Is this in response to the kernel level components dropping syscall events?

[2019-09-09 22:17] agilgur5 commented on #310
arbitrary usage of the stale bot, especially when last comment is from issue author is very frustrating...

[2019-09-09 22:21] dnwe commented on #813
Yes as per the first post, the linked article called it out as an option to reduce the amount of dropped syscalls. We already enabled logging and just wanted to test it out to see if we could reduce the occurrences.

I believe I got a build working, but hadn't had a chance to deploy it out yet. Will let you know

[2019-09-10 00:01] mstemm commented on #794
We have the falco event generator container (https://falco.org/docs/event-sources/sample-events/), is that what you mean?

Most of the activity it does is host-oriented, but that works very well in a container as all the bad stuff it does is ephemeral.

[2019-09-10 00:45] mstemm commented on #706
We still want to fix this.

[2019-09-10 05:34] prankkelkar commented on #798
@leodido Thanks for considering this issue. It would be really helpful if we can get test cases running on host directly.

[2019-09-10 07:07] fntlnz commented on #818
/assign @fntlnz
/assign @leodido

[2019-09-10 07:09] fntlnz commented on #818
/milestone 0.18.0

[2019-09-10 07:24] fntlnz commented on #310
I'm sorry @agilgur5 we are working on getting a smarter one :D

[2019-09-10 07:26] fntlnz commented on #823
Thanks for reporting @karthikc911 - discussing this in the Repo planning meeting to understand what's going on.

[2019-09-10 07:39] fntlnz commented on #769
Thanks for the feedback @karthikc911 - definitely need to bring this up in repo planning

[2019-09-10 07:40] fntlnz commented on #820
/assign @Kaizhe

@Kaizhe WDYT?

[2019-09-10 07:41] fntlnz commented on #816
Can you please fill the issue template @trackscorer ? This doesn't tell us much about what we need to reproduce.

[2019-09-10 10:33] leodido commented on #816
/triage needs-information

[2019-09-10 11:01] leodido commented on #691
Reopening this because we still want this.

Also we need a better stale bot (I should have one almost complete implemented with Prow jobs - https://github.com/falcosecurity/test-infra/issues/40).

[2019-09-10 11:02] leodido commented on #704
We still want this.

[2019-09-10 11:03] leodido commented on #705
We definitely still want this

[2019-09-10 11:43] fntlnz commented on #798
Since this is now open for new contributors, I'm unassigning myself and leo for now.

/unassign @fntlnz
/unassign @leodido

[2019-09-10 13:21] JPLachance opened #827 "syscall_event_drops -> actions -> log: logs are not written on separated lines"
**What happened**:
When we send `syscall_event_drops` events to logs:
[code]

Events are not splitted properly:
[code]

**What you expected to happen**:
We expect Falco to "[log a CRITICAL message noting that the buffer was full](https://github.com/falcosecurity/falco/blob/dev/falco.yaml#L76)" and we expected that log to be on its own line:
[code]

**How to reproduce it (as minimally and precisely

[2019-09-10 13:50] #785 closed

[2019-09-10 15:22] kris-nova commented on #824
Let's check out Envoy for this!

[2019-09-10 16:11] kris-nova commented on #824
We probably need to think about two things with this model:

# Order

I do NOT think we guarantee order what so ever with model. A client gets alerts as they trickle through.

# Falco meta information

We probably wan't to include details about the falco instance as it relates to Kubernetes. What node is this running on? What is the name of the pod? How long has falco been running.

[2019-09-10 17:10] Kaizhe commented on #820
@shane-lawrence thanks for bringing it up. It's a good call.  And please assign me as the reviewer :)

[2019-09-10 18:45] leodido commented on #824
Yes Kris I agree with you.

About the metadata we have already created the mechanism to include such
info as gRPC metadata (in the current PR about gRPC streaming server).

Thanks for bringing this up!

On Tue, Sep 10, 2019, 6:11 PM Kris Nova <notifications@github.com> wrote:

[2019-09-10 19:34] fntlnz commented on #824
@kris-nova I agree for order, for the Falco meta information part that was covered in the issue by the sentence:

I'm not sure maybe that's not clear?

[2019-09-10 20:15] mfdii commented on #706
@kris-nova is going to start looking at this. It would be good to discuss on the upcoming repo planning call to get an idea of how long it might take to fix.

[2019-09-11 05:48] devdua commented on #638
@fntlnz RUNBPF

[2019-09-11 10:33] leodido opened #829 "Remove the GitHub pages for this repository"
**What would you like to be added**:

Nothing. I would like to remove the old Falco website (GH pages).

**Why is this needed**:

The [old](http://falcosecurity.github.io/falco) Falco website (done using GitHub pages) is still online. We need to remove it.

/kind cleanup

[2019-09-11 10:35] leodido commented on #829
/assign @leodido

/assign @fntlnz

[2019-09-11 10:38] #829 closed

[2019-09-11 11:02] fntlnz commented on #638
Hi @devdua , we definitely want to sort this out, I'm adding this as a discussion point for the next Repo planning to see what others think about this.

[code]

[2019-09-11 11:08] fntlnz commented on #638
In the meanwhile @devdua can you please fill the issue template for us? Would make easier for contributors to get this.

[2019-09-11 11:13] leodido commented on #638
/triage needs-information

[2019-09-11 14:00] ankitjain28may commented on #823
Yeah

[2019-09-11 14:56] Issif commented on #823
![image](https://user-images.githubusercontent.com/4520100/64708509-fddf9180-d4b4-11e9-93c2-c5d0b90ee042.png)

hash are same between **latest** and **0.16.0**, something went wrong in build and/or push

[2019-09-11 15:28] leodido commented on #819
Somewhat related to #691 (unit tests).

[2019-09-11 16:15] rajibmitra commented on #823
Let us automate this process.  @leodido  @fntlnz  @markyjackson-taulia

[2019-09-11 16:21] markyjackson-taulia commented on #823
In the new build process is where this should go, thoughts?

[2019-09-12 05:28] devdua commented on #638
name | about | labels
-- | -- | --
Bug Report | Falco does not pull pre-built kernel module from S3 if DKMS fails. | kind/bug

**What happened:** I am unable to install Falco on CentOS 7.5, as the kernel is outdated (out of my control). The kernel headers and dev packages are no longer supported and because of that the kernel probe is not being built by Falco.

**What you expected to happen:** Fal

[2019-09-12 21:09] fntlnz opened #831 "Add ADOPTERS.md"
**What would you like to be added**:
Add an ADOPTERS.md listing all the use cases from users using Falco.

Here are some examples:
- Linkerd https://github.com/linkerd/linkerd/blob/master/ADOPTERS.md
- OPA https://github.com/open-policy-agent/opa/blob/master/ADOPTERS.md

**Why is this needed**:
It's a requirement for CNCF graduation.

[2019-09-13 09:32] leodido commented on #819
This is the umbrella issue about testing: https://github.com/falcosecurity/falco/issues/704

[2019-09-13 09:34] leodido commented on #704
@kris-nova's additions about this matter are at https://github.com/falcosecurity/falco/issues/819

[2019-09-13 09:43] fntlnz opened #833 "Code analisys tools"
**What would you like to be added**:

CII Best practices has a whole section on code analisys, we need to meet those requirements.

Here's the section:

https://bestpractices.coreinfrastructure.org/en/projects/2317#analysis

**Why is this needed**:

We need this for the CNCF incubation. CII must be 100%

[2019-09-13 10:14] leodido commented on #612
Gently reminder for @Kaizhe and to avoid this get closed

[2019-09-13 13:20] fntlnz opened #835 "Rules for miners should not resolve the address for the miner"
**What happened**:

After starting Falco, I noticed that there was a strange DNS activity in my network towards some domains like `de.minemxr.com`.

Initially this issue had been reported to me by Pi-Hole

![2019-09-13_976x628_scrot](https://user-images.githubusercontent.com/3083633/64865273-3f994500-d639-11e9-971b-bc15c7bb3102.png)

![2019-09-13_489x504_scrot](https://user-images.githubuserconten

[2019-09-13 13:23] leodido opened #836 "The --support CLI flag should work also without rule file specified"
**What would you like to be added**:

A more flexible support flag.

Currently to make it work the user is forced to specify at least one rule file with `-r` too.

**Why is this needed**:

In some situations the users need only `version` and `system_info` field of the return JSON given by the `--support` flag.

[2019-09-13 13:23] leodido commented on #836
/assign @leodido

[2019-09-13 13:25] fntlnz commented on #835
/area rules

[2019-09-13 14:00] fntlnz opened #837 "Can't build the kernel module when the headers directory is symlinked"
**What happened**:

After following the Kubernetes installation instructions in the documentation on a machine running Ubuntu 18.04.2 TLS, we (with @leodido) noticed that the kernel headers in such machine are symlinked to another folder that is not shared by the default Daemonset shipped with Falco.

Not being able to find that folder prevents falco users to run Falco when the module is also not

[2019-09-13 14:00] fntlnz commented on #837
/area integrations

[2019-09-13 14:34] jozseffarago commented on #812
One more details which maybe relevant. As we are on Amazon linux, we have auditd enabled by default. Maybe it messes up Falco somehow.
(we had this experience when we did some trial with commercial products, which has similar kernel modules)

[2019-09-13 15:06] mfdii commented on #835
Thanks for digging into this.

The goal behind `fd.sip.name` is to allow domains to be put on a allow/deny list and the end user not having to look up all the possible IPs for a domain. Also, as domain's A records might change, an end user is constantly in a race to update rules when a new A records (IP addresses) might be added.

An easy solution might be to add a macro to enable or disable this

[2019-09-13 16:02] mfdii opened #838 "Remove stale docs content from Github wiki"
**What would you like to be removed**:
Back in May we  officially moved the falco docs to falco.org/docs. As part of this we put notices on the existing GH wiki docs that the wiki was deprecated and replaced with the docs site. We also linked each wiki page to the new corresponding docs site page.

It's time to remove all the content from the wiki, leaving only links to the docs site and the new p

[2019-09-13 17:48] leodido commented on #707
Nope stalebot, we want this!

[2019-09-13 17:50] leodido commented on #835
I like the solution you're proposing Michael.

I think this improvement should be scheduled for the next release. WDYT?

[2019-09-13 18:01] mfdii commented on #835
I think there might be downstream implications to this. @Kaizhe if we make this change, do you need to do anything on your side as you're a consumer of these rules with Sysdig Secure.

[2019-09-14 02:05] fntlnz commented on #812
This one is a bit difficult to tackle since it seems to be related to your specific environment.
What I would do here is to try to use sysdig directly and see what it reports.

For example, to emulate the rule about `setuid call by non-sudo` you could do:

[code]

That will dump all the setuid events (both directions) in the current machine.

If in the meanwhile you have any `setuid` the output sh

[2019-09-14 02:06] fntlnz commented on #812
/triage needs-information

[2019-09-14 13:01] leodido commented on #713
I still think this is something useful

[2019-09-14 18:18] Issif commented on #720
Falco rules can use same filter than Sysig, so we can already filter by labels :

[code]

I agree this is not already set up in default rules but you can easily use them.

[2019-09-15 08:29] #814 closed

[2019-09-16 08:12] #831 closed

[2019-09-16 16:53] mfdii opened #842 "Add Incubation Proposal for CNCF Review"
We need to have a incubation proposal created for when we are ready to ask for the CNCF TOC vote on moving to incubation.

[2019-09-16 16:53] poiana commented on #842
@mfdii: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kuber

[2019-09-16 16:54] leodido commented on #842
/kind documentation

[2019-09-16 21:45] nuala33 opened #845 "Falco rule triggering events in one cluster but not the other"
**What happened**: Hello, I have 2 identical Falco daemonsets + configs in 2 different GKE clusters, being managed with Anthos Config Management. This means they both pull configurations from the same repository and updates are applied to k8s resources when the files in this repo are modified.

In one cluster, the "Terminal shell in container" rule triggers a logline every time I run `kubectl exec

[2019-09-17 15:44] fntlnz commented on #706
/assign @leodido
/assign @fntlnz

[2019-09-17 18:24] farshad-hobsons opened #846 "unable to download precompiled falco-probe-0.17.0-x86_64-4.14.138-114.102.amzn2.x86_64"
**What happened**:
On upgrading EKS nodes from 1.13 to 1.14(`ami-08739803f18dcc019`), the falco container went into `CrashLoopBackOff` status with the following error:
[code]

**What you expected to happen**:
I was expecting the pre-compiled falco-probe to load but `falco-probe-0.17.0-x86_64-4.14.138-114.102.amzn2.x86_64-c62c9c7d342c26dbac88ad04bc036848.ko` is missing at https://s3.amazonaws.com/d

[2019-09-17 19:23] farshad-hobsons commented on #846
/area kernel-module

[2019-09-18 08:43] prankkelkar commented on #799
@leodido This can be fixed by altering the flow of program by substituting goto statements with appropriate if else statements. Do let me know if u'll are interested in fixing this.

[2019-09-18 09:36] fntlnz commented on #846
Thanks for reporting @farshad-hobsons  ! This is happening because there had been an issue with the build script that does the build.
In particular the sysdig dependency that we use and tagged here https://github.com/draios/sysdig/releases/tag/falco%2F0.17.0 does not contain a fix that was necessary for falco to build.

We are aware of that and are making a decision right now in the public falco s

[2019-09-18 09:37] fntlnz commented on #638
I debugged this and other similar issues, I think here is happening the same thing as commented here: https://github.com/falcosecurity/falco/issues/846#issuecomment-532606189

[2019-09-18 13:51] farshad-hobsons commented on #846
Thanks @fntlnz, appreciate it.

Is there a timeline in your mind for releasing the fix in `0.17.1`.

[2019-09-18 19:39] fntlnz opened #849 "Release Falco 0.17.1"
**What happened**:
When we released Falco 0.17.0 we targeted a Sysdig version as dependency which did not contain a fix tu support newer kernels >5.0 .

Because of this and because of the fact that our build script is procedural, when an error is encountered for a new kernel also the subsequent are not built. This leads to the s3 bucket to lack a lot of prebuilt modules and bpf probes.

We discuss

[2019-09-18 19:39] fntlnz commented on #849
/assign @fntlnz

[2019-09-20 16:11] fntlnz commented on #849
Part of this release will also be documenting how we do the releases. All that knowledge is still internal to Sysdig as a company and we need to make sure to have it in described in an open document so that we can then think on how to automate it.

We also need to inform the mailing list of new releases as well the slack channel and twitter account.

[2019-09-20 19:04] leodido commented on #849
Please note that the umbrella issue about the release process is #726.

[2019-09-20 22:12] fntlnz opened #851 "Releases timeline"
**What would you like to be added**:
After discussing with everyone on slack we came up with the fact that our community needs a public release timeline that can effectively communicate when future releases are expected to happen.

For example we can have a 3 month cadence with bug fixing and minor releases between them.

Another requirement that came up is that when we start the release timeline

[2019-09-20 22:12] fntlnz commented on #851
Related to: https://github.com/falcosecurity/falco/issues/726

[2019-09-22 15:05] #724 closed

[2019-09-23 20:45] frankreno commented on #846
Context, I am getting this on an EKS cluster running 1.13.10.

So the feedback here at first made me believe this was only an issue with 0.17.0. So I tried older versions of the helm chart and had the same issues. I went so far as to install Helm version 0.7.6 and i get this:

Trying to download precompiled module from https://s3.amazonaws.com/download.draios.com/stable/sysdig-probe-binaries/falco

[2019-09-24 08:50] Amojow opened #853 "Compatibility array"
DOCUMENTATION ENHANCEMENT

**What would you like to be added**:
It would be awesome to have a **compatibility array** listing **OS** and **kernel versions**  compatible with pre-built kernel modules availables in the s3 bucket.
URL of the bucket : https://s3.amazonaws.com/download.draios.com/stable/sysdig-probe-binaries/

**Why is this needed**:
This information is needed to have the choice to cha

[2019-09-24 09:37] Issif commented on #853
Until an offical array is provided, you have it [HERE](https://thomas.labarussias.fr/falco-probes/?falcoversion=0.17.0)

[2019-09-24 11:27] Amojow commented on #853
Okay Thanks !

[2019-09-25 07:16] fntlnz commented on #846
Thanks for the feedback @frankreno will look into that too when we release 0.17.1 to see if those are built for that kernel.

[2019-09-25 13:43] #528 closed

[2019-09-25 13:43] #791 closed

[2019-09-25 13:50] leodido opened #854 "Unit and integration tests the gRPC server"
**What would you like to be added**:

Unit and integration tests for:
- [ ] gRPC server
- [ ] gRPC outputs service

**Why is this needed**:

Do I really need to explain the reason we need this? :)

[2019-09-25 13:55] leodido opened #855 "Add tags in the response message of outputs.proto"
**What would you like to be added**:

A (repeated) field in the `response` message `output.proto` protobuf definition aimed at tagging the outputs that the gRPC output server emits.

Also we probably want the `tags` field to be in the `request` message too for filtering.

**Why is this needed**:

To provide a mechanism to filter/tag output events. Ref #822.

[2019-09-25 13:58] leodido opened #856 "Catch and handle gRPC status and logs"
**What would you like to be added**:

Our gRPC server should be able to listen for gRPC runtime statuses and react to them accordingly.

Also the Falco's gRPC server should catch the gRPC logs.

**Why is this needed**:

The gRPC C++ implementation does not uses exception as per Google C++ coding guide. Thus we do not have exceptions to detect misbehaviours. We need to observer the gRPC internal st

[2019-09-25 13:59] fntlnz opened #857 "gRPC outputs: fanout queuing mechanism"
**What would you like to be added**:

At the current moment, gRPC only supports a "round-robin" mechanism where all the clients are subscribed to the same queue and receiving different alerts.

[code]

We want to add a new mechanism, "fanout" where all the clients are subscribed to different queues to receive the same alerts.

[code]

To do this, our internal output mechanism will need to support

[2019-09-25 15:09] leodido commented on #706
/priority high

[2019-09-25 15:11] leodido commented on #818
First gRPC server impl done in #822

[2019-09-25 15:11] #818 closed

[2019-09-25 15:18] mstemm commented on #798
I think I made this easier in https://github.com/falcosecurity/falco/commit/6e11e75c1522e99bbbad1967f7031538e1a9c0bf#diff-e7e5a4947037bfbf38f675b1e40611a2. Try setting BUILD_DIR to the directory on the host where your build directory is before running the regression tests.

[2019-09-25 15:21] kris-nova commented on #854
Connecting to https://github.com/falcosecurity/falco/pull/822

[2019-09-25 15:22] leodido commented on #857
Connecting to #822

[2019-09-25 15:36] mstemm opened #858 "GRPC Output: Also support unix domain sockets"
**What would you like to be added**:
When we add GRPC Support to falco, it would be good to have an option to support connecting to the grpc server via a unix domain socket in addition to a tcp connection.

**Why is this needed**:
This allows for more security for use cases where clients can be colocated with falco and allows for a slightly smoother process when developing with falco, where you mi

[2019-09-25 15:38] kris-nova opened #859 "gRPC Outputs Documentation (Tracking issue)"
See: https://github.com/falcosecurity/falco-website/issues/80

[2019-09-26 06:48] WeiZhang555 opened #860 "SSL server failed to start"
**What happened**:

I enabled SSL support in Falco configuration file but then the server failed to start. Its logs:

[code]

**What you expected to happen**:

Falco server can start successfully with SSL support.

**How to reproduce it (as minimally and precisely as possible)**:

1. Following official docs: https://falco.org/docs/installation/ to install Falco in daemonset .
2. modify **falco-con

[2019-09-26 08:59] prankkelkar commented on #798
Yes I have tried all these things but no luck with avocado framework. Anyways i managed to apply a hack wherein i used tester image mounting required directories and running steps in container bash. Could get it running this way . But on host issue persists

[2019-09-26 14:03] leodido commented on #605
Up 🔝

[2019-09-26 17:56] cvernooy23 commented on #669
I'm seeing this when installed as a binary on the host OS in AWS EC2 running CentOS 7 w/ kernel 5.3 mainline.

[2019-09-26 18:05] leodido commented on #849
Not completed.

For issues in the internal CI we have not been able to complete the steps about the artifacts (packages, docker images, and their publishing).

Nevertheless we understood the first step we'll need to achieve in order to have a new more automated and robust release process:
- rename `master` branch to something like `old-master` to do not lose the old tags
- rename `dev` into `maste

[2019-09-26 18:07] leodido commented on #726
While doing #849 me and @fntlnz had the opportunity to review the current branch model of this repo.

In order to have a new automated and more robust release process we propose to:

1. rename `master` branch to something like `old-master` to do not lose the old tags
2. rename `dev` into `master` branch
3. make the new `master` the default repo branch

[2019-09-26 20:36] fntlnz commented on #849
This is done

/close

[2019-09-26 20:36] poiana commented on #849
@fntlnz: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/849#issuecomment-535676062):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2019-09-26 20:36] #849 closed

[2019-09-26 20:50] fntlnz commented on #846
This probe is now available for 0.17.1 @farshad-hobsons @frankreno

https://s3.amazonaws.com/download.draios.com/stable/sysdig-probe-binaries/falco-probe-0.17.1-x86_64-4.14.138-114.102.amzn2.x86_64-c62c9c7d342c26dbac88ad04bc036848.ko

Please close this once you verify it yourself!

[2019-09-26 20:52] fntlnz commented on #638
Hi @devdua can you test this with 0.17.1 ?

[2019-09-26 20:53] fntlnz commented on #816
Hi @trackscorer can you try updating to 0.17.1 ?

[2019-09-26 21:00] frankreno commented on #846
Just tested and it works great! Thank much @fntlnz .  Follow up question.  ETA for a new helm chart release with a docker image bump?

[2019-09-26 21:03] Kaizhe opened #862 "Build falco from host failed with 0.17.1"
**What happened**:
Build Failed

**What you expected to happen**:
Build success

**How to reproduce it (as minimally and precisely as possible)**:
Follow the installation steps from falco.org

**Anything else we need to know?**:

**Environment**:
- Falco version (use `falco --version`): 0.17.1
- System info
- Cloud provider or hardware configuration: aws
- OS (e.g: `cat /etc/os-release`):
[code]
-

[2019-09-26 21:04] Kaizhe commented on #862
Error log:

[code]

[2019-09-27 03:00] devdua commented on #638
Hi @fntlnz I am afraid the same problem persists, the installer does not download the pre-built module.

![image](https://user-images.githubusercontent.com/3139249/65738847-f2b97200-e100-11e9-8267-b553e4af8362.png)

[2019-09-27 14:06] farshad-hobsons commented on #846
I have validated that this works on the `4.14.138-114.102.amzn2.x86_64` kernel.

Thanks @fntlnz for getting this fixed. This helps a lot of downstream falco fans!

[2019-09-27 14:06] #846 closed

[2019-09-27 14:56] leodido commented on #846
@nestorsalceda friendly pinging you for the helm chart ^^^ :)

[2019-09-27 16:39] michalzxc opened #865 "Since upgrading EKS to 1.13 falco lost ability to detect pod name"
**What happened**:
It seems Falco lost ability to detect pod name and thinks that operations happens on host
Loots of alerts like that:
[code]

The only Debian is inside docker images, there is no /etc/logrotate.d/dpkg on any host, so "container=host" is false without doubt

**What you expected to happen**:
I didn't expected to see logs like above, it shows like hundred-ish of them per second

**H

[2019-09-27 16:41] michalzxc commented on #865
DaemonSet:
[code]

[2019-09-27 16:42] michalzxc commented on #865
Configmap:
[code]

[2019-09-27 16:43] michalzxc commented on #865
It was working perfectly before upgrade from EKS 1.11 to 1.13

[2019-09-30 09:23] leodido commented on #862
Hello @Kaizhe are you building it from the `dev` branch source or from the `0.17.1` tagged source?

Because, it seems strange that Falco version 0.17.1 contains gRPC code. So I suspect you are compiling the current `dev` branch first of all.

[2019-09-30 09:58] fntlnz commented on #638
@devdua I see that we have the pre-built kernel module for your kernel in the s3 bucket.

https://s3.amazonaws.com/download.draios.com/stable/sysdig-probe-binaries/falco-probe-0.17.1-x86_64-3.10.0-862.14.4.el7.x86_64-1795864c4b1e0fcf3350aec1a299aabe.ko

Can you try dowloading it and installing it manually? I'm not sure that Falco is the problem here, I've seen this kind of things happening when th

[2019-09-30 10:05] devdua commented on #638
@fntlnz as mentioned earlier, that works. I have tried it with the probe that you have sent the link to and it's working.

![image](https://user-images.githubusercontent.com/3139249/65869317-d71bc900-e397-11e9-9597-6153eb03414d.png)

[2019-09-30 14:06] michiels commented on #661
@fntlnz @mfdii I'm fine with creating a PR for this! So I'll continue that. For now I'll assume that simply adding Cilium to the kubernetes tools whitelist is sufficient.

[2019-09-30 14:13] fntlnz commented on #638
Ok, I don't think I know how to help out then. If your distribution doesn't ship the headers anymore for the kernel you are running at.

Did you try to checkout the centos archives?

I think what you are looking for is here: https://people.centos.org/arrfab/shim/results/kernel/20180926150836/3.10.0-862.14.4.el7.x86_64/

[2019-09-30 14:55] kris-nova commented on #858
The more I think about this, the more I REALLY agree with using Unix domain sockets in favor of mutually encrypted TLS for any inter process communication.

As a community driven project I think we obviously should support both, but this is just a good idea.

[2019-09-30 15:14] devdua commented on #638
@fntlnz I do understand that it's a difficult thing to support. I wanted to know why the installer behavior is inconsistent with the documentation.. is there a way for the pre-built probes to be fetched in cases like this, since they're already available?

[2019-09-30 20:46] Kaizhe commented on #862
[code]

[2019-10-01 06:22] zetaab opened #869 "404 falco probe binary not found"
**What happened**: I have been using image `falcosecurity/falco:0.17.0` for long time inside k8s. However, now when containers will restart (for some another reason like node restart) the containers are not working anymore.

[code]

I tried also to update newer version 0.17.1:
[code]

**What you expected to happen**: I expect that modules should be available in S3

[2019-10-01 08:45] prankkelkar opened #870 "Falco v0.17.1 build fails on rhel/centos"
**What happened**:
Trying to build falco from source on rhel/centos. Getting following error :
[code]

**What you expected to happen**:
Successful completion of the build.

**How to reproduce it (as minimally and precisely as possible)**:
Follow steps to build from source given at https://falco.org/docs/source/

**Anything else we need to know?**:
Looks like error is related to curl's ssl support.

[2019-10-01 08:53] fntlnz commented on #870
You don't have ssl support in libcurl.

[code]

[2019-10-01 08:56] fntlnz commented on #870
See: https://curl.haxx.se/docs/faq.html#curl_1_SSL_is_disabled_https

[2019-10-01 08:57] fntlnz commented on #869
Can you fill the issue template?

[2019-10-01 09:17] fntlnz commented on #638
Pre-built kernel modules are the default when installing Falco using a container, we have a script that fetches them and lazy laod them when yous tart the container.
For rhel and debian packages we use dkms so if your distro fails to provide the headers for your actual setup you can install them yourself and then install falco.

I'm not sure where you found that documentation page but it seems wro

[2019-10-01 09:30] devdua commented on #638
@fntlnz thanks for clearing this out, I will have to rethink the deployment strategy. Appreciate your help on this. The paragraph was from the installation doc - https://falco.org/docs/installation/

But it seems to have been removed now. However the content was the same thing as here - https://github.com/falcosecurity/falco/wiki/Install-Falco-(Minikube)

[2019-10-01 09:31] #638 closed

[2019-10-01 09:42] fntlnz commented on #860
Thanks for reporting @WeiZhang555 - Looking into this

[2019-10-01 10:07] fntlnz commented on #860
Debugged this for a bit and found out that there's a problem linking the openssl library.

[code]

[2019-10-01 10:10] prankkelkar commented on #870
Yeah i had seen this already. anyways i am able to pull other https resources via curl on the vm. I suspect there is some issue with the bundled curl

[2019-10-01 10:14] prankkelkar commented on #870
Infact i can even curl the url (https://s3.amazonaws.com/download.draios.com/dependencies/yaml-cpp-yaml-cpp-0.6.2.tar.gz) which is throwing error.

[2019-10-01 11:31] fntlnz commented on #860
Ok me and @leodido have a fix ready for this! Sending a PR soon.

[2019-10-01 14:19] brentlassi commented on #869
Likewise, my fresh install is failing to install falco from this link:
Log messages upon attempted start:

* Trying to download precompiled module from https://s3.amazonaws.com/download.draios.com/stable/sysdig-probe-binaries/falco-probe-0.17.0-x86_64-4.14.137%2B-2714396731b5add325bfe08e0bb8e6c1.ko

"curl: (22) The requested URL returned error: 404 Not Found

"Download failed, consider compiling y

[2019-10-01 18:02] fntlnz commented on #860
Ok taking this back, it's not that simple. Civetweb doesn't like our openssl statically built. Need more time to fix this.

[2019-10-01 18:05] fntlnz commented on #860
Working on this branch: https://github.com/falcosecurity/falco/compare/860-fix-civet-ssl

[2019-10-01 18:50] mfdii commented on #860
@WeiZhang555 please ensure there is nothing listening on port 443.

SSL works for me with 0.17.1
[code]

[code]

[2019-10-02 07:10] fntlnz commented on #860
@mfdii that happens when libcrypto is present in the system at the right path . However since we embed a static copy of openssl which contains libcrypto I don't think we should use both the system one and our embedded one, we've got to choose.

[2019-10-02 15:52] leodido commented on #835
ping @Kaizhe

[2019-10-02 17:58] Kaizhe commented on #835
@mfdii so far no, we haven't rolled out the rule to agent yet. cc @mstemm

[2019-10-02 23:27] brentlassi commented on #869
**What happened**:
Upon executing the HELM-based install the falco DaemonSet goes into CrashLoopBackOff state.

Log messages:
- Trying to download precompiled module from https://s3.amazonaws.com/download.draios.com/stable/sysdig-probe-binaries/falco-probe-0.17.0-x86_64-4.14.137%2B-2714396731b5add325bfe08e0bb8e6c1.ko
- curl: (22) The requested URL returned error: 404 Not Found
- Download failed, c

[2019-10-04 09:22] leodido commented on #862
@khaize could you confirm that Mark's #873 fixes this?

I'm almost sure it does, but I'd like your confirmation too :)

[2019-10-04 09:42] prankkelkar opened #874 "Falco build from source fails for RHEL 8.0"
**What happened**:
Trying to build falco from source on rhel/centos. Getting following error :
[code]

**What you expected to happen**:
Successful completion of the build.

**How to reproduce it (as minimally and precisely as possible)**:
Follow steps to build from source given at https://falco.org/docs/source/

**Anything else we need to know?**:
Looks like error is related to linking shared libr

[2019-10-04 09:43] #862 closed

[2019-10-04 09:54] guirish commented on #870
I am also encountering same error on RHEL 7.5. Any fix available to resolve it?

[2019-10-04 09:58] leodido commented on #870
/area build

[2019-10-04 10:19] leodido commented on #798
/area build

[2019-10-04 10:19] leodido commented on #874
/area build

[2019-10-04 10:20] leodido commented on #860
/area build

[2019-10-04 10:21] leodido commented on #869
/triage support

[2019-10-04 11:08] AkihiroSuda opened #875 "v0.17.1 git tag is wrong"
https://github.com/falcosecurity/falco/commit/2439873a967b5aea6431a33691f4967addad83e9 is tagged as both `v0.17.0` and `v0.17.1`

Probably https://github.com/falcosecurity/falco/commit/b08341644ae9312fb8c1d47b1a0a276eceb41fea is the right commit for `v0.17.1`

[2019-10-04 11:11] leodido commented on #875
Hello Akihiro, no this is intentional!

0.17.1 is the same Falco source code as 0.17.0, the patch was only about a different sysdig code.

[2019-10-04 11:12] #875 closed

[2019-10-04 18:37] leodido commented on #859
Done by https://github.com/falcosecurity/falco-website/pull/87

[2019-10-04 18:37] #859 closed

[2019-10-04 21:18] Kaizhe commented on #862
Yes, it works!

[2019-10-04 23:00] leodido commented on #862
Thanks to @mstemm ! :)

[2019-10-06 14:47] leodido commented on #741
🆙

[2019-10-07 15:39] leodido commented on #534
@mfdii do you had the change to take another look at this maybe?

[2019-10-07 22:49] fcoelho opened #882 "Pulling docker image generates lots of alerts"
**What happened**:

Running `docker pull nginx` (or almost any other image) will cause Falco to generate lots of alerts about files being modified in what seems to be the container filesystem

[code]

**What you expected to happen**:

Running `docker pull` shouldn't generate alerts like the ones above. Containers started by the ecs-agent which trigger image pulls will also generate these errors

*

[2019-10-08 04:35] prankkelkar commented on #874
Any update on the issue?

[2019-10-08 10:52] fntlnz commented on #741
I'm not sure that having this kind of operator will be a good use case for docker images.

if you don't put the FQDN of the image one can bypass the image check by pushing their malicious image on another registry or with a prefix.

E.g

[code]

matches

- docker.io/sysdig/agent

but also

- docker.io/myevilsysdig/agent
- quay.io/anothersysdig/agent

[2019-10-08 10:55] leodido commented on #741
Clearly it depends on how you use such operator while composing your rules.

By the way the situation you describe is possible also **without** this operator.

[2019-10-08 22:34] nuala33 commented on #845
Hi, I just wanted to leave an update here that one difference between the two clusters I have tested on is that one has workload identity enabled and the other doesn't. If anyone has any ideas on how/why/if that would affect Falco's functionality, I would love to hear them. Thank you!

[2019-10-09 03:32] WeiZhang555 commented on #860
Thanks for your quick response 😄

[2019-10-09 14:31] #725 closed

[2019-10-09 15:15] leodido opened #884 "gRPC outputs: stream drop alerts"
**What would you like to be added**:

In case the event is dropped Falco emits drop alerts.

Would be nice to be able to subscribe to such alerts.

Note for me and @fntlnz : we have to evaluate whether to add such alerts to the gRPC outputs existing API to a newer one. For sure, since the event is missing we would have the same proto but without some of the fields. I think this is the main point t

[2019-10-09 15:15] leodido commented on #884
/milestone 0.19.0

[2019-10-09 15:44] mfdii commented on #531
is this fixed by #822?

[2019-10-09 20:19] caniszczyk opened #885 "Add SECURITY.md + disclosure process"
Can you add this?

[2019-10-09 20:20] caniszczyk opened #886 "Publish security audit"
Can you publish the security audit for falcon in an easy to find place?

https://github.com/envoyproxy/envoy#security-audit

[2019-10-09 20:37] mfdii opened #887 "Add SECURITY.md"
**What would you like to be added**:
A SECURITY.md file.
**Why is this needed**:
It indicates to people where to send security notifications to and the projects vulnerability response process.

[2019-10-09 20:38] #887 closed

[2019-10-09 21:35] caniszczyk opened #888 "Migrate falco Slack to CNCF Slack"
The Slack instance should be migrated to the CNCF Slack to keep it vendor neutral.

We created a #falco channel on slack.cncf.io

[2019-10-10 01:25] leodido commented on #672
Anybody has updates on this?
L.

On Wed, Oct 9, 2019 at 11:50 PM stale[bot] <notifications@github.com> wrote:

[2019-10-10 08:56] fntlnz commented on #886
Yes, we are planning to do this before releasing 0.18.0 - we are waiting for an update from the auditors to add the fixed PR links to the document, if they don't reply promptly we'll find another way to have such information in the same place.

[2019-10-10 09:01] fntlnz commented on #885
State of the things right now:

- When you create a new issue, the issue template tells you to disclose security issues privately on a "security" page in the website. [See it](https://github.com/falcosecurity/falco/issues/new?labels=kind%2Fbug&template=bug-report.md)
- However, we don't have that page, there was an issue to create it in the falco website repo https://github.com/falcosecurity/falco

[2019-10-10 09:17] fntlnz commented on #531
@mfdii The gRPC server is non-blocking itself

[2019-10-10 10:42] dnwe opened #889 "Release Falco 0.17.2 / 0.18.0?"
(somewhat related to #851, so feel free to close this, but without a known timeline I thought I'd query this via an issue)

**What would you like to be added**:

A new official falco release with a tagged version of the common code from sysdig containing the fix for #740

**Why is this needed**:

We were consistently hitting OOMKilled due to the memory leak described in #740 in production on 0.16.

[2019-10-10 10:53] guirish commented on #874
Hi @leodido , Can you please try to build at your end and check if it is a valid issue?

[2019-10-11 15:14] fntlnz commented on #889
I agree we need to release, we are finalizing the milestone for 0.18.0 - there's only one PR left, if everything goes right we can release early next week.

You can always look at milestones to see how fare things are: https://github.com/falcosecurity/falco/milestones?direction=asc&sort=due_date

That doesn't give a date (yet) but tells how much work there's to do at least.

[2019-10-11 16:54] leodido commented on #574
Keep

On Fri, Oct 11, 2019, 6:39 PM stale[bot] <notifications@github.com> wrote:

[2019-10-11 16:54] leodido commented on #510
Keep

On Fri, Oct 11, 2019, 6:39 PM stale[bot] <notifications@github.com> wrote:

[2019-10-11 16:54] leodido commented on #318
Absolutely keep!

On Fri, Oct 11, 2019, 6:39 PM stale[bot] <notifications@github.com> wrote:

[2019-10-11 16:55] leodido commented on #349
Keep

On Fri, Oct 11, 2019, 6:39 PM stale[bot] <notifications@github.com> wrote:

[2019-10-11 17:43] #532 closed

[2019-10-15 15:16] JPLachance commented on #640
That bot is a little bit annoying 😄

[2019-10-15 17:52] leodido commented on #640
I planned to create a smarter one (with prow) time ago (see
https://github.com/falcosecurity/test-infra/issues/40) ..

I just need some spare time! :) Or maybe someone implementing and
contributing it (I can give directions about it) :)
L.

On Tue, Oct 15, 2019 at 5:16 PM Jean-Philippe Lachance <
notifications@github.com> wrote:

[2019-10-16 14:45] natchaphon-r opened #890 "Falco probeloader failed to download kernel module for KERNEL_VERSION: 4.14.137-0414137-generic"
**What happened**:
I used `falcosecurity:probeloader` to download Falco kernel probe. The container failed with the following message:

[code]
The kernel module https://s3.amazonaws.com/download.draios.com/stable/sysdig-probe-binaries/falco-probe-0.17.1-x86_64-4.14.137-0414137-generic-206cc09c72e13f25a8653ca9ec9454d1.ko is not available

**Questions**:
1) Last time I synced up with Falco developer

[2019-10-16 19:25] rajibmitra opened #891 "implement pep8 / flake8 for python code in falco"
**What would you like to be added**:
pep8 and flake8 rules.
**Why is this needed**:
Coding standard for python code.

[2019-10-16 19:26] rajibmitra commented on #891
/assign rajibmitra

[2019-10-17 15:48] mfdii commented on #890
@natchaphon-r we need to know the OS (`cat /etc/os-release`).

Unfortunately, we don't compile the kernel probe for every single distribution/kernel, combination.

[2019-10-17 17:15] natchaphon-r commented on #890
Thanks @mfdii!
Here is the requested info:
[code]
Would you say that the best alternative to getting falco kernel probe is to build from source by following the instructions [here](https://falco.org/docs/source/) if the kernel probe for my specific distribution/kernel combination is not available in https://s3.amazonaws.com/download.draios.com/stable/sysdig-probe-binaries/?

[2019-10-17 19:38] mfdii commented on #890
It's actually a bit easier than that. You can run falco as a container (the full image) on a 18.04.3 host [like so](https://falco.org/docs/running/#running-falco-in-a-container). The only difference is to make `/lib/modules` rw (readwrite) instead of ro (readonly). The falco container will then move the module into the host's `/lib/modules` and you can copy it to a object store from there.

[2019-10-18 14:10] markyjackson-taulia opened #892 "Build out the new Falco infrastructure"
**What would you like to be added**:
Build out the new Falco infrastructure
**Why is this needed**:
N/A

[2019-10-18 14:10] markyjackson-taulia commented on #892
/assign @markyjackson-taulia @rajibmitra

[2019-10-18 14:12] markyjackson-taulia commented on #892
We are in current talk to understand moving the infrastructure to the CNCF infra.. There are a lot of questions and work to be done.
Please use this comment as my +1 for using the CNCF infra.. @lucperkins this is in regards to the CNCF slack conversation I started. I would like to move that to a more public audience for transparency.

[2019-10-20 07:37] oke-py opened #894 "[integrations/k8s-using-deployment] deprecated APIs removed in k8s 1.16"
**What happened**:

In k8s v1.16 some APIs are deprecated and removed.
https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/

As a result, installation failed.
[code]

**What you expected to happen**:
Deployment is successfully deployed.

**How to reproduce it (as minimally and precisely as possible)**:
In k8s 1.16 cluster, run commands described in this page.
https://github.com/falcosec

[2019-10-20 08:22] fntlnz commented on #894
Thanks for reporting this @oke-py !

This must also be changed in tests files

- test/trace_files/k8s_audit/delete_deployment.json
- test/trace_files/k8s_audit/create_deployment.json

[2019-10-20 08:27] fntlnz commented on #892
@markyjackson-taulia we already have an issue on this in test-infra https://github.com/falcosecurity/test-infra/issues/48

Building the infrastructure is not a matter in this specific repo while it is in test-infra. Can we keep the discussion there? We can re-open an issue here when there's an actual infrastructure to migrate this repo to.

[2019-10-20 08:28] fntlnz commented on #680
I'm closing since @hus787 didn't get back to us in 5 months and we did a lot of improvements to the webserver in the meanwhile.

[2019-10-20 08:28] #680 closed

[2019-10-20 09:01] markyjackson-taulia commented on #892
Totally fine and thank you

[2019-10-20 09:01] #892 closed

[2019-10-20 09:22] oke-py commented on #894
The same is true of [integrations/k8s-using-daemonset].
https://github.com/falcosecurity/falco/tree/dev/integrations/k8s-using-daemonset

[2019-10-20 18:08] #770 closed

[2019-10-21 10:43] prankkelkar commented on #870
Issue Solved !!! RHEL 7.x has lower version of cmake in the repository which was lower than required version by falco. So i had built cmake v3.7.2 from source. By default cmake is built without ssl support. Issue was resolved by building cmake v3.7.2 with ssl support.

[2019-10-21 10:43] #870 closed

[2019-10-21 15:39] natchaphon-r commented on #890
Thanks @mfdii! That's much easier and faster than building from source.

The installation you recommended seems like a good approach. I am trying to avoid running the full falco container just to install kernel probe, terminate the full falco container, and then run the minimal falco container.

What inside the full falco image is responsible for downloading/building the kernel probe? My understan

[2019-10-22 20:40] a0145 opened #896 "Falco with eBPF probe locks 4.19 kernel mainline when running lsiutil"
**What happened**:
While running the stock config of falco on kernel 4.19.80 (longterm), falco operates normally, and alerts as expected. Then, after running the binary `lsiutil`, the system hangs.  This behavior only happens after engaging falco + bpf probe.

#### Falco running properly:
[code]

#### Invocation of lsituil after bpf instrumentation:
[code]

**What you expected to happen**:
Falco t

[2019-10-23 20:09] JPLachance opened #897 "[Ubuntu Bionic 18.04 - AWS AMI] 404 Falco probe binary not found"
**What happened**:
I am testing Falco minimal in Kubernetes 1.11 on AWS on top of a Ubuntu 18.04 AMI.

I see the following logs in the `probeloader` container:
[code]

**What you expected to happen**:
I expected the `probeloader` container to download the required version of the Falco probe.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create an instance that uses the foll

[2019-10-24 16:16] fntlnz commented on #897
This process will become more clear once the Falco project owns the infrastructure to build those. For now we are relying on Sysdig (company) infrastructure to build those.

This is tracked down in this issue: https://github.com/falcosecurity/test-infra/issues/53

[2019-10-24 19:50] jalseth opened #900 "`falco-builder package` fails with BUILD_BPF=ON"
**What happened**:

Build fails.

**What you expected to happen**:

Build succeeds.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

It works fine with `BUILD_BPF=OFF`

Logs: https://gist.github.com/jalseth/3c52d944a8305d547c271295ee54f925

**Environment**:
- Falco version (use `falco --version`): 0.17.1
- Cloud provider or hardware c

[2019-10-25 00:14] leodido commented on #615
up
L.

On Tue, Oct 22, 2019 at 4:10 PM stale[bot] <notifications@github.com> wrote:

[2019-10-25 15:49] leodido commented on #688
No way you close this stalebot!

[2019-10-27 21:43] #784 closed

[2019-10-28 08:31] fntlnz commented on #619
We still want this stalebot!

[2019-10-28 08:43] fntlnz commented on #807
We still want to do this

[2019-10-28 08:45] fntlnz commented on #778
We still want to fix this.

/remove triage/needs-information

[2019-10-28 08:48] fntlnz commented on #807
/close
closing this in favor of #886

[2019-10-28 08:48] poiana commented on #807
@fntlnz: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falco/issues/807#issuecomment-546848675):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra]

[2019-10-28 10:49] kris-nova opened #903 "Update website to remove Sysdig language"
As it stands there is some misleading documentation on [falco.org](https://github.com/cncf/foundation/blob/master/website-guidelines.md)

Particularly where we mention language such as:

Can we please update the website to follow the [official website guidelines](https://github.com/cncf/foundation/blob/master/website-guidelines.md) that the CNCF suggests.

CC @caniszczyk @dankohn

[2019-10-28 10:53] leodido commented on #903
Totally agree +1

On Mon, Oct 28, 2019, 11:49 AM Kris Nova <notifications@github.com> wrote:

[2019-10-28 11:00] mfdii commented on #903
This is left there because we are indeed powered by Sysdig’s capture technology that is available via the dependencies we pull in via sysdig OSS. If we’re looking for clarity that we aren’t referring to sysdig as a company I’d suggest we make it read “sysdig OSS” and link to the OSS repo

[2019-10-28 11:01] kris-nova commented on #903
Yes - I mentioned this when it was brought up. We just need to be clear that we have a very clean difference between

1) Sysdig the company
2) Falco uses `libscap` and `libsinsp` c++ libraries used in tools the the `sysdig` CLI tool.

[2019-10-28 11:33] bencer commented on #903
On the home page this is used in a way that follows the guidelines:

"Leveraging Sysdig’s open source Linux kernel instrumentation, Falco gains deep insight into system behavior"

[2019-10-28 12:25] fntlnz commented on #903
This issue should be in `falcosecurity/falco-website`. Let's transfer?

[2019-10-28 12:49] leodido commented on #903
Let's transfer it to the right repo, yes

[2019-10-28 13:10] fntlnz commented on #900
hi @jalseth thanks for opening. I had a similar issue days ago but seems fixed when using a the latest commit from sysdig. Can you try to update sysdig and retry the build?

/triage needs-information